@font-face {
    font-family: 'robotobold';
    src: url('../css/fonts/roboto-bold.eot');
    src: url('../css/fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
    url('../css/fonts/roboto-bold.woff2') format('woff2'),
    url('../css/fonts/roboto-bold.woff') format('woff'),
    url('../css/fonts/roboto-bold.ttf') format('truetype'),
    url('../css/fonts/roboto-bold.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../css/fonts/Roboto-Regular.ttf') format('truetype');
}

.mod_dropfiles_latest {
    width: auto;
    /*padding: 5px 15px;*/
}

.mod_dropfiles_latest .mod_filecontent_head {
    display: flex;
}

.mod_dropfiles_latest .mod_filecontent_head h3 {
    font-family: "robotobold";
    font-size: 16px;
    padding-top: 0;
    padding-bottom: 12px;
    margin-top: 2px;
    clear: none;
    word-wrap: normal;
    color: #444;
    line-height: 1em;
    text-transform: none;
    font-weight: bold;
    border-bottom: none;
    width: 80%;
}

.mod_dropfiles_latest .mod_filecontent_head h3 > a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 100px;
    width: 100%;
}

.mod_dropfiles_latest a {
    text-decoration: none !important;
    border-bottom: 0;
    box-shadow: none;
    color: #444 !important;
    transition: all 0.2s ease;
    word-break: break-all;
}

.mod_dropfiles_latest i.mod_dropfiles-download {
    font-size: 21px;
    vertical-align: middle;
    text-align: right;
    margin-left: 6px;
    margin-bottom: 0;
}

.mod_dropfiles_latest i.mod_dropfiles-preview {
    font-size: 18px;
    vertical-align: middle;
    text-align: right;
    margin-left: 6px;
    margin-bottom: 0;
}

.mod_dropfiles_latest .mod_file-right {
    margin-top: -4px;
    min-width: 55px;
}

.mod_dropfiles_latest a:active, .mod_dropfiles_latest a:hover, .mod_dropfiles_latest a:focus {
    background: transparent;
}

.mod_dropfiles_latest .mod_file .mod_file-xinfo {
    font-size: 11px;
    text-transform: none;
    color: #888;
    line-height: 16px;
    margin-top: -10px;
}

.mod_dropfiles_latest div.mod_file:nth-of-type(even) {
    background-color: white;
}

.mod_dropfiles_latest div.mod_file:nth-of-type(odd) {
    background-color: #eeeeee;
}

.mod_dropfiles_latest div.mod_file {
    padding: 10px;
    width: 100% !important;
    box-sizing: border-box;
}