#jao {
    padding: 10px;
}

ul.jaofoldertree {
    font-family: robotomedium, Verdana, sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    margin: 10px 0 0 0;
}

ul.jaofoldertree li {
    list-style: none;
    padding: 0 0 0 20px;
    margin: 5px 0;
    white-space: nowrap;
}

html[dir="rtl"] ul.jaofoldertree li {
    padding-left: 0;
    padding-right: 20px;
}

ul.jaofoldertree a {
    color: #333;
    text-decoration: none;
    display: inline-block;
    padding: 0 2px;
    font-size: 14px;
}

ul.jaofoldertree a:hover {
    font-weight: bold;
    background: none !important;
}

ul.jaofoldertree li.selected > a {
    font-weight: bold;
}

.icon-open-close {
    width: 9px !important;
    height: 16px !important;
    float: left;
}

.jaofoldertree li.directory .icon-open-close:before {
    position: relative;
    top: 0;
    display: inline-block;
    font-family: Material-Design-Iconic-Font;
    font-size: 17px;
}

.jaofoldertree li.directory.selected > i.zmdi-folder:before,
.jaofoldertree li.directory.selected > a,
.jaofoldertree li.directory.selected > div.icon-open-close:before {
    color: #4285f4 !important;
}

.jaofoldertree li.directory.expanded .icon-open-close:before {
    content: '\f2f2';
    font-size: 22px;
    top: 3px;
}

.jaofoldertree li.directory.collapsed .icon-open-close:before {
    content: '\f2f6';
    color: #888;
    font-size: 22px;
}

html[dir="rtl"] .icon-open-close {
    float: right;
    margin-left: 4px;
}

.jaofoldertree li.zmdi-perm-media {
    font-size: 14px
}

.jaofoldertree .zmdi-folder, .jaofoldertree .zmdi-folder-open {
    font-size: 15px;
    margin-top: 2px;
    margin-left: 3px;
    color: #888888;
    font-weight: bold
}

/*. jaofoldertree li.drive { background: url(../images/jao/drive.png) left top no-repeat; } */
.jaofoldertree li.file {
    background: url(../images/jao/file.png) left top no-repeat;
}

.jaofoldertree li.wait {
    background: url(../images/jao/spinner.gif) left top no-repeat;
}

