#jao {
    padding: 10px;
}

ul.jaofiletree {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    line-height: 18px;
    padding: 0;
    margin: 0 !important;
}

ul.jaofiletree li {
    list-style: none;
    padding: 0px 0px 0px 20px;
    margin: 0;
    white-space: nowrap;
}

ul.jaofiletree a {
    color: #333;
    text-decoration: none;
    display: inline-block;
    padding: 0 2px;
}

ul.jaofiletree a:hover {
    font-weight: bold;
}

ul.jaofiletree li.selected > a {
    font-weight: bold;
}

/* Core Styles */
.jaofiletree li.directory {
    background: url(../images/jao/folder.png) left top no-repeat;
    background-size: 20px;
}

.jaofiletree li.expanded {
    background: url(../images/jao/folderopen.png) left top no-repeat;
    background-size: 20px;
}

.jaofiletree li.drive {
    background: url(../images/jao/drive.png) left top no-repeat;
}

.jaofiletree li.file {
    background: url(../images/jao/file.png) left top no-repeat;
}

.jaofiletree li.wait {
    background: url(../images/jao/spinner.gif) left top no-repeat;
}

/* File Extensions*/
.jaofiletree li.ext_3gp {
    background: url(../images/jao/film.png) left top no-repeat;
}

.jaofiletree li.ext_afp {
    background: url(../images/jao/code.png) left top no-repeat;
}

.jaofiletree li.ext_afpa {
    background: url(../images/jao/code.png) left top no-repeat;
}

.jaofiletree li.ext_asp {
    background: url(../images/jao/code.png) left top no-repeat;
}

.jaofiletree li.ext_aspx {
    background: url(../images/jao/code.png) left top no-repeat;
}

.jaofiletree li.ext_avi {
    background: url(../images/jao/film.png) left top no-repeat;
}

.jaofiletree li.ext_bat {
    background: url(../images/jao/application.png) left top no-repeat;
}

.jaofiletree li.ext_bmp {
    background: url(../images/jao/picture.png) left top no-repeat;
}

.jaofiletree li.ext_c {
    background: url(../images/jao/code.png) left top no-repeat;
}

.jaofiletree li.ext_cfm {
    background: url(../images/jao/code.png) left top no-repeat;
}

.jaofiletree li.ext_cgi {
    background: url(../images/jao/code.png) left top no-repeat;
}

.jaofiletree li.ext_com {
    background: url(../images/jao/application.png) left top no-repeat;
}

.jaofiletree li.ext_cpp {
    background: url(../images/jao/code.png) left top no-repeat;
}

.jaofiletree li.ext_css {
    background: url(../images/jao/css.png) left top no-repeat;
}

.jaofiletree li.ext_doc {
    background: url(../images/jao/doc.png) left top no-repeat;
}

.jaofiletree li.ext_exe {
    background: url(../images/jao/application.png) left top no-repeat;
}

.jaofiletree li.ext_gif {
    background: url(../images/jao/picture.png) left top no-repeat;
}

.jaofiletree li.ext_fla {
    background: url(../images/jao/flash.png) left top no-repeat;
}

.jaofiletree li.ext_h {
    background: url(../images/jao/code.png) left top no-repeat;
}

.jaofiletree li.ext_htm {
    background: url(../images/jao/html.png) left top no-repeat;
}

.jaofiletree li.ext_html {
    background: url(../images/jao/html.png) left top no-repeat;
}

.jaofiletree li.ext_jar {
    background: url(../images/jao/java.png) left top no-repeat;
}

.jaofiletree li.ext_jpg {
    background: url(../images/jao/picture.png) left top no-repeat;
}

.jaofiletree li.ext_jpeg {
    background: url(../images/jao/picture.png) left top no-repeat;
}

.jaofiletree li.ext_js {
    background: url(../images/jao/script.png) left top no-repeat;
}

.jaofiletree li.ext_lasso {
    background: url(../images/jao/code.png) left top no-repeat;
}

.jaofiletree li.ext_log {
    background: url(../images/jao/txt.png) left top no-repeat;
}

.jaofiletree li.ext_m4p {
    background: url(../images/jao/music.png) left top no-repeat;
}

.jaofiletree li.ext_mov {
    background: url(../images/jao/film.png) left top no-repeat;
}

.jaofiletree li.ext_mp3 {
    background: url(../images/jao/music.png) left top no-repeat;
}

.jaofiletree li.ext_mp4 {
    background: url(../images/jao/film.png) left top no-repeat;
}

.jaofiletree li.ext_mpg {
    background: url(../images/jao/film.png) left top no-repeat;
}

.jaofiletree li.ext_mpeg {
    background: url(../images/jao/film.png) left top no-repeat;
}

.jaofiletree li.ext_ogg {
    background: url(../images/jao/music.png) left top no-repeat;
}

.jaofiletree li.ext_pcx {
    background: url(../images/jao/picture.png) left top no-repeat;
}

.jaofiletree li.ext_pdf {
    background: url(../images/jao/pdf.png) left top no-repeat;
}

.jaofiletree li.ext_php {
    background: url(../images/jao/php.png) left top no-repeat;
}

.jaofiletree li.ext_png {
    background: url(../images/jao/picture.png) left top no-repeat;
}

.jaofiletree li.ext_ppt {
    background: url(../images/jao/ppt.png) left top no-repeat;
}

.jaofiletree li.ext_psd {
    background: url(../images/jao/psd.png) left top no-repeat;
}

.jaofiletree li.ext_pl {
    background: url(../images/jao/script.png) left top no-repeat;
}

.jaofiletree li.ext_py {
    background: url(../images/jao/script.png) left top no-repeat;
}

.jaofiletree li.ext_rb {
    background: url(../images/jao/ruby.png) left top no-repeat;
}

.jaofiletree li.ext_rbx {
    background: url(../images/jao/ruby.png) left top no-repeat;
}

.jaofiletree li.ext_rhtml {
    background: url(../images/jao/ruby.png) left top no-repeat;
}

.jaofiletree li.ext_rpm {
    background: url(../images/jao/linux.png) left top no-repeat;
}

.jaofiletree li.ext_ruby {
    background: url(../images/jao/ruby.png) left top no-repeat;
}

.jaofiletree li.ext_sql {
    background: url(../images/jao/db.png) left top no-repeat;
}

.jaofiletree li.ext_swf {
    background: url(../images/jao/flash.png) left top no-repeat;
}

.jaofiletree li.ext_tif {
    background: url(../images/jao/picture.png) left top no-repeat;
}

.jaofiletree li.ext_tiff {
    background: url(../images/jao/picture.png) left top no-repeat;
}

.jaofiletree li.ext_txt {
    background: url(../images/jao/txt.png) left top no-repeat;
}

.jaofiletree li.ext_vb {
    background: url(../images/jao/code.png) left top no-repeat;
}

.jaofiletree li.ext_wav {
    background: url(../images/jao/music.png) left top no-repeat;
}

.jaofiletree li.ext_wmv {
    background: url(../images/jao/film.png) left top no-repeat;
}

.jaofiletree li.ext_xls {
    background: url(../images/jao/xls.png) left top no-repeat;
}

.jaofiletree li.ext_xml {
    background: url(../images/jao/code.png) left top no-repeat;
}

.jaofiletree li.ext_zip {
    background: url(../images/jao/zip.png) left top no-repeat;
}
