.settings-title h1 {
  font-family: "Nunito Sans", sans-serif;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.75px;
}

a.modal_jform_include_minify_folders, .ju-custom-block .input-append input.btn {
  background-color: #FFF3E9 !important;
  color: #ff8726 !important;
  border-color: #FFF3E9 !important;
}

body {
  background-color: #f3f6fa !important;
}
body.com_dropfiles.view-configuration .container-fluid {
  padding: 0 10px 0 10px !important;
}

body.view-configuration {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body.view-configuration::-webkit-scrollbar {
  max-height: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 6px;
  border-radius: 10px;
}
body.view-configuration::-webkit-scrollbar-track {
  border-radius: 10px;
}
body.view-configuration::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  max-height: 6px;
}
body.view-configuration::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body.view-configuration #toolbar button > span {
  line-height: 18px !important;
  vertical-align: middle !important;
}
body.view-configuration #toolbar button > span.icon-apply {
  margin-top: -1px !important;
}
body.view-configuration #toolbar button > span:before {
  vertical-align: unset !important;
}

.subhead-collapse {
  margin: 0 !important;
}

.subhead {
  background: #ffffff !important;
}

.settings-title h1 {
  font-size: 28px;
  font-weight: 800;
  color: #394857;
  margin: 50px 0 30px 0;
  text-transform: none;
}

.ju-main-wrapper .ju-left-panel {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.ju-main-wrapper .ju-left-panel::-webkit-scrollbar {
  max-height: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 6px;
  border-radius: 10px;
}
.ju-main-wrapper .ju-left-panel::-webkit-scrollbar-track {
  border-radius: 10px;
}
.ju-main-wrapper .ju-left-panel::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  max-height: 6px;
}
.ju-main-wrapper .ju-left-panel::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.ju-main-wrapper .ju-left-panel .tabs.ju-menu-tabs li.tab .link-tab .menu-icons {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
.ju-main-wrapper .ju-left-panel .tabs.ju-menu-tabs li.tab .link-tab .tab-title {
  vertical-align: middle;
  line-height: 24px;
}
.ju-main-wrapper .ju-left-panel .tabs.ju-menu-tabs li.tab ul {
  margin: 0;
}
.ju-main-wrapper .ju-left-panel .tabs.ju-menu-tabs li.tab.parent-tabs > ul {
  display: none;
}
.ju-main-wrapper .ju-left-panel .tabs.ju-menu-tabs li.tab.parent-tabs > ul li.tab .link-tab {
  padding: 20px 20px 20px 49px;
}
.ju-main-wrapper .ju-left-panel .tabs.ju-menu-tabs li.tab.parent-tabs > .link-tab {
  position: relative;
}
.ju-main-wrapper .ju-left-panel .tabs.ju-menu-tabs li.tab.parent-tabs > .link-tab:after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: transparent url("../images/configuration/menu-arrow-down.svg") center no-repeat;
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  top: 50%;
  z-index: 999;
}
.ju-main-wrapper .ju-left-panel .tabs.ju-menu-tabs li.tab.parent-tabs.expanded > .link-tab {
  background-color: #4c79ca !important;
  opacity: 1;
}
.ju-main-wrapper .ju-left-panel .tabs.ju-menu-tabs li.tab.parent-tabs.expanded > .link-tab:after {
  background: transparent url("../images/configuration/menu-arrow-up.svg") center no-repeat;
}
.ju-main-wrapper .ju-left-panel .tabs.ju-menu-tabs li.tab.parent-tabs.expanded > ul {
  background-color: #4c79ca;
  opacity: 1;
  display: block;
}
.ju-main-wrapper .ju-right-panel .ju-top-tabs-wrapper {
  background-color: #fff;
  margin: auto -50px;
}
@media screen and (min-width: 768px) {
  .ju-main-wrapper .ju-right-panel .tabs.ju-top-tabs li.tab {
    flex: 1 0 0;
  }
}
.ju-main-wrapper .ju-right-panel .tabs.ju-top-tabs li.tab a.link-tab {
  color: #394857;
  opacity: 0.5;
  background-color: #fff !important;
  font-weight: bold;
  padding: 1.25rem;
}
.ju-main-wrapper .ju-right-panel .tabs.ju-top-tabs li.tab a.link-tab:hover, .ju-main-wrapper .ju-right-panel .tabs.ju-top-tabs li.tab a.link-tab:focus {
  color: #ff8726;
  opacity: 1;
}
.ju-main-wrapper .ju-right-panel .tabs.ju-top-tabs li.tab a.link-tab.active {
  color: #ff8726;
  opacity: 1;
}
.ju-main-wrapper .ju-right-panel .tabs.ju-top-tabs li.tab a.link-tab.active:before {
  content: "";
  background-image: url("../images/configuration/checked_tab.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: top;
  margin: 0 3px;
  background-size: 16px;
}
.ju-main-wrapper .ju-right-panel #liveupdate .ju-btn-disconnect {
  white-space: normal !important;
}

#configuration-form .ju-main-wrapper {
  margin-left: -10px !important;
}

.ju-content-wrapper {
  /* Columns */
  /* Wizard variables */
}
.ju-content-wrapper .ju-input {
  padding: 15px;
  border: 1px solid #ddd;
  border-color: #ddd !important;
  background-color: #fff;
  height: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.ju-content-wrapper .ju-input:focus {
  border-color: #ff8726;
  box-shadow: none;
  outline: none;
}
.ju-content-wrapper .ju-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #404852;
  opacity: 0.5;
}
.ju-content-wrapper .ju-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #404852;
  opacity: 0.5;
}
.ju-content-wrapper .ju-input:-ms-input-placeholder {
  /* IE 10+ */
  color: #404852;
  opacity: 0.5;
}
.ju-content-wrapper .ju-input:-moz-placeholder {
  /* Firefox 18- */
  color: #404852;
  opacity: 0.5;
}
.ju-content-wrapper .ju-input.minicolors {
  padding-left: 55px;
}
.ju-content-wrapper .ju-input.minicolors + .minicolors-swatch {
  width: 2.5rem;
  top: 0.25rem;
  left: 0.25rem;
  bottom: 0.25rem;
  border: none;
}
.ju-content-wrapper .ju-input.minicolors + .minicolors-swatch .minicolors-swatch-color {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.ju-content-wrapper .ju-input.minicolors .minicolors-grid .minicolors-picker {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.ju-content-wrapper .ju-input.minicolors .minicolors-grid .minicolors-picker > div {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.ju-content-wrapper select.ju-input:not(.ju-multiselect) {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 55%, gray 50%), linear-gradient(135deg, gray 50%, transparent 55%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 1.125rem) calc(1rem + 0.3125rem), calc(100% - 0.8125rem) calc(1rem + 0.3125rem), calc(100% - 2.5rem) 0.5rem;
  background-size: 0.3125rem 0.3125rem, 0.3125rem 0.3125rem, 0.0625rem 70%;
  background-repeat: no-repeat;
  padding-right: 2.8125rem !important;
}
.ju-content-wrapper select.ju-input:not(.ju-multiselect):focus {
  background-image: linear-gradient(45deg, #ff8726 50%, transparent 55%), linear-gradient(135deg, transparent 55%, #ff8726 50%), linear-gradient(to right, #ff8726, #ff8726);
  background-position: calc(100% - 0.8125rem) calc(1rem + 0.3125rem), calc(100% - 1.125rem) calc(1rem + 0.3125rem), calc(100% - 2.5rem) 0.5rem;
  background-size: 0.3125rem 0.3125rem, 0.3125rem 0.3125rem, 0.0625rem 70%;
  background-repeat: no-repeat;
  outline: 0;
}
.ju-content-wrapper select.ju-input:hover {
  cursor: pointer;
}
.ju-content-wrapper select.ju-input:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.ju-content-wrapper select.ju-input option {
  width: 100%;
  line-height: 1.75rem;
  height: auto;
  color: #404852;
}
.ju-content-wrapper select + .chzn-container {
  float: right;
  height: 100%;
  line-height: 1.55rem;
}
.ju-content-wrapper select + .chzn-container > .chzn-choices {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
  box-shadow: unset;
  background: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 0.625rem;
}
.ju-content-wrapper select + .chzn-container > .chzn-choices li.search-choice {
  background: #fff;
  border: 1px solid #ddd;
  padding: 0.625rem;
  padding-right: 0.9375rem;
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 2px;
}
.ju-content-wrapper select + .chzn-container > .chzn-choices li.search-choice .search-choice-close {
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
}
.ju-content-wrapper#cloud_connection, .ju-content-wrapper#cloud_onedrive, .ju-content-wrapper#cloud_dropbox, .ju-content-wrapper#cloud_onedrive_business {
  position: relative;
}
.ju-content-wrapper#liveupdate .ju-custom-block p {
  margin-bottom: 10px;
}
.ju-content-wrapper#support .support-title {
  font-size: 28px;
  font-weight: 800;
  color: #394857;
  margin: 50px 0 30px 0;
  text-transform: none;
}
.ju-content-wrapper#support .support-container {
  background-color: #fff;
  margin-bottom: 20px;
  margin-right: 2%;
  -webkit-box-shadow: 0 10px 30px 0 rgba(160, 166, 190, 0.08);
  -moz-box-shadow: 0 10px 30px 0 rgba(160, 166, 190, 0.08);
  box-shadow: 0 10px 30px 0 rgba(160, 166, 190, 0.08);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 20px;
}
.ju-content-wrapper .ju-settings-option.jform_googlebtn .btn-google, .ju-content-wrapper .ju-settings-option.jform_onedrivebtn .btn-onedrive, .ju-content-wrapper .ju-settings-option.jform_dropboxbtn .btn-dropbox, .ju-content-wrapper .ju-settings-option.jform_onedrivebusinessbtn .btn-onedrivebusiness {
  position: absolute;
  top: 0;
  right: 2%;
}
.ju-content-wrapper .ju-settings-option.jform_googlebtn .btn-google-changes {
  position: absolute;
  top: 0;
  right: calc(2% + 320px);
  margin-right: 5px;
}
.ju-content-wrapper .ju-settings-option.jform_googlebtn .btn-google-changes .icon-cancel,
.ju-content-wrapper .ju-settings-option.jform_googlebtn .btn-google-changes .icon-arrow-right-4 {
  margin: 0;
  vertical-align: middle;
  display: inline-block;
}
.ju-content-wrapper .ju-settings-option.jform_googlebtn .btn-google-changes .icon-cancel:before,
.ju-content-wrapper .ju-settings-option.jform_googlebtn .btn-google-changes .icon-arrow-right-4:before {
  vertical-align: middle;
}
.ju-content-wrapper .ju-settings-option.jform_googlebtn .btn-google-changes .watch-change-name {
  vertical-align: middle;
}
.ju-content-wrapper .ju-settings-option.jform_dropboxbtn {
  background-color: transparent;
  box-shadow: none;
  height: 0;
  margin: 0 !important;
  padding: 0 !important;
}
.ju-content-wrapper .block-list .ju-settings-option {
  padding: 10px 20px;
  float: left;
  font-size: 14px;
  width: 48%;
  max-width: 48%;
  margin-bottom: 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 1280px) {
  .ju-content-wrapper .block-list .ju-settings-option {
    width: 98%;
    max-width: 98%;
  }
}
.ju-content-wrapper .block-list .ju-settings-option .ju-input, .ju-content-wrapper .block-list .ju-settings-option input, .ju-content-wrapper .block-list .ju-settings-option select, .ju-content-wrapper .block-list .ju-settings-option textarea {
  font-family: "Nunito Sans", sans-serif;
}
.ju-content-wrapper .block-list .ju-settings-option.jform_google_credentials, .ju-content-wrapper .block-list .ju-settings-option.jform_google_base_folder, .ju-content-wrapper .block-list .ju-settings-option.jform_onedrive_last_log, .ju-content-wrapper .block-list .ju-settings-option.jform_onedriveCredentials, .ju-content-wrapper .block-list .ju-settings-option.jform_onedriveBaseFolderId, .ju-content-wrapper .block-list .ju-settings-option.jform_onedriveBaseFolderName, .ju-content-wrapper .block-list .ju-settings-option.jform_onedriveKeyOld, .ju-content-wrapper .block-list .ju-settings-option.jform_onedriveSecretOld, .ju-content-wrapper .block-list .ju-settings-option.jform_onedriveCredentialsOld, .ju-content-wrapper .block-list .ju-settings-option.jform_onedriveBaseFolderIdOld, .ju-content-wrapper .block-list .ju-settings-option.jform_onedriveBaseFolderNameOld, .ju-content-wrapper .block-list .ju-settings-option.jform_dropboxToken, .ju-content-wrapper .block-list .ju-settings-option.jform_dropbox_last_log, .ju-content-wrapper .block-list .ju-settings-option.jform_cron_task_url, .ju-content-wrapper .block-list .ju-settings-option.jform_onedrive_business_cron_task_url {
  display: none;
}
.ju-content-wrapper .block-list .ju-settings-option.jform_placeholder, .ju-content-wrapper .block-list .ju-settings-option.jform_placeholder1, .ju-content-wrapper .block-list .ju-settings-option.jform_placeholder2, .ju-content-wrapper .block-list .ju-settings-option.jform_placeholder3, .ju-content-wrapper .block-list .ju-settings-option.jform_placeholder4, .ju-content-wrapper .block-list .ju-settings-option.jform_placeholder5 {
  background-color: transparent;
  box-shadow: none;
  min-height: 70px;
}
.ju-content-wrapper .block-list .ju-settings-option.jform_placeholder label, .ju-content-wrapper .block-list .ju-settings-option.jform_placeholder .ju-switch-button, .ju-content-wrapper .block-list .ju-settings-option.jform_placeholder1 label, .ju-content-wrapper .block-list .ju-settings-option.jform_placeholder1 .ju-switch-button, .ju-content-wrapper .block-list .ju-settings-option.jform_placeholder2 label, .ju-content-wrapper .block-list .ju-settings-option.jform_placeholder2 .ju-switch-button, .ju-content-wrapper .block-list .ju-settings-option.jform_placeholder3 label, .ju-content-wrapper .block-list .ju-settings-option.jform_placeholder3 .ju-switch-button, .ju-content-wrapper .block-list .ju-settings-option.jform_placeholder4 label, .ju-content-wrapper .block-list .ju-settings-option.jform_placeholder4 .ju-switch-button, .ju-content-wrapper .block-list .ju-settings-option.jform_placeholder5 label, .ju-content-wrapper .block-list .ju-settings-option.jform_placeholder5 .ju-switch-button {
  display: none;
}
.ju-content-wrapper .block-list .ju-settings-option.import-settings-option {
  position: relative;
}
.ju-content-wrapper .block-list .ju-settings-option.import-settings-option.isInstall {
  padding-top: 60px;
}
.ju-content-wrapper .block-list .ju-settings-option.import-settings-option .import-name {
  position: absolute;
  text-align: left;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  min-height: 50px;
  padding: 10px 20px;
}
.ju-content-wrapper .block-list .ju-settings-option.import-settings-option .import-name .ju-setting-label {
  text-transform: uppercase;
  line-height: 36px;
  width: 100%;
  max-width: 100%;
  text-align: left;
}
.ju-content-wrapper .block-list .ju-settings-option.import-settings-option .ju-custom-block {
  text-align: right;
}
.ju-content-wrapper .block-list .ju-settings-option.import-settings-option .ju-custom-block > button,
.ju-content-wrapper .block-list .ju-settings-option.import-settings-option .ju-custom-block #docman_import_button {
  position: absolute;
  right: 25px;
  top: 10px;
  margin: 0;
  text-shadow: none;
  text-transform: capitalize;
  font-weight: bold;
  background-color: #fff3e9 !important;
  color: #ff8726 !important;
  border-color: #fff3e9 !important;
  border-radius: 4px;
  padding: 8px 10px;
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ju-content-wrapper .block-list .ju-settings-option.import-settings-option .ju-custom-block > button:hover, .ju-content-wrapper .block-list .ju-settings-option.import-settings-option .ju-custom-block > button:focus,
.ju-content-wrapper .block-list .ju-settings-option.import-settings-option .ju-custom-block #docman_import_button:hover,
.ju-content-wrapper .block-list .ju-settings-option.import-settings-option .ju-custom-block #docman_import_button:focus {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.ju-content-wrapper .block-list .ju-settings-option.import-settings-option .check-import-hidden {
  line-height: 50px;
}
.ju-content-wrapper .block-list .ju-settings-option.notification-full-width .ju-custom-block {
  width: 100%;
  max-width: 100%;
}
.ju-content-wrapper .block-list .ju-settings-option.notification-full-width .ju-custom-block > input {
  width: 100%;
  max-width: 100%;
}
.ju-content-wrapper .block-list .ju-settings-option.cloud-full-width {
  width: 98%;
  max-width: 98%;
}
@media screen and (min-width: 768px) {
  .ju-content-wrapper .block-list .ju-settings-option.cloud-full-width.jform_sync_method, .ju-content-wrapper .block-list .ju-settings-option.cloud-full-width.jform_sync_time, .ju-content-wrapper .block-list .ju-settings-option.cloud-full-width.jform_onedriveSyncMethod, .ju-content-wrapper .block-list .ju-settings-option.cloud-full-width.jform_onedriveSyncTime, .ju-content-wrapper .block-list .ju-settings-option.cloud-full-width.jform_dropbox_sync_method, .ju-content-wrapper .block-list .ju-settings-option.cloud-full-width.jform_dropbox_sync_time, .ju-content-wrapper .block-list .ju-settings-option.cloud-full-width.jform_onedriveBusinessSyncMethod, .ju-content-wrapper .block-list .ju-settings-option.cloud-full-width.jform_onedriveBusinessSyncTime {
    width: 48%;
    max-width: 48%;
  }
}
.ju-content-wrapper .block-list .ju-settings-option.cloud-full-width .ju-custom-block {
  width: 100%;
  max-width: 100%;
}
.ju-content-wrapper .block-list .ju-settings-option.cloud-full-width .ju-custom-block > input,
.ju-content-wrapper .block-list .ju-settings-option.cloud-full-width .ju-custom-block > .ju-input {
  width: 100%;
  max-width: 100%;
}
.ju-content-wrapper .block-list .ju-settings-option.cloud-full-width .ju-custom-block .onedrive-business-dev-center-link:hover,
.ju-content-wrapper .block-list .ju-settings-option.cloud-full-width .ju-custom-block .onedrive-business-dev-center-link:hover {
  cursor: pointer;
  box-shadow: unset !important;
  -webkit-box-shadow: unset !important;
  outline: none;
  text-decoration: unset;
}
.ju-content-wrapper .block-list .ju-settings-option.cloud-full-width .btn-google,
.ju-content-wrapper .block-list .ju-settings-option.cloud-full-width .btn-onedrive,
.ju-content-wrapper .block-list .ju-settings-option.cloud-full-width .btn-dropbox,
.ju-content-wrapper .block-list .ju-settings-option.cloud-full-width .btn-onedrivebusiness:not(#dropfies_onedrive_business_disconnect) {
  background-color: #f3f6fa !important;
  color: #000 !important;
  padding: 0.625rem 0.9375rem !important;
  min-width: 140px;
  border: 1px solid #9fabba !important;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.125rem;
  transition: all ease 0.5s;
  vertical-align: middle;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px !important;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 0 5px;
}
.ju-content-wrapper .block-list .ju-settings-option.cloud-full-width .btn-google > img,
.ju-content-wrapper .block-list .ju-settings-option.cloud-full-width .btn-onedrive > img,
.ju-content-wrapper .block-list .ju-settings-option.cloud-full-width .btn-dropbox > img,
.ju-content-wrapper .block-list .ju-settings-option.cloud-full-width .btn-onedrivebusiness:not(#dropfies_onedrive_business_disconnect) > img {
  vertical-align: top;
  width: 16px;
  height: 16px;
  display: inline-block;
}
.ju-content-wrapper .block-list .ju-settings-option.cloud-full-width #dropfies_onedrive_business_disconnect {
  background-color: #f3f6fa !important;
  color: #000 !important;
  padding: 0.625rem 0.9375rem !important;
  min-width: 140px;
  border: 1px solid #9fabba !important;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.125rem;
  transition: all ease 0.5s;
  vertical-align: middle;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px !important;
  font-size: 14px;
  margin: 0 5px;
}
.ju-content-wrapper .block-list .ju-settings-option.cloud-full-width #dropfies_onedrive_business_disconnect > img {
  vertical-align: top;
  width: auto;
  height: auto;
  max-width: 34px;
  max-height: 16px;
  display: inline-block;
}
.ju-content-wrapper .block-list .ju-settings-option.cloud-full-width .btn-onedrive > img {
  width: auto;
  height: auto;
  max-width: 34px;
  max-height: 16px;
  margin-right: -2px;
}
.ju-content-wrapper .block-list .ju-settings-option.cloud-full-width .btn-link,
.ju-content-wrapper .block-list .ju-settings-option.cloud-full-width .btn-google-changes {
  padding: 0.625rem 0.9375rem;
  min-width: 9.375rem;
  border: 1px solid #ff8726 !important;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.125rem;
  transition: all ease 0.5s;
  vertical-align: middle;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  font-size: 14px;
  font-size: 0.875rem;
  background-color: #fff !important;
  color: #ff8726 !important;
}
.ju-content-wrapper .block-list .ju-settings-option.jform_google_document, .ju-content-wrapper .block-list .ju-settings-option.jform_onedrive_document, .ju-content-wrapper .block-list .ju-settings-option.jform_dropbox_document, .ju-content-wrapper .block-list .ju-settings-option.jform_onedrive_business_document {
  background-color: transparent;
  padding-top: 0;
  padding-left: 0;
  box-shadow: none;
}
.ju-content-wrapper .block-list .ju-settings-option.jform_add_event_editor, .ju-content-wrapper .block-list .ju-settings-option.jform_edit_event_editor, .ju-content-wrapper .block-list .ju-settings-option.jform_delete_event_editor, .ju-content-wrapper .block-list .ju-settings-option.jform_download_event_editor {
  width: 98%;
  max-width: 98%;
}
.ju-content-wrapper .block-list .ju-settings-option.jform_add_event_editor textarea#jform_add_event_editor + .toggle-editor,
.ju-content-wrapper .block-list .ju-settings-option.jform_add_event_editor textarea#jform_edit_event_editor + .toggle-editor,
.ju-content-wrapper .block-list .ju-settings-option.jform_add_event_editor textarea#jform_delete_event_editor + .toggle-editor, .ju-content-wrapper .block-list .ju-settings-option.jform_edit_event_editor textarea#jform_add_event_editor + .toggle-editor,
.ju-content-wrapper .block-list .ju-settings-option.jform_edit_event_editor textarea#jform_edit_event_editor + .toggle-editor,
.ju-content-wrapper .block-list .ju-settings-option.jform_edit_event_editor textarea#jform_delete_event_editor + .toggle-editor, .ju-content-wrapper .block-list .ju-settings-option.jform_delete_event_editor textarea#jform_add_event_editor + .toggle-editor,
.ju-content-wrapper .block-list .ju-settings-option.jform_delete_event_editor textarea#jform_edit_event_editor + .toggle-editor,
.ju-content-wrapper .block-list .ju-settings-option.jform_delete_event_editor textarea#jform_delete_event_editor + .toggle-editor, .ju-content-wrapper .block-list .ju-settings-option.jform_download_event_editor textarea#jform_add_event_editor + .toggle-editor,
.ju-content-wrapper .block-list .ju-settings-option.jform_download_event_editor textarea#jform_edit_event_editor + .toggle-editor,
.ju-content-wrapper .block-list .ju-settings-option.jform_download_event_editor textarea#jform_delete_event_editor + .toggle-editor {
  margin: 10px 0;
}
.ju-content-wrapper .block-list .ju-settings-option.jform_add_event_editor .ju-custom-block > p, .ju-content-wrapper .block-list .ju-settings-option.jform_edit_event_editor .ju-custom-block > p, .ju-content-wrapper .block-list .ju-settings-option.jform_delete_event_editor .ju-custom-block > p, .ju-content-wrapper .block-list .ju-settings-option.jform_download_event_editor .ju-custom-block > p {
  min-height: 40px;
  line-height: 18px;
  margin: 10px 0;
  padding: 10px 15px 10px 0;
}
.ju-content-wrapper .block-list .ju-settings-option.jform_date_format .ju-setting-label {
  max-width: 200px;
}
.ju-content-wrapper .block-list .ju-settings-option.jform_date_format .ju-custom-block {
  text-align: right;
  max-width: calc(100% - 205px);
}
.ju-content-wrapper .block-list .ju-settings-option.jform_date_format .ju-custom-block > a {
  text-decoration: underline;
  margin-right: 5px;
}
.ju-content-wrapper .block-list .ju-settings-option.jform_cron_task_url, .ju-content-wrapper .block-list .ju-settings-option.jform_dropbox_cron_task_url, .ju-content-wrapper .block-list .ju-settings-option.jform_onedrive_business_cron_task_url {
  background: #ddd;
}
.ju-content-wrapper .block-list .ju-settings-option.jform_cron_task_url .ju-setting-label, .ju-content-wrapper .block-list .ju-settings-option.jform_dropbox_cron_task_url .ju-setting-label, .ju-content-wrapper .block-list .ju-settings-option.jform_onedrive_business_cron_task_url .ju-setting-label {
  max-width: unset;
  padding: 0 20px;
}
.ju-content-wrapper .block-list .ju-settings-option.jform_ref_exclude_category_id .ju-setting-label {
  max-width: unset;
}
.ju-content-wrapper .block-list .ju-settings-option.jform_ref_exclude_category_id .ju-custom-block {
  max-width: 220px;
  min-width: 200px;
}
.ju-content-wrapper .block-list .ju-settings-option.jform_ref_exclude_category_id .ju-custom-block .chzn-container > .chzn-choices {
  padding: 0.55rem;
  vertical-align: middle;
  display: inline-block;
}
.ju-content-wrapper .block-list .ju-settings-option.jform_ref_exclude_category_id .ju-custom-block .chzn-container > .chzn-choices li.search-choice {
  color: #333;
  line-height: 13px;
}
.ju-content-wrapper .block-list .ju-settings-option.jform_ref_exclude_category_id .ju-custom-block .chzn-container > .chzn-choices li.search-choice a.search-choice-close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  left: unset;
  display: block;
  width: 12px;
  height: 12px;
  background: url(../images/configuration/chosen-sprite.png) -42px 1px no-repeat;
  font-size: 1px;
}
.ju-content-wrapper .block-list .ju-settings-option.jform_ref_exclude_category_id .ju-custom-block .chzn-container > .chzn-choices li.search-field > input {
  min-width: unset;
}
.ju-content-wrapper .block-list .ju-settings-option.jform_onedriveBusinessSecret .ju-setting-label {
  max-width: unset;
}
.ju-content-wrapper .block-list .ju-settings-option .ju-settings-pre, .ju-content-wrapper .block-list .ju-settings-option.jform_onedrive_business_cron_task_url label {
  display: block;
  float: left;
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px 0;
  border-radius: 4px;
  background: #ddd;
  color: #f90900;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 1.2px;
}
.ju-content-wrapper .block-list .ju-settings-option .ju-settings-help {
  padding: 0.9375rem 0;
  float: left;
  text-align: left;
  color: #5f879b;
  font-weight: 600;
  letter-spacing: 0.7px;
}
.ju-content-wrapper .block-list .ju-settings-option .plain-text-search-groups.jform_plain_text_search {
  min-height: 56px;
}
.ju-content-wrapper .block-list .ju-settings-option .plain-text-search-groups.jform_searchindexer .ju-setting-label {
  display: none;
}
.ju-content-wrapper .block-list .ju-settings-option .plain-text-search-groups.jform_searchindexer .ju-custom-block {
  float: unset;
  width: 100%;
  max-width: 100%;
}
.ju-content-wrapper .block-list .ju-settings-option .plain-text-search-groups.jform_searchindexer #search_indexer {
  min-width: 9.375rem;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.125rem;
  transition: all ease 0.5s;
  vertical-align: middle;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  border: none;
  outline: none;
  padding: 0.625rem 1.25rem;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  font-size: 0.875rem;
  background-color: #2196f3;
  color: #fff;
  width: 100%;
  line-height: 1.875rem;
  margin-top: 1.25rem;
  font-weight: 400;
  white-space: normal;
}
.ju-content-wrapper .block-list .ju-settings-option .plain-text-search-groups.jform_searchindexer #search_indexer.worked {
  background: linear-gradient(90deg, #5dca70 100%, #2196f3 100%);
}
.ju-content-wrapper .block-list .ju-settings-option .plain-text-search-groups.jform_searchindexer #search_indexer.worked.default {
  background: linear-gradient(90deg, #2196f3 100%, #5dca70 100%);
}
.ju-content-wrapper .block-list .ju-settings-option .plain-text-search-groups.jform_searchindexer #search_indexer:hover, .ju-content-wrapper .block-list .ju-settings-option .plain-text-search-groups.jform_searchindexer #search_indexer:focus {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.ju-content-wrapper .block-list .ju-settings-option .plain-text-search-groups.jform_searchindexer #mybootstrap {
  width: 100%;
  background-color: transparent;
}
.ju-content-wrapper .block-list .ju-settings-option .plain-text-search-groups.jform_searchindexer #mybootstrap .progress {
  width: 100% !important;
  margin: 10px 0 !important;
  height: 20px;
}
.ju-content-wrapper .block-list .ju-settings-option .plain-text-search-groups.jform_searchindexer #mybootstrap .bar {
  line-height: 20px;
}
.ju-content-wrapper .block-list .ju-settings-option .ju-switch-button {
  line-height: 50px;
}
.ju-content-wrapper .block-list .ju-settings-option .ju-setting-label {
  max-width: 220px;
  line-height: 50px;
}
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block {
  display: inline-block;
  float: right;
  min-width: 150px;
  max-width: calc(100% - 220px);
}
@media screen and (max-width: 420px) {
  .ju-content-wrapper .block-list .ju-settings-option .ju-custom-block {
    width: 100%;
    max-width: 100%;
  }
}
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block #jform_default_bgdownloadlink,
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block #jform_default_colordownloadlink,
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block #jform_ggd_bgdownloadlink,
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block #jform_ggd_colordownloadlink,
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block #jform_table_bgdownloadlink,
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block #jform_table_colordownloadlink,
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block #jform_tree_bgdownloadlink,
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block #jform_tree_colordownloadlink {
  height: 50px;
}
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block .minicolors {
  float: right;
  position: relative;
}
@media screen and (max-width: 420px) {
  .ju-content-wrapper .block-list .ju-settings-option .ju-custom-block .minicolors {
    float: left;
  }
}
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block .minicolors .minicolors-panel {
  top: 50px;
  left: unset;
  right: 5px;
}
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block .minicolors .minicolors-panel .minicolors-slider,
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block .minicolors .minicolors-panel .minicolors-opacity-slider {
  top: 0;
  margin-left: 0;
}
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block .minicolors .minicolors-panel .minicolors-grid {
  top: 0;
  left: 0;
}
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block .minicolors .minicolors-swatch {
  border: 1px solid #eee !important;
}
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block .minicolors .minicolors-swatch-color {
  border: 0;
  border-radius: 0;
  box-shadow: unset;
}
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block input, .ju-content-wrapper .block-list .ju-settings-option .ju-custom-block select {
  font-family: "Nunito Sans", sans-serif;
  padding: 18px;
  border: 1px solid #ddd;
  border-color: #ddd !important;
  background-color: #fff;
  height: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
  margin: 0 5px 0 0 !important;
  min-width: 220px;
}
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block a:hover,
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block a:focus,
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block button:hover,
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block button:focus {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block #jform_allowedgoogleext {
  height: 90px !important;
  max-height: 90px !important;
  box-sizing: border-box;
}
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block #jform_date_format + a {
  text-decoration: underline;
  margin-right: 5px;
  float: left;
  padding: 15px 0;
  line-height: 18px;
  box-shadow: none;
}
.ju-content-wrapper .block-list .ju-settings-option .ju-custom-block #jform_date_format + a:hover {
  box-shadow: none !important;
}
.ju-content-wrapper .block-list .ju-settings-option input#jform_allowedext {
  width: 100%;
  max-width: 100%;
  margin: 0 !important;
}
.ju-content-wrapper .block-list .ju-settings-option.jform_allowedext .ju-custom-block, .ju-content-wrapper .block-list .ju-settings-option.jform_allowedgoogleext .ju-custom-block {
  width: 100%;
  float: unset;
  max-width: calc(100% - 10px);
}
.ju-content-wrapper .block-list.clone-theme-list {
  max-width: 100%;
  column-count: unset;
  column-gap: 50px;
}
.ju-content-wrapper .block-list.clone-theme-list.result-list .ju-setting-label {
  display: none;
}
.ju-content-wrapper .block-list.clone-theme-list.result-list .ju-custom-block {
  max-width: 100%;
  text-align: left;
  float: unset;
}
.ju-content-wrapper .block-list.clone-theme-list.result-list .ju-custom-block .custom-themes {
  margin: 0;
}
.ju-content-wrapper .block-list.clone-theme-list.result-list .ju-custom-block .custom-themes li:last-child {
  margin: 0 !important;
}
.ju-content-wrapper .block-list.clone-theme-list.result-list .ju-custom-block .custom-themes li {
  box-shadow: none !important;
}
.ju-content-wrapper .block-list.clone-theme-list.result-list .ju-custom-block .custom-themes li a {
  box-shadow: none !important;
}
.ju-content-wrapper .block-list.clone-theme-list.result-list .ju-custom-block > span {
  text-align: left;
}
.ju-content-wrapper .block-list.clone-theme-list .ju-settings-option.jform_createtheme {
  width: 98%;
  max-width: 98%;
  background-color: transparent;
  box-shadow: none;
  padding-top: 0;
}
.ju-content-wrapper .block-list.clone-theme-list .ju-settings-option.jform_createtheme .ju-custom-block {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  line-height: 18px;
}
.ju-content-wrapper .block-list.clone-theme-list .ju-settings-option.jform_fromtheme .ju-custom-block {
  text-align: right;
}
.ju-content-wrapper .block-list.clone-theme-list .ju-settings-option #jform_createtheme {
  padding: 0.625rem 0.9375rem;
  min-width: 9.375rem;
  border: 1px solid #ff8726 !important;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.125rem;
  transition: all ease 0.5s;
  vertical-align: middle;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  font-size: 14px;
  font-size: 0.875rem;
  background-color: #ff8726 !important;
  color: #fff !important;
  font-weight: 400;
  text-shadow: none;
}
.ju-content-wrapper .block-list.clone-theme-list .ju-settings-option #jform_createtheme:hover, .ju-content-wrapper .block-list.clone-theme-list .ju-settings-option #jform_createtheme:focus {
  outline: none;
}
.ju-content-wrapper .block-list textarea.ju-input {
  line-height: 24.5px;
  letter-spacing: 0.05rem;
  font-size: 14px;
}
.ju-content-wrapper .block-list textarea.ju-input#jform_allowedext {
  height: 180px !important;
  max-height: 180px !important;
  max-width: 100%;
  box-sizing: border-box;
}
.ju-content-wrapper .custom-theme-list-title {
  margin: 25px 0;
}
.ju-content-wrapper .main-container.theme-container {
  margin: 20px 0 0 0;
}

#toolbar-custom .ju-button {
  margin-right: 20px;
  padding: 7px 10px;
}

.menu-icons {
  width: 18px;
  vertical-align: baseline;
}

.ju-button {
  font-family: "Nunito Sans", sans-serif;
}

.ju-input-box {
  width: auto;
  height: 50px !important;
  line-height: 50px !important;
  font-size: 14px !important;
}

.ju-left-panel.ju-tab-position-fixed {
  top: 85px;
}

.ju-custom-block .input-append {
  width: 100%;
  margin: 0 !important;
}
.ju-custom-block .input-append input[type=text],
.ju-custom-block .input-append input[type=number] {
  display: block;
  width: 100%;
  margin: 0 !important;
}
.ju-custom-block .input-append input.btn {
  padding: 10px !important;
  margin: 10px 0 0 0 !important;
  background-color: #fff;
  height: auto;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  text-transform: capitalize;
  font-weight: bold;
}
.ju-custom-block .input-append input.btn:hover {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.ju-custom-block .subform-wrapper .control-group {
  margin: 10px 0 !important;
}
.ju-custom-block .subform-wrapper .control-group .control-label label {
  float: left;
  display: inline-block;
  min-width: 150px;
  max-width: calc(100% - 150px);
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin: 0;
  line-height: 40px;
  cursor: pointer;
}
.ju-custom-block .subform-wrapper .control-group .controls {
  display: inline-block;
  background-color: #fff;
  height: auto;
  padding: 0 !important;
}
.ju-custom-block .subform-wrapper .control-group .controls input {
  margin: 0 !important;
}

.input-append label {
  font-size: 12px !important;
}

#ju-message-container {
  padding-top: 20px;
}
#ju-message-container > div.alert {
  position: relative;
  border-left: 4px solid #46b450;
  border-top: 1px solid #ccd0d4;
  border-right: 1px solid #ccd0d4;
  border-bottom: 1px solid #ccd0d4;
  background-color: #fff;
  padding: 1px 38px 1px 12px;
  width: 98%;
  margin: 10px 0 20px 0;
  font-size: 13px;
  color: #444;
  border-radius: 0;
  box-sizing: border-box;
}
#ju-message-container .alert-heading {
  display: none;
}
#ju-message-container .alert-message {
  margin: 5px 0;
  padding: 2px;
  font-size: 1em;
  font-weight: bold;
  vertical-align: middle;
}
#ju-message-container button.close {
  position: absolute;
  right: 1px;
  border: none;
  margin: 0;
  padding: 9px;
  background: none;
  color: #72777c;
  cursor: pointer;
  transform: translateY(-50%);
  top: 50%;
}

#jform_preloading_token {
  margin: 0 !important;
  width: 75%;
  border-right: unset !important;
  border-bottom-right-radius: unset;
  border-top-right-radius: unset;
}

a.token_reset {
  width: 25%;
  min-width: unset !important;
  padding: 9px !important;
  margin-left: -4px;
  font-weight: bold;
  border-top-left-radius: unset !important;
  border-bottom-left-radius: unset !important;
  border: 1px solid #ddd !important;
  box-shadow: none;
}

#jform_include_minify_folders {
  display: inline-block;
  width: 80%;
  border-right: none !important;
  border-bottom-right-radius: unset !important;
  border-top-right-radius: unset !important;
}

a.modal_jform_include_minify_folders {
  font-weight: bold;
  padding: 9px !important;
  min-width: unset !important;
  width: 20%;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  border: 1px solid #ddd !important;
  box-shadow: none;
}

a.token_jform_preloading_token {
  display: block;
}

.ju-logo a[target=_blank]::before {
  content: none;
}

@media screen and (max-width: 650px) {
  .ju-custom-block #jform_include_minify_folders,
.ju-custom-block #jform_preloading_token {
    border: 1px solid #ccc !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
  }
  .ju-custom-block #jform_include_minify_folders,
.ju-custom-block #jform_preloading_token,
.ju-custom-block a.modal_jform_include_minify_folders,
.ju-custom-block a.token_reset {
    display: block !important;
    width: 100% !important;
    border-radius: 4px !important;
  }
  .ju-custom-block a.token_reset {
    margin: 0 !important;
  }
}
