#jutranslation {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
}

#jutranslations-languages div.original_content a.jutranslation-override,
#jutranslations-languages div.original_content span a {
    height: auto;
    width: auto;
    border: none;
    text-shadow: none;
    box-shadow: none;
    background-color: #1d6cb0;
    background: #1d6cb0;
    border-radius: 2px;
    padding: 2px 10px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    line-height: 35px;
    margin-right: 5px;
    transition: all 0.2s ease-in;
}

#jutranslations-languages div.original_content a.jutranslation-override:hover,
#jutranslations-languages div.original_content a.jutranslation-override:active,
#jutranslations-languages div.original_content a.jutranslation-override:focus,
#jutranslations-languages div.original_content span a:hover,
#jutranslations-languages div.original_content span a:active,
#jutranslations-languages div.original_content span a:focus {
    box-shadow: 1px 1px 12px #ccc;
    text-decoration: none;
}

#jutranslations-languages div.original_content a.jutranslation-edition {
    height: auto;
    width: auto;
    border: none;
    text-shadow: none;
    box-shadow: none;
    background-color: #F9A541;
    background: #F9A541;
    border-radius: 2px;
    padding: 2px 10px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    line-height: 35px;
    margin-right: 5px;
    transition: all 0.2s ease-in;
    opacity: 1;
}

#jutranslations-languages div.original_content a.jutranslation-edition:hover,
#jutranslations-languages div.original_content a.jutranslation-edition:active,
#jutranslations-languages div.original_content a.jutranslation-edition:focus {
    box-shadow: 1px 1px 12px #ccc;
    text-decoration: none;
}

#jutranslations-languages div.original_content a.jutranslation-share {
    height: auto;
    width: auto;
    border: none;
    text-shadow: none;
    box-shadow: none;
    background-color: #7AC143;
    background: #7AC143;
    border-radius: 2px;
    padding: 2px 10px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    line-height: 35px;
    margin-right: 5px;
    transition: all 0.2s ease-in;
}

#jutranslations-languages div.original_content a.jutranslation-share:hover,
#jutranslations-languages div.original_content a.jutranslation-share:active,
#jutranslations-languages div.original_content a.jutranslation-share:focus {
    box-shadow: 1px 1px 12px #ccc;
    text-decoration: none;
}

#jutranslations-languages thead tr th {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
    border-bottom: 1px solid #eee;
}

#jutranslations-languages tbody tr td.current_version,
#jutranslations-languages tbody tr td div.original_content {
    font-weight: normal;
}

#jutranslations-languages tbody tr td {
    font-weight: bold;
}

#jutranslation div.control-group div.controls p {
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 8px;
}

#jutranslations-languages tbody tr td {
    vertical-align: middle;
}

#jutranslation .do_table_reference_copy,
#jutranslation .do_table_language_copy,
#jutranslation .do_table_override_copy {
    font-size: 15px;
    padding: 2px 2px 2px 5px;
    vertical-align: middle;
}

#jutranslation > div.tab-description.alert.alert-info {
    display: none;
}

#jutranslation .do_table_buttons {}

#jutranslation .do_table_buttons a {
    height: auto;
    width: auto;
    border: none;
    text-shadow: none;
    box-shadow: none;
    background-color: #1d6cb0;
    background: #1d6cb0;
    border-radius: 2px;
    padding: 7px 30px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
}

#jutranslation .do_table_buttons a:hover {
    box-shadow: 1px 1px 12px #ccc;
}

.jutranslation-share.just-added {
    transition: all 1s ease-in;
    color: #2167da;
    font-weight: bold;
}

#jutranslation tr.do_table_heading td {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
    border-bottom: 1px solid #eee;
}

#jutranslation tr.do_table_filters {
    height: 80px;
}

#jutranslation div.control-group.edition input {
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    padding: 5px;
    margin: 3px 0;
}

#jutranslation tr.do_table_filters > td:nth-child(1) {
    vertical-align: middle;
}

#jutranslation tr.do_table_filters td input.do_table_filter_empty_reference,
#jutranslation tr.do_table_filters td input.do_table_filter_empty_language,
#jutranslation tr.do_table_filters td input.do_table_filter_empty_override {
    margin: 0;
}

#jutranslation div.control-group.edition-message {
    background-color: #2DAEF0;
    padding: 15px;
    color: #fff;
    font-size: 15px;
}

#jutranslation #jutranslation_show_edition, #jutranslation #jutranslation_cancel_edition {
    height: auto;
    width: auto;
    border: none;
    text-shadow: none;
    box-shadow: none;
    background-color: #1d6cb0;
    background: #1d6cb0;
    border-radius: 2px;
    padding: 7px 30px;
    font-size: 14px;
    margin: 5px;
    text-transform: uppercase;
    transition: all 0.2s ease-in;
}

#jutranslation #jutranslation_show_edition:hover, #jutranslation #jutranslation_cancel_edition:hover {
    box-shadow: 1px 1px 12px #eee;
}

@media only screen and (min-width: 1680px) {
    #jutranslation > div.control-group.edition > table > tbody > tr.do_table_heading > td:nth-child(1) {
        min-width: 400px;
    }
}

#jutranslation div.control-group.edition table tbody tr td textarea {
    box-shadow: 1px 1px 12px #ccc;
    border: 1px solid #888;
    border-radius: 0;
    transition: all 0.2s ease-in;
}

body > form > div:nth-child(3) > textarea {
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    padding: 5px;
    transition: all 0.2s ease-in;
}

#jutranslation div.control-group.edition tr td a i {
    color: #444;
}


a.disabled {
    background-color: #c3c2c2 !important;
    color: #333 !important;
    cursor: default;
    position: relative;
}

a.disabled:hover:after{
    background: #484848;
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 300px;
    line-height:20px;
    font-size: 14px;
    text-transform: initial;
    text-align: center;
}

a.disabled:hover:before{
    border: solid;
    border-color: #484848 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

#jutranslation_toast {
    position: fixed;
    top: 40px;
    right: 20px;
    padding: 14px 15px;
    background-color: #323232;
    color: #FFFFFF;
    font-size: 14px;
    border-radius: 2px;
    z-index: 1000;
}