div.modal {
    background-color: rgba(0, 0, 0, 0.78) !important;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    margin-left: 0px;
    width: 100%;
}

.modal-body {
    max-height: 1000px;
}

div.modal-header table,div.modal-header table td  {
  border-style: none;
}