<configuration>

        <system.webServer>
               <rewrite>
                        <rules>
                                <clear/>
                                <rule name="rule 1Y">
                                        <match url="^(.*?)(gz|nz)/([^\.]+)\.(js|css)$"  />
                                        <action type="Rewrite" url="//{R:1}media/com_jchoptimize/assets/jscss.php?f={R:3}&amp;type={R:4}&amp;gz={R:2}"  />
                                </rule>
                        </rules>
                </rewrite>
        </system.webServer>

</configuration>
