/* Module Campagnes */

.nav-tabs > li.active > a {
    border-radius: 4px;
}

#navfilter .navsearch .navsearch-content .input-group-btn button {
    margin-left: -5px !important;
    height: 34px !important;
    margin-bottom: 0;
}

.navsearch input {
    margin-bottom: 0 !important;
    height: 34px !important;
    border-radius: 0;
}

.navsearch label {
    margin: 0 !important;
}

#navfilter .navsearch .navsearch-content .input-group-btn button {
    margin-left: -5px !important;
    height: 34px !important;
    margin-bottom: 0;
    border-radius: 0px 4px 4px 0px !important;
}

#navfilter .navsearch .navsearch-content .input-group label input {
    border-radius: 4px 0px 0px 4px !important;
    height: 34px;
    margin-top: 0px;
}

.campaignbymonth {
    margin-top: 0 !important;
}

.campaign-title {
    font-weight: 600;
    margin-bottom: 20px !important;
    padding-left: 0;
}

.campaign-title::after {
    content: "\f0a1";
    font-family: FontAwesome;
    margin-left: 10px;
}

.campaigntext.blue h4 a:hover {
    text-decoration: underline;
}

.campaigntext.blue h4 {
    margin-bottom: 10px !important;
}

.campaigntext.blue h4 a {
    font-size: 1em;
    display: block;
    width: 100% !important;
}

#navfilter .navsearch .navsearch-content .input-group-btn button::before {
    content: "\f002";
    font-family: FontAwesome;
    margin-right: 6px;
}

.navsearch {
    margin-left: 0;
    margin-top: 0;
}

.campaign {
    margin-top: 5rem !important;
    text-transform: uppercase;
    font-weight: 700;
    color: #42c69d;
    font-size: 2rem;
}

.position-me {
    position: relative;
}

.campaigns-list .campaignbymonth .campaign-month-label .position-me {
    top: 27px;
}

#search_program {
    padding: 0 !important;
}

#search_program .rotate-me p {
    color: #fff;
    padding-left: 10px;
    font-size: large;
    line-height: 25px;
}

.em-flex-col {
    display: flex;
    flex-direction: column;
}

.em-flex-row {
    display: flex;
    flex-direction: row;
}

.rotate-me p {
    margin: 0 !important;
    transform: rotate(180deg);
    position: relative;
    text-align: end;
    padding-right: 10px;
}

.campaingapplycontent {
    line-height: 22px;
    font-size: 15px;
    padding: 0;
}

.campaingapplycontent b {
    color: #000000;
}

.campaingapplycontent strong {
    font-weight: normal;
    width: 179px;
    display: inline-block;
}

#search_program #navfilter {
    margin-bottom: 10px;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.campaigns-list .below-content a.btn {
    border-radius: 4px;
    width: auto;
    padding: 8px 12px;
    text-transform: inherit;
}

.campaigns-list .below-content a.btn.btn-primary.btn-plein.btn-blue {
    text-transform: initial;
}

.campaign-title {
    color: #292929;
    font-weight: 600;
    margin-bottom: 20px !important;
    padding-left: 0;
}

.campaign {
    margin-top: 5rem !important;
    text-transform: uppercase;
    font-weight: 700;
    color: #42c69d;
    font-size: 2rem;
}

.rotate-me p {
    margin: 0 !important;
}

.rotate-me.blue, .rotate-me.orange {
    width: 100%;
}

.navsearch-content {
    float: none;
    padding-top: 0;
}

.nav-tabs {
    height: auto;
    margin: 0 !important;
}

#navfilter {

    display: flex;
    align-items: center;
    margin-bottom: 0;
    height: auto;
    justify-content: space-between;
}

#navfilter.navsearch .navsearch-content .input-group-btn button {
    margin-left: -5px !important;
    height: 34px !important;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#navfilter.navsearch .navsearch-content .input-group label input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.campaigntext.blue h4 a {
    color: #292929;
}

/*** Single campaign template additions ***/
.single-campaign {
    display: flex;
    flex-direction: column;
}

.single-campaign .right-side, .single-campaign .below-content {
    border: none !important;
}

.single-campaign .below-content {
    text-align: left !important;
}

​

@media all and (max-width: 767px) {

    .homepage .campaigns-list .below-content a.btn.btn-primary.btn-plein.btn-blue {
        margin-top: 10px !important;
    }

    .rotate-me p {
        transform: rotate(0deg);
        right: 0;
        padding-right: 30px;
    }

    ​
    #depositor-select {
        margin-bottom: 10px !important;
    }

    .candidacy-files-list .row,
    .emundus_home_page legend {
        padding-left: 0;
    }

    .candidacy-files-list h2 {
        font-size: 1.7rem;
    }

    .candidacy-files-list a.btn.btn-success {
        margin-left: 0;
    }

    .candidacy-files-list .col-xs-6 {
        width: auto;
    }

    .campaigns-list .campaignbymonth .campaign-month-label .position-me {
        top: 0px;
    }

    .campaingapplycontent {
        color: #2a363b;
    }

    .campaigntext h4 {
        margin-left: 10px;
    }

    .campaigntext p {
        margin-left: 10px;
    }

    .campaigntext .blue h4 a {
        padding-left: 0;
    }

    .left-side {
        border-bottom: none !important;
    }

    .left-side.campaigntext a {
        margin-left: 0;
    }

    .below-content {
        text-align: center !important;
    }

    .campaigns-list a {
        width: 100% !important;
    }

    .campaign-month-label .position-me .rotate-me.blue, .campaign-month-label .position-me .rotate-me.orange {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding-left: 10px;
    }

    .campaignbymonth {
        margin-top: 20px !important;
    }

    .navorder {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navsearch {
        display: flex;
        justify-content: center;
    }

    .campaign-content .below-content a:first-child {
        margin-bottom: 10px !important;
    }

    .left-side, .right-side {
        padding: 10px !important;
    }
}

@media all and (max-width: 479px) {
    .homepage .blog-featuredhomepage {
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .homepage #navfilter .navsearch .navsearch-content .input-group-btn button {
        margin-bottom: 0px;
    }

    .campaign-month-campaigns .campaign-content .left-side.campaigntext p {
        padding-left: 0px;
        margin-left: 0px;
    }

    .homepage .campaingapply .campaingapplycontent {
        text-align: left;
    }
}

@media all and (max-width: 768px) {

    .campaign-content {
        width: 100% !important;
    }

    .homepage .navfilter {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
    }

    .homepage .navfilter > .result-counter {
        border-bottom: none;
    }

    .homepage .campaingapply .campaingapplycontent {
        text-align: left;
    }

    .left-side, .right-side {
        padding: 10px 10px 10px 10px !important;
    }

}

@media all and (max-width: 959px) {

    .nav-tabs {
        width: auto;
    }

    .left-side {
        width: 100% !important;
        border-bottom: 1px solid #ddd !important;
        border-right: none !important;
        min-height: auto;
    }

    .left-side.campaigntext a {
        margin-left: 0 !important;
    }

    .campaign-content .right-side {
        border-left: none !important;
        width: 100% !important;
        float: left !important;
    }

    .campaigntext h4 {
        margin-left: 0 !important;
    }

    .campaigntext.blue h4 a {
        padding-left: 0;
    }

    .campaigntext.blue p {
        padding-left: 20px;
    }

    .left-side, .right-side {
        padding: 10px 10px 10px 40px;
    }

    .below-content {
        text-align: center !important;
    }

    .navrowtabs {
        height: 100% !important;
        -webkit-flex: 0 100% !important;
        -moz-flex: 0 100% !important;
        -ms-flex: 0 100% !important;
        flex: 0 100% !important;
        width: 100% !important;
    }

    .navorder, .navsearch {
        height: auto !important;
        -webkit-flex: 0 auto !important;
        -moz-flex: 0 auto !important;
        -ms-flex: 0 auto !important;
        flex: 0 auto !important;
        width: auto !important;
    }

    .navorder {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 959px) {

    .campaigns-list .campaignbymonth .campaign-month-label .position-me {
        top: 25px;
    }

    .navsearch {
        margin-left: 0;
        margin-top: 10px;
        width: 40%;
        float: right;
        flex: 0 35%;
    }

    .campaigntext h4 {
        margin-left: 10px;
    }

    .campaign-content .left-side {
        width: 65%;
    }

    .campaign-content .right-side {
        width: 35%;
    }

    .left-side, .right-side {
        padding: 10px 10px 10px 40px !important;
    }

    .campaingapplycontent {
        color: #2a363b;
    }
}

@media all and (max-width: 1034px) {
    .campaign-content .below-content a {
        width: 18.3%;
    }
}

@media all and (max-width: 982px) {
    .campaign-content .below-content a {
        width: 19.3%;
    }

    .campaingapplycontent strong {
        width: 150px;
    }
}

@media all and (max-width: 1227px) {
    .campaign-content .below-content a {
        width: 17.3%;
    }

    ​
}

@media all and (max-width: 1239px) {
    .left-side {
        width: 65% !important;
    }

    .right-side {
        width: 35% !important;
    }

    .campaigns-list a {
        /*width: 17% !important;*/
        font-size: 0.7em;
    }

    .campaingapplycontent {
        font-size: 14px;
    }

    #navfilter {
        flex-direction: column-reverse !important;
        justify-content: initial !important;
        align-items: initial !important;
    }

    .navsearch {
        margin-top: 0 !important;
        margin-bottom: 10px !important;
    }
}
