@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: url("../fonts/MaterialIcons-Regular.woff2") format("woff2"), url("../fonts/MaterialIcons-Regular.woff") format("woff"), url("../fonts/MaterialIcons-Regular.ttf") format("truetype");
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.success-color {
  color: #49bf88;
}

.alert-color {
  color: #ff0a00;
}

.info-color {
  color: #58a9ff;
}

a {
  text-decoration: none !important;
}

.text-format, .label-block, .configuration-content .configuration-header p, .configuration-content .configuration-section .quick-block p, .tooltip-block {
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.7px;
}

.default-size-button {
  width: 300px;
  height: auto;
}

.margin-auto {
  margin: 0 auto;
}

.margin-tb-default {
  margin: 20px 0;
}

.padding-tb-default {
  padding: 20px 0;
}

.clear {
  clear: both;
}

.label-block {
  line-height: 2;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-size: 20px;
  color: #9ea7b2;
}

.full-width {
  width: 100%;
}

.hover-white:hover {
  color: #fff !important;
}

body {
  background-color: #F3F6FA !important;
}

header.header, .subhead-collapse.collapse, #system-message-container {
  display: none;
}

.wz-box {
  min-width: 640px;
  max-width: 900px;
  margin: 0 auto;
}
.wz-box .default-image, .wz-box .done-image {
  width: 400px;
  height: 400px;
  margin: 50px auto 0 auto;
  text-align: center;
}
.wz-box .default-text, .wz-box .done-text {
  text-align: center;
}
.wz-box .default-text .default-title, .wz-box .done-text .default-title, .wz-box .done-text .done-title {
  width: 100%;
  line-height: 2;
  font-weight: 500;
  font-size: 38px;
}
.wz-box .default-text p, .wz-box .done-text p {
  line-height: 2;
  font-size: 18px;
}
.wz-box .default-submit, .wz-box .done-submit {
  text-align: center;
  margin: 50px 0;
}
.wz-box .default-submit .default-link, .wz-box .done-submit .default-link {
  display: block;
  margin: 20px 0;
}

.configuration-steps {
  margin: 30px 0;
}
.configuration-steps ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.configuration-steps ul li {
  display: inline-block;
  list-style-type: none;
  padding: 0 20px;
  position: relative;
}
.configuration-steps ul li.actived .layer, .configuration-steps ul li.visited .layer {
  background-color: #7391ff;
  border-color: #7391ff;
  color: #fff;
  cursor: pointer;
}
.configuration-steps ul li:not(:last-child):before {
  content: '';
  border-bottom: 1px dashed #ccc;
  width: 40px;
  position: absolute;
  top: calc((100% - 1px) / 2);
  margin-left: 20px;
}
.configuration-steps ul li .layer {
  font-size: 18px;
  font-weight: bold;
  width: 35px;
  height: 35px;
  line-height: 2;
  border-radius: 50%;
  border: solid 0.5px #404852;
  cursor: default;
}

.configuration-content .configuration-header {
  text-align: center;
}
.configuration-content .configuration-header .configuration-title {
  line-height: 2;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 600;
}
.configuration-content .configuration-header p {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 1px;
  color: #404852;
}
.configuration-content .configuration-section .quick-block {
  padding: 10px 0;
  margin-bottom: 20px;
  background-color: #fff;
}
.configuration-content .configuration-section .quick-block .quick-title {
  line-height: 2;
  font-size: 23px;
  padding: 30px;
}
.configuration-content .configuration-section .quick-block p {
  padding: 0 30px;
  font-size: 14px;
  margin: 0;
  line-height: 2;
  font-weight: 300;
}
.configuration-content .configuration-section .quick-block .quick-button {
  display: block;
  width: 180px;
  height: 40px;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background: #fff;
  margin: 30px;
}
.configuration-content .configuration-section .quick-block .quick-button:focus {
  outline: none;
}
.configuration-content .configuration-section .quick-block .begin-title, .configuration-content .configuration-section .quick-block .begin-button {
  color: #7391ff;
}
.configuration-content .configuration-section .quick-block .begin-button {
  border: solid 1px #7391ff;
}
.configuration-content .configuration-section .quick-block .advanced-title, .configuration-content .configuration-section .quick-block .advanced-button {
  color: #3cb590;
}
.configuration-content .configuration-section .quick-block .advanced-button {
  border: solid 1px #3cb590;
}

.wz-button {
  display: block;
  text-decoration: none;
  line-height: 2;
  border-radius: 40px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 50px;
}
.wz-button:focus {
  outline: none;
}
.wz-button:hover {
  box-shadow: 10px 20px 20px 0 rgba(232, 182, 139, 0.27);
}

.orange-button {
  color: #fff;
  background-color: #FF8538;
  border: 1px solid #FF8538;
}

.skip-link {
  color: #FF8538;
  font-size: 18px;
}
.skip-link:hover {
  color: #ff6605;
  text-decoration: none !important;
}

ul.field {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ju-settings-option {
  float: left;
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 30px 0 rgba(160, 166, 190, 0.08);
  -moz-box-shadow: 0 10px 30px 0 rgba(160, 166, 190, 0.08);
  box-shadow: 0 10px 30px 0 rgba(160, 166, 190, 0.08);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-sizing: border-box;
}

.ju-setting-label {
  float: left;
  display: inline-block;
  min-width: 150px;
  max-width: calc(100% - 150px);
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin: 0;
  line-height: 50px;
  cursor: pointer;
  font-weight: bold;
  padding-left: 20px;
}

.ju-settings-icon {
  float: right;
  line-height: 2;
  padding-right: 2%;
}

.ju-text {
  padding: 10px !important;
  border: 1px solid #ddd !important;
  background-color: #fff !important;
  height: auto !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}
.ju-text.wizard-text {
  width: 50px;
  float: right;
  margin: 5px 2%;
}
.ju-text:focus {
  border-color: #FF8538 !important;
  box-shadow: none !important;
  outline: none !important;
}

.wz-loading-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  direction: ltr;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.tooltip-block {
  float: left;
  width: calc(100% - 30px);
  font-weight: 300;
  padding: 15px;
  margin: 0 0 30px 0;
  border-radius: 6px;
  border: solid 0.5px #FF8538;
  font-size: 13px;
  line-height: 2.3;
  color: #404852;
}

/*BUTTON SWITCH*/
.ju-switch {
  float: right;
  position: relative;
  width: 50px;
  height: 30px;
}
.ju-switch input {
  display: none;
}
.ju-switch.wizard-switch {
  margin-top: calc((50px - 30px) / 2);
  margin-right: 2%;
}

.ju-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.ju-switch-slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 2px;
  bottom: 2px;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 1px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  border: solid 0.5px rgba(0, 0, 0, 0.1);
}
.ju-switch-slider.round {
  border-radius: 30px;
}
.ju-switch-slider.round:before {
  border-radius: 50%;
}
input:checked + .ju-switch-slider {
  background-color: #5dca70;
}
input:focus + .ju-switch-slider {
  box-shadow: 0 0 1px #00CC00;
}
input:checked + .ju-switch-slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/*# sourceMappingURL=wizard.css.map */
