#dp-location h3 i {
	margin-right: 5px;
}

#dp-location-upcoming-events p {
	border-left: 5px solid;
	padding-left: 5px;
}

#dp-location-upcoming-events a,
#dp-location-upcoming-events span {
	margin-left: 5px;
}