#attachment-preview[data-v-20d71aa5] {
  height: 100%;
  width: 50%;
  overflow: hidden;
}
#attachment-preview.overflow-x[data-v-20d71aa5] {
  overflow-x: scroll;
}
#attachment-preview.overflow-y[data-v-20d71aa5] {
  overflow-y: scroll;
}
#attachment-edit[data-v-fb825d06] {
  margin: 0 10px;
  padding: 10px;
  height: 100%;
  width: 50%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#attachment-edit .actions[data-v-fb825d06] {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
#attachment-edit .actions button[data-v-fb825d06] {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 8px 12px;
}
#attachment-edit .actions button[data-v-fb825d06]:last-of-type {
  margin-left: 10px;
}
#attachment-edit .input-group[data-v-fb825d06] {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#em-attachments[data-v-69a49ca0] {
  font-size: 14px;
  margin: 20px;
}
#em-attachments .head[data-v-69a49ca0] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}
#em-attachments .prev-next-files[data-v-69a49ca0] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#em-attachments .prev-next-files div[data-v-69a49ca0] {
  pointer-events: none;
  margin: 0 10px;
}
#em-attachments .prev-next-files div.active[data-v-69a49ca0] {
  pointer-events: auto;
  cursor: pointer;
}
#em-attachments #filters[data-v-69a49ca0] {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#em-attachments #filters input[data-v-69a49ca0] {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 221px;
}
#em-attachments table[data-v-69a49ca0] {
  border: 0;
}
#em-attachments table tr th[data-v-69a49ca0]:first-of-type {
  width: 39px;
}
#em-attachments table tr th:first-of-type input[data-v-69a49ca0] {
  margin-right: 0px;
}
#em-attachments table tr[data-v-69a49ca0], #em-attachments table th[data-v-69a49ca0] {
  height: 49px;
  background: transparent;
  background-color: transparent;
}
#em-attachments table thead tr th[data-v-69a49ca0] {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
#em-attachments table tbody tr[data-v-69a49ca0] {
  border-bottom: 1px solid #e0e0e0;
}
#em-attachments table tbody tr[data-v-69a49ca0]:hover:not(.checked) {
  background-color: #F2F2F3;
}
#em-attachments table tbody tr.checked[data-v-69a49ca0] {
  background-color: #F0F6FD;
}
#em-attachments table tbody .td-document[data-v-69a49ca0] {
  width: 250px;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
#em-attachments .modal-head[data-v-69a49ca0] {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#em-attachments .modal-head .pagination[data-v-69a49ca0] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#em-attachments .modal-body[data-v-69a49ca0] {
  height: 100%;
  width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
