/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/editor.vue?vue&type=style&index=0&id=18686cfd&scoped=true&lang=css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.menubar[data-v-18686cfd],
.editor__content[data-v-18686cfd] {
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.editor__content[data-v-18686cfd] {
  padding: 10px;
}
.menubar .menubar__button[data-v-18686cfd] {
  background-color: rgb(240, 240, 240);;
  margin-top: 10px;
}
.menubar__button svg[data-v-18686cfd]{
  padding: 5px;
  height: 30px;
  width: 30px;
}
.menubar__button svg[data-v-18686cfd]:hover, .heading strong[data-v-18686cfd]:hover{
  background: #cecece78;
  border-radius: 4px;
  color: black;
  fill: black;
}
div.forms-emails-editor .menubar[data-v-18686cfd] {
  margin-left: 1px;
}
.menubar[data-v-18686cfd] {
  margin-top: -1px;
  background-color: rgb(240, 240, 240);
}
.redo[data-v-18686cfd], .underline[data-v-18686cfd], .paragraph[data-v-18686cfd], .heading-3-toolbar[data-v-18686cfd], .ordered-list[data-v-18686cfd], .code-block[data-v-18686cfd]{
    margin-right: 15px;
}
.redo[data-v-18686cfd]:after, .underline[data-v-18686cfd]:after, .paragraph[data-v-18686cfd]:after, .heading-3-toolbar[data-v-18686cfd]:after, .ordered-list[data-v-18686cfd]:after, .code-block[data-v-18686cfd]:after{
    content: '';
    height: 25px;
    width: 1px;
    position: absolute;
    background: #000;
    margin-left: 15px;
}
.heading[data-v-18686cfd]{
    position: relative;
    top: -18px;
}
.heading strong[data-v-18686cfd]{
    position: relative;
    top: 5px;
    padding: 5px;
}
.is-active svg[data-v-18686cfd], .is-active strong[data-v-18686cfd]{
    background: #151931;
    border-radius: 4px;
    color: white;
    fill: white
}
.menububble[data-v-18686cfd]{
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    padding: 5px;
    background: #484444;
    border-radius: 4px;
}
.menububble__button[data-v-18686cfd]{
    background: #484444;
    color: white;
    fill: white;
    vertical-align: middle;
}
.menububble__button svg[data-v-18686cfd]{
  padding: 5px;
  height: 30px;
  width: 30px;
}
.menububble__button svg[data-v-18686cfd]:hover{
  background: #cecece78;
  border-radius: 4px;
  color: black;
  fill: black;
}
.bubble-active[data-v-18686cfd]{
    opacity: 1 !important;
}
.mce-content-body[data-mce-placeholder][data-v-18686cfd]:not(.mce-visualblocks)::before{
  opacity: 0.5;
  color: #1B1F3C !important;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/autocomplete.vue?vue&type=style&index=0&id=8351e810&scoped=true&lang=css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.autocomplete[data-v-8351e810] {
  position: relative;
  min-height: 50px;
  width: 100%;
  display: block;
  height: 50px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}
.autocomplete input[data-v-8351e810] {
	height: 50px;
	margin-bottom: 0px;
}
.autocomplete-results[data-v-8351e810] {
  padding: 0;
  margin: 0;
  border: 1px solid #eeeeee;
  overflow: auto;
  background-color: white;
  position: relative;
  z-index: 10;
}
.autocomplete-result[data-v-8351e810] {
  list-style: none;
  text-align: left;
  padding: 16px 6px;
  cursor: pointer;
}
.autocomplete-result.is-active[data-v-8351e810],
.autocomplete-result[data-v-8351e810]:hover {
  background-color: #1B1F3C;
  color: white;
}

/*!*********************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!./src/assets/css/date-time.css ***!
  \*********************************************************************************************************************************************************************************************************************************/
.vdatetime-fade-enter-active,
.vdatetime-fade-leave-active {
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.vdatetime-fade-enter,
.vdatetime-fade-leave-to {
  opacity: 0;
}
.vdatetime-overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.vdatetime-popup {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 340px;
  max-width: calc(100% - 30px);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  color: #444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.18;
  background: #fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.vdatetime-popup * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.vdatetime-popup__header {
  padding: 18px 30px;
  background: #20835F;
  color: #fff;
  font-size: 32px;
}
.vdatetime-popup__title {
  margin-bottom: 8px;
  font-size: 21px;
  font-weight: 300;
}
.vdatetime-popup__year {
  font-weight: 300;
  font-size: 14px;
  opacity: 0.7;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.vdatetime-popup__year:hover {
  opacity: 1;
}
.vdatetime-popup__date {
  line-height: 1;
  cursor: pointer;
}
.vdatetime-popup__actions {
  padding: 0 20px 10px 30px;
  text-align: right;
}
.vdatetime-popup__actions__button {
  display: inline-block;
  border: none;
  padding: 10px 20px;
  background: transparent;
  font-size: 16px;
  color: #20835F;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.vdatetime-popup__actions__button:hover {
  color: #444;
}
.vdatetime-calendar__navigation--previous:hover svg path,
.vdatetime-calendar__navigation--next:hover svg path {
  stroke: #888;
}
.vdatetime-calendar__navigation,
.vdatetime-calendar__navigation * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.vdatetime-calendar__navigation {
  position: relative;
  margin: 15px 0;
  padding: 0 30px;
  width: 100%;
}
.vdatetime-calendar__navigation--previous,
.vdatetime-calendar__navigation--next {
  position: absolute;
  top: 0;
  padding: 0 5px;
  width: 18px;
  cursor: pointer;
}
.vdatetime-calendar__navigation--previous svg,
.vdatetime-calendar__navigation--next svg {
  width: 8px;
  height: 13px;
}
.vdatetime-calendar__navigation--previous svg path,
.vdatetime-calendar__navigation--next svg path {
  -webkit-transition: stroke 0.3s;
  transition: stroke 0.3s;
}
.vdatetime-calendar__navigation--previous {
  left: 25px;
}
.vdatetime-calendar__navigation--next {
  right: 25px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.vdatetime-calendar__current--month {
  text-align: center;
  text-transform: capitalize;
}
.vdatetime-calendar__month {
  padding: 0 20px;
  -webkit-transition: height 0.2s;
  transition: height 0.2s;
}
.vdatetime-calendar__month__weekday,
.vdatetime-calendar__month__day {
  display: inline-block;
  width: 14.28571%;
  line-height: 36px;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
}
.vdatetime-calendar__month__weekday > span,
.vdatetime-calendar__month__day > span {
  display: block;
  width: 100%;
  position: relative;
  height: 0;
  padding: 0 0 100%;
  overflow: hidden;
}
.vdatetime-calendar__month__weekday > span > span,
.vdatetime-calendar__month__day > span > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.vdatetime-calendar__month__weekday {
  font-weight: bold;
}
.vdatetime-calendar__month__day:hover > span > span {
  background: #eee;
}
.vdatetime-calendar__month__day--selected {
}
.vdatetime-calendar__month__day--selected > span > span,
.vdatetime-calendar__month__day--selected:hover > span > span {
  color: #fff;
  background: #20835F;
}
.vdatetime-calendar__month__day--disabled {
  opacity: 0.4;
  cursor: default;
}
.vdatetime-calendar__month__day--disabled:hover > span > span {
  color: inherit;
  background: transparent;
}
.vdatetime-time-picker__list::-webkit-scrollbar-thumb {
  background: #ccc;
}
.vdatetime-time-picker__list::-webkit-scrollbar-track {
  background: #efefef;
}
.vdatetime-time-picker * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.vdatetime-time-picker {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.vdatetime-time-picker::after {
  content: "";
  display: table;
  clear: both;
}
.vdatetime-time-picker__list {
  float: left;
  width: 50%;
  height: 305px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.vdatetime-time-picker__list::-webkit-scrollbar {
  width: 3px;
}
.vdatetime-time-picker__with-suffix .vdatetime-time-picker__list {
  width: 33.3%;
}
.vdatetime-time-picker__item {
  padding: 10px 0;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
}
.vdatetime-time-picker__item:hover {
  font-size: 32px;
}
.vdatetime-time-picker__item--selected {
  color: #20835F;
  font-size: 32px;
}
.vdatetime-time-picker__item--disabled {
  opacity: 0.4;
  cursor: default;
  font-size: 20px !important;
}
.vdatetime-year-picker__list::-webkit-scrollbar-thumb {
  background: #ccc;
}
.vdatetime-year-picker__list::-webkit-scrollbar-track {
  background: #efefef;
}
.vdatetime-year-picker * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.vdatetime-year-picker {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.vdatetime-year-picker::after {
  content: "";
  display: table;
  clear: both;
}
.vdatetime-year-picker__list {
  float: left;
  width: 100%;
  height: 305px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.vdatetime-year-picker__list::-webkit-scrollbar {
  width: 3px;
}
.vdatetime-year-picker__item {
  padding: 10px 0;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
}
.vdatetime-year-picker__item:hover {
  font-size: 32px;
}
.vdatetime-year-picker__item--selected {
  color: #20835F;
  font-size: 32px;
}
.vdatetime-year-picker__item--disabled {
  opacity: 0.4;
  cursor: default;
}
.vdatetime-year-picker__item--disabled:hover {
  color: inherit;
  background: transparent;
}
.vdatetime-month-picker__list::-webkit-scrollbar-thumb {
  background: #ccc;
}
.vdatetime-month-picker__list::-webkit-scrollbar-track {
  background: #efefef;
}
.vdatetime-month-picker * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.vdatetime-month-picker {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.vdatetime-month-picker::after {
  content: "";
  display: table;
  clear: both;
}
.vdatetime-month-picker__list {
  float: left;
  width: 100%;
  height: 305px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.vdatetime-month-picker__list::-webkit-scrollbar {
  width: 3px;
}
.vdatetime-month-picker__item {
  padding: 10px 0;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
}
.vdatetime-month-picker__item:hover {
  font-size: 32px;
}
.vdatetime-month-picker__item--selected {
  color: #20835F;
  font-size: 32px;
}
.vdatetime-month-picker__item--disabled {
  opacity: 0.4;
  cursor: default;
}
.vdatetime-month-picker__item--disabled:hover {
  color: inherit;
  background: transparent;
}
.vdatetime-input::-webkit-input-placeholder {
  color: #9b9b9b;
}
.vdatetime-input::-moz-placeholder {
  color: #9b9b9b;
}
.vdatetime-input:-ms-input-placeholder {
  color: #9b9b9b;
}
.vdatetime-input::-ms-input-placeholder {
  color: #9b9b9b;
}
.vdatetime-input::placeholder {
  color: #9b9b9b;
}
.vdatetime-input{
  width: 100%;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/views/addCampaign.vue?vue&type=style&index=0&id=5fa987b2&scoped=true&lang=css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.campaigns__add-campaign[data-v-5fa987b2]{
  width: 75rem;
}
#add-program[data-v-5fa987b2]{
  height: 24px;
  width: 24px;
  padding: unset;
}
#campResume[data-v-5fa987b2] {
  height: 85px !important;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/views/addEmail.vue?vue&type=style&index=0&id=bf5bafd6&scoped=true&lang=css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.emails__add-email[data-v-bf5bafd6]{
  width: calc(100% - 75px) !important;
  margin-left: auto;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/AdvancedModals/ModalWarningFormBuilder.vue?vue&type=style&index=0&id=c6ef7d9e&scoped=true&lang=css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.modalC-content[data-v-c6ef7d9e]{
  margin-top: 0;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/Form/FormCarrousel.vue?vue&type=style&index=0&id=4a2f1712&scoped=true&lang=css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.MenuFormItem_current[data-v-4a2f1712]{
  color: #20835F;
}
.MenuForm a[data-v-4a2f1712]:hover{
  color: #1C6EF2;
}
.vertical-divider[data-v-4a2f1712]{
  height: 50vh;
  border-right: solid 1px #cecece;
  margin: 12px 16px !important;
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/FunnelFormulaire/addFormulaire.vue?vue&type=style&index=0&id=72cb95a4&scoped=true&lang=css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

#select_profile[data-v-72cb95a4]{
  width: 23%;
  margin-right: 10px;
  height: 50px;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/formClean/Modal.vue?vue&type=style&index=0&id=6e727c83&scoped=true&lang=css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.check[data-v-6e727c83]{
  width: 100%;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/Form/FormViewerEvaluation.vue?vue&type=style&index=0&id=3939bddd&scoped=true&lang=css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.hidden[data-v-3939bddd] {
    display: none;
}
.FormViewer[data-v-3939bddd] {
    padding: 0 1%;
    border-radius: 5px;
    margin-top: 5em;
}
.loading-form[data-v-3939bddd]{
    top: 10vh;
}
.group-action-menu[data-v-3939bddd]{
    position: fixed;
    margin-left: -5%;
    border: 1px solid #cecece;
    border-radius: 25px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
}
.add-element[data-v-3939bddd],.edit-group[data-v-3939bddd],.delete-group[data-v-3939bddd]{
    height: 18px;
    width: 18px;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
}
.toggle[data-v-3939bddd]{
    width: 30px;
    height: 17px;
    background-color: #fff;
    -webkit-box-shadow: 0 0.9px 9.6px rgba(0, 0, 0, 0.02), 0 3.9px 22.8px rgba(0, 0, 0, 0.028), 0 9.9px 38.4px rgba(0, 0, 0, 0.035), 0 21.6px 54.2px rgba(0, 0, 0, 0.042), 0 45px 68.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
            box-shadow: 0 0.9px 9.6px rgba(0, 0, 0, 0.02), 0 3.9px 22.8px rgba(0, 0, 0, 0.028), 0 9.9px 38.4px rgba(0, 0, 0, 0.035), 0 21.6px 54.2px rgba(0, 0, 0, 0.042), 0 45px 68.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
}
.switch[data-v-3939bddd]{
    width: 13px;
    background-color: #de6339;
}
.check:checked ~ .switch[data-v-3939bddd]{
    left: 15px;
    background-color: #fff;
}
.check:checked ~ .track[data-v-3939bddd]{
    -webkit-box-shadow: inset 0 0 0 20px #de6339;
            box-shadow: inset 0 0 0 20px #de6339;
}
.dropdown-toggle-plugin[data-v-3939bddd]{
    width: 30%;
    margin-left: 2em;
    height: 33px;
}
.icon-handle[data-v-3939bddd]{
    color: #cecece;
    position: absolute;
    cursor: -webkit-grab;
    cursor: grab;
    left: 3em;
    margin-bottom: 10px;
}
.icon-handle-group[data-v-3939bddd]{
    color: #cecece;
    position: absolute;
    cursor: -webkit-grab;
    cursor: grab;
    left: 10px;
    margin-bottom: 0;
}
.icon-handle-unpublished[data-v-3939bddd]{
    color: #cecece;
    position: absolute;
    cursor: -webkit-grab;
    cursor: grab;
    left: 1em;
    margin-bottom: 10px;
}
.fa-pencil-alt[data-v-3939bddd]{
    margin-top: 0.5em;
    color: #de6339;
    cursor: pointer;
}
.plugin-link[data-v-3939bddd]{
    padding: 10px;
}

/*!************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!./src/assets/css/formbuilder.scss ***!
  \************************************************************************************************************************************************************************************************************************************/
.page-header h1 {
  margin-top: 50px !important;
  margin-bottom: 30px !important;
}
.fabrikForm {
  margin-top: 0 !important;
  overflow: visible;
}
.fabrikGroup {
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px !important;
  padding: 20px;
  margin-top: 20px;
}
.fabrikForm fieldset {
  position: relative;
}
legend {
  margin: 10px 0 20px 0 !important;
}
.fabrikForm fieldset > .row-fluid{
  padding: 5px 30px;
}
.fabrikLabel {
  margin-top: 10px;
}
.row-fluid .control-group.fabrikElementContainer label.fabrikLabel.control-label.fabrikTip i.icon-star.small {
  top: -5px;
}
.icon-star.small {
  margin-top: 0px;
  padding-top: 0px;
  position: relative;
  padding-left: 2px;
  color: #c30505;
  font-size: 5px;
}
.fabrikForm input[type="text"], .fabrikForm input[type="tel"], .fabrikForm input[type="number"], .fabrikForm textarea, .fabrikForm input[type="email"], .fabrikForm select {
  border-radius: 4px !important;
  height: 50px !important;
  margin-bottom: 0 !important;
}
.fabrikSubElementContainer fieldset.btn-group {
  width: 100px !important;
  height: 38px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.fabrikSubElementContainer fieldset.btn-group label {
  height: 38px !important;
  display: block !important;
  width: 50% !important;
  color: black !important;
  border: solid 1px #E3E5E8;
  background: #E3E5E8;
}
.fabrikSubElementContainer fieldset.btn-group .fabrikgrid_0{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.fabrikSubElementContainer fieldset.btn-group .fabrikgrid_1{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.fabrikSubElementContainer fieldset.btn-group label span{
  color: black !important;
  width: 100% !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 100% !important;
  background: transparent !important;
  font-size: 16px !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}
.fabrikSubElementContainer .radio{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fabrikSubElementContainer .radio input{
  width: 16px !important;
  height: 16px !important;
}
.fabrikSubElementContainer .radio span{
    margin-top: 0 !important;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/views/addFormNextCampaign.vue?vue&type=style&index=0&id=4e57a09e&scoped=true&lang=css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.w--current[data-v-4e57a09e]{
  border: solid 1px #eeeeee;
  background: #eeeeee;
}
.w--current[data-v-4e57a09e]:hover{
  color: #20835F;
}
.em-pointer[data-v-4e57a09e]:hover{
  color: #20835F;
}
.em-w-custom[data-v-4e57a09e] {
  width: calc(100% - 75px) !important;
  margin-left: auto;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/formClean/Builder.vue?vue&type=style&index=0&id=01fdd2f1&scoped=true&lang=css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

#FormBuilder[data-v-01fdd2f1]{
    margin-bottom: unset !important;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/formClean/ModalSide.vue?vue&type=style&index=0&id=120d660c&scoped=true&lang=css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

#template_checkbox input[data-v-120d660c]{
  margin: 0 !important;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/formClean/ModalAffectCampaign.vue?vue&type=style&index=0&id=5682ae28&scoped=true&lang=css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.modalC-content[data-v-5682ae28] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 15px;
  overflow: auto;
}
.topright[data-v-5682ae28] {
  font-size: 25px;
  float: right;
}
.btnCloseModal[data-v-5682ae28] {
  background-color: inherit;
}
.update-field-header[data-v-5682ae28]{
  margin-bottom: 1em;
}
.update-title-header[data-v-5682ae28]{
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user-item[data-v-5682ae28]{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}
.bigbox[data-v-5682ae28]{
  height: 30px !important;
  width: 30px !important;
  cursor: pointer;
}
.campaigns-list[data-v-5682ae28]{
  max-height: 50vh;
  margin-top: 15%;
}
.wrap[data-v-5682ae28]{
  position: fixed;
  width: 22%;
}
.searchButton[data-v-5682ae28]{
  height: 50px;
  background: transparent;
  margin-left: 12px;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/Settings/FilesTool/EditTags.vue?vue&type=style&index=0&id=051286cf&scoped=true&lang=css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.status-field[data-v-051286cf]{
  border-radius: 5px;
  width: 100%;
  margin-right: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.status-item[data-v-051286cf]{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 95%;
  width: 100%;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/Settings/FilesTool/EditApplicants.vue?vue&type=style&index=0&id=0ea7cc32&scoped=true&lang=css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.form-group label[data-v-0ea7cc32]{
  width: 100%;
}
.dropdown-toggle[data-v-0ea7cc32]{
  width: 30%;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/AdvancedModals/ModalUpdateColors.vue?vue&type=style&index=0&id=49eaa34f&scoped=true&lang=css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.fa-file-image[data-v-49eaa34f]{
    font-size: 25px;
    margin-right: 20px;
}
.preset-presentation[data-v-49eaa34f]{
    height: 100px;
    margin: 30px;
    border-radius: 25px;
    cursor: pointer;
}
.preset-presentation[data-v-49eaa34f]:hover{
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}
.modalC-content[data-v-49eaa34f]{
    margin-top: 20%;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/Settings/Style/General.vue?vue&type=style&index=0&id=5900c88e&scoped=true&lang=css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.color-preset[data-v-5900c88e]{
  height: 50px;
  border-radius: 50%;
  width: 50px;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/Settings/AttachmentStorage/Tree.vue?vue&type=style&index=0&id=6b9378a1&scoped=true&lang=css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.em-level-1[data-v-6b9378a1]{
  margin-left: 16px;
}
.em-level-2[data-v-6b9378a1]{
  margin-left: 24px;
}
.em-level-3[data-v-6b9378a1]{
  margin-left: 32px;
}
.em-level-4[data-v-6b9378a1]{
  margin-left: 40px;
}
.em-level-5[data-v-6b9378a1]{
  margin-left: 48px;
}
.em-clear-dropdown[data-v-6b9378a1]{
  border: unset;
  height: auto;
}
.em-clear-dropdown[data-v-6b9378a1]:focus{
  outline: unset;
  background: #E3E5E8;
}
.em-xs-input[data-v-6b9378a1]{
  height: 25px;
  border-width: 0;
  width: auto;
}
.em-xs-input[data-v-6b9378a1]:focus{
  border-width: 1px;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/Settings/AttachmentStorage/FilesName.vue?vue&type=style&index=0&id=1efe80af&scoped=true&lang=css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.em-name-preview[data-v-1efe80af]{
  background: rgba(121, 182, 251, 0.25);
  padding: 16px 8px;
  border-radius: 4px;
}
.em-name-preview-error[data-v-1efe80af]{
  background: rgba(255, 121, 121, 0.25);
}
.multiselect[data-v-1efe80af]{
  width: 20%;
}
.em-tag-preview[data-v-1efe80af]{
  padding: 16px;
  background: rgba(121,182,251,.25);
  border-radius: 4px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.em-separator[data-v-1efe80af]{
  border-radius: 4px;
  padding: 4px 8px;
  background: #cecece;
  height: auto;
}
.em-selected-separator[data-v-1efe80af]{
  background: rgba(121,182,251,.25);
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/Settings/AttachmentStorage/Configuration.vue?vue&type=style&index=0&id=b3da58fa&scoped=true&lang=css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.w--current[data-v-b3da58fa]{
  border: solid 1px #eeeeee;
  background: #eeeeee;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/Settings/AttachmentStorage/GED/AttachmentAspectsMapping.vue?vue&type=style&index=0&id=3643f382&lang=css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

#default-aspects-toggle label {
  margin: 0 0 0 10px;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/Settings/AttachmentStorage/Storage.vue?vue&type=style&index=0&id=db0e1b70&scoped=true&lang=css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

table[data-v-db0e1b70]{
  border: unset;
}
th[data-v-db0e1b70]{
  background: unset;
  border-bottom: 2px solid #ddd;
  border-top: unset;
  border-right: unset;
  border-left: unset;
}
td[data-v-db0e1b70]{
  border-bottom: 1px solid #ddd;
  border-top: unset;
  border-right: unset;
  border-left: unset;
  padding-bottom: 16px;
  padding-top: 16px;
}
.em-clear-dropdown[data-v-db0e1b70]{
  border: unset;
  height: auto;
}
.em-clear-dropdown[data-v-db0e1b70]:focus{
  outline: unset;
  background: #E3E5E8;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/views/globalSettings.vue?vue&type=style&index=0&id=2fcc0280&scoped=true&lang=css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.em-hover-s-scale[data-v-2fcc0280]{
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.em-hover-s-scale[data-v-2fcc0280]:hover{
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/Messages/modals/AttachDocument.vue?vue&type=style&index=0&id=47070716&scoped=true&lang=css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.messages__send_button[data-v-47070716]{
  margin: 20px 0;
  float: right;
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/Messages/MessagesCoordinator.vue?vue&type=style&index=0&id=e86826de&lang=css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.messages__vue_attach_document{
  width: 100%;
  position: absolute;
  background: #f8f8f8;
  bottom: 120px;
}
.messages__list-block{
  padding: 0px 55px;
}
.messages__attach_content {
  padding: 0 70px;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/Users/ProfilePicture.vue?vue&type=style&index=0&id=1e84e84c&lang=css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.em-h3 {
   font-weight: 600 !important;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/Users/Elements/radiobutton.vue?vue&type=style&index=0&id=2e057fcc&scoped=true&lang=css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

input.em-input.em-h-40[data-v-2e057fcc]{
  height: 40px;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/Users/Elements/checkbox.vue?vue&type=style&index=0&id=8b3d6d18&scoped=true&lang=css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

input.em-input.em-h-40[data-v-8b3d6d18]{
  height: 40px;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/Users/Section.vue?vue&type=style&index=0&id=22236284&scoped=true&lang=css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.fabrikGroup[data-v-22236284] {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
legend[data-v-22236284] {
font-weight: 600;
}


/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/Users/Attachments.vue?vue&type=style&index=0&id=36557589&scoped=true&lang=css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.material-icons.em-material-icons-download[data-v-36557589]{
  font-size: 24px !important;
}
.fabrikGroup[data-v-36557589] {
 margin-bottom: 0 !important;
 margin-top: 0 !important;
}
legend[data-v-36557589] {
  font-weight: 600;
}
.fabrikLabel[data-v-36557589], .em-label[data-v-36557589] {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 19px;
  letter-spacing: 0.0015em;
  text-align: left;
  color: #2B2B2B !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
}
.em-help-text[data-v-36557589] {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.0025em;
  text-align: left;
  color: #727272;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
}
.em-expires-text[data-v-36557589] {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.0025em;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
}


/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??clonedRuleSet-12.use[1]!../node_modules/vue-loader/dist/stylePostLoader.js!../node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12.use[2]!../node_modules/vue-loader/dist/index.js??ruleSet[0].use[0]!./src/components/Users/Form.vue?vue&type=style&index=0&id=fe12b58a&scoped=true&lang=css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

.fabrikGroup[data-v-fe12b58a] {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
.em-form[data-v-fe12b58a] {
  margin-top: 0 !important;
}
legend[data-v-fe12b58a] {
  font-weight: 600;
}


