#em-attachment-preview[data-v-20d71aa5] {
  width: 60%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
#em-attachment-preview #attachment-preview[data-v-20d71aa5] {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--grey-bg-color);
}
#em-attachment-preview #attachment-preview.overflow-x[data-v-20d71aa5] {
  overflow-x: auto;
}
#em-attachment-preview #attachment-preview.overflow-y[data-v-20d71aa5] {
  overflow-y: auto;
}
#em-attachment-preview #msg[data-v-20d71aa5] {
  position: absolute;
  top: 20px;
  left: 8px;
  padding: 16px;
  width: calc(100% - 26px);
  background-color: var(--warning-bg-color);
  color: var(--warning-color);
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#em-attachment-preview #msg.active[data-v-20d71aa5] {
  opacity: 1;
  z-index: 2;
}
#attachment-edit[data-v-fb825d06] {
  padding: 16px 16px 16px 10px;
  height: 100%;
  width: 40%;
  float: right;
  border-left: 1px solid var(--border-color);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#attachment-edit .error[data-v-fb825d06] {
  position: absolute;
  margin: 10px 10px;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  background-color: var(--error-bg-color);
  color: var(--error-color);
  font-size: 1.2em;
  padding: 16px;
}
#attachment-edit .wrapper[data-v-fb825d06] {
  width: 100%;
  height: 100%;
}
#attachment-edit .wrapper .title[data-v-fb825d06] {
  margin-bottom: 16px;
}
#attachment-edit .editable-data[data-v-fb825d06] {
  width: 100%;
  overflow: hidden;
}
#attachment-edit .editable-data h2[data-v-fb825d06] {
  text-overflow: ellipsis;
  overflow: hidden;
}
#attachment-edit .editable-data label[data-v-fb825d06] {
  font-size: 10px;
  font-weight: 400 !important;
  color: var(--grey-color);
}
#attachment-edit .editable-data textarea[data-v-fb825d06] {
  border-radius: 0;
  border-color: transparent;
  background-color: var(--grey-bg-color);
}
#attachment-edit .editable-data textarea[data-v-fb825d06]:hover, #attachment-edit .editable-data textarea[data-v-fb825d06]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
#attachment-edit .editable-data select[data-v-fb825d06] {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 16px 8px;
  border-radius: 0;
}
#attachment-edit .non-editable-data[data-v-fb825d06] {
  width: 100%;
  margin-top: 16px;
}
#attachment-edit .non-editable-data div[data-v-fb825d06] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding: 8px 0;
}
#attachment-edit .non-editable-data div span[data-v-fb825d06]:first-of-type {
  color: var(--grey-color);
}
#attachment-edit .non-editable-data div[data-v-fb825d06]:last-child {
  border-bottom: none;
}
#attachment-edit .actions[data-v-fb825d06] {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
#attachment-edit .actions button[data-v-fb825d06] {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 8px 12px;
}
#attachment-edit .actions button[data-v-fb825d06]:last-of-type {
  margin-left: 10px;
}
#attachment-edit .input-group[data-v-fb825d06] {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.attachment-row {
  border-bottom: 1px solid #e0e0e0;
}
.attachment-row:hover:not(.checked) {
  background-color: #f2f2f3;
}
.attachment-row.checked {
  background-color: #f0f6fd;
}
.attachment-row .valid-state select {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--grey-bg-color);
  color: var(--grey-color);
  border: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.attachment-row .valid-state select::-ms-expand {
  display: none !important;
}
.attachment-row .valid-state.warning select {
  color: var(--warning-color);
  background-color: var(--warning-bg-color);
}
.attachment-row .valid-state.success select {
  color: var(--success-color);
  background-color: var(--success-bg-color);
}
.attachment-row .valid-state.error select {
  color: var(--error-color);
  background-color: var(--error-bg-color);
}
.attachment-row .permissions .material-icons {
  margin: 0 10px;
  cursor: pointer;
  opacity: 0.3;
}
.attachment-row .permissions .material-icons.active {
  opacity: 1;
}
.attachment-row .td-document {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.attachment-row .td-document .warning.file-not-found {
  color: var(--error-color);
  -webkit-transform: translate(10px, 3px);
          transform: translate(10px, 3px);
}
#em-attachments[data-v-30bae934] {
  font-size: 14px;
}
#em-attachments .head[data-v-30bae934] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1px;
  padding: 10px;
  min-height: 50px;
  background-color: var(--primary-color);
}
#em-attachments .head .displayed-user[data-v-30bae934] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
#em-attachments .head .displayed-user p[data-v-30bae934] {
  color: var(--text-light-color);
}
#em-attachments .head .displayed-user .name[data-v-30bae934] {
  font-size: 18px;
  font-weight: 800;
  line-height: 23px;
}
#em-attachments .head .displayed-user .email[data-v-30bae934] {
  margin-left: 8px !important;
  font-size: 12px;
}
#em-attachments .head .prev-next-files[data-v-30bae934] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
}
#em-attachments .head .prev-next-files > div[data-v-30bae934] {
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#em-attachments .head .prev-next-files > div i[data-v-30bae934] {
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}
#em-attachments .head .prev-next-files > div.active[data-v-30bae934] {
  color: var(--text-light-color);
  pointer-events: auto;
  cursor: pointer;
}
#em-attachments .head .prev-next-files > div[data-v-30bae934]:hover {
  border-radius: 4px;
  background-color: var(--text-light-color);
  color: var(--primary-color);
}
#em-attachments #filters[data-v-30bae934] {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#em-attachments #filters .searchbar-wrapper[data-v-30bae934] {
  position: relative;
}
#em-attachments #filters .searchbar-wrapper .material-icons.search[data-v-30bae934] {
  position: absolute;
  top: 11px;
  left: 18px;
}
#em-attachments #filters .searchbar-wrapper .material-icons.clear[data-v-30bae934] {
  position: absolute;
  top: 11px;
  right: 10px;
  cursor: pointer;
}
#em-attachments #filters .searchbar-wrapper #searchbar[data-v-30bae934] {
  padding-left: 40px;
  height: 40px;
  border: 1px solid var(--border-color);
}
#em-attachments #filters .actions[data-v-30bae934] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#em-attachments #filters .actions .export[data-v-30bae934] {
  margin-right: 8px;
}
#em-attachments #filters .actions select[data-v-30bae934] {
  height: 37px;
  border: 1px solid var(--border-color);
}
#em-attachments #filters .actions > div[data-v-30bae934],
#em-attachments #filters .actions > select[data-v-30bae934] {
  margin-right: 8px;
}
#em-attachments #filters .actions > div.disabled[data-v-30bae934],
#em-attachments #filters .actions > select.disabled[data-v-30bae934] {
  color: var(--disabled-color);
  pointer-events: none;
}
#em-attachments #filters .actions > div.disabled .material-icons[data-v-30bae934],
#em-attachments #filters .actions > select.disabled .material-icons[data-v-30bae934] {
  color: var(--disabled-color);
}
#em-attachments #filters .refresh[data-v-30bae934] {
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  cursor: pointer;
  margin: 0 0 0 8px;
}
#em-attachments #filters .refresh[data-v-30bae934]:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: var(--primary-color);
}
#em-attachments #filters input[data-v-30bae934] {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 221px;
}
#em-attachments .wrapper[data-v-30bae934] {
  margin: 20px;
  width: calc(100% - 40px);
}
#em-attachments .wrapper.loading[data-v-30bae934] {
  min-height: 50vh;
}
#em-attachments .wrapper .material-icons.delete[data-v-30bae934] {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 30px;
  color: var(--grey-color);
}
#em-attachments .wrapper .material-icons.delete.disabled[data-v-30bae934] {
  color: var(--disabled-color);
  pointer-events: none;
}
#em-attachments .wrapper .material-icons.delete[data-v-30bae934]:hover {
  cursor: pointer;
  color: var(--error-color);
}
#em-attachments .table-wrapper[data-v-30bae934] {
  width: 100%;
  overflow-x: scroll;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
#em-attachments table[data-v-30bae934] {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  border: 0;
}
#em-attachments table.loading[data-v-30bae934] {
  visibility: hidden;
}
#em-attachments table tr th[data-v-30bae934]:first-of-type {
  width: 39px;
}
#em-attachments table tr th:first-of-type input[data-v-30bae934] {
  margin-right: 0px;
}
#em-attachments table tr[data-v-30bae934],
#em-attachments table th[data-v-30bae934] {
  height: 49px;
  background: transparent;
  background-color: transparent;
}
#em-attachments table td[data-v-30bae934],
#em-attachments table th[data-v-30bae934] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#em-attachments table th.desc[data-v-30bae934],
#em-attachments table td.desc[data-v-30bae934] {
  max-width: 250px;
  width: initial;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#em-attachments table th.status[data-v-30bae934],
#em-attachments table td.status[data-v-30bae934] {
  min-width: 100px;
  white-space: nowrap;
}
#em-attachments table thead tr th[data-v-30bae934] {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  white-space: nowrap;
}
#em-attachments table thead tr th .material-icons[data-v-30bae934] {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}
#em-attachments table .attachment-check[data-v-30bae934] {
  width: 15px;
  height: 15px;
  border-radius: 0px;
}
#em-attachments .modal-head[data-v-30bae934] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  border-bottom: 1px solid var(--border-color);
}
#em-attachments .modal-head .flex-start[data-v-30bae934] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#em-attachments .modal-head .flex-start span[data-v-30bae934]:first-child {
  margin: 0 8px 0 20px;
  cursor: pointer;
}
#em-attachments .modal-head .flex-end[data-v-30bae934] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#em-attachments .modal-head .flex-end .download[data-v-30bae934] {
  height: 32px;
  margin-right: 24px;
  color: black;
}
#em-attachments .modal-head .flex-end .download .material-icons[data-v-30bae934] {
  font-size: 18px;
}
#em-attachments .modal-head .flex-end .download span[data-v-30bae934]:last-child {
  margin-top: -1px;
  margin-left: 4px;
}
#em-attachments .modal-head .flex-end .prev-next-attachments[data-v-30bae934] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 8px 0 0;
}
#em-attachments .modal-head .flex-end .prev-next-attachments .lvl[data-v-30bae934] {
  padding: 6px 8px 7px 8px;
  background-color: var(--grey-bg-color);
}
#em-attachments .modal-head .flex-end .prev-next-attachments .prev[data-v-30bae934] {
  margin-right: 4px;
  border-radius: 4px 0px 0px 4px;
}
#em-attachments .modal-head .flex-end .prev-next-attachments .next[data-v-30bae934] {
  margin-left: 4px;
  border-radius: 0px 4px 4px 0px;
}
#em-attachments .modal-head .flex-end .prev-next-attachments .prev[data-v-30bae934],
#em-attachments .modal-head .flex-end .prev-next-attachments .next[data-v-30bae934] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  height: 32px;
  width: 32px;
  background-color: var(--grey-bg-color);
}
#em-attachments .modal-head .flex-end .prev-next-attachments .prev span[data-v-30bae934],
#em-attachments .modal-head .flex-end .prev-next-attachments .next span[data-v-30bae934] {
  color: initial;
}
#em-attachments .modal-head .flex-end .prev-next-attachments .prev.active[data-v-30bae934],
#em-attachments .modal-head .flex-end .prev-next-attachments .next.active[data-v-30bae934] {
  pointer-events: auto;
  cursor: pointer;
}
#em-attachments .slide-fade-enter-active[data-v-30bae934] {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#em-attachments .slide-fade-leave-active[data-v-30bae934] {
  -webkit-transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}
#em-attachments .slide-fade-enter[data-v-30bae934] {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
#em-attachments .slide-fade-leave-to[data-v-30bae934] {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}
#em-attachments .slide-fade-reverse-enter-active[data-v-30bae934] {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#em-attachments .slide-fade-reverse-leave-active[data-v-30bae934] {
  -webkit-transition: all 0.5s cubic-bezier(1, 0.8, 0.5, 1);
  transition: all 0.5s cubic-bezier(1, 0.8, 0.5, 1);
}
#em-attachments .slide-fade-reverse-enter[data-v-30bae934] {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
#em-attachments .slide-fade-reverse-leave-to[data-v-30bae934] {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}
#em-attachments .modal-body[data-v-30bae934] {
  height: 100%;
  width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
:root {
  --primary-color: #16afe1;
  --secondary-color: #12db42;
  --grey-color: #5e646e;
  --grey-bg-color: #f2f2f3;
  --success-bg-color: #dff5e9;
  --success-color: #106949;
  --warning-bg-color: #fffbdb;
  --warning-color: #805100;
  --error-bg-color: #ffeeee;
  --error-color: #c31924;
  --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  --border-color: #e3e5e8;
  --text-color: #5e646e;
  --text-light-color: #f2f2f3;
  --disabled-color: #c4c4c4;
}
.material-icons {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 18px !important;
  color: var(--grey-color);
}
.btn-icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-icon-text:hover {
  background: var(--grey-bg-color);
}
.btn-primary-vue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--text-light-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-primary-vue:hover {
  color: var(--primary-color);
  background-color: var(--text-light-color);
}
.vue-em-loader {
  border: 5px solid #f3f3f4;
  border-top: 5px solid var(--primary-color);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  position: absolute !important;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 0 9999px #cecece85;
          box-shadow: 0 0 0 9999px #cecece85;
  background: #cecece85;
}
body ::-webkit-scrollbar-track {
  background-color: transparent !important;
  background: transparent;
}


