.folder-switch{
    font-size: 40px !important;
    color: #fff;
    margin: 0 !important;
}

.setting-switch{
    font-size: 40px !important;
    color: #1b1f3c;
    margin: 0 !important;
}

.switch-link{
    height: 64px;
    width: 64px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
}

.switch-link:hover{
    background: #de6339;
    border-radius: 5px;
}

.switch-link:focus{
    text-decoration: none;
}

 a.switch-link-setting .setting-switch.setting.open.icon {
    top: -14px;
    position: relative;
}

.switch-link-setting{
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
}

.switch-link-setting:hover{
    background: #1b1f3c;
    border-radius: 5px;
    text-decoration: none;
}

.switch-link-setting:focus{
    text-decoration: none;
}

.switch-link-setting:hover > .setting-switch{
    color: #fff;
}
