.sourcecoast.ns-bs5 .modal {
    position: fixed; /* Center modal screen */
    top: 50%; /* Center modal screen */
    left: 50%; /* Center modal screen */
    transform: translate(-50%, -50%); /* Center modal screen */
    z-index: 99999 !important;
    max-width: 600px;
    height: auto;
    width: 80%;
    margin-left: 0px;
}
.ns-bs5 .modal-content .modal-header {
    flex-direction: row; /* Joomla 4 inside modal-content class */
}

.ns-bs5 .modal-header {
    flex-direction: row-reverse; /* Joomla 3 not in modal-content class */
}

.sourcecoast.login.ns-bs5 .d-flex {
    flex-wrap: wrap;
}

.sourcecoast.facebook,
.sourcecoast.linkedin,
.sourcecoast.twitter,
.sourcecoast.google,
.sourcecoast.pinterest,
.sourcecoast.instagram,
.sourcecoast .facebook,
.sourcecoast .linkedin,
.sourcecoast .twitter,
.sourcecoast .google,
.sourcecoast .pinterest,
.sourcecoast .instagram{
    background:none;
}