.emundus_home_page a {
    opacity: 1;
}
.emundus_home_page a:hover {
    opacity: 1;
}
a.text {
    opacity: 1;
}
    /*Accueil connecté*/
.select select {
    border: 1px solid #999;
    color: #666;
}
.select select:hover, .select select:focus {
    background: #ddd;
}
.form-control:focus {
    border-color: #000;
    -webkit-box-shadow: none;
    box-shadow: none;
}
    /* Accueil Coordinateur */
.update {
    text-align: right;
    margin-top: 3rem;
}
#content-bottom-a .list-group a.btn.btn-success span::before {
    content: "\f067";
    font-family: FontAwesome;
    margin-right: 8px;
    font-weight: 400;
}
div#em-panel legend {
    color: #4E5B6D;
    font-size: 22px;
}
.candidacy-files-list h2::before {
    content: "\f07b";
    font-family: FontAwesome;
    margin-right: 10px;
}
div#em-panel legend a {
    display: none;
}
/* 3 Cercles Accueil Coordinateur */
div#em-panel .ui.grid {
    text-align: center;
}
.emundus_home_page .select_arrow {
    transform: translate(-50%, -50%) rotate(45deg);
    top: 42%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: 20px;
}
.emundus_home_page select#profile.form-control.form-control-sm {
    border: none;
    border-radius: 0px !important;
}
#em-panel.emundus_home_page p {
    text-align: left;
}