.emundus_home_page{ 
width:90%;
margin-left:5%;
text-align:center;
}
.emundus_home_page a {
    opacity: 0.7;
}
.emundus_home_page a:hover {
    opacity: 1;
}
a.text {
    opacity: 1;
}
.element_home_emundus a {
    color: #e03c32;
}
.element_home_emundus a:hover,
.element_home_emundus a:active,
.element_home_emundus a:focus,
.element_home_emundus a:focus-within {
    color: #e03c32;
}
i.inverted.bordered.blue.icon,
i.inverted.circular.blue.icon {
    background: #e03c32 !important;
    margin: 0 0 10px 0;
}
i.inverted.bordered.blue.icon:hover, i.inverted.bordered.blue.icon:focus, i.inverted.bordered.blue.icon:active,
i.inverted.circular.blue.icon:hover, i.inverted.circular.blue.icon:focus, i.inverted.circular.blue.icon:active {
    background: #b83229 !important;
}
/*Accueil connecté*/
.select select {
    border: 1px solid #999;
    color: #666;
}

.select select:hover, .select select:focus {
    background: #ddd;
}

.form-control:focus {
    border-color: #000;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Accueil Coordinateur */

.update {
    text-align: right;
    margin-top: 3rem;
}

#content-bottom-a .list-group a.btn.btn-success span::before {
    content: "\f067";
    font-family: FontAwesome;
    margin-right: 8px;
    font-weight: 400;
}

div#em-panel legend {
    color: #4E5B6D;
    font-size: 22px;
}

.candidacy-files-list h2::before {
    content: "\f07b";
    font-family: FontAwesome;
    margin-right: 10px;
}

div#em-panel legend a {
    display: none;
}

/* 3 Cercles Accueil Coordinateur */
div#em-panel .ui.grid {
    text-align: center;
}
.emundus_home_page .select_arrow {
    transform: translate(-50%, -50%) rotate(45deg);
    top: 42%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: 20px;
}

