.page-header h1 {
  margin-top: 50px !important;
  margin-bottom: 30px !important;
}
.fabrikForm {
  margin-top: 0 !important;
  overflow: visible;
}
.fabrikGroup {
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px !important;
  padding: 20px;
  margin-top: 20px;
}
.fabrikForm fieldset {
  position: relative;
}
legend {
  margin: 10px 0 20px 0 !important;
}
.fabrikForm fieldset > .row-fluid{
  padding: 5px 30px;
}
.fabrikLabel {
  margin-top: 10px;
}
.row-fluid .control-group.fabrikElementContainer label.fabrikLabel.control-label.fabrikTip i.icon-star.small {
  top: -5px;
}
.icon-star.small {
  margin-top: 0px;
  padding-top: 0px;
  position: relative;
  padding-left: 2px;
  color: #c30505;
  font-size: 5px;
}
.fabrikForm input[type="text"], .fabrikForm input[type="tel"], .fabrikForm input[type="number"], .fabrikForm textarea, .fabrikForm input[type="email"], .fabrikForm select {
  border-radius: 4px !important;
  height: 50px !important;
  margin-bottom: 0 !important;
}
