.row-fluid .control-group.fabrikElementContainer label.fabrikLabel.control-label.fabrikTip i.icon-star.small {
  top: -5px;
}

.icon-star.small {
  margin-top: 0px;
  padding-top: 0px;
  position: relative;
  padding-left: 2px;
  color: #c30505;
  font-size: 5px;
}
