:root {
  --primary-color: #16afe1;
  --secondary-color: #12db42;
  --grey-color: #5e646e;
  --grey-bg-color: #f2f2f3;
  --night-blue: #353544;
  --success-bg-color: #dff5e9;
  --success-color: #106949;
  --warning-bg-color: #fffbdb;
  --warning-color: #805100;
  --error-bg-color: #ffeeee;
  --error-color: #c31924;
  --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  --border-color: #e3e5e8;
  --text-color: #5e646e;
  --text-light-color: #f2f2f3;
  --disabled-color: #c4c4c4;
}

.material-icons, .material-icons-outlined {
  transition: all 0.3s;
  font-size: 18px;
  color: var(--grey-color);
}

.btn-icon-text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.btn-icon-text:hover {
  background: var(--grey-bg-color);
}

.btn-primary-vue {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--text-light-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  width: fit-content;
}

.btn-primary-vue:hover {
  color: var(--primary-color);
  background-color: var(--text-light-color);
}

.vue-em-loader {
  position: absolute !important;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 9999px #cecece85;
  background: #cecece85;
  width: 70px !important;
  height: 70px !important;
}

body ::-webkit-scrollbar-track {
  background-color: transparent !important;
  background: transparent;
}

.vue-swatches__wrapper {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  border: solid 2px #cecece;
  background: #cecece;
  border-radius: 5px;
  justify-content: center;
  margin-top: -8em;
  z-index: 999;
}

.vue-swatches__wrapper::after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #cecece;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0px;
}

.vue-swatches__trigger {
  cursor: pointer;
}

.vue-swatches__swatch {
  width: 25px !important;
  height: 25px !important;
  z-index: 9999;
  position: relative;
}

.vue-swatches__swatch:hover {
  transform: scale(1.2);
}

.vue-swatches__container {
  background: transparent !important;
  margin-bottom: unset !important;
  padding: unset !important;
}

.vue-swatches__check__wrapper {
  display: none;
}

.vue-notification-group {
  margin: 30px;
}

.vue-notification-template {
  background: #E3E5E8 !important;
  padding: 16px;
  border-radius: 4px;
}

.v-popover .trigger {
  display: flex !important;
  align-items: center;
}

