#modalAddTriggercandidate .vfm,
#modalAddTriggermanual .vfm,
span[id*='modalEmailPreview_'] .vfm,
#modalUpdateLogo .vfm,
#modalUpdateIcon .vfm,
#modalUpdateColors .vfm {
  padding: 32px !important;
}

#modalAddTriggercandidate .vfm__container,
#modalAddTriggermanual .vfm__container,
span[id*='modalEmailPreview_'] .vfm__container,
#modalUpdateLogo .vfm__container,
#modalUpdateIcon .vfm__container,
#modalUpdateColors .vfm__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#modalAddTriggercandidate .vfm__content,
#modalAddTriggermanual .vfm__content,
span[id*='modalEmailPreview_'] .vfm__content,
#modalUpdateLogo .vfm__content,
#modalUpdateIcon .vfm__content,
#modalUpdateColors .vfm__content {
  background: white;
  padding: 32px;
  border-radius: 8px;
}

span[id*='modalEditElement'] .vfm,
#modalAddDocuments .vfm,
#modalAffectCampaign .vfm,
#modalMenu .vfm,
#modalSide .vfm{
  position: fixed;
  right: 0;
  left: unset !important;
  height: 100% !important;
  padding: 32px;
  top: 0 !important;
  overflow: scroll;
}

span[id*='modalEditElement'] .vfm--overlay,
#modalAddDocuments .vfm--overlay,
#modalMenu .vfm--overlay,
#modalSide .vfm--overlay{
  background: unset;
}

  /**** CUSTOM VUE DROPZONE ****/
  #customdropzone {
    letter-spacing: 0.2px;
    background: #fff;
    color: #C5C8CE;
    transition: background-color .2s linear;
    height: 200px;
    width: 200px;
    padding: 40px;
    border: dashed;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
  }

  .dz-preview {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .dz-image {
    width: auto;
    height: 100px;
    margin-bottom: 10px;
  }
  .dz-image >div{
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .dz-details {
    color: black;
    transition: opacity .2s linear;
    text-align: center;
  }

  .dz-success-mark {
    display: none;
  }

  .dz-default.dz-message {
    text-align: center !important;
  }

  .dz-error-mark {
    display: none;
  }

  .dz-remove{
    color: #1C6EF2FF;
  }

  /**** END ****/
