#modalAddTriggercandidate .v--modal,
span[id*='modalEmailPreview_'] .v--modal,
#modalUpdateLogo .v--modal,
#modalUpdateIcon .v--modal,
#modalUpdateColors .v--modal {
  padding: 32px !important;
}

span[id*='modalEditElement'] .v--modal,
#modalAddDocuments .v--modal,
#modalMenu .v--modal,
#modalSide .v--modal,
#dashboardTool span[id*='modalWidgetSettings'] .v--modal{
  position: fixed !important;
  right: 0 !important;
  left: unset !important;
  height: 100% !important;
  padding: 32px;
  top: 0 !important;
}

#dashboardTool span[id*='modalWidgetSettings'] .v--modal{
  width: 50% !important;
}

span[id*='modalEditElement'] .v--modal-overlay,
#modalAddDocuments .v--modal-overlay,
#modalMenu .v--modal-overlay,
#modalSide .v--modal-overlay,
span[id*='modalWidgetSettings'] .v--modal-overlay,{
  background: unset;
}
