/** VARIABLES **/
$light-blue: #26CAEA;
$dark-blue: #16AFE1;
$light-green: #32EE5F;
$dark-green: #12DB42;
$light-yellow: #F0EE6D;

$night-blue: #353544;
$dark-grey: #5A5A72;
$grey: #B0B0BF;
$light-grey: #F4F4F6;
$white: #FFFFFF;

$red: #e5283B;

$complete-gradient: linear-gradient(rgba(240, 238, 109, 10), rgba(50, 238, 95, 50), rgba(240, 238, 109, 96));
$simple-gradient: linear-gradient(rgba(240, 238, 109, 5), rgba(240, 238, 109, 120));

$em-green: #12DB42;
$em-blue: #16afe1;
$em-grey: #5A5A72;

$neutral-100: #FFFFFF;
$neutral-200: #F2F2F3;
$neutral-300: #E3E5E8;
$neutral-400: #C5C8CE;
$neutral-500: #ACB1B9;
$neutral-600: #8F96A3;
$neutral-700: #5E646E;
$neutral-800: #2B313B;
$neutral-900: #080C12;

$main-100: #DFF5E9;
$main-200: #CCEDE1;
$main-300: #87D4B8;
$main-400: #34B385;
$main-500: #20835F;
$main-600: #106949;
$main-700: #0D5946;
$main-800: #00473D;
$main-900: #00322B;

$blue-100: #F0F6FD;
$blue-200: #C8E1FE;
$blue-300: #79B6FB;
$blue-400: #007AFF;
$blue-500: #1C6EF2;
$blue-600: #0A53CC;
$blue-700: #0738AB;
$blue-800: #042A80;
$blue-900: #011C5B;

$red-100: #FFEEEE;
$red-200: #FEDCDC;
$red-300: #FBABAB;
$red-400: #E76767;
$red-500: #DB333E;
$red-600: #C31924;
$red-700: #9F0B15;
$red-800: #7F050D;
$red-900: #480005;

$yellow-100: #FFFBDB;
$yellow-200: #FFF0B5;
$yellow-300: #FEEBA1;
$yellow-400: #FDD46A;
$yellow-500: #FFC633;
$yellow-600: #FFB800;
$yellow-700: #CC8100;
$yellow-800: #805100;
$yellow-900: #3E2200;

$p-4: 4px;
$p-8: 8px;
$p-16: 16px;
$p-24: 24px;
$p-32: 32px;
$p-40: 40px;
$p-48: 48px;
$p-56: 56px;
$p-64: 64px;
$p-72: 72px;
$p-80: 80px;

$m-8: 8px;
$m-16: 16px;
$m-24: 24px;
$m-32: 32px;
$m-40: 40px;
$m-48: 48px;
$m-56: 56px;
$m-64: 64px;
$m-72: 72px;
$m-80: 80px;
