$ju-input-background-color: #ffffff;
$ju-input-box-shadow: 0 10px 30px 0 rgba(160, 166, 190, 0.08);

%input {
  padding: 15px;
  width: 100%;
  line-height: 1;
  height: auto;
  color: #404852;
  @include boxShadow($ju-input-box-shadow);
}
#mybootstrap {
  #rightcol {
    @import "select";
    @import "input";
    font-family: $option-font;
    select + .chzn-container {
      > .chzn-choices {
        li.search-choice,
        li.search-field,
        span, input {
          color: #404852;
        }
        .search-choice-close {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 3px;
          left: unset;
          display: block;
          width: 12px;
          height: 12px;
          background: url(../images/admin_icon/chosen-sprite.png) -42px 1px no-repeat;
          font-size: 1px;
          &:before {
            content: '';
            display: none;
          }
        }
      }
    }
    .field-calendar {
      .calendar-container {
        float: left;
        min-width: 160px;
        padding: 0;
        list-style: none;
        border-radius: 5px;
        box-shadow: 0 5px 15px -5px rgba(0,0,0,0.506);
        background: #fff;
        border-bottom: 1px solid #bbb;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        color: #333;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        tr {
          box-sizing: border-box;
          padding: 0;
          margin: 0;
        }
        td.day,
        td.day-name {
          border-spacing: 2px;
          font-family: inherit;
          font-weight: inherit;
          line-height: inherit;
          box-sizing: border-box;
          margin: 0;
          background: #f5f5f5;
          border: 1px solid #ddd;
          color: #666;
          font-size: 12px;
          text-align: right;
          vertical-align: middle;
          padding: 0 5px 0 0;
          border-collapse: collapse;
          cursor: pointer;
          height: 25px;
          &.selected {
            background: #3071a9;
            color: #fff;
            border: 0;
          }
          &:hover {
            cursor: pointer;
            background: #3d8fd7;
            color: #fff;
          }
        }
        button.js-btn {
          background-color: #3071a9;
          background: #3071a9;
          color: #fff;
          text-shadow: none;
          border-color: #fff;
          padding: 4px 12px;
          &:hover {
            cursor: pointer;
            background: #3d8fd7;
          }
        }
      }
    }
    .category-submit,
    .btn-file-save {
      width: 100%;
      margin-bottom: 25px;
      font-size: 15px;
      line-height: 20px;
    }
    .field-user-wrapper {
      position: relative;
      a {
        position: absolute;
        top: 30%;
        z-index: 9;
        &.button-select {
          right: 25px;
        }
        &.user-clear,
        &.user-clear-category {
          right: 10px;
        }
      }
    }
    #insertcategory,
    #insertfile {
      background-image: none;
      text-shadow: none;
      box-shadow: none;
      text-decoration: none;
      margin: 0 0 70px 0;
      height: auto;
      box-sizing: border-box;
      line-height: 18.2px;
      //font-size: 14px;
      //padding: 10px 15px;
      //letter-spacing: 1px;
      //font-weight: normal;
      //min-width: 220px;
      //overflow: hidden;
      //text-overflow: ellipsis;
      &:hover,
      &:focus {
        outline: none;
        cursor: pointer;
      }
      &:hover {
        box-shadow: 1px 1px 12px #ccc;
      }
    }

    #insertfile {
      + div .original-file-params {
        top: 60px;
      }
    }

    .fieldset-settings-container,
    .theme-section {
      margin: 0 15px 25px 15px;
      legend {
        font-size: 1.1em;
        font-weight: bold;
        line-height: 35px;
        color: $heading-color;
        width: 100%;
        margin: 0;
        &:hover {
          cursor: pointer;
        }
        &:after {
          font-family: "Material Icons";
          font-size: 24px;
          vertical-align: sub;
          padding-left: 10px;
          float: right;
        }
        &:not(.collapsed):after {
          content: "";
        }
        &.collapsed {
          &:after {
            content: "";
          }
        }
      }
    }

    .control-group {
      margin-bottom: 20px;
      background-color: $white-color;
      @include borderRadius($small-radius);
      @import "switch";
      .controls {
        position: relative;
        .input-append {
          width: 100%;
        }
        .button-select,
        .user-clear {
          padding: 0;
          background: transparent;
          background-color: transparent;
          border: none;
          box-shadow: none;
        }
        #publish {
          background-image: linear-gradient(to right, #ccc, #ccc);
          background-position: calc(100% - 2.5em) 0.5em;
          background-size: 1px 70%;
          background-repeat: no-repeat;
        }
        #publish_img {
          position: absolute;
          right: 0;
          top: 2px;
          bottom: 2px;
          z-index: 10;
          border: 0;
          cursor: pointer;
          padding: 0 10px;
          background: none;
          @include borderRadius(0 $small-radius $small-radius 0);
          &:focus {
            -webkit-appearance: none;
            border: none;
            outline: 0;
            @include boxShadow(none);
          }
        }
        .paraminput {
          position:relative;
          .minicolors {
            position: relative;
            display: inline-block;
            width: 100%;
            max-height: 50px;
            min-height: 50px;
            height: 50px;
            input.minicolors {
              width: 100%;
              box-sizing: border-box;
              padding: 22px 50px;
              height: 100%;
              max-height: 50px;
              color: #404852;
              -webkit-box-shadow: 0 10px 30px 0 rgba(160, 166, 190, 0.08);
              -moz-box-shadow: 0 10px 30px 0 rgba(160, 166, 190, 0.08);
              box-shadow: 0 10px 30px 0 rgba(160, 166, 190, 0.08);
              border: 1px solid #ddd;
              border-color: #ddd !important;
            }
            .minicolors-swatch {
              cursor: pointer;
              position: absolute;
              left: 4px;
              z-index: 12;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border-radius: 3px;
              overflow: hidden;
              transform: translateY(-50%);
              top: 50%;
              width: 40px;
              height: 40px;
              border: 1px solid #eee;
              background-image: unset;
            }
            .minicolors-swatch-color {
              border: 0;
              border-radius: 0;
              box-shadow: unset;
            }
            .minicolors-panel {
              position: absolute;
              left: unset;
              top: 50px;
              right: 0;
              padding: 0;
              box-shadow: unset;
              border: 0;
              background-color: #ffffff;
              z-index: 12;
              .minicolors-slider,
              .minicolors-opacity-slider {
                top: 0;
                margin: 0;
              }
              .minicolors-grid {
                top: 0;
                left: 0;
              }
            }
          }
        }
        // Fix for old themes
        select.inline,
        .inputbox {
          @extend %input;
          @include borderRadius($small-radius);
          box-sizing: border-box;
          background: #fff;
          &:focus {
            border: 1px solid #cccccc;
          }
        }
        select.inline {
          background-image: linear-gradient(45deg, transparent 55%, gray 50%), linear-gradient(135deg, gray 50%, transparent 55%), linear-gradient(to right, #ccc, #ccc);
          background-position: calc(100% - 18px) calc(1em + 5px), calc(100% - 13px) calc(1em + 5px), calc(100% - 2.5em) 0.5em;
          background-size: 5px 5px, 5px 5px, 1px 70%;
          background-repeat: no-repeat;
          padding-right: 45px !important;
          &:hover {
            cursor: pointer;
          }
          &:focus {
            background-image: linear-gradient(45deg, $orange-color 50%, transparent 55%), linear-gradient(135deg, transparent 55%, $orange-color 50%), linear-gradient(to right, $orange-color, $orange-color);
            background-position: calc(100% - 13px) calc(1em + 5px), calc(100% - 18px) calc(1em + 5px), calc(100% - 2.5em) 0.5em;
            background-size: 5px 5px, 5px 5px, 1px 70%;
            background-repeat: no-repeat;
            border-color: $orange-color;
            outline: none;
          }
        }
        .minicolors {
          .inputbox {
            padding-left: 55px;
            & + .minicolors-swatch {
              top: 4px;
              bottom: 4px;
              width: 40px;
              left: 4px;
              cursor: pointer;
              @include borderRadius($small-radius);
              .minicolors-swatch-color {
                @include borderRadius($small-radius);
              }
            }
          }
        }

      }
      .ju-switch-button {
        margin-right: 0;
        line-height: 8px;
      }

    }
    @import 'ju_setting_option';
    .ju-settings-option {
      position: relative;
      width: 100%;
      @include boxShadow(none);
      margin-left: 0;
      .ju-settings-toolbox {
        display: inline-block;
        float: right;
        line-height: 45px;
        text-align: right;
        .ju-button {
          padding: 5px 10px;
          font-size: 11px;
          min-width: 80px;
          &.orange-outline-button {
            border-color: $orange-color;
          }
        }
        .material-icons {
          font-size: 10px;
          margin-top: 2px;
          margin-right: 4px;
        }
      }
      .ju-setting-label {
        line-height: 55px;
        color: #568095;
      }
      .chzn-container {

        .chzn-choices {
          background-image: none;
          width: 100% !important;
          padding: 15px;
          border: 1px solid #ddd;
          background-color: $white-color;
          height: auto;
          margin: 0;
          @include borderRadius($small-radius);
          @include boxShadow(none);

          &:focus {
            border-color: $orange-color;
            box-shadow: none;
            outline: none;
          }
          li.search-field {
            input[type="text"] {
              width: 100% !important;
            }
          }
          li.search-choice {
            margin: 3px 0;
            padding: 5px 20px 5px 5px;
            border: 1px solid #ddd;
            line-height: 18px;
            background-image: none;
            background-color: #fff;
            width: 87%;
            @include textTruncate();
            @include boxShadow(1px 1px 3px 0 #ddd);
            .search-choice-close {
              top: 30%;
              transition: unset;
            }
          }
        }
        .chzn-drop {
          margin-top: -5px;
          border-width: 0 1px 1px 1px;
          border-style: solid;
          border-color: #ddd;
          .chzn-results {

            //@extend %scroll-y;
            li {
              line-height: 50px;
              &:first-child {
                margin-top: 5px;
              }
            }

          }
        }

      }
      .tagit,
      .ui-widget-content {
        background: $ju-input-background-color;
      }
      .tagit {
        padding: 9.5px 15px;
        line-height: 1;
        height: auto;
        color: #404852;
        @include boxShadow($ju-input-box-shadow);
      }
      .controls-media-button {
        position: relative;
        #select_media_button {
          position: absolute;
          top: 2px;
          bottom: 2px;
          right: 0;
          height: 46px;
          border-radius: 0 4px 4px 0;
          background: #ddd;
          box-shadow: none;
          border: 0;
          font-size: 1.2em;
          &:active {
            transform: unset;
            -webkit-transform: unset;
          }
        }
      }
    }
    .inputbox {
      padding: 15px;
      width: 100%;
      line-height: 1.1;
      height: auto;
      color: #404852;
      box-sizing: border-box;
      border: 1px solid #ddd;
      border-color: #ddd !important;
      border-radius: 4px;
      @include boxShadow($ju-input-box-shadow);
      &:focus {
        border-color: $orange-color;
      }
      &:disabled,
      &:read-only {
        background-color: $ju-input-background-color;
      }
      &[name="hits"] + button {
        position: absolute;
      }
      &.minicolors {
        padding-left: 55px;
        + .minicolors-swatch {
          cursor: pointer;
          left: calcRem(4px);
          @include borderRadius($small-radius);
        }
      }
    }
    #fileparams {
      .ju-switch-button {
        margin-right: 0;
      }
    }
    #insertcategory,
    #insertfile,
    #insertfiletowoo {
      display: block;
      text-align: center;
    }
    .categoryblock {
      position: unset;
      width: 100%;
      padding: 0;
      background-color: #fff;
      background-image: none;
    }
    .themesblock {

      #themeselect {
        > .controls {
          display: flex;
          flex-flow: row wrap;
          margin: 0 10px;
        }
      }

      a.themebtn {
        position: relative;
        flex: 1 0 calc(48% - 4px);
        width: calc(48% - 4px);
        max-width: calc(48% - 4px);
        text-decoration: none;
        margin: 5px 1%;
        min-width: 120px;
        min-height: 90px;
        background-repeat: no-repeat;
        box-sizing: border-box;
        padding-top: 20px;
        border: solid 2px #ffffff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background-size: 100px;
        background-position: top 25px center;
        > p {
          line-height: 13px;
          font-size: 12px;
          letter-spacing: 0.5px;
          -webkit-appearance: none;
          margin: -15px 5px 5px 5px;
          color: #568095;
        }
      }

      a.themebtn.selected {
          border: solid 2px #49bf88;
          &:after {
            position: absolute;
            right: -10px;
            top: -10px;
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            background: #fff url(../images/admin_icon/icon-check-mark.svg) no-repeat center;
            background-size: 14px;
            border: 2px solid #49bf88;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            z-index: 1;
          }
      }
    }
    legend {
      border: none;
      width: 100%;
    }
    div.well {
      padding: 0;
      overflow: hidden;
      background: #ffffff;
      border-radius: 0;
      box-shadow: unset;
      border: none;
      margin: 0;
      .import-file-lb {
        text-align: center;
        font-size: 1em;
        margin: 1.33em 0;
      }
      #filesimport {
        padding: 0 0 10px 0;
        #jao {
          float: none;
          overflow-x: auto;
          margin-bottom: 10px;
          outline: 0;

          li.file {
            input[type='checkbox'] {
              border: 1px solid #7e8993;
              border-radius: 4px !important;
              background: #fff;
              color: #555;
              clear: none;
              cursor: pointer;
              display: inline-block;
              line-height: 0;
              height: 16px;
              margin: -4px 4px 0 0;
              outline: 0;
              padding: 0 !important;
              text-align: center;
              vertical-align: middle;
              width: 16px;
              min-width: 16px;
              -webkit-appearance: none;
              box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
              transition: .05s border-color ease-in-out;
              &::before {
                content: '';
                margin: -3px 0 0 -4px;
                height: 21px;
                width: 21px;
                display: block;
              }
              &:checked::before {
                content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%231e8cbe%27%2F%3E%3C%2Fsvg%3E");
              }
              &:focus {
                border-color: #007cba;
                box-shadow: 0 0 0 1px #007cba !important;
                outline: 2px solid transparent;
              }
            }
          }
        }

        .category-btn-footer {
          display: flex;
          flex-flow: row wrap;
          outline: 0;

          button.btn {
            border: none;
            outline: none;
            padding: 0.625rem 1.25rem;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 14px;
            font-size: 0.875rem;
            background-color: #2196f3;
            color: #fff;
            background-image: none;
            border-radius: 0;
            line-height: normal;
            &:hover {
              -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
              -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
              box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
            }

            &#selectAllImportFiles,
            &#importFilesBtn,
            &#unselectAllImportFiles {
              font-size: 9px;
              flex: 1 0 calc(50% - 5px);
              padding: 10px 0;
              margin-right: 5px;
              margin-bottom: 5px;
            }

            &#importFilesBtn {
              flex: 1 1 100%;
            }
          }
        }
      }
      .control-group {
        margin: 0;
        padding: 0;
      }
      &.theme-section {
        margin: 0 15px;
      }
    }
    .dropfiles-save-submit {
      padding: 0.625rem 0.9375rem !important;
      min-width: 9.375rem;
      border: none;
      text-transform: uppercase;
      display: inline-block;
      text-decoration: none;
      cursor: pointer !important;
      text-align: center;
      letter-spacing: 0.125rem;
      transition: all ease 0.5s;
      vertical-align: middle;
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      border-radius: 40px !important;
      background-color: #ff8726 !important;
      color: #fff;
      width: 100%;
      margin: 20px 0;
      font-size: 15px !important;
      line-height: 20px;
      background-image: none;
      text-shadow: none;
      &:focus,
      &:hover {
        outline: none;
        cursor: pointer;
      }
      &:focus {
        box-shadow: none;
      }
    }
    .dropfiles-save-submit:nth-child(1) {
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      top: 15px;
      display: inline-block;
      margin: 0;
      padding: 0;
      width: calc(100% - 60px) !important;
      box-sizing: border-box;
      z-index: 9;
    }

    .dropfilesparams {

      #jform_file_direct_link {
        width: 100% !important;
        cursor: pointer;
        padding-right: 30px;
      }
      button.btn:hover {
        box-shadow: 1px 1px 12px #ccc;
      }

      .ui-datepicker-trigger {
        height: 24px;
        vertical-align: top;
      }

      .radio,
      .paraminput ul:not(.chzn-choices) {
        padding: 0;
        margin: 0;
      }
      ul.chzn-choices {
        margin: 0;
      }
    }

    div.category-section {
      margin: 0;
      padding: 20px 0;
      border-bottom: 0.5px solid rgba(217, 225, 243, 0.5);
      &.hide-border {
        border-bottom: none;
      }
      &.category-layout,
      &.file-layout {
        .ju-switch-button {
          .paraminput {
            display: none;
          }
        }
      }
      &#permission-settings {
        span.paraminput {
          min-height: unset;
        }
      }

      .ju-container {
        width: 100%;
        margin: 20px 0;
        padding: 0;
      }
    }

    .category-visibility-ordering-section {
      border-bottom: 0.5px solid rgba(217, 225, 243, 0.5);
      padding-bottom: 20px;
      select + .chzn-container {
        > .chzn-choices {
          li.search-choice {
            + li.search-field {
              display: none;
              input {
                width: 100% !important;
                max-width: 100%;
              }
            }
          }
          li.search-choice:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .category-visibility-ordering-section label:not(.switch),
    .category-section label:not(.switch),
    .control-label:not(.switch),
    .fileblock .dropfilesparams .fieldset-settings-container > label,
    .ju-file-status > label,
    .fileblock .ju-settings-option > label {
      color: #568095;
      display: inline-block;
      min-width: 175px;
      max-width: 220px;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      margin: 0;
      line-height: 50px;
      cursor: pointer;
      white-space: nowrap;
    }

    .fileblock {
      .dropfilesparams {
        @import "switch";
        margin: 0;
        .jform_state {
          .ju-switch-button {
            .paraminput {
              display: none;
            }
          }
        }
        .ju-settings-option {
          margin:0 0 .5rem 0;
          position: relative;
          &.jform_hits,
          &.jform_custom_icon,
          &.jform_file_direct_link {
            .paraminput {
              > button,
              .button-clear,
              .copy-btn {
                float: right;
                text-align: right;
                font-size: 11px;
                min-width: 80px;
                max-width: 145px;
                max-height: 50px;
                min-height: 30px;
                box-sizing: border-box;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                background-color: #fff;
                color: #ff8726;
                border: 1px solid #ff8726;
                text-transform: uppercase;
                text-decoration: none;
                cursor: pointer;
                letter-spacing: 0.125rem;
                transition: all ease 0.5s;
                vertical-align: middle;
                -webkit-border-radius: 40px;
                -moz-border-radius: 40px;
                border-radius: 40px;
                position: absolute;
                right: 0;
                top: 10px;
                padding: 6px 12px;
                display: inline-block;
                line-height: 16px;
                text-shadow: none;
                box-shadow: none;
                background-image: none;
                margin: 0;
                &:focus,
                &:hover {
                  outline: none;
                  cursor: pointer;
                }
                &:hover {
                  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                }
              }
            }
          }
          &.jform_custom_icon {
            .input-prepend > a:not(.modal),
            .input-prepend > a.btn:last-child {
              float: right;
              text-align: right;
              font-size: 11px;
              min-width: 80px;
              max-width: 145px;
              max-height: 50px;
              min-height: 30px;
              box-sizing: border-box;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              background-color: #fff;
              color: #ff8726;
              border: 1px solid #ff8726;
              text-transform: uppercase;
              text-decoration: none;
              cursor: pointer;
              letter-spacing: 0.125rem;
              transition: all ease 0.5s;
              vertical-align: middle;
              -webkit-border-radius: 40px;
              -moz-border-radius: 40px;
              border-radius: 40px;
              position: absolute;
              right: 0;
              top: 10px;
              padding: 6px 12px;
              display: inline-block;
              line-height: 16px;
              text-shadow: none;
              box-shadow: none;
              background-image: none;
              margin: 0;
              &:focus,
              &:hover {
                outline: none;
                cursor: pointer;
              }
              &:hover {
                -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
              }
              .icon-remove {
                display: none;
              }
            }
            a, .button-clear {
              > .icon-remove {
                display: none;
              }
            }
            input#jform_custom_icon + a.modal,
            input#jform_custom_icon + a:first-child,
            .button-select {
              position: absolute;
              display: inline-block;
              bottom: 6px;
              right: 0;
              left: unset;
              top: unset;
              z-index: 99;
              border-radius: 0 4px 4px 0;
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
              background: rgba(255, 135, 38, 0.1);
              color: #ff8726;
              text-shadow: none;
              box-shadow: none;
              border: 0;
              text-decoration: none;
              min-height: 30px;
              margin: 0;
              padding: 15px 12px;
              cursor: pointer;
              -webkit-appearance: none;
              white-space: nowrap;
              box-sizing: border-box;
              font-size: 15.6px;
              width: auto;
              min-width: 60px;
              max-width: 80px;
              overflow: hidden;
              text-overflow: ellipsis;
              &:hover,
              &:focus {
                outline: none;
              }
              &:hover {
                cursor: pointer;
                box-shadow: 1px 1px 12px #ccc;
          }
        }
            .field-media-preview,
            .media-preview,
            .add-on {
              display: none;
            }
      }
          &.jform_id {
            display: none;
          }
          &.jform_modified_time,
          &.jform_publish,
          &.jform_publish_down,
          &.jform_created_time {
            .input-append {
              width: 100%;
              position: relative;
            }
          }
          &.jform_canview {
            .paraminput {
              .input-append {
                position: relative;
              }
              .button-select,
              .user-clear {
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                z-index: 5;
                background-color: transparent;
                background: transparent;
                background-image: none;
                box-shadow: none;
                border: none;
                border-width: 0;
                border-radius: 0;
                padding: 0;
              }
              .button-select {
                right: 20px;
              }
              .user-clear {
                right: 5px;
              }
            }
          }
          &.jform_file_direct_link {
            .paraminput {
              > button.copy-btn {
                padding: 5px 15px;
                box-sizing: border-box;
                height: 24px;
                vertical-align: text-top;
              }
              .btn_jform_file_direct_link {
                display: inline;
                margin: 0 5px 0 -5px;
                font-size: 14px;
                vertical-align: middle;
              }
            }
          }
          &.jform_dropfiles_tags {
            li.tagit-choice-editable {
              font-size: 14px;
              line-height: 14px;
              border-radius: 4px;
              padding: .2em 18px .2em .5em;
              margin: 2px 5px 2px 0;
              border: 1px solid #ccc;
              background: #fff;
              font-weight: normal !important;
              color: #6B6B6B !important;
            }
          }
          &.jform_file_multi_category_old {
            display: none;
          }
          .input-append {
            width: 100%;
          }
          .paraminput {
            input,
            select:not(.multi_category) {
              max-width: 100%;
              width: 100%;
              box-sizing: border-box;
              background: #fff;
            }
            #jform_created_time,
            #jform_modified_time:enabled,
            #jform_publish,
            #jform_publish_down {
              background-image: linear-gradient(to right, #ccc, #ccc);
              background-position: calc(100% - 2.5em) 0.5em;
              background-size: 1px 70%;
              background-repeat: no-repeat;
            }
            #jform_created_time_btn,
            #jform_modified_time_btn,
            #jform_publish_btn,
            #jform_publish_down_btn {
              position: absolute;
              right: 0;
              top: 2px;
              bottom: 2px;
              z-index: 10;
              border: 0;
              cursor: pointer;
              padding: 0 10px;
              background: none;
              -webkit-border-radius: 0 4px 4px 0;
              -moz-border-radius: 0 4px 4px 0;
              border-radius: 0 4px 4px 0;
              &:hover,
              &:focus {
                box-shadow: none;
              }
            }
          }
          .tagit {
            padding: 9.5px 15px;
            line-height: 1;
            height: auto;
            color: #404852;
            -webkit-box-shadow: 0 10px 30px 0 rgba(160, 166, 190, 0.08);
            -moz-box-shadow: 0 10px 30px 0 rgba(160, 166, 190, 0.08);
            box-shadow: 0 10px 30px 0 rgba(160, 166, 190, 0.08);
            border-radius: 4px !important;
          }
          button,
          a {
            &:hover {
              cursor: pointer;
              box-shadow: 1px 1px 12px #ccc;
            }
          }
          .reset-icons {
            font-size: 10px;
            margin-top: 1px;
            margin-right: 4px;
          }
          .file_multi_category + .chzn-container {
            .search-choice {
              width: 100%;
            }
            .chzn-results {
              &::-webkit-scrollbar {
                max-height: 6px;
                background-color: rgba(0, 0, 0, 0.3);
                width: 6px;
                border-radius: 10px;
              }

              /* Track */
              &::-webkit-scrollbar-track {
                border-radius: 10px;
              }

              /* Handle */
              &::-webkit-scrollbar-thumb {
                background: #888;
                border-radius: 10px;
                max-height: 6px;
              }

              /* Handle on hover */
              &::-webkit-scrollbar-thumb:hover {
                background: #555;
              }
            }
          }
    }
    > .fieldset-settings-container {
      margin: 0;
      padding: 20px 0;
      background-color: transparent;
    }
    .dropfiles-save-submit:nth-child(1) {
      width: calc(100% - 30px) !important;
    }
  }
      .original-file-params {
        font-size: 13px;
        position: absolute;
        top: 10px;
        .original-file-info {
          font-size: 1em;
          line-height: 1.5;
          margin: 1em 0;
        }
        .edit-original-file {
          font-size: 1em;
          display: inline-block;
          line-height: 2.2;
          min-height: 30px;
          margin: 0;
          padding: 0 10px;
          cursor: pointer;
          border-width: 1px;
          border-style: solid;
          -webkit-appearance: none;
          border-radius: 3px;
          white-space: nowrap;
          box-sizing: border-box;
          outline: 0;
          background: #007cba;
          border-color: #007cba;
          color: #fff;
          text-shadow: none;
          text-decoration: none;
        }
      }
}
}
}
