/.gitignore.*
/.idea/*
.idea/*
.idea/workspace.xml
.scannerwork
workspace.xml
/cache/*
/installation/*
/logs/*
/tmp/*
/stats/*
administrator/cache/*
/administrator/cache/*
/administrator/cache/GantryAdmin/*
/configuration.php
/templates/rt_afterburner2/css-compiled/*
/templates/rt_afterburner2/css/rt_afterburner2-custom.css
templates/rt_afterburner2/css/rt_afterburner2-custom.css
templates/g5_helium/templatesDetails.xml
/templates/g5_helium/templatesDetails.xml
/images/emundus/files/*
/images/emundus/letters/*
/image/logo.png
/images/custom/logo.png
#_bdd/*
components/com_emundus.*
components/com_emundus/*.bak
components/com_emundus/.scannerwork
media/com_emundus.*
media/com_emundus/*.bak
php.ini
/favicon.ico
emundus_bdd*
201*emundus*
/.htaccess.*
/.htaccess
/*.sql.zip
/test*
/administrator/components/com_admin/sq/lupdates/mysql/eM-*
/administrator/templates/isis/images/joomla.png
/administrator/templates/isis/images/logo.png
administrator/templates/isis/images/joomla.png
administrator/templates/isis/images/logo.png

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

### NodeJS ###
*~
/components/com_emundus_onboard/node_modules/
media/com_emundus_onboard/

components/com_emundus_onboard/src/components/formClean/Plugin/autocomplete.vue

components/com_emundus_onboard/src/components/formClean/Plugin/cascadingdropdown.vue

components/com_emundus_onboard/src/components/formClean/Plugin/media.vue

.vscode/
