/.gitignore.*
/.idea/*
.idea/*
.idea/workspace.xml
/cache/*
/installation/*
/logs/*
/tmp/*
/stats/*
administrator/cache/*
/administrator/cache/*
/administrator/cache/GantryAdmin/*
/configuration.php
/templates/rt_afterburner2/css-compiled/*
/templates/rt_afterburner2/css/rt_afterburner2-custom.css
templates/rt_afterburner2/css/rt_afterburner2-custom.css
/images/emundus/files/*
/images/emundus/letters/*
/image/logo.png
#_bdd/*
components/com_emundus.*
components/com_emundus/*.bak
media/com_emundus.*
media/com_emundus/*.bak
htaccess.BAK*
php.ini
/favicon.ico
workspace.xml
emundus_bdd*
201*emundus*