/.gitignore.*
.idea
.scannerwork
workspace.xml
/cache/*
/installation/*
/logs/*
/tmp/*
/stats/*
administrator/cache/*
/administrator/cache/*
/administrator/cache/GantryAdmin/*
/configuration.php
/templates/rt_afterburner2/css-compiled/*
/templates/rt_afterburner2/css/rt_afterburner2-custom.css
templates/rt_afterburner2/css/rt_afterburner2-custom.css
templates/g5_helium/templateDetails.xml
templates/g5_helium/custom/*
!templates/g5_helium/custom/scss/tchooz.scss
!templates/g5_helium/custom/scss/global.scss
!templates/g5_helium/custom/scss/variables.scss
templates/g5_helium/html/com_eventbooking/*
templates/g5_helium/html/com_hikashop/*
templates/emundus_vanilla/*
/templates/emundus_vanilla/*
libraries/emundus/custom/*
!libraries/emundus/custom/.gitkeep
images/emundus/import/*
images/emundus/photo/*
images/stories/*
templates/emundus_serp/*
/templates/emundus_serp/*
templates/LaScala/*
/templates/LaScala/*
/images/emundus/files/*
/images/emundus/letters/*
/images/emundus/phases/*
/image/logo.png
/images/custom/logo.png
/images/custom/logo_custom.png
#_bdd/*
components/com_emundus.*
components/com_emundus/*.bak
components/com_emundus/.scannerwork
media/com_emundus.*
media/com_emundus/*.bak
media/com_hikashop/b/*
media/com_hikashop/l/*
media/com_hikashop/pathfile
media/com_hikashop/pc.*
media/com_hikashop/mail/*
paybox_*.php
stripeconnect_*.php
atos.php
success.php
php.ini
/favicon.ico
emundus_bdd*
201*emundus*
/.htaccess.*
/.htaccess
/*.sql.zip
/test*
/administrator/components/com_admin/sq/lupdates/mysql/eM-*
/administrator/templates/isis/images/joomla.png
/administrator/templates/isis/images/logo.png
administrator/templates/isis/images/joomla.png
administrator/templates/isis/images/logo.png
plugins/fabrik_form/php/emundus-csv_import_ehesp.php
components/com_fabrik/views/details/tmpl/celsa/*

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### VisualStudioCode ###
.vscode/*
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

### NodeJS ###
*~
/components/com_emundus_onboard/node_modules/
## media/com_emundus_onboard/
## media/mod_emundus_dashboard_vue/
/modules/mod_emundus_dashboard_vue/node_modules/


/components/node_modules/
/components/com_emundus_messenger/node_modules/
/components/coverage/

## event booking ##
administrator/components/com_eventbooking/assets/css/style.css
images/com_eventbooking/
media/com_eventbooking/assets/css/custom.css
media/com_eventbooking/assets/fullcalendar/fullcalendar.min.js
media/com_eventbooking/assets/css/true
media/com_eventbooking/images/thumbs/*
components/com_eventbooking/fields.xml
/components/com_eventbooking/controller/override/
/components/com_eventbooking/model/override/

## unit test ##
/components/com_emundus/unittest/logs/
.phpunit.result.cache

## emundus custom controller/model ##
/components/com_emundus/controllers/custom.php
/components/com_emundus/models/custom.php

## miniorange ##
/plugins/authentication/miniorangesaml/saml2/cert/
