<?php
class JConfig {
	public $offline = '0';
	public $offline_message = 'This website is actually offline, please come back later.';
	public $display_offline_message = '1';
	public $offline_image = 'images/logo.png';
	public $sitename = 'eMundus - Candidate Relation Management';
	public $editor = 'tinymce';
	public $captcha = '0';
	public $list_limit = '20';
	public $access = '1';
	public $debug = '0';
	public $debug_lang = '0';
	public $dbtype = 'mysqli';
	public $host = 'localhost'; 		// Your DB host
	public $user = 'root';				// Your DB user
	public $password = '';				// Password for DB user
	public $db = 'emundus';				// DB name
	public $dbprefix = 'jos_';			// DO NOT CHANGE PREFIX
	public $live_site = '';
	public $secret = 'A15BOL2vPkngx00Jv5';
	public $gzip = '1';
	public $error_reporting = 'simple';
	public $helpurl = 'https://help.joomla.org/proxy/index.php?option=com_help&keyref=Help{major}{minor}:{keyref}';
	public $ftp_host = '127.0.0.1';
	public $ftp_port = '21';
	public $ftp_user = '';
	public $ftp_pass = '';
	public $ftp_root = '';
	public $ftp_enable = '0';
	public $offset = 'Europe/Paris';
	public $mailer = 'sendmail';
	public $mailfrom = 'no.reply@emundus.fr'; 	// Your email
	public $fromname = 'eMundus - Candidate Relation Management';
	public $sendmail = '/usr/sbin/sendmail';
	public $smtpauth = '0';
	public $smtpuser = '';
	public $smtppass = '';
	public $smtphost = 'localhost';
	public $smtpsecure = 'ssl';
	public $smtpport = '465';
	public $caching = '0';
	public $cache_handler = 'file';
	public $cachetime = '15';
	public $MetaDesc = 'eMundus - Candidate Relation Management';
	public $MetaKeys = 'projet, candidature, High school, Universités, eMundus';
	public $MetaTitle = '1';
	public $MetaAuthor = '1';
	public $MetaVersion = '0';
	public $robots = '';
	public $sef = '0';
	public $sef_rewrite = '0';
	public $sef_suffix = '0';
	public $unicodeslugs = '0';
	public $feed_limit = '10';
	public $log_path = '/var/www/logs'; 	// Your path to install directory for logs
	public $tmp_path = '/var/www/tmp';		// Your path to install directory for tmp
	public $lifetime = '180';
	public $session_handler = 'database';
	public $MetaRights = '';
	public $sitename_pagetitles = '0';
	public $force_ssl = '0';
	public $feed_email = 'author';
	public $cookie_domain = '';
	public $cookie_path = '';
	public $memcache_persist = '1';
	public $memcache_compress = '0';
	public $memcache_server_host = 'localhost';
	public $memcache_server_port = '11211';
	public $memcached_persist = '1';
	public $memcached_compress = '0';
	public $memcached_server_host = 'localhost';
	public $memcached_server_port = '11211';
	public $redis_persist = '1';
	public $redis_server_host = 'localhost';
	public $redis_server_port = '6379';
	public $redis_server_auth = '';
	public $redis_server_db = '0';
	public $proxy_enable = '0';
	public $proxy_host = '';
	public $proxy_port = '';
	public $proxy_user = '';
	public $proxy_pass = '';
	public $mailonline = '0';
	public $massmailoff = '0';
	public $session_memcache_server_host = 'localhost';
	public $session_memcache_server_port = '11211';
	public $session_memcached_server_host = 'localhost';
	public $session_memcached_server_port = '11211';
	public $frontediting = '1';
	public $asset_id = '1';
}
