<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="libraries/emundus/vendor/autoload.php"
         cacheResultFile="tmp/test-results"
         executionOrder="depends,defects"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="false"
         failOnWarning="false"
         colors="true"
         verbose="true">

    <testsuite name="com_emundus">
        <directory>components/com_emundus/unittest/</directory>
        <exclude>components/com_emundus/unittest/helpers/</exclude>
    </testsuite>

    <coverage cacheDirectory="tmp/code-coverage" processUncoveredFiles="false" includeUncoveredFiles="false">
        <include>
            <directory suffix=".php">components/com_emundus/models</directory>
        </include>
        <exclude>
            <directory>components/com_emundus/unittest/helpers/</directory>
        </exclude>
        <report>
            <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
    </coverage>

</phpunit>
