@import url(../fonts/material-icons.min.css);
/* News */
/* Columns */
/* Wizard variables */
#dropfiles-statistics {
  background: #f1f1f1;
  color: #444;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 13px;
  line-height: 1.4em;
  padding: 30px;
  min-height: 100vh;
}
#dropfiles-statistics .dropfilesinput,
#dropfiles-statistics #jform_remoteurl,
#dropfiles-statistics #jform_created_time,
#dropfiles-statistics #jform_modified_time,
#dropfiles-statistics #jform_publish,
#dropfiles-statistics #jform_publish_down,
#dropfiles-statistics #jform_custom_icon {
  padding: 15px;
  border: 1px solid #ddd;
  border-color: #ddd !important;
  background-color: #fff;
  height: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#dropfiles-statistics .dropfilesinput:focus,
#dropfiles-statistics #jform_remoteurl:focus,
#dropfiles-statistics #jform_created_time:focus,
#dropfiles-statistics #jform_modified_time:focus,
#dropfiles-statistics #jform_publish:focus,
#dropfiles-statistics #jform_publish_down:focus,
#dropfiles-statistics #jform_custom_icon:focus {
  border-color: #ff8726;
  box-shadow: none;
  outline: none;
}
#dropfiles-statistics .dropfilesinput::-webkit-input-placeholder,
#dropfiles-statistics #jform_remoteurl::-webkit-input-placeholder,
#dropfiles-statistics #jform_created_time::-webkit-input-placeholder,
#dropfiles-statistics #jform_modified_time::-webkit-input-placeholder,
#dropfiles-statistics #jform_publish::-webkit-input-placeholder,
#dropfiles-statistics #jform_publish_down::-webkit-input-placeholder,
#dropfiles-statistics #jform_custom_icon::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #404852;
  opacity: .5;
}
#dropfiles-statistics .dropfilesinput::-moz-placeholder,
#dropfiles-statistics #jform_remoteurl::-moz-placeholder,
#dropfiles-statistics #jform_created_time::-moz-placeholder,
#dropfiles-statistics #jform_modified_time::-moz-placeholder,
#dropfiles-statistics #jform_publish::-moz-placeholder,
#dropfiles-statistics #jform_publish_down::-moz-placeholder,
#dropfiles-statistics #jform_custom_icon::-moz-placeholder {
  /* Firefox 19+ */
  color: #404852;
  opacity: .5;
}
#dropfiles-statistics .dropfilesinput:-ms-input-placeholder,
#dropfiles-statistics #jform_remoteurl:-ms-input-placeholder,
#dropfiles-statistics #jform_created_time:-ms-input-placeholder,
#dropfiles-statistics #jform_modified_time:-ms-input-placeholder,
#dropfiles-statistics #jform_publish:-ms-input-placeholder,
#dropfiles-statistics #jform_publish_down:-ms-input-placeholder,
#dropfiles-statistics #jform_custom_icon:-ms-input-placeholder {
  /* IE 10+ */
  color: #404852;
  opacity: .5;
}
#dropfiles-statistics .dropfilesinput:-moz-placeholder,
#dropfiles-statistics #jform_remoteurl:-moz-placeholder,
#dropfiles-statistics #jform_created_time:-moz-placeholder,
#dropfiles-statistics #jform_modified_time:-moz-placeholder,
#dropfiles-statistics #jform_publish:-moz-placeholder,
#dropfiles-statistics #jform_publish_down:-moz-placeholder,
#dropfiles-statistics #jform_custom_icon:-moz-placeholder {
  /* Firefox 18- */
  color: #404852;
  opacity: .5;
}
#dropfiles-statistics .dropfilesinput.minicolors,
#dropfiles-statistics #jform_remoteurl.minicolors,
#dropfiles-statistics #jform_created_time.minicolors,
#dropfiles-statistics #jform_modified_time.minicolors,
#dropfiles-statistics #jform_publish.minicolors,
#dropfiles-statistics #jform_publish_down.minicolors,
#dropfiles-statistics #jform_custom_icon.minicolors {
  padding-left: 55px;
}
#dropfiles-statistics .dropfilesinput.minicolors + .minicolors-swatch,
#dropfiles-statistics #jform_remoteurl.minicolors + .minicolors-swatch,
#dropfiles-statistics #jform_created_time.minicolors + .minicolors-swatch,
#dropfiles-statistics #jform_modified_time.minicolors + .minicolors-swatch,
#dropfiles-statistics #jform_publish.minicolors + .minicolors-swatch,
#dropfiles-statistics #jform_publish_down.minicolors + .minicolors-swatch,
#dropfiles-statistics #jform_custom_icon.minicolors + .minicolors-swatch {
  width: 2.5rem;
  top: 0.25rem;
  left: 0.25rem;
  bottom: 0.25rem;
  border: none;
}
#dropfiles-statistics .dropfilesinput.minicolors + .minicolors-swatch .minicolors-swatch-color,
#dropfiles-statistics #jform_remoteurl.minicolors + .minicolors-swatch .minicolors-swatch-color,
#dropfiles-statistics #jform_created_time.minicolors + .minicolors-swatch .minicolors-swatch-color,
#dropfiles-statistics #jform_modified_time.minicolors + .minicolors-swatch .minicolors-swatch-color,
#dropfiles-statistics #jform_publish.minicolors + .minicolors-swatch .minicolors-swatch-color,
#dropfiles-statistics #jform_publish_down.minicolors + .minicolors-swatch .minicolors-swatch-color,
#dropfiles-statistics #jform_custom_icon.minicolors + .minicolors-swatch .minicolors-swatch-color {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#dropfiles-statistics .dropfilesinput.minicolors .minicolors-grid .minicolors-picker,
#dropfiles-statistics #jform_remoteurl.minicolors .minicolors-grid .minicolors-picker,
#dropfiles-statistics #jform_created_time.minicolors .minicolors-grid .minicolors-picker,
#dropfiles-statistics #jform_modified_time.minicolors .minicolors-grid .minicolors-picker,
#dropfiles-statistics #jform_publish.minicolors .minicolors-grid .minicolors-picker,
#dropfiles-statistics #jform_publish_down.minicolors .minicolors-grid .minicolors-picker,
#dropfiles-statistics #jform_custom_icon.minicolors .minicolors-grid .minicolors-picker {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#dropfiles-statistics .dropfilesinput.minicolors .minicolors-grid .minicolors-picker > div,
#dropfiles-statistics #jform_remoteurl.minicolors .minicolors-grid .minicolors-picker > div,
#dropfiles-statistics #jform_created_time.minicolors .minicolors-grid .minicolors-picker > div,
#dropfiles-statistics #jform_modified_time.minicolors .minicolors-grid .minicolors-picker > div,
#dropfiles-statistics #jform_publish.minicolors .minicolors-grid .minicolors-picker > div,
#dropfiles-statistics #jform_publish_down.minicolors .minicolors-grid .minicolors-picker > div,
#dropfiles-statistics #jform_custom_icon.minicolors .minicolors-grid .minicolors-picker > div {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#dropfiles-statistics select.dropfilesinput:not(.ju-multiselect),
#dropfiles-statistics .fileblock .ju-settings-option .paraminput select {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 55%, gray 50%), linear-gradient(135deg, gray 50%, transparent 55%), linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 1.125rem) calc(1rem + 0.3125rem), calc(100% - 0.8125rem) calc(1rem + 0.3125rem), calc(100% - 2.5rem) 0.5rem;
  background-size: 0.3125rem 0.3125rem, 0.3125rem 0.3125rem, 0.0625rem 70%;
  background-repeat: no-repeat;
  padding-right: 2.8125rem !important;
}
#dropfiles-statistics select.dropfilesinput:not(.ju-multiselect):focus,
#dropfiles-statistics .fileblock .ju-settings-option .paraminput select:focus {
  background-image: linear-gradient(45deg, #ff8726 50%, transparent 55%), linear-gradient(135deg, transparent 55%, #ff8726 50%), linear-gradient(to right, #ff8726, #ff8726);
  background-position: calc(100% - 0.8125rem) calc(1rem + 0.3125rem), calc(100% - 1.125rem) calc(1rem + 0.3125rem), calc(100% - 2.5rem) 0.5rem;
  background-size: 0.3125rem 0.3125rem, 0.3125rem 0.3125rem, 0.0625rem 70%;
  background-repeat: no-repeat;
  outline: 0;
}
#dropfiles-statistics select.dropfilesinput:hover,
#dropfiles-statistics .fileblock .ju-settings-option .paraminput select:hover {
  cursor: pointer;
}
#dropfiles-statistics select.dropfilesinput:-moz-focusring,
#dropfiles-statistics .fileblock .ju-settings-option .paraminput select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
#dropfiles-statistics select.dropfilesinput option,
#dropfiles-statistics .fileblock .ju-settings-option .paraminput select option {
  width: 100%;
  line-height: 1.75rem;
  height: auto;
  color: #404852;
}
#dropfiles-statistics select + .chzn-container {
  float: right;
  height: 100%;
  line-height: 1.55rem;
}
#dropfiles-statistics select + .chzn-container > .chzn-choices {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
  box-shadow: unset;
  background: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  padding: 0.625rem;
}
#dropfiles-statistics select + .chzn-container > .chzn-choices li.search-choice {
  background: #fff;
  border: 1px solid #ddd;
  padding: 0.625rem;
  padding-right: 0.9375rem;
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  border-radius: 2px;
  line-height: 1.55rem;
}
#dropfiles-statistics select + .chzn-container > .chzn-choices li.search-choice .search-choice-close {
  top: 50%;
  right: 3px;
  transform: translateY(-50%);
}
#dropfiles-statistics select + .chzn-container > .chzn-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 100%;
  display: block;
  box-shadow: none;
  border-radius: 2px;
  line-height: 1.55rem;
}
#dropfiles-statistics select + .chzn-container > .chzn-choices li.search-field input {
  box-sizing: border-box;
  box-shadow: none;
  border: none;
  margin: 0;
  padding: 15px 6px;
}
#dropfiles-statistics select + .chzn-container > .chzn-choices li.search-choice {
  padding: 3px 15px 3px 3px;
}
#dropfiles-statistics .ju-button {
  background-color: transparent;
  color: #000;
  padding: 0.625rem 0.9375rem;
  min-width: 9.375rem;
  border: 1px solid #9fabba;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.125rem;
  transition: all ease 0.5s;
  vertical-align: middle;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  font-size: 14px;
  font-size: 0.875rem;
}
#dropfiles-statistics .ju-button:focus {
  outline: none;
}
#dropfiles-statistics .ju-button:hover {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#dropfiles-statistics .ju-button.orange-button {
  background-color: #ff8726;
  color: #fff;
  border-color: #ff8726;
}
#dropfiles-statistics .ju-button.orange-outline-button {
  background-color: #fff;
  color: #ff8726;
  border-color: #ff8726;
}
#dropfiles-statistics .ju-button.gray-outline-button {
  background-color: #f3f6fa;
  color: #6a8ba5;
  border-color: #6a8ba5;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(232, 182, 139, 0.27);
  -moz-box-shadow: 4px 4px 10px 0px rgba(232, 182, 139, 0.27);
  box-shadow: 4px 4px 10px 0px rgba(232, 182, 139, 0.27);
}
#dropfiles-statistics .ju-rect-button {
  background-color: #fff;
  border: 1px solid #ff8726;
  color: #ff8726;
  cursor: pointer;
  padding: 0.625rem 0.9375rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#dropfiles-statistics .ju-material-button {
  border: none;
  outline: none;
  padding: 0.625rem 1.25rem;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  font-size: 0.875rem;
  background-color: #2196f3;
  color: #fff;
}
#dropfiles-statistics .ju-material-button:hover {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#dropfiles-statistics *:not(.material-icons):not(.dashicons):not(.fa) {
  font-family: "Nunito Sans", sans-serif !important;
}
#dropfiles-statistics > h2 {
  color: #23282d;
  font-size: 1.3em;
  margin: 0 0 1em 0;
}
#dropfiles-statistics #selection {
  vertical-align: middle;
  max-width: 300px;
}
#dropfiles-statistics #selection option {
  max-width: 300px;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfilesinput {
  padding: 0.625rem 0.9375rem;
  line-height: 28px;
}
#dropfiles-statistics .dropfiles-statistics--form select.dropfilesinput,
#dropfiles-statistics .dropfiles-statistics--form .dropfilesinput[type=text] {
  height: auto;
  padding: 0.625rem 3.4375rem 0.625rem 0.9375rem;
  font-size: 14px;
}
@media screen and (min-width: 1440px) {
  #dropfiles-statistics .dropfiles-statistics--form select.dropfilesinput,
  #dropfiles-statistics .dropfiles-statistics--form .dropfilesinput[type=text] {
    width: 100%;
  }
}
#dropfiles-statistics .dropfiles-statistics--form select.dropfilesinput:focus,
#dropfiles-statistics .dropfiles-statistics--form .dropfilesinput[type=text]:focus {
  color: #016087;
  box-shadow: unset;
  outline: none;
}
#dropfiles-statistics .dropfiles-statistics--form .ju-icon-button {
  padding: unset !important;
  margin: unset !important;
  display: inline-block !important;
  min-width: unset !important;
  border: none !important;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  line-height: 0 !important;
  border-radius: unset !important;
}
#dropfiles-statistics .dropfiles-statistics--form .ju-icon-button:hover, #dropfiles-statistics .dropfiles-statistics--form .ju-icon-button:focus {
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
  box-shadow: unset;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-row {
  display: flex;
  flex-flow: row wrap;
  margin: 5px 0;
}
@media (min-width: 1200px) {
  #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-row.row-fluid {
    max-width: 100%;
  }
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-row .statistics-search-btn {
  margin-right: 5px;
  background: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  padding: 0.625rem 10px;
  line-height: 28px;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-row .statistics-search-btn:focus, #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-row .statistics-search-btn:hover {
  cursor: pointer;
  outline: none;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-row .statistics-search-btn .icon-search {
  vertical-align: middle;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-row .statistics-search-btn .icon-search:before {
  font-size: 15px;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col {
  flex: 1;
  flex-shrink: 0;
  padding: 10px;
  margin: 5px 25px 5px 0;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--type {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 300px;
  min-height: 72px;
  max-height: 72px;
}
@media screen and (min-width: 420px) and (max-width: 768px) {
  #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--type {
    min-height: 70px;
    max-height: 70px;
  }
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col label {
  padding: 0.625rem 0.9375rem;
  line-height: 28px;
  font-size: 16px;
  letter-spacing: 0.53px;
  color: #404852;
  max-width: 25%;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter {
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter {
    min-width: 380px;
    max-width: 600px;
    min-height: 72px;
    max-height: 72px;
  }
}
@media screen and (min-width: 420px) and (max-width: 768px) {
  #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter {
    min-height: 60px;
    max-height: 60px;
  }
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter .from-date,
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter .to-date {
  width: calc(50% - 10px);
  display: inline-block;
  box-sizing: border-box;
  float: left;
  margin: 0 5px;
  height: 100%;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 420px) {
  #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter .from-date,
  #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter .to-date {
    width: 100%;
    height: auto;
  }
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter .from-date .lbl-date,
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter .to-date .lbl-date {
  width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 30px;
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
}
@media screen and (min-width: 1024px) {
  #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter .from-date .lbl-date,
  #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter .to-date .lbl-date {
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    top: 50%;
    z-index: 2;
  }
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter .from-date .input-append,
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter .to-date .input-append {
  margin: 0;
  box-sizing: border-box;
  max-width: calc(100% - 50px);
  width: calc(100% - 50px);
  display: inline-block;
  vertical-align: middle;
}
@media screen and (min-width: 1024px) {
  #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter .from-date .input-append,
  #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter .to-date .input-append {
    position: absolute;
    transform: translateY(-50%);
    left: 40px;
    top: 50%;
  }
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter .from-date #fdate,
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter .from-date #tdate,
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter .to-date #fdate,
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter .to-date #tdate {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #000;
  font-weight: 700;
  font-size: 14px;
  max-width: 260px;
  width: calc(100% - 60px);
  min-width: 72px;
  height: auto;
  padding: 0.625rem 6px;
}
@media screen and (max-width: 420px) {
  #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter .from-date {
    margin: 0 5px 10px 5px;
  }
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter #fdate_img,
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter #tdate_img {
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #fff;
  background-color: #2384d3;
  padding: 0.625rem 12px;
  margin: 0;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter #fdate_img:focus, #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter #fdate_img:hover,
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter #tdate_img:focus,
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter #tdate_img:hover {
  cursor: pointer;
  outline: none;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter #fdate_img .icon-calendar,
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter #tdate_img .icon-calendar {
  margin: 0;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter label, #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter input {
  flex: 1;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter input.dropfilesinput {
  border: none;
  font-weight: bold;
  letter-spacing: 1.5px;
  width: 65%;
}
@media (max-width: 1600px) {
  #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter input.dropfilesinput {
    width: 90%;
  }
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter .wpfd-range-icon {
  font-size: 24px;
  vertical-align: middle;
}
@media (max-width: 1800px) {
  #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--date-filter label {
    display: none;
  }
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--additional {
  min-width: 200px;
  max-width: 300px;
  font-size: 14px;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--additional #selection_value {
  width: 100%;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--additional .chzn-choices {
  max-width: 300px;
  line-height: 28px;
  min-height: 52px;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--additional .chzn-choices .search-choice {
  position: relative;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
  background: #fff;
  border: 1px solid #ddd;
  display: block;
  margin: 0;
  margin-bottom: 2px;
  padding: 3px 15px 3px 3px;
  width: auto;
  margin-right: 5px;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--additional .chzn-choices .search-choice + .search-field {
  display: none;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--additional .chzn-choices .search-choice-close {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  background: url(../images/admin_icon/chosen-sprite.png) -42px 1px no-repeat;
  font-size: 1px;
  top: 4px !important;
  right: 2px !important;
  transform: unset;
  left: unset;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--additional .chzn-drop {
  max-width: 300px;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--additional .chzn-container {
  width: 100% !important;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--additional select, #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--additional input, #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--additional .search-choice span {
  font-size: 14px;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--submit {
  text-align: left;
  max-width: 200px;
  margin-right: 0;
  min-height: 72px;
  max-height: 72px;
  box-sizing: border-box;
}
@media screen and (min-width: 420px) and (max-width: 768px) {
  #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--submit {
    min-height: 60px;
    max-height: 60px;
  }
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--submit button {
  box-shadow: none;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--submit button:hover {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--submit .dropfiles-search-btn {
  padding: 10px 20px;
  min-width: 165px;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--limit {
  background: transparent;
}
@media screen and (max-width: 768px) {
  #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--limit {
    padding-left: 0;
  }
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--limit label {
  display: none;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--submit, #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--reset {
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--submit button, #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--reset button {
  height: 100%;
  font-weight: bold;
  padding: 10px 30px;
}
#dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--search, #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--reset, #dropfiles-statistics .dropfiles-statistics--form .dropfiles-statistics--form-col.dropfiles-statistics--limit {
  padding: 0 !important;
}
#dropfiles-statistics .dropfiles-statistics--chart {
  position: relative;
  padding: 0.625rem 0;
  background: #ffffff;
  margin: 5px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#dropfiles-statistics .dropfiles-statistics--chart > h3 {
  margin: 30px 30px 0 30px;
}
#dropfiles-statistics .dropfiles-statistics--chart .dropfiles-statistics--export {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  min-width: 70px;
}
#dropfiles-statistics .dropfiles-statistics--chart #chart_div {
  background: #ffffff;
}
#dropfiles-statistics .dropfiles-statistics--chart #chart_div svg defs + rect {
  fill: transparent;
}
#dropfiles-statistics .dropfiles-statistics--search {
  position: relative;
}
#dropfiles-statistics .dropfiles-statistics--search .dropfilesinput {
  border: unset;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
  box-shadow: unset;
}
@media screen and (max-width: 768px) {
  #dropfiles-statistics .dropfiles-statistics--search .dropfilesinput {
    padding: 0.625rem 0.9375rem !important;
  }
}
#dropfiles-statistics .dropfiles-statistics--search .input-append {
  margin: 0;
  width: 100%;
}
#dropfiles-statistics .dropfiles-statistics--search .input-append > .dropfilesinput {
  width: calc(100% - 45px);
  box-sizing: border-box;
  min-width: 100px;
}
#dropfiles-statistics .dropfiles-statistics--limit {
  text-align: right;
}
@media screen and (max-width: 768px) {
  #dropfiles-statistics .dropfiles-statistics--limit {
    text-align: left;
  }
}
#dropfiles-statistics .dropfiles-statistics--table {
  width: 100%;
  margin: 0;
}
#dropfiles-statistics .dropfiles-statistics--table .ju-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  margin-bottom: 0;
}
#dropfiles-statistics .dropfiles-statistics--table .ju-table thead th {
  text-align: left;
  line-height: 35px;
  color: #568095;
  font-size: 0.9375rem;
  padding-left: 0;
}
#dropfiles-statistics .dropfiles-statistics--table .ju-table thead th a {
  text-decoration: none;
}
#dropfiles-statistics .dropfiles-statistics--table .ju-table thead th a:hover, #dropfiles-statistics .dropfiles-statistics--table .ju-table thead th a:focus {
  outline: unset;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
  box-shadow: unset;
}
#dropfiles-statistics .dropfiles-statistics--table .ju-table thead th a .dashicons {
  line-height: 2.0625rem;
}
#dropfiles-statistics .dropfiles-statistics--table .ju-table tbody td {
  background: #ffffff;
  padding: 5px 4px 5px 10px;
  line-height: 30px;
  font-size: 0.875rem;
  color: #404852;
  font-weight: bold;
  border-top: none;
}
#dropfiles-statistics .dropfiles-statistics--table .ju-table tbody td.first {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
#dropfiles-statistics .dropfiles-statistics--table .ju-table tbody td.last {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
#dropfiles-statistics .dropfiles-statistics--pagination {
  display: inline-block;
}
#dropfiles-statistics .dropfiles-statistics--pagination .pagination-list li a {
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
  padding: 0.25rem 0.5rem;
  margin-right: 4px;
  background: #fff;
  color: #ff8726;
}
#dropfiles-statistics .dropfiles-statistics--pagination .pagination-list li a span {
  vertical-align: middle;
}
#dropfiles-statistics .dropfiles-statistics--pagination .pagination-list li.active span {
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
  padding: 0.25rem 0.5rem;
  margin-right: 4px;
  background: #ff8726;
  color: #fff;
}
#dropfiles-statistics .dropfiles-statistics--pagination .pagination-list li:last-child a {
  background: #ff8726;
  color: #fff;
}

body.com_dropfiles > .calendar {
  background-color: #fff;
}
body.com_dropfiles > .calendar table {
  background-color: #fff;
}
body.com_dropfiles > .calendar table tr td {
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  white-space: nowrap;
  cursor: pointer;
  background-color: #fff;
  color: #000;
}
body.com_dropfiles > .calendar table tr td.selected {
  background-color: #357ebd;
  border-color: transparent;
  color: #fff;
}
body.com_dropfiles > .calendar table tr.rowhilite td {
  background-color: #eee;
  border-color: transparent;
  color: inherit;
}
body.com_dropfiles > .calendar table tr.rowhilite td.selected {
  background-color: #357ebd;
  border-color: transparent;
  color: #fff;
}
