hr{
    margin: 0;
}

.messages__vue{
    min-height: 60vh;
}

.messages__block{
    padding: 20px 0 0 0;
}

.messages__campaign-block{
    min-height: 50px;
    padding: 10px;
}

.messages__active-campaign{
    background: #eadede;
}

.messages__active-hr{
    border-bottom: 2px solid #12DB42;
}

.messages__list{
    min-height: 60vh;
}

.messages__list-block{
    min-height: 50vh;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 50px;
}

.messages__list-block li{
    list-style-type: none;
}

.messages__bottom-input{
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
}

.messages__bottom-input input{
    border-top: unset;
    border-right: unset;
    border-left: unset;
    border-radius: 0;
}

.messages__bottom-input input:focus,.messages__bottom-input input:hover{
    box-shadow: unset;
}

.messages__send-icon{
    font-size: 25px;
    margin-left: 10px;
}

.messages__current_user{
    display: flex;
    justify-content: end;
}

.messages__message-item{
    width: 100%;
}

.messages__message-item-block{
    width: max-content;
    text-align: right;
}

.messages__message-item-span{
    margin: 5px 15px 15px 15px;
    background: #eeebeb;
    padding: 10px;
    border-radius: 5px;
}

.messages__message-item-from{
    font-size: 14px;
}
