/* Module CAS */
 .em-formRegistrationCenter .container-module-cas  {
     margin-top: 150px !important;
 }

.container-module-cas {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 48%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    height: 35rem;
    border-radius: 5px;
}

.container-module-cas .sous-container-module-cas form .controls {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 16px;
}

.container-module-cas .sous-container-module-cas form .controls input  {
    width: 100%;
}

.container-module-cas .sous-container-module-cas {
    width: 100%;
}
.container-module-cas  .sous-container-module-cas   ul {
    list-style: none;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-module-cas .sous-container-module-cas ul li {
    padding: 30px;
    flex: 0 0 50%;
    text-align: center;
}

.container-module-cas .sous-container-module-cas #connexion {
    display: flex;
    flex-direction: row;
    height: 25rem;
    width: 85%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.container-module-cas .sous-container-module-cas #connexion .container {
  width: 100%;
}


.container-module-cas  .sous-container-module-cas #connexion a.btn.btn-primary {
    text-transform: initial;
    font-size: 14px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.container-module-cas  .sous-container-module-cas #inscription  a.btn.btn-primary {
    text-transform: initial;
    font-size: 14px;
     width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}


.container-module-cas  .sous-container-module-cas #inscription {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    border-radius: 5px;
}

.container-module-cas  .sous-container-module-cas #inscription .formulaire {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.container-module-cas  .sous-container-module-cas #inscription .formulaire .btn.btn-danger {
    width: 100%;
}

.container-module-cas .sous-container-module-cas #inscription .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.container-module-cas  .sous-container-module-cas #inscription .container p:nth-child(1),
.container-module-cas  .sous-container-module-cas #inscription .container p:nth-child(2) {
    flex: 0 0 50%;
}

.container-module-cas  .sous-container-module-cas .invisible {
    display: none !important;
}

.container-module-cas  .sous-container-module-cas li.couleurFoncee {
    background: #FCFCFC;
    border-radius: 5px 5px 0 0;
}

.container-module-cas  .sous-container-module-cas li:not(.couleurFoncee) {
    border-radius: 5px 5px 0 0;
}

.container-module-cas  .sous-container-module-cas li:nth-child(1):not(.couleurFoncee) {
    -webkit-box-shadow: 5px -6px 6px 0px rgb(0 0 0 / 4%);
    box-shadow: 5px -6px 6px 0px rgb(0 0 0 / 4%);
    z-index: 1;
}

.container-module-cas  .sous-container-module-cas li:nth-child(2):not(.couleurFoncee) {
    -webkit-box-shadow: -5px -6px 6px 0px rgb(0 0 0 / 4%);
    box-shadow: -5px -6px 6px 0px rgb(0 0 0 / 4%);
    z-index: 1;
}

.container-module-cas .icon-star.small {
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
    padding-left: 2px;
    color: #c30505;
    font-size: 5px;
    order: 2;
    top: -10px;
}

.container-module-cas .control-group:nth-child(3) .controls button.btn.btn-primary  {
    font-size: 14px;
}

.container-module-cas .btn-cas a.btn.btn-primary.logo {
    border-radius: 4px 0px 0px 4px !important;
    padding: 5px 12px !important;
}

.container-module-cas .btn-cas img {
    width: 15px;
}
.container-module-cas .btn-cas  {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-module-cas .sous-container-module-cas #connexion .btn-cas a.btn.btn-primary:not(.logo) {
    border-radius: 0px 4px 4px 0px !important;
   opacity: 0.9;
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-module-cas .sous-container-module-cas #connexion .btn-cas a.btn.btn-primary.rounded:not(.logo) {
    border-radius: 4px !important;
}


#login-form .control-group button.login-button {
    text-transform: capitalize;
    width: 100% !important;
    height: 50px;
    margin-right: 0px !important;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

@media all and (max-width: 479px) {

    .container-module-cas {
        width: 90%;
    }

}

