/* Style du module */

/* Page d'accueil */
.homepage .g-container {
  width: 100%;
  padding: 0 !important;
}

.homepage .span12 {
    display: none;
}

.homepage .g-grid {
    text-align: center;
}

/* Container du module */
.homepage-container {
    width: 100%;
    margin-top: -50px;
}

/* Bannière */
.homepage-container__banner {
    height: 15vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-container__banner h1 {
    color: #fff;
    width: 50%;
    font-size: 48px;
}


/* Barre de recherche */
.homepage-container__filter {
    width: max-content;
    padding: 16px 32px;
    border-radius: 5px;
    margin: -45px auto 16px auto;
}

.homepage-container__filter form select{
    margin-left: -5px;
    border-radius: 0;
    border: unset;
}

.homepage-container__filter form input{
    border-radius: 0;
    border: unset;
}

.homepage-container .homepage-container__filter .homepage-search_button{
    padding: 0;
    height: 50px;
    width: 50px;
    margin-left: -5px;
    border-radius: 0;
    border: unset;
}

/* Texte d'introduction */
.homepage-container__intro {
    width: 80%;
    text-align: left;
    margin: 32px auto 48px auto;
}
.homepage-container__intro p {
    line-height: 24px;
}

/* Campagnes */
.homepage-container__campaigns {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.homepage-container__campaign {
    display: grid;
    grid-template-columns: repeat(auto-fill, 32.61%);
    gap: 16px;
}

.homepage-container__campaign--pinned {
    width: 100%;
    background: #fff;
}

.homepage-container__campaign-block {
    background: #fff;
    padding: 16px;
}
