
.values-selection[data-v-2064eced] {
	max-height: 180px;
	overflow-y: auto;
}
.multi-select-filter-card[data-v-2064eced] {
	position: relative;
}
.multi-select-filter-card  .toggle-open-close[data-v-2064eced] {
	position: absolute;
	top: 4px;
	right: 4px;
}


.default-filter-card[data-v-565be899] {
	position: relative;
}
.default-filter-card  .toggle-open-close[data-v-565be899] {
	position: absolute;
	top: 4px;
	right: 4px;
}


#select-scopes:not(.hidden) {
	position: absolute;
	top: 42px;
	z-index:2;
	list-style-type: none;
	margin: 0;
	padding: 8px;
}
#select-scopes li {
	padding: 8px;
}
#global-search-values {
	height: 42px;
	overflow-y: auto;
}
#current-global-search {
	border: none;
	border-radius: 0;
	box-shadow: none;
	outline: 0;
}
.global-search-tag {
	padding: 4px;
}

