/* SCLogin Theme for sourcecoast.com look - Add new themes to templates/YOUR_TEMPLATE_NAME/html/mod_sclogin/themes directory */
.sclogin-modal {
    border-radius: 6px;
}

.sclogin {
    overflow: visible;
    text-align: left;
}

.sclogin .powered-by {
    clear: both;
}

/* Modal */
div.sclogin-modal.sourcecoast.modal {
    transform: none;
}

div.sclogin-modal.modal.in {
    display: block !important;
    background-color: #FFF;
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 560px;
    margin-left: -280px;
    height: fit-content;
}

@media (max-width: 1120px) {
    div.sclogin-modal.modal.in {
        width: 80%;
        margin-left: -40%;
    }
}

/* End Modal */

div.sclogin-social-login a.show,
div.sclogin-joomla-login a.show,
div.sclogin-social-connect a.show {
    margin-bottom: .5rem;
}

div.sclogin-social-connect,
div.social-login.reconnect:nth-of-type(2) {
    clear:left;
}

.sclogin-social-login .social-login,
.social-login.reconnect{
    margin:.25rem !important;
}

.sclogin li.connect .social-login.reconnect {
    clear:none;
}


.sclogin .form-control {
    padding: .6rem 1rem;
}

.sclogin .input-group {
    margin-bottom: 9px;
}

.sclogin.ns-bs2 .input-append input:only-child {
    border-radius: 0 4px 4px 0 !important;
}

.sclogin.ns-bs2 input.sclogin-username.input-block-level,
.sclogin.ns-bs2 input.sclogin-passwd.input-block-level {
    height: 54px;
    padding: .6rem 1rem;
    margin-bottom: 0px;
}

.sclogin.ns-bs5 input[type="text"],
.sclogin.ns-bs5 input[type="password"],
.sclogin.ns-bs5 .input-group-text {
    height: 54px;
    margin-bottom: 0px;
}

.sclogin input[type="text"],
.sclogin input[type="password"] {
    height: 44px;
    margin-bottom: 0px;
}

.sclogin .showpasswd.btn,
.sclogin a.forgot.btn {
    height: 54px;
    line-height: 54px;
    margin-bottom: 0px;
}

.sclogin.ns-bs2 .showpasswd.btn,
.sclogin.ns-bs2 a.forgot.btn {
    height: 54px;
    line-height: 54px;
    padding: 0 22px;
}

.sclogin .showpasswd.btn {
    background-color: #46b277;
    /*border: 1px solid #46b277;*/
}

.sclogin .input-group-append .btn:last-child {
    border-radius: 0 4px 4px 0;
}

.sclogin a.forgot.btn i {
    margin-top: 0px;
    vertical-align: middle;
    font-size: 1rem;
}

.form-sclogin-submitcreate a,
.sclogin-modal-links a.btn,
.scuser-menu a.dropdown-toggle {
    text-decoration: none !important;
}

.form-sclogin-submitcreate a,
.scuser-menu a.dropdown-toggle {
    color: #000000;
}

.sclogin [class*="span"] {
    margin-left: 0 !important;
}

.sclogin .clearfix {
    clear: both;
}

/* Vertical Layout */

.sclogin-joomla-login.vertical input.sclogin-username.input-block-level,
.sclogin-joomla-login.vertical input.sclogin-passwd.input-block-level {
    width: 87% !important;
}

.sclogin-joomla-login.vertical a.forgot.btn {
    width: auto !important;
}

.sclogin-joomla-login.vertical input.sclogin-username.input-append,
.sclogin-joomla-login.vertical input.sclogin-passwd.input-append {
    width: 100%;
}

.sclogin-joomla-login.vertical .form-sclogin-submitcreate .btn {
    margin-top: 2px !important;
}

.sclogin .vertical div.form-group,
.sclogin-joomla-login.vertical .control-group {
    margin-bottom: 10px;
}

.sclogin-modal .modal-body {
    max-height:295px;
}

/* Horizontal Layout */
.sclogin .horizontal div.form-group,
.sclogin-joomla-login.horizontal .control-group {
    margin-right: 9px;
}

.sclogin.ns-bs5 .horizontal div {
    display: flex;
}

/* Modal Links */
.sclogin-modal-links a {
    margin-right: 5px;
}

.form-sclogin-submitcreate .btn.btn-secondary,
.sclogin-modal-links a.btn-primary,
.sclogin-modal-links a.btn-secondary{
    color: #FFFFFF;
}

/* Logged in User options */
.sclogin .flat-list {
    display: block !important;
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    margin-top: 1px !important;
}

.sclogin .logout-button {
    margin-top: 0px;
}

.sclogin .sclogout-button {
    float: left;
    margin-right: 5px;
}

.sclogin .logout-link {
    background-color: transparent;
    text-decoration: underline;
    border: none;
    color: #000000;
    cursor: pointer;
}

.sclogin .scuser-menu.dropdown-view {
    float: left;
}

.sclogin .scuser-menu.list-view {
    clear: both;
}

.sclogin .scprofile-pic,
.sclogin .sclogin-greeting,
.sclogin .sclogin-profile-link{
    margin-bottom: 5px;
}

.sc-connect-user {
    clear: both;
}

.header .sclogin span,
.header .sclogin-modal-links {
    padding:0 10px;
}

.header .sclogin span a,
.header .sclogin-modal-links a{
    padding:10px 13px;
    margin-right:0px;
}

.sclogin li.connect {
    margin-top: 5px;
}
.sclogin li.connect .reconnect a {
    padding:0;
}

.sclogin .bottom {
    border-top: 1px solid #ddd;
    padding-top:15px;
    padding-bottom:0px;
}

.sclogin .top {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-bottom: 15px;
}

.sclogin .side {
    padding-left: 15px;
}

.sclogin-social-login .pull-left,
.social-login.reconnect.pull-left {
    margin:5px;
}

.sclogin-greeting,
.sclogout-button {
    float:left;
}

.sclogout-button form {
    margin:0px;
}

.sclogout-button .btn {
    padding:4px 12px;
    margin-top:0px;
    margin-left:5px;
}

.sclogin .nav li {
    line-height:43px;
}

.sourcecoast .btn {
    border: 0;
    background-image:none;
    background-color:#333;
    padding: 16px 22px;
}

.sourcecoast .btn-primary{background-color:#46b277}

.sourcecoast .btn-primary:hover{background-color:rgba(70,178,119,0.6)}