#dp-bookingform-options-payment input {
	display: none;
}

.dp-bookingform-payment-plugin {
	padding: 10px 30px 10px 30px;
	border: 2px solid #EEE;
	margin-bottom: 10px;
}

.dp-bookingform-payment-plugin:hover {
	background-color: #dff0d8;
	cursor: pointer;
}

#dp-bookingform-options-series {
	border-top: 1px solid #EEE;
	padding: 10px 0px 10px 0px;
}

#dp-bookingform-options-series-description {
	font-weight: bold;
}

#dp-bookingform-options-events {
	max-height: 250px;
	overflow: auto;
}

#dp-bookingform-options-events table thead {
	display: none;
}

#dp-bookingform-options-events tr {
	padding: 10px 30px 10px 30px;
	border-bottom: 1px solid #EEE;
	margin-bottom: 10px;
}

#dp-bookingform-options-events tr:hover {
	background-color: #dff0d8;
	cursor: pointer;
}

#dp-bookingform-options-events table td {
	vertical-align: middle;
}

#dp-bookingform-options-events .dp-bookingform-options-amount-info,
#dp-bookingform-options-events .dp-bookingform-options-price-info {
	border-left: 0px;
}

#dp-bookingform-options-events table select {
	max-width: 50px
}

#dp-bookingform-options-events .dp-bookingform-options-price {
	text-align: right;
}

#dp-bookingform-options-events .dp-bookingform-options-amount,
#dp-bookingform-options-events .dp-bookingform-options-amount-info,
#dp-bookingform-options-events .dp-bookingform-options-price-info {
	width: 1%
}

#dp-bookingform-options-events .dp-bookingform-options-price-cell-original {
	text-decoration: line-through;
	display: none;
}

#dp-bookingform-options-total-price {
	text-align: right;
	font-weight: bold;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
	padding: 10px 0px 10px 0px;
	margin: 10px 0px 10px 0px;
	width: 100%;
}

#dp-bookingform-options-total-price-currency {
	margin-left: 5px;
}
