.em-container-profile-view-pict a.btn.manage-account-icon{
    background: var(--em-profile-color);
    border: 1px solid var(--em-profile-color);
    box-shadow: var(--em-box-shadow-x-1) var(--em-box-shadow-y-1) var(--em-box-shadow-blur-1) var(--em-box-shadow-color-1), var(--em-box-shadow-x-2) var(--em-box-shadow-y-2) var(--em-box-shadow-blur-2) var(--em-box-shadow-color-2), var(--em-box-shadow-x-3) var(--em-box-shadow-y-3) var(--em-box-shadow-blur-3) var(--em-box-shadow-color-3);
    display: flex;
    align-items: center;
    padding: 10px 12px !important;
    border-radius: var(--em-default-br) !important;
    color: var(--neutral-0);
    gap: 12px;
}

.em-container-profile-view-pict a.btn.manage-account-icon:hover {
    background: var(--neutral-0);
    color: var(--em-profile-color);
}

.em-container-profile-view-pict a.btn.manage-account-icon span.material-icons-outlined{
    font-size: 20px;
}