a.advanced-search-link-NOT {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.view-list form.form-search {
	overflow: auto;
}

/** Image field as background */

.fabrikDataContainer .em-repeat-card-no-padding {
	border-radius: 8px !important;
}

.fabrikImageBackground{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 192px;
}

.list-footer{
	margin-bottom: 16px
}

.view-list .fabrikNav .list-footer span.add-on{
	background: transparent;
	color: #A4A4A4;
}

/* Alignment betwween filters and datas */
.fabrikFiltersBlock{
	padding: 24px;
	background: #FFFFFF;
	border: 1px solid #EDEDED;
	box-shadow: 0px 1px 1px rgba(5, 47, 55, 0.07), 0px 2px 1px rgba(5, 47, 55, 0.06), 0px 1px 3px rgba(5, 47, 55, 0.1);
	border-radius: 16px;
	height: 100%;
}

.fabrikDataContainer .page-header{
	margin-top: 0 !important;
}

.view-list .filtertable input.fabrik_filter.search-query.input-medium{
	background-color: #FFFFFF !important;
	border: 1px solid #E3E3E3 !important;
	border-radius: 8px !important;
	height: 38px;
}

.view-list .filtertable select.inputbox.fabrik_filter{
	width: 100%;
	height: 38px;
	border-radius: 8px;
}

.filter-data-align{
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
}

input.fabrik_filter_submit.button {
	font-weight: inherit;
	lign-height: normal;
	letter-spacing: normal;
	width: 100%;
	width: -moz-available;
	width: -webkit-fill-available;
	width: fill-available;
}

.fabrikFilterContainer .filtertable a.clearFilters {
	color: var(--neutral-800);
}

.fabrikFilterContainer .filtertable a.clearFilters:hover {
	color: var(--neutral-600);
	transition: all ease 0.5s;
}

.fabrikFilterContainer{
	flex: 0 0 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.fabrikDataContainer{
	flex: 0 0 70%;
}

.gantry.view-list:not(.g-back-office-emundus-tableau) #g-container-main div.g-container {
	left: 0;
}

.view-list form[id^="listform_"].fabrikForm{
	height: 100%;
	overflow: hidden;
	margin-bottom: 32px !important;
}
/* */

/* DATAS */
.view-list .fabrikDataContainer .table .fabrik_row div.tags ul.fabrikRepeatData{
	display: flex;
	gap: 8px;
	align-items: center;
}
.view-list .fabrikDataContainer .table .fabrik_row div.tags ul.fabrikRepeatData li{
	font-size: 12px;
	padding: 6px 12px;
	border-radius: 14px;
	background: #F0F0F0;
	color: #666666
}
.em-caption {
	color: var(--neutral-600);
}

/* HEADER */
.view-list .span12 div.page-header{
	position: static;
}

.view-list #g-container-main .page-header{
	margin-right: 0 !important;
}
.fabrik-switch-view-icon{
	padding: 6px;
	border-radius: 4px;
}

button.em-applicant-primary-button[disabled] {
	border: solid 1px #757575 !important;
	background-color: transparent !important;
	color: #757575;
	white-space: normal;
}

.heart-voted-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	background: white;
	border-radius: 50%;
	color: var(--em-secondary-color);
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	padding: 2px 1px 0 0;
}

.heart-voted-icon .material-icons-outlined {
	font-size: 22px;
	margin: auto;
}

/* */



/** PAGINATION **/
.view-list .fabrikDataContainer .fabrikNav .list-footer .pagination{
	margin: 0;
}
.view-list .fabrikDataContainer .fabrikNav .list-footer .pagination ul.pagination-list{
	box-shadow: unset;
}
.view-list .fabrikDataContainer .fabrikNav .list-footer .pagination ul.pagination-list li a{
	background: transparent;
	border: unset;
	padding: 0;
	box-shadow: unset;
	display: flex;
	flex-direction: column;
	width: 35px;
	justify-content: center;
	height: 35px;
	align-items: center;
	cursor: pointer;
}
.view-list .fabrikDataContainer .fabrikNav .list-footer .pagination ul.pagination-list li.active:not(.pagination-prev):not(.pagination-start):not(.pagination-next):not(.pagination-end) a{
	background: #FFFFFF;
	border-radius: 4px;
	border: 1px solid #EDEDED;
}
.view-list .fabrikDataContainer .fabrikNav .list-footer .pagination ul.pagination-list li.active.pagination-prev a,
.view-list .fabrikDataContainer .fabrikNav .list-footer .pagination ul.pagination-list li.active.pagination-start a,
.view-list .fabrikDataContainer .fabrikNav .list-footer .pagination ul.pagination-list li.active.pagination-next a,
.view-list .fabrikDataContainer .fabrikNav .list-footer .pagination ul.pagination-list li.active.pagination-end a
{
	color: #8990A9;
}
/** **/

@media (max-device-width: 499px)
{
	.fabrikWindow.modal {
		max-width:100% !important;
		left:0 !important;
	}

	.fabrikWindow.modal .contentWrapper {
		max-width:100% !important;
	}

	.fabrikWindow .radius_search table.radius_table {
		table-layout:fixed;
		max-width:100%;
	}

	.fabrikWindow .radius_search table.radius_table td:first-child {
		width:70px;
	}

	.radius_search_geocode_map {
		width:300px;
		height:275px;
		margin-top:15px;
	}
	.fabrikFilterContainer{
		width: 100%;
		flex: 0 0 100%;
	}
	.fabrikDataContainer{
		flex: 0 0 100%;
	}
}

.view-list:not(.g-back-office-emundus-tableau) #g-container-main {
	padding-left: 0 !important;
}

#g-container-main .g-container {
	max-width: 1366px;
}

@media only screen and (min-device-width: 500px)
{
	.radius_search_geocode_map {
		width:400px;
		height:275px;
		margin-top:15px;
	}
}

/* INTRODUCTION */

.alert {
	padding : 20px !important;
}

.alert.alert-info .material-icons {
	margin-right : 12px;
}

.alert.alert-info h3 {
	margin-bottom: 8px
}

.view-list .page-intro p {
	margin-left: 38px !important;
}

/* CARD */

.p-4 {
	padding: 20px 27px !important;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 12px;
}

.h-14 {
	height: auto !important;
}