/* Module Campagnes */
#navfilter .navsearch .navsearch-content .input-group-btn button {
    margin-left: -5px !important;
    height: 34px !important;
    background-color: #e03c32;
    background: #e03c32;
    color: white;
    margin-bottom: 0;
}
.navsearch input {
    margin-bottom: 0 !important;
    height: 34px !important;
    border-radius: 0;
}
.navsearch label {
    margin: 0 !important;
}
#navfilter .navsearch .navsearch-content .input-group-btn button {
    margin-left: -5px !important;
    height: 34px !important;
    background-color: #e03c32;
    background: #e03c32;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#navfilter .navsearch .navsearch-content .input-group label input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.campaignbymonth {
    margin-top: 0 !important;
}
.campaign-title {
    color: #292929;
    font-weight: 600;
    margin-bottom: 20px !important;
    padding-left: 0;
}
.campaign-title::after {
    content: "\f0a1";
    font-family: FontAwesome;
    margin-left: 10px;
}
.campaigntext.blue h4 a:hover {
    text-decoration: underline;
}
.campaigntext.blue h4 {
    margin-bottom: 10px !important;
}
.campaigntext.blue h4 a {
    font-size: 1em;
    display: block;
    width: 100% !important;
}

#navfilter .navsearch .navsearch-content .input-group-btn button::before {
    content: "\f002";
    font-family: FontAwesome;
    margin-right: 6px;
}
.navsearch {
    margin-left: 0;
    margin-top: 0;
}
.campaign {
    margin-top: 5rem !important;
    text-transform: uppercase;
    font-weight: 700;
    color: #42c69d;
    font-size: 2rem;
}
.position-me {
    position: relative;
}
.campaigns-list .campaignbymonth .campaign-month-label .position-me {
    top: 27px;
}
#search_program {
    padding: 0 !important;
}
#search_program .rotate-me p {
    color: #fff;
    padding-left: 10px;
    font-size: large;
    line-height: 25px;
}
.rotate-me.orange {
    background-color: #bf0e04;
    border-color: #bf0e04;
}
.em-flex-col {
    display: flex;
    flex-direction: column;
}
.em-flex-row {
    display: flex;
    flex-direction: row;
}
.rotate-me p {
    margin: 0 !important;
    transform: rotate(180deg);
    position: relative;
    text-align: end;
    padding-right: 10px;
}
.campaingapplycontent {
    line-height: 22px;
    font-size: 15px;
    padding: 0;
}

.campaingapplycontent b{
    color:#000000;
}
.campaingapplycontent strong {
    font-weight: normal;
    width: 179px;
    display: inline-block;
}
#search_program #navfilter {
    margin-bottom: 10px;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
}
.below-content a.btn.btn-primary.btn-plein.btn-blue {
    background-color: #de6339 !important;
    border-color: #de6339 !important;
}
.below-content a.btn.btn-primary.btn-plein.btn-blue:hover {
    background-color: #ffffff !important;
    color:  #de6339 !important;
    border-color: #de6339 !important;
}

/*** Single campaign template additions ***/
.single-campaign {
    display: flex;
    flex-direction: column;
}
.single-campaign .right-side, .single-campaign .below-content {
    border: none !important;
}
.single-campaign .below-content {
    text-align: left !important;
}
​
/*** Media queries ***/
@media all and (max-width: 1227px) {
    .campaign-content .below-content a {
        width: 17.3%;
    }
}
@media all and (max-width: 1034px) {
    .campaign-content .below-content a{
        width: 18.3%;
    }
}
@media all and (max-width: 982px) {
    .campaign-content .below-content a{
        width: 19.3%;
    }
    .campaingapplycontent strong {
        width: 150px;
    }
}
​
@media all and (max-width: 767px) {
    .rotate-me p {
        transform: rotate(0deg);
        right: 0;
    }
    ​
}