.mod_emundus_campaign__list_content hr {
    margin: var(--m-16) 0;
}

.mod_emundus_campaign__list_content_head.blue,
.em-applicant-text-color.blue {
   background: transparent;
}

.mod_emundus_campaign__list_content_head.blue {
    background: transparent;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.mod_emundus_campaign__list_content_head a.btn {
    line-height: normal;
    letter-spacing: normal;
    font-family: var(--em-applicant-font);
    font-size: var(--em-applicant-font-size);
}

.mod_emundus_campaign__intro{
    width: 72%;
}

.mod_emundus_campaign__list_items .pagination {
    margin: 0;
}

.mod_emundus_campaign__intro *{
  font-family: var(--em-applicant-font);
}

.mod_emundus_campaign__intro h1{
    font-family: var(--em-applicant-font-title);
}

.mod_emundus_campaign__intro p{
    line-height: 150%;
    color: var(--em-default-text-color-1);
}

.mod_emundus_campaign__intro a{
    color: var(--neutral-800);
}

.mod_emundus_campaign__intro a:hover {
    color: var(--neutral-800);
    text-decoration: underline;
}

.mod_emundus_campaign__content{
    margin-top: var(--m-40);
    margin-bottom: var(--m-64);
}

.mod_emundus_campaign__content h3 {
    font-family: var(--em-applicant-font-title);
    color: var(--em-default-title-color-1);
}

.mod_emundus_campaign__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.mod_emundus_campaign__header .em-flex-row {
    flex-wrap: wrap;
    gap: var(--p-8);
    margin-bottom: var(--m-8);
}

.mod_emundus_campaign__header_filter{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--em-default-br);
    padding: var(--p-8) var(--p-16);
    width: max-content;
}

.mod_emundus_campaign__header_filter_count{
    border-radius: 50px;
    color: var(--neutral-0);
    background: var(--em-primary-color);
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    margin-left: var(--m-4);
}

.mod_emundus_campaign__header_filter a.em-pointer span:hover,
.mod_emundus_campaign__header_filter a.em-pointer:hover {
    color: var(--neutral-600);
}

.mod_emundus_campaign__campagne_properties {
    display: grid;
    grid-template-columns: 80% 14%;
    grid-template-rows: auto;
    grid-template-areas: "titre logo";
    column-gap: 6%;
    align-items: center;
}

.mod_emundus_campaign__programme_properties {
    display: grid;
    grid-template-columns: 80% 14%;
    grid-template-rows: auto;
    grid-template-areas: "titre logo";
    column-gap: 6%;
    margin-bottom: var(--m-8);
    align-items: center;
    height: 35px;
}

.mod_emundus_campaign__programme_properties .em-programme-tag{
    margin-bottom: 0;
    white-space: inherit;
}

.mod_emundus_campaign__campagne_properties img,
.mod_emundus_campaign__programme_properties img{
    max-height: 38px;
    justify-self: flex-end;
}


.mod_emundus_campaign__list_content{
    box-shadow: var(--em-box-shadow-x-1) var(--em-box-shadow-y-1) var(--em-box-shadow-blur-1) var(--em-box-shadow-color-1), var(--em-box-shadow-x-2) var(--em-box-shadow-y-2) var(--em-box-shadow-blur-2) var(--em-box-shadow-color-2), var(--em-box-shadow-x-3) var(--em-box-shadow-y-3) var(--em-box-shadow-blur-3) var(--em-box-shadow-color-3);
    border-radius: var(--em-applicant-br-cards) !important;
    padding: var(--p-24);
    height: 345px;
    background: var(--neutral-0);
}

.mod_emundus_campaign__list_content--default {
    box-shadow: var(--em-box-shadow-x-1) var(--em-box-shadow-y-1) var(--em-box-shadow-blur-1) var(--em-box-shadow-color-1), var(--em-box-shadow-x-2) var(--em-box-shadow-y-2) var(--em-box-shadow-blur-2) var(--em-box-shadow-color-2), var(--em-box-shadow-x-3) var(--em-box-shadow-y-3) var(--em-box-shadow-blur-3) var(--em-box-shadow-color-3);
    border-radius: var(--em-coordinator-br-cards) !important;
    padding: var(--p-32);
    background: var(--neutral-0);
}

.mod_emundus_campaign__list_content--closed {
    background: var(--neutral-200);
}

.mod_emundus_campaign__list_content--closed .em-applicant-text-color,
.mod_emundus_campaign__list_content--closed .em-text-neutral-600 {
   color: #4B4B4B !important;
}

.mod_emundus_campaign__list_content_resume{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 100px;
    min-height: 53px;
    line-height: 160%;
    font-family: var(--em-applicant-font);
    color: var(--em-default-text-color-1);
}

@media all and (max-width: 479px) {
    .mod_emundus_campaign__list_content_resume{
        max-width: 292px;
    }
}

@media all and (min-width: 480px) and (max-width: 767px) {
    .mod_emundus_campaign__list_content_resume{
        max-width: 153px;
    }
}

@media all and (min-width: 768px) and (max-width: 959px) {
    .mod_emundus_campaign__list_content_resume{
        max-width: 266px;
    }
}

.mod_emundus_campaign__list_content_resume * {
    color: var(--neutral-600) !important;
    display: inline;
}

.mod_emundus_campaign__header_filter {
   background: var(--neutral-0);
}

.mod_emundus_campaign__header_sort__values{
    margin-top: var(--m-8);
    flex-direction: column;
    box-shadow: 0 12px 17px rgba(5, 47, 55, 0.07), 0 5px 22px rgba(5, 47, 55, 0.06), 0 7px 8px rgba(5, 47, 55, 0.1);
    border-radius: var(--em-default-br);
    padding: var(--p-16);
    position: absolute;
    background: var(--neutral-0);
    z-index: 10;
}

.mod_emundus_campaign__header_sort__values a:hover {
    background: #EBECF0 !important;
    border-radius: var(--em-default-br) !important;
    color: var(--neutral-900) !important;
    text-decoration: none;
    padding: 6px 8px;
}

.mod_emundus_campaign__header_sort__values a {
    padding: 6px 8px;
}

.mod_emundus_campaign__header_filter__values{
    margin-top: var(--m-8);
    flex-direction: column;
    box-shadow: 0 12px 17px rgba(5, 47, 55, 0.07), 0 5px 22px rgba(5, 47, 55, 0.06), 0 7px 8px rgba(5, 47, 55, 0.1);
    border-radius: var(--em-default-br);
    padding: var(--p-16);
    position: absolute;
    background: var(--neutral-0);
    min-width: 44rem;
    z-index: 10;
}

.mod_emundus_campaign__header_filter span:not(.material-icons-outlined){
    font-family: var(--em-applicant-font);
}

.mod_emundus_campaign__header_filter__values .btn.btn-primary {
    border-radius: var(--em-applicant-br) !important;
    padding: var(--em-spacing-vertical) var(--em-spacing-horizontal);
    background: var(--neutral-0);
    color: var(--em-primary-color);
    border: 1px solid var(--em-primary-color);
    line-height: normal;
    font-size: var(--em-applicant-font-size);
}

.mod_emundus_campaign__header_filter__values .btn.btn-primary:hover {
    padding: var(--em-spacing-vertical) var(--em-spacing-horizontal);
    background: var(--em-primary-color);
    color: var(--neutral-0);
    border: 1px solid var(--em-primary-color);
}

.mod_emundus_campaign__grid .mod_emundus_campaign__details_content .btn.btn-primary {
    border-radius: var(--em-applicant-br) !important;
    font-family: var(--em-applicant-font);
    font-size: var(--em-applicant-font-size);
}

.mod_emundus_campaign__header_filter__values a {
    font-family: var(--em-applicant-font);
    color: var(--em-primary-color);
}

.mod_emundus_campaign__header_filter__values a:hover,
.mod_emundus_campaign__header_filter__values a:active,
.mod_emundus_campaign__header_filter__values a:focus{
    font-family: var(--em-applicant-font);
    color: var(--em-primary-color);
}

.mod_emundus_campaign__header_filter__values select {
    border-radius: var(--em-default-br);
    width: 300px;
    padding: var(--p-8) var(--p-16);
    background: var(--neutral-0);
    height: 40px;
}

.mod_emundus_campaign__header_filter__grid {
    display: grid;
    grid-template-columns: 43% 4% 43% 4%;
    grid-column-gap: 2%;
    justify-content: center;
    margin-bottom: var(--m-16);
    margin-top: var(--m-8);
}
.mod_emundus_campaign__header_filter__grid * {
    margin-bottom: 0;
}


.mod_emundus_campaign__header_filter__grid span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mod_emundus_campaign__header_filter__grid div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.em-blue-400-color:hover {
    color: var(--blue-300);
}

.mod_emundus_campaign__date{
    display: flex;
    align-items: center;
}

.mod_emundus_campaign__date p,
.mod_emundus_campaign__date span:not(.material-icons){
    font-family: var(--em-applicant-font);
}

.mod_emundus_campaign__grid .mod_emundus_campaign__campaign_title {
    color: var(--em-default-title-color-1) !important;
    font-family: var(--em-applicant-font-title) !important;
}

.mod_emundus_campaign__list_content_container .mod_emundus_campaign__campaign_title {
    margin-bottom: 8px !important;
    color: var(--em-default-title-color-1);
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    max-height: 48px;
    display: -webkit-box;
    line-height: 140%;
    min-height: 46px;
    font-family: var(--em-applicant-font-title) !important;
}
/*
.mod_emundus_campaign__date *{
    margin-right: 8px;
    margin-bottom: 8px !important;
}*/

.mod_emundus_campaign__programme_tag {
    border-radius: var(--em-default-br);
    padding: var(--p-8) var(--p-16);
    width: fit-content;
    font-size: 12px;
    margin-bottom: var(--m-16);
    font-family: var(--em-applicant-font);
}

.mod_emundus_campaign__programme_cat_title {
    font-family: var(--em-applicant-font-title);
    font-style: normal;
    line-height: 25px;
    color: var(--em-default-title-color-1);
}


[id*="mod_emundus_campaign__tchoozy_tabs_"] {
    background: var(--neutral-0);
    padding: 24px;
    border-radius: var(--em-applicant-br);
    position: relative;
    border-bottom: 1px solid var(--em-profile-color);
    transition: all 0.5s ease-out;
}


[id*="mod_emundus_campaign__tchoozy_tabs_"].open {
    background: var(--transparent);
    border-radius: 0;
    transition: all 0.5s ease-out;
}

[id*="mod_emundus_campaign__tchoozy_tabs_"].open #background-shapes-tabs{
    display: none;
}

[id*="mod_emundus_campaign__tchoozy_tabs_"] .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

[id*="mod_emundus_campaign__tchoozy_tabs_"] h3{
    color: var(--em-profile-color);
    margin-bottom: 12px;
}

p[id*="mod_emundus_campaign__tchoozy_tab_desc"] {
    color: var(--neutral-600);
}

[id*="mod_emundus_campaign__tchoozy_tabs_"] .material-icons-outlined {
    font-size: 24px;
    color: var(--em-profile-color);
}

[id*="mod_emundus_campaign__tchoozy_tabs_"] #background-shapes-tabs {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    right: -365px;
    pointer-events: none;
    border-bottom-right-radius: 14px;
    mask-image: url(/modules/mod_emundus_user_dropdown/assets/fond-formes-header.svg);
    -webkit-mask-image: url(/modules/mod_emundus_user_dropdown/assets/fond-formes-header.svg);
    background: var(--em-profile-color);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: contain;
    -webkit-mask-size: contain;
}

@media  all and (max-width: 959px) {
    [id*="mod_emundus_campaign__tchoozy_tabs_"] #background-shapes-tabs {
        display: none;
    }
}

@media  all and (min-width: 960px) and (max-width: 1023px) {
    [id*="mod_emundus_campaign__tchoozy_tabs_"] #background-shapes-tabs {
        right: -213px;
    }
}

@media  all and (min-width: 1024px) and (max-width: 1079px) {
    [id*="mod_emundus_campaign__tchoozy_tabs_"] #background-shapes-tabs {
        right: -212px;
    }
}

@media  all and (min-width: 1080px) and (max-width: 1200px) {
    [id*="mod_emundus_campaign__tchoozy_tabs_"] #background-shapes-tabs {
        right: -244px;
    }
}


.mod_emundus_campaign__tabs{
    margin-top: var(--m-24);
    border-bottom: solid 1px var(--neutral-300);
    height: 35px;
}
.mod_emundus_campaign__tabs a {
    height: 35px;
    cursor: pointer;
}

.mod_emundus_campaign__tabs a:hover span, .mod_emundus_campaign__tabs a:hover {
     color: var(--neutral-900);
    text-decoration: none;
}

.mod_emundus_campaign__tabs a.current-tab {
    border-bottom: solid 1px var(--blue-500);
}

.mod_emundus_campaign__tabs a.current-tab span {
    color: var(--neutral-900);
    font-weight: 500;
    font-family: var(--em-applicant-font);
}

#faq h2 {
    color: var(--neutral-900);
    font-size: 18px;
    margin-bottom: var(--m-16) !important;
    font-weight: 500;
    margin-top: var(--m-16) !important;
}

#faq * {
    color: var(--neutral-800);
    font-family: var(--em-applicant-font);
}

#faq hr:last-of-type {
    display: none;
}

.em-program-title{
    display: none;
}

.mod_emundus_campaign__details_content{
    box-shadow: var(--em-box-shadow-x-1) var(--em-box-shadow-y-1) var(--em-box-shadow-blur-1) var(--em-box-shadow-color-1), var(--em-box-shadow-x-2) var(--em-box-shadow-y-2) var(--em-box-shadow-blur-2) var(--em-box-shadow-color-2), var(--em-box-shadow-x-3) var(--em-box-shadow-y-3) var(--em-box-shadow-blur-3) var(--em-box-shadow-color-3);
    border-radius: var(--em-applicant-br-cards) !important;
    padding: var(--p-32);
    background: var(--neutral-0);
    color: var(--em-default-title-color-1);
}

.mod_emundus_campaign__details_content h4 {
 font-family: var(--em-applicant-font-title);
 color: var(--em-default-title-color-1);
}

.mod_emundus_campaign__details_step_count{
    margin-right: var(--m-16);
    border-radius: 50px;
    background: var(--blue-50);
    color: var(--blue-500);
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mod_emundus_campaign__details_file_icon{
    margin-right: var(--m-16);
    border-radius: 50px;
    background: var(--red-50);
    color: var(--neutral-900);
    height: 24px;
    width: 24px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.mod_emundus_campaign__details_file a{
    color: var(--link-regular);
    text-decoration: underline;
    text-underline: var(--neutral-900);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mod_emundus_campaign__details_file a:hover {
    color: var(--link-hover);
}


.mod_emundus_campaign__list_items{
    display: grid;
    align-items: flex-start;
    padding: 0;
    gap: var(--p-48);
    grid-template-columns: repeat(3, minmax(354px, 1fr));
}

.mod_emundus_campaign__pinned_campaign{
    display: grid;
    align-items: flex-start;
    padding: 0;
    gap: var(--p-32);
}

.mod_emundus_campaign__pinned_campaign .mod_emundus_campaign__list_content {
    height: 330px;
}

.mod_emundus_campaign__pinned_campaign .mod_emundus_campaign__list_content_resume {
    -webkit-line-clamp: 3;
    max-height: 100px;
    line-height: 160%;
}

.tchooz-single-campaign #campaign * {
    line-height: 160%;
    color: var(--neutral-900);
    font-family: var(--em-applicant-font);
}

.mod_emundus_campaign__grid {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 64% 30%;
}

@media (max-width: 479px) {

    .mod_emundus_campaign__header_filter__values {
        margin-left: 0 !important;
        min-width: 86vw;
        max-width: 88vw;
    }

    .mod_emundus_campaign__content [class*="size-"] {
        flex-basis: auto !important;
    }

    .mod_emundus_campaign__pinned_campaign{
        grid-template-columns: repeat(1, 1fr);
    }

    .mod_emundus_campaign__intro {
        width: 100%;
    }

    .mod_emundus_campaign__pinned_campaign {
        width: 100%;
    }

    .mod_emundus_campaign__list_items {
        grid-template-columns: repeat(1,1fr);
    }

    .mod_emundus_campaign__grid {
        grid-template-columns: 100%;
    }

}

@media (min-width: 480px) and (max-width: 767px) {
    .mod_emundus_campaign__pinned_campaign .mod_emundus_campaign__list_content {
        height: 360px;
    }

    .mod_emundus_campaign__list_content{
        height: 380px;
    }

    .mod_emundus_campaign__list_items {
        grid-template-columns: repeat(2,1fr);
    }
    .mod_emundus_campaign__searchbar{
        margin-top: var(--m-16);
    }
    .mod_emundus_campaign__intro{
        width: 100%;
    }
    .mod_emundus_campaign__pinned_campaign{
        grid-template-columns: repeat(1, 1fr);
    }

    .em-flex-row {
       flex-wrap: wrap;
    }

    .mod_emundus_campaign__list_content .em-font-size-16 {
        flex-basis: auto !important;
    }

    .mod_emundus_campaign__grid {
        grid-template-columns: 94% !important;
    }

    .mod_emundus_campaign__content .mod_emundus_campaign__pinned_campaign {
        width: 100%;
    }

    .mod_emundus_campaign__buttons {
       flex-direction: column !important;
    }

    .mod_emundus_campaign__buttons button:nth-child(2) {
        margin-top: var(--m-16);
    }

    .mod_emundus_campaign__header_filter,  .mod_emundus_campaign__header input[name="searchword"] {
      margin-top: var(--m-4);
    }

     body.gantry .mod_emundus_campaign__grid .em-flex-row .em-font-size-16 {
        flex-basis: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
    .mod_emundus_campaign__list_content{
        height: 380px;
    }

    .mod_emundus_campaign__list_items {
        grid-template-columns: repeat(2,1fr);
    }
    .mod_emundus_campaign__searchbar{
        margin-top: var(--m-16);
    }
    .mod_emundus_campaign__intro{
        width: 89%;
    }
    .mod_emundus_campaign__pinned_campaign{
        grid-template-columns: repeat(1, 1fr);
    }

    .em-flex-row {
        flex-wrap: wrap;
    }

    .mod_emundus_campaign__list_content .em-font-size-16 {
        flex-basis: auto !important;
    }

    .mod_emundus_campaign__grid {
        grid-template-columns: 94% !important;
    }

    .mod_emundus_campaign__content .mod_emundus_campaign__pinned_campaign {
        width: 100%;
    }

    .mod_emundus_campaign__buttons {
        flex-direction: column !important;
    }

    .mod_emundus_campaign__buttons button:nth-child(2) {
        margin-top: var(--m-16);
    }

    .mod_emundus_campaign__header_filter,  .mod_emundus_campaign__header input[name="searchword"] {
        margin-top: var(--m-4);
    }

    body.gantry .mod_emundus_campaign__grid .em-flex-row .em-font-size-16 {
        flex-basis: auto;
    }

    .mod_emundus_campaign__intro {
        max-width: 680px;
    }

    .mod_emundus_campaign__content .mod_emundus_campaign__list_content,
    .mod_emundus_campaign__header {
        width: 100%;
    }

    #g-container-main .g-container{
        width: 44rem;
    }
}

@media screen and (min-width: 960px) and (max-width: 1080px) {
    .mod_emundus_campaign__content .mod_emundus_campaign__list_items {
        grid-template-columns: repeat(2,1fr);
    }

    #g-container-main .g-container{
        width: 56rem;
    }
}

@media screen and (min-width: 1081px) and (max-width: 1199px) {
    .mod_emundus_campaign__content .mod_emundus_campaign__list_items {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 1024px)  {
    .mod_emundus_campaign__pinned_campaign .mod_emundus_campaign__list_content,
    .mod_emundus_campaign__list_items .mod_emundus_campaign__list_content{
        height: 100%;
    }
}
