.right-side {
    width: 30%;
    padding-left: 10px;
    padding: 15px;
    border-left: 1px solid #d5d5d5
}

.left-side {
    width: 70%;
    padding: 15px 15px 15px 45px;
}

.below-content {
    width: 100%;
    text-align: right;
    border-top: 1px solid #d5d5d5;
    padding: 15px;
}

.campaign-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #d5d5d5;
    box-shadow: 1px 0 10px 0 #d5d5d5;

}

#navfilter  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rotate-me {
    -webkit-transform: rotate(450deg);
    text-align: left;
    -webkit-transform-origin: 0% 0%;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-left: solid 1px;
}

.rotate-me p {
    color: #fff;
    padding-left: 10px;
    line-height: 25px;
    margin: 0 !important;
    transform: rotate(180deg);
    position: relative;
    text-align: end;
    padding-right: 10px;
    font-size: large;
}

.campaign-month-label .position-me {
    position: relative;
    top: 27px;
    -webkit-transform: translateX(27px);
    z-index: 99;
    min-width: 152px;
}

.campaignbymonth {
    overflow: hidden;
}

.campaignbymonth .campaign-month-campaigns {
    background-color: #fff;
}


.campaign-title {
    font-weight: 600;
}

.campaign-title::after {
    content: "\f0a1";
    font-family: FontAwesome;
    margin-left: 10px;
}

#navfilter .nav.nav-tabs#tabslist li[role="presentation"] {
    margin-bottom: 0px;
}

#navfilter .nav.nav-tabs#tabslist li[role="presentation"] a {
    margin: 0px;
}

#navfilter .input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#navfilter .input-group input {
    margin: 0px;
}
#navfilter .input-group label {
    margin: 0px;
}

#navfilter .input-group label {
    margin: 0px;
}

