.icon-em-tchooz{
  background-image: url("/images/emundus/tchooz_favicon.png");
  background-size: cover;
}
.em-text-align-left{
  text-align: left;
}
.em-text-center{
  text-align: center;
}
.em-green{
  color: #20835F;
}
.em-red{
  color: #DB333E;
}
.textarea_event_handler__code{
  resize: none;
  width: 100%;
}

.subform-repeatable-group td:nth-child(1){
  width: 20%;
}
