<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="basic" addfieldpath="/administrator/components/com_falang/models/fields"
              label="COM_FALANG_CONFIG_BASIC_LABEL"
              description="COM_FALANG_CONFIG_BASIC_DESC">

        <field name="downloadid"
               type="text" default=""
               size="30"
               label="COM_FALANG_CONFIG_BASIC_DOWNLOADID_LABEL"
               description ="COM_FALANG_CONFIG_BASIC_DOWNLOADID_DESC" />
        
        <!-- >>> [PAID_1] >>> -->
        <field
                name="frontEndEdition"
                type="radio"
                class="btn-group btn-group-yesno"
                default="0"
                label="COM_FALANG_FIELD_FRONTENDEDITION_LABEL"
                description="COM_FALANG_FIELD_FRONTENDEDITION_DESC" >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="copy_images_and_urls"
               type="radio"
               default="1"
               class="btn-group btn-group-yesno"
               label="COM_FALANG_CONFIG_COPY_IMAGES_AND_URLS_LABEL"
               description="COM_FALANG_CONFIG_COPY_IMAGES_AND_URLS_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="show_tpl_lang"
                type="radio"
                default="0"
                class="btn-group btn-group-yesno"
                label="COM_FALANG_FIELD_SHOW_TPLLANG_LABEL"
                description="COM_FALANG_FIELD_SHOW_TPLLANG_DESC" >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
                name="advanced_router"
                type="radio"
                default="0"
                class="btn-group btn-group-yesno"
                label="COM_FALANG_FIELD_ADVANCED_ROUTER_LABEL"
                description="COM_FALANG_FIELD_ADVANCED_ROUTER_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <!-- <<< [PAID_1] <<< -->
        <field
                name="show_list"
                type="radio"
                default="1"
                class="btn-group btn-group-yesno"
                label="COM_FALANG_FALANGQUICKJUMP_COMPONENT_SHOW_LIST_LABEL"
                description="COM_FALANG_FALANGQUICKJUMP_COMPONENT_SHOW_LIST_DESC"
        >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
                name="show_form"
                type="radio"
                default="1"
                class="btn-group btn-group-yesno"
                label="COM_FALANG_FALANGQUICKJUMP_COMPONENT_SHOW_FORM_LABEL"
                description="COM_FALANG_FALANGQUICKJUMP_COMPONENT_SHOW_FORM_DESC"
        >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>

        <field
                name="component_list"
                type="textarea"
                class="input-xxlarge"
                rows="10"
                cols="60"
                default="com_menus#menu#id#items,item&#13;&#10;com_content#content#id#default,articles,article&#13;&#10;com_categories#categories#id#default,categories,category&#13;&#10;com_modules#modules#id#default,modules,module&#13;&#10;com_newsfeeds#newsfeeds#id#default,newsfeeds,newsfeed"
                label="COM_FALANG_FALANGQUICKJUMP_COMPONENT_LIST_LABEL"
                description="COM_FALANG_FALANGQUICKJUMP_COMPONENT_LIST_DESC"
        />

        <field
                name="advanced_menu_show"
                type="radio"
                default="0"
                class="btn-group btn-group-yesno"
                label="COM_FALANG_ADVANDED_MENU_SHOW_LABEL"
                description="COM_FALANG_ADVANDED_MENU_SHOW_DESC"
        >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>

        <field
                name="update_caching"
                type="radio"
                default="0"
                class="btn-group btn-group-yesno"
                label="COM_FALANG_CONFIG_UPDATE_CACHING_LBL"
                description="COM_FALANG_CONFIG_UPDATE_CACHING_DESC"
        >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>


    </fieldset>
    <fieldset name="translation"
              label="COM_FALANG_CONGIG_MANAGE_TRANSLATION"
              description="COM_FALANG_CONGIG_MANAGE_TRANSLATION_DESC">

        <field name="storageOfOriginal"
               type="list"
               default="md5"
               label="Store original version as"
               description="COM_FALANG_CONGIG_MANAGE_TRANSLATION_ORIGINAL_HELP">
            <option value="md5">MD5 key only</option>
            <option value="both">MD5 key and clear text</option>
        </field>

        <field name="showDefaultLanguageAdmin"
               type="radio"
               default="0"
               class="btn-group btn-group-yesno"
               label="COM_FALANG_CONFIG_ADM_DEFAULT_LANG_LABEL"
               description="COM_FALANG_CONFIG_ADM_DEFAULT_LANG_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="copyparams"
               type="radio"
               default="1"
               class="btn-group btn-group-yesno"
               label="COM_FALANG_CONFIG_COPYPARAMS_LABEL"
               description="COM_FALANG_CONFIG_COPYPARAMS_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="copy_custom_fields"
               type="radio"
               default="0"
               class="btn-group btn-group-yesno"
               label="COM_FALANG_CONFIG_COPY_CUSTOM_FIELDS_LABEL"
               description="COM_FALANG_CONFIG_COPY_CUSTOM_FIELDS_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>
    <fieldset name="translators"
              label="COM_FALANG_CONFIG_TRANSLATORS"
              description="COM_FALANG_CONFIG_TRANSLATORS_DESC"
    >
        <field name="translator" type="list" default="Bing" required="true" label="COM_FALANG_CONFIG_TRANSLATOR_SELECT_TRANSLATOR" >
            <option value="none">COM_FALANG_CONFIG_TRANSLATOR_SELECT_NONE</option>
            <option value="Bing">Bing / Azure</option>
            <option value="Google">Google Cloud</option>
            <option value="Yandex">Yandex</option>
            <option value="Lingvanex">Lingvanex</option>
        </field>
        <field name="translator_bingkey"
               type="text"
               label="COM_FALANG_CONFIG_TRANSLATOR_BING_KEY"
               description="COM_FALANG_CONFIG_TRANSLATOR_BING_KEY_DESC"
        />
        <field name="translator_googlekey"
               type="text"
               label="COM_FALANG_CONFIG_TRANSLATOR_GOOGLE_KEY"
               description="COM_FALANG_CONFIG_TRANSLATOR_GOOGLE_KEY_DESC"
        />
        <field name="translator_yandexkey"
               type="text"
               label="COM_FALANG_CONFIG_TRANSLATOR_YANDEX_KEY"
               description="COM_FALANG_CONFIG_TRANSLATOR_YANDEX_KEY_DESC"
        />
        <field name="translator_lingvanex"
               type="text"
               label="COM_FALANG_CONFIG_TRANSLATOR_LINGVANEX_KEY"
               description="COM_FALANG_CONFIG_TRANSLATOR_LINGVANEX_KEY_DESC"
        />
    </fieldset>
    <fieldset name="import_export"
              label="COM_FALANG_CONFIG_IE"
              description="COM_FALANG_CONFIG_IE_DESC"
    >
        
        <!-- >>> [PAID_2] >>> -->
        <field
                name="ie_list"
                type="textarea"
                class="input-xxlarge"
                rows="10"
                cols="60"
                default="content,Articles&#13;&#10;menu,Menu&#13;&#10;modules,Modules"
                label="COM_FALANG_IE_TABLE_LIST_LABEL"
                description="COM_FALANG_IE_TABLE_LIST_DESC"
        />
        <!-- <<< [PAID_2] <<< -->
    </fieldset>
    <fieldset name="debug"
              label="COM_FALANG_CONFIG_DEBUG_LABEL"
              description="COM_FALANG_CONFIG_DEBUG_DESC">

        <field name="debug"
               type="radio"
               default="0"
               class="btn-group btn-group-yesno"
               label="COM_FALANG_CONFIG_DEBUG_LABEL"
               description="COM_FALANG_CONFIG_DEBUG_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="qacaching"
               type="radio"
               default="0"
               class="btn-group btn-group-yesno"
               label="COM_FALANG_CONFIG_QA_CACHING_LABEL"
               description="COM_FALANG_CONFIG_QA_CACHING_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="qalogging"
               type="radio"
               default="0"
               class="btn-group btn-group-yesno"
               label="COM_FALANG_CONFIG_QA_LOGGING_LABEL"
               description="COM_FALANG_CONFIG_QA_LOGGING_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>
    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >

        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                class="inputbox"
                filter="rules"
                validate="rules"
                component="com_falang"
                section="component" />
    </fieldset>
</config>