#adminForm .btn-toolbar {
	margin-bottom: 10px;
}

#jform_public input {
	display: none
}

#jform_series input {
	display: none
}

.price-cell-original-info {
	float: right;
	margin-left: 5px;
}

.price-cell-original {
	text-decoration: line-through;
	display: none;
}

.dp-booking-payment-input-label {
	display: inline;
}

.dp-booking-payment-row {
	padding: 10px 30px 10px 30px;
	border: 2px solid #EEE;
	margin-bottom: 10px;
}

.dp-booking-payment-row:hover {
	background-color: #dff0d8;
	cursor: pointer;
}

.dp-booking-event-table-container {
	max-height: 250px;
	overflow: auto;
}

#dp-booking-pricing-details table td {
	vertical-align: middle;
}

#dp-booking-pricing-details table tr .price-cell {
	text-align: right;
}

#dp-booking-pricing-details select {
	max-width: 50px
}

#dp-booking-payment-details .controls input {
	width: 95%
}