#user-registration fieldset  {
    background: transparent;
}

#user-registration fieldset  p {
    margin-bottom: 20px !important;
    text-align: justify;
}

.view-reset #user-registration .controls,
.view-reset .reset-confirm form .controls,
.view-reset .reset-complete form .controls{
 width: 100%;
    margin-left: 0px !important;
}

.view-reset #user-registration .control-label,
.view-reset .reset-confirm  form .control-label,
.view-reset .reset-complete  form .control-label{
    width: 100%;
   text-align: left !important;
}

form#user-registration.form-validate.form-horizontal.well,
.view-reset .reset-confirm form.form-validate.form-horizontal.well,
.view-reset .reset-complete form.form-validate.form-horizontal.well {
    padding: 0px 64px;
    margin-top: 0px
}

form#user-registration.form-validate.form-horizontal.well,
.view-reset .reset-confirm form.form-validate.form-horizontal.well,
.view-reset .reset-complete form.form-validate.form-horizontal.well {
    background: #fff;
    border: none;
    margin-bottom: 0px;
}

form#user-registration.form-validate.form-horizontal.well label,
.reset-confirm .form-validate.form-horizontal.well label,
.reset-complete .form-validate.form-horizontal.well  label {
    font-size: 14px;
    margin-bottom: 5px !important;
    font-weight: bold;
}

form#user-registration.form-validate.form-horizontal.well .control-group .controls button,
.view-reset  .form-validate.form-horizontal.well .control-group .controls button,
.reset-complete .form-validate.form-horizontal.well .control-group .controls button {
    width: 100%;
    height: 41px;
    text-transform: capitalize;
    margin-right:0;
    height: 50px;
    border-radius: 4px;
    padding: 8px 12px;
    line-height: normal;
    font-weight: 300;
    font-size: 14px;
}


form#user-registration.form-validate.form-horizontal.well .control-group ,
.view-reset  .form-validate.form-horizontal.well .control-group,
.reset-complete .form-validate.form-horizontal.well .control-group  {
  margin-bottom: 0px;
}

form#user-registration.form-validate.form-horizontal.well .control-group .controls input,
.reset-confirm .form-validate.form-horizontal.well .control-group .controls input,
.reset-complete .form-validate.form-horizontal.well .control-group .controls input {
    border-radius: 4px;
}

.view-reset .reset .page-header,
.view-reset .reset-complete .page-header,
.view-reset .reset-confirm .page-header{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.view-reset .reset,
.view-reset .reset-confirm,
.view-reset .reset-complete {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 16px;
}


#user-registration .required .star,
.view-reset .required .star,
.reset-complete .required .star
{
    display:none;
}

#user-registration .required::after,
.view-reset .required::after,
.reset-complete .required::after
{
    content: "\f005";
    color: #c30505;
    padding-left: 2px;
    top: -10px;
    position: relative;
    font-family: FontAwesome;
    font-size: 5px;
}



.view-reset .reset .page-header,  .view-reset .reset-confirm .page-header, .view-reset .reset-complete .page-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.view-reset .reset .page-header div.icon-title.resetpwd, .view-reset .reset-confirm .page-header div.icon-title.resetpwd, .view-reset .reset-complete .page-header div.icon-title.resetpwd  {
    background-image: url('../../../../../../media/com_emundus/images/password.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.view-reset .reset .page-header div.icon-title, .view-reset .reset-confirm .page-header div.icon-title.resetpwd, .view-reset .reset-complete .page-header div.icon-title.resetpwd {
    margin-right: 10px;
    width: 33px;
    height: 35px;
    background-position: 0 0;
    background-size: contain;
    -webkit-filter: brightness(.5);
    filter: brightness(.5);
    fill: grey;
}

.view-reset .reset-complete label#jform_password2-lbl.hasPopover.required::after {
 display: none;
}

.view-reset .reset-complete label#jform_password2-lbl.hasPopover.required ul  {
   list-style: none;
    margin: 10px 0px;
}


@media all and (max-width: 980px) {
    form#user-registration.form-validate.form-horizontal.well,
    .view-reset .form-validate.form-horizontal.well,
    .reset-complete .form-validate.form-horizontal.well
    {
        width: 80%;
    }
}
@media all and (max-width: 767px) {

    .view-reset .reset .page-header,
    .view-reset .reset-confirm .page-header,
    .view-reset .reset-complete .page-header {
        width: 100% !important;
        padding: 0px 15px;
    }

    .view-reset .reset,
    .view-reset .reset-confirm,
    .view-reset .reset-complete {
        width: 100% !important;
        padding-bottom: 0px !important;
    }

    .view-reset form#user-registration.form-validate.form-horizontal.well,
    .view-reset .form-validate.form-horizontal.well,
    .view-reset .reset-complete .form-validate.form-horizontal.well {
        width: 100% !important;
        padding: 20px !important;
    }

    .view-reset #g-navigation .g-container {
        height: auto !important;
    }

    .reset .form-validate.form-horizontal.well {
        padding: 20px !important;
    }

    .remind .form-validate.form-horizontal.well, .reset .form-validate.form-horizontal.well  {
        padding: 2rem 4rem 2rem 4rem;
    }

    .reset-confirm, .reset-complete {
        width: 100%;
    }


}

@media screen and (min-width: 768px) and (max-width: 959px) {
    .view-reset .reset .page-header,
    .view-reset .reset-confirm .page-header,
    .view-reset .reset-complete .page-header {
        width: 78% !important;
    }

    form#user-registration.form-validate.form-horizontal.well,
    .reset-confirm .form-validate.form-horizontal.well,
    .reset-complete .form-validate.form-horizontal.well {
        width: 100%;
    }
}

@media screen and (min-width: 960px) and (max-width: 979px) {
    .view-reset .reset .page-header,  .view-reset .reset-confirm .page-header, .view-reset .reset-complete .page-header   {
        width: 70% !important;
    }
}
