/* RESET PASSWORD */
.view-reset .em-user-form-container {
    margin-top: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-reset .em-user-form {
    background: #fff;
    border: none;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 60%;
}

.view-reset  .em-form-row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.view-reset  .em-form-label label {
    text-align: left;
    font-weight: 700;
}

.view-reset .em-form-input {
    margin: 0;
}

.view-reset .em-form-input input {
    margin: 0;
    height: 50px;
    border-radius: 4px;
}

/* TITRE MDPO */

.view-reset .em-page-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.view-reset .em-title {
    margin-top: 50px;
}

.view-reset .icon-title.resetpwd {
    background-image: url(/components/com_emundus_onboard/src/assets/images/password.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.view-reset .icon-title {
    margin-right: 10px;
    width: 33px;
    height: 35px;
    background-position: 0 0;
    background-size: contain;
    -webkit-filter: brightness(.5);
    filter: brightness(.5);
    fill: grey;
    margin-bottom: 5px;
}

.view-reset .em-user-form  .control-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.view-reset .em-user-form  .control-label label {
    text-align: left;
    font-weight: 700;
}

.view-reset .em-user-form  .control-label  {
    text-align: left;
}

.view-reset .em-user-form .controls {
    margin: 0;
}

.view-reset .em-user-form  .controls  input {
    margin: 0;
    height: 50px;
    border-radius: 4px;
}
