.picker_layer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	background-color: #d4d0c8;
	border-width: 1px;
	border-style: solid;
	border-color: #666666;
	overflow: visible;
	height: auto;
	width: auto;
}
.picker_buttons {
    width: 17px;
	height: 18px;
    display: inline-block;
    background: url(../images/color.png) no-repeat;
    text-indent: -5000px;
    cursor: pointer;
    position: relative;
    top: 1px;
}

.picker_text:focus, .picker_text:active {
    background-color: #ffffff !important;
}

.cell_color {
	cursor: pointer;
	width: 9px;
	height: 9px;
}
.color_table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}
.choosed_color_cell{
	border-style: solid;
    border-color: #000000;
    border-width: 1px;
}
.default_color_btn{
	width:17px;
    height:17px;
    background-image: url(../images/defaultcolor.jpg);
	background-repeat: no-repeat;
    background-position:center;
}