.modal-footer {
    display: none !important;
}
button#trombi_cancel {
    float: right;
    margin-right: 10px;
}

.panel-footer.preview .row.print {
    text-align: center;
}

#div-preview {
    background-color: #fff;
    display: none;
}
#div-download {
    background-color: #fff;
    display: none;
}
img {
    height:100px !important;
}

