/********************************
 *        com_emundus
 ********************************/

.hidden {
	display: none;
}

.bold {
	font-weight: bold;
}

.green {
	background-color: #AEE3BE;
}

.orange {
	background-color: #FC0;
}

.red {
	background-color: #FFA8A8;
}

.blue {
	background-color: #09F;
}

input[name="search_button"] {
	background-color: #90CBF7;
	background-image: -moz-linear-gradient(center top, #71BDF4, #90CBF7);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #90CBF7), color-stop(1, #90CBF7));
	background: -moz-linear-gradient(top, #71BDF4 5%, #90CBF7 100%);
	background: -webkit-linear-gradient(top, #71BDF4 5%, #90CBF7 100%);
	background: -o-linear-gradient(top, #71BDF4 5%, #90CBF7 100%);
	background: -ms-linear-gradient(top, #71BDF4 5%, #90CBF7 100%);
	background: linear-gradient(to bottom, #71BDF4 5%, #90CBF7 100%);
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

input[name="clear_button"] {
	background-color: #F4C458;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #F4C458);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F4C458), color-stop(1, #F4C458));
	background: -moz-linear-gradient(top, #FEA83C 5%, #F4C458 100%);
	background: -webkit-linear-gradient(top, #FEA83C 5%, #F4C458 100%);
	background: -o-linear-gradient(top, #FEA83C 5%, #F4C458 100%);
	background: -ms-linear-gradient(top, #FEA83C 5%, #F4C458 100%);
	background: linear-gradient(to bottom, #FEA83C 5%, #F4C458 100%);
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

input[name="custom_email"] {
	background-color: #09F;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #09F);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #09F), color-stop(1, #09F));
	background: -moz-linear-gradient(top, #FFFFFF 5%, #09F 100%);
	background: -webkit-linear-gradient(top, #FFFFFF 5%, #09F 100%);
	background: -o-linear-gradient(top, #FFFFFF 5%, #09F 100%);
	background: -ms-linear-gradient(top, #FFFFFF 5%, #09F 100%);
	background: linear-gradient(to bottom, #FFFFFF 5%, #09F 100%);
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

input[name="delete_filter"] {
	background-color: #F4E46F;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #F4E46F);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F4E46F), color-stop(1, #F4E46F));
	background: -moz-linear-gradient(top, #FEA83C 5%, #F4E46F 100%);
	background: -webkit-linear-gradient(top, #FEA83C 5%, #F4E46F 100%);
	background: -o-linear-gradient(top, #FEA83C 5%, #F4E46F 100%);
	background: -ms-linear-gradient(top, #FEA83C 5%, #F4E46F 100%);
	background: linear-gradient(to bottom, #FEA83C 5%, #F4E46F 100%);
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

input[name="save_as_filter"] {
	background-color: #E2CDAF;
	background-image: -moz-linear-gradient(center top, #FEB084, #E2CDAF);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #E2CDAF), color-stop(1, #E2CDAF));
	background: -moz-linear-gradient(top, #FEB084 5%, #E2CDAF 100%);
	background: -webkit-linear-gradient(top, #FEB084 5%, #E2CDAF 100%);
	background: -o-linear-gradient(top, #FEB084 5%, #E2CDAF 100%);
	background: -ms-linear-gradient(top, #FEB084 5%, #E2CDAF 100%);
	background: linear-gradient(to bottom, #FEB084 5%, #E2CDAF 100%);
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

#legend td {
	min-width: 25%;
}

legend {
	font-weight: bold;
}

.active .em_form {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #F4F4F4;
	background-image: none;
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: auto auto;
}

.em_form {
	border-bottom: none !important;
}

.print {
	background: url(../images/icones/printer.png) 0 0 no-repeat;
	padding: 1px 0 4px 20px;
	text-align: left;
}

#legend .need_missing_fac,
#legend .need_missing,
#legend .need_ok {
	display: inline;
}

p.description {
	color: #777777;
	font-style: italic;
}

#form_list {
	float: left;
	/*margin-left:62%;*/
}

#form_list h2 {
	margin-top: 0;
	padding-top: 10px;
}

#attachment_list {
	margin-bottom: 1em;
	/*width:100%;*/
	border-radius: var(--em-form-br) !important;
}

#attachment_list_mand {
	/*width: 47%;*/
	float: left;
}

#attachment_list_opt {
	/*width: 47%;*/
	float: right;
}

#attachment_list h2 {
	margin-top: 0;
	padding-top: 10px;
}

/*#attachment_list legend {
	font-size: 14px;
	height: 100%;
}*/

#info_checklist {
	margin: auto;
	width: 90%;
	font-weight: bold;
}

#info_checklist h1 {
	padding-left: 48px;
	padding-top: 16px;
	padding-bottom: 16px;
}

.checklist1 {
	background: url(../images/icones/error.png) 0 0 no-repeat;
	background-position: right;
}

.checklist0 {
	background: url(../images/icones/clean.png) 0 0 no-repeat;
	background-position: right;
}

.checklist2 {
	background: url(../images/icones/fail.png) 0 0 no-repeat;
	background-position: right;
}

.checklist3 {
	background: url(../images/icones/wait.png) 0 0 no-repeat;
	background-position: right;
}

.checklist4 {
	background: url(../images/icones/graduated.png) 0 0 no-repeat;
	background-position: right;
}

#info_checklist h2 {
	text-align: center;
	margin-top: 24px;
	margin-bottom: 35px;
}

#info_checklist a {
	padding-left: 48px;
	padding-top: 16px;
	padding-bottom: 16px;
}

#info_checklist a.appsent {
	background: url(../images/icones/printer.png) 0 0 no-repeat;
}

#info_checklist a.sent {
	background: url(../images/icones/filevalid.png) 0 0 no-repeat;
}

#submittop {
	float: right;
	margin-top: -22px;
	margin-right: 14%;
}

#submitbottom {
	float: right;
	margin-right: 14%;
}

/** POUR LE PROFILE CONFIG **/

h1 a {
	color: #777777;
	font-size: 75%;
}

#formlist {
	margin-left: 60%;
}

#attachmentlist {
	float: left;
	width: 55%;
}

.trombiphoto {
	width: 100px;
	display: -moz-inline-box;
	display: inline-block;
	margin: 10px;
}

.trombiphoto img {
	width: 100px;
	display: -moz-inline-box;
	display: inline-block;
}

.emundusprofile1 {
	background-color: #000;
	color: #FFF;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #000);
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
}

.emundusprofile2 {
	background-color: #CBCBE4;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #CBCBE4);
	border-radius: 5px;
	text-align: center;
}

.emundusprofile3 {
	background-color: #CBCBE4;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #CBCBE4);
	border-radius: 5px;
	text-align: center;
}

.emundusprofile4 {
	background-color: #CBCBE4;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #CBCBE4);
	border-radius: 5px;
	text-align: center;
}

.emundusprofile5 {
	background-color: #CBCBE4;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #CBCBE4);
	border-radius: 5px;
	text-align: center;
}

.emundusprofile6 {
	background-color: #CBCBE4;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #CBCBE4);
	border-radius: 5px;
	text-align: center;
}

.emundusprofile7 {
	background-color: #6F0;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #6F0);
	border-radius: 8px;
	text-align: center;
}

.emundusprofile8 {
	background-color: #0C0;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #0C0);
	border-radius: 8px;
	text-align: center;
}

.emundusprofile9 {
	background-color: #ab2f61;
	color: #FFF;
	border-radius: 8px;
	text-align: center;
}

.emundusprofile10 {
	background-color: #FFC;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #FFC);
	border-radius: 8px;
	text-align: center;
}

.emundusprofile11 {
	background-color: #ccc;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #ccc);
	border-radius: 8px;
	text-align: center;
}

.emundusprofile12 {
	background-color: #ab8151;
	color: #FFF;
	border-radius: 8px;
	text-align: center;
}

.emundusprofile13 {
	background-color: #3270b7;
	color: #FFF;
	border-radius: 8px;
	text-align: center;
}

.emundusprofile14 {
	background-color: #799001;
	color: #FFF;
	border-radius: 8px;
	text-align: center;
}

.emundusprofile999 {
	background-color: #c2c2c2;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #c2c2c2);
	border-radius: 8px;
	text-align: center;
}

/** Table styles **/

#userlist tbody tr td {
	font-size: 11px;
	padding: 1px;
}

#userlist tbody tr.row0:hover td,
#userlist tbody tr.row1:hover td {
	/*background-color:#FFFFDD;*/
}

#userlist tbody tr.row1 {
	background: #f9f9f9;
	border-top: 1px solid #fff;
}

#userlist {
	width: 100%;
	border-spacing: 1px;
	background-color: #e7e7e7;
	color: #666;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

#userlist td,
#userlist th {
	padding: 4px;
}

#userlist thead th {
	text-align: center;
	background: #f0f0f0;
	color: #666;
	border-bottom: 1px solid #999;
	border-left: 1px solid #fff;
}

#userlist thead a:hover {
	text-decoration: none;
}

#userlist thead th img {
	vertical-align: middle;
}

#userlist tbody th {
	font-weight: bold;
}

#userlist tbody tr {
	background-color: #fff;
	text-align: left;
	font-size: 80%;
}

#userlist tbody tr.row1 {
	background: #f9f9f9;
	border-top: 1px solid #fff;
}

/*
#userlist tbody tr.row1 .red 	{ background-color:#FFA8A8;background-image: -moz-linear-gradient(center top , #FFFFFF, #FFA8A8);}
#userlist tbody tr.row1 .green 	{ background-color:#AEE3BE;background-image: -moz-linear-gradient(center top , #FFFFFF, #AEE3BE);}
#userlist tbody tr.row0 .red 	{ background-color:#FFA8A8;background-image: -moz-linear-gradient(center top , #FFFFFF, #FFA8A8);}
#userlist tbody tr.row0 .green 	{ background-color:#AEE3BE;background-image: -moz-linear-gradient(center top , #FFFFFF, #AEE3BE);}
*/

#userlist tbody tr.row0:hover td,
#userlist tbody tr.row1:hover td {
	background-color: #ffd;
}

#userlist tbody tr td {
	height: 25px;
	background: #fff;
	border: 1px solid #fff;
}

#userlist tbody tr td.green:hover,
#userlist tbody tr td.green {
	background-color: #AEE3BE;
}

#userlist tbody tr td.orange:hover,
#userlist tbody tr td.orange {
	background-color: #FC0;
}

#userlist tbody tr td.red:hover,
#userlist tbody tr td.red {
	background-color: #F2F2F2;
}

/*#userlist tbody tr.row1 td { background: #f9f9f9; border-top: 1px solid #FFF; }*/

#userlist tfoot tr {
	text-align: center;
	color: #333;
}

#userlist tfoot td,
#userlist tfoot th {
	background-color: #f3f3f3;
	border-top: 1px solid #999;
	text-align: center;
}

#userlist td.order {
	text-align: center;
	white-space: nowrap;
}

#userlist td.order span {
	float: left;
	display: block;
	width: 20px;
	text-align: center;
}

.modal {
	background-color: #F0F0F0;
	border-radius: 5px;
	border-radius: 5px;
	padding: 5px 2px 5px 2px;
	margin: 1px
}

.modal.clean {
	background-color: transparent;
	background-image: none;
}

.modal.clean:hover {
	background-color: transparent;
	background-image: none;
}

/**
 * Table styles
 * application_form
 **/

table.adminlist {
	width: 100%;
	border-spacing: 1px;
	background-color: #e7e7e7;
	color: #666;
}

table.adminlist td,
table.adminlist th {
	padding: 4px;
}

table.adminlist thead th {
	text-align: center;
	background: #f0f0f0;
	color: #666;
	border-bottom: 1px solid #999;
	border-left: 1px solid #fff;
}

table.adminlist thead a:hover {
	text-decoration: none;
}

table.adminlist thead th img {
	vertical-align: middle;
}

table.adminlist tbody th {
	font-weight: bold;
}

table.adminlist tbody tr {
	background-color: #fff;
	text-align: left;
}

table.adminlist tbody tr.row1 {
	background: #f9f9f9;
	border-top: 1px solid #fff;
}

table.adminlist tbody tr.row0:hover td,
table.adminlist tbody tr.row1:hover td {
	background-color: #ffd;
}

table.adminlist tbody tr td {
	height: 25px;
	background: #fff;
	border: 1px solid #fff;
}

table.adminlist tbody tr.row1 td {
	background: #f9f9f9;
	border-top: 1px solid #FFF;
}

table.adminlist tfoot tr {
	text-align: center;
	color: #333;
}

table.adminlist tfoot td,
table.adminlist tfoot th {
	background-color: #f3f3f3;
	border-top: 1px solid #999;
	text-align: center;
}

table.adminlist td.order {
	text-align: center;
	white-space: nowrap;
}

table.adminlist td.order span {
	float: left;
	display: block;
	width: 20px;
	text-align: center;
}

table.adminlist .pagination {
	display: table;
	padding: 0;
	margin: 0 auto;
}

/** Evaluation **/

.emundus_finalgrade4 {
	background: #090;
	border: 1px solid #060;
	padding: 0 0 0 10px;
}

.emundus_finalgrade3 {
	background: #c2c2c2;
	border: 1px solid #ccc;
	padding: 0 0 0 10px;
}

.emundus_finalgrade2 {
	background: #f00;
	border: 1px solid #c00;
	padding: 0 0 0 10px;
}

.emundus_finalgrade {
	background: #fc0;
	border: 1px solid #c00;
	padding: 0 0 0 10px;
}

/*
table #userlist .pagination { display:table; padding:0;  margin:0 auto;	 }

.pagination {
	float: left;
	height: 22px;
	line-height: 22px;
	margin: 0 10px;
}
*/

/******** BUTTON ***************/

input.emundusdelete {
	color: #383838;
	font: bold 90% 'trebuchet ms', helvetica, sans-serif;
	background-color: #f2f2f2;
	border: 1px solid;
	border-color: #383838 #363 #363 #383838;
}

input.btnhov {
	border-color: #c63 #930 #930 #c63;
	background-color: #930;
	color: #fff;
}

#right.attachment_button {
	float: right;
	padding: 1em;
}

.attachment_button {
	padding: 1em;
}

/******** Checklist *********/

.em_mandatory {
	width: 50%;
	float: left;
}

.em_optional {
	width: 50%;
	float: left;
}

/******** Search LOV **/

.emundus_search_grp {
	color: #009;
	text-align: center;
	background-color: #E0E0E0;
	font-weight: bold;
	font-family: Arial;
	font-size: 105%;
}

.emundus_search_elm {
	color: #003;
}

.em_filtersElement {
	display: inline;
}

.em_label {
	display: block;
}

.em_filters {
	display: block;
	margin: 2px;
}

#schoolyear.em_filters,
#select_missing-doc.em_filters,
#campaign.em_filters,
#finalgrade.em_filters,
#evaluator.em_filters,
#gp_evaluator.em_filters,
#missing_doc.em_filters,
#profile.em_filters {
	display: inline-block;
	margin: 5px 2px 5px 2px;
}

#add_filt {
	margin-left: 10px;
}

#em_adv_filters.em_filters {
	clear: both;
	/*width:550px;*/
	padding-top: 10px;
}

#em_adv_filters a,
#em_other_filters a {
	color: #404040;
}

#em_adv_filters,
#em_other_filters {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 20px;
	text-decoration: none;
}

.buttons {
	clear: both;
	margin-top: 20px;
}

.em_list {
	list-style-type: none;
	list-style-type: inside;
}

#em_list_elements {
	padding-bottom: 15px;
}

.em_actions {
	display: inline-block;
	min-width: 30px
}

.em_upload,
.em_gender,
.em_email,
.em_details,
.em_evaluation,
.em_selection_outcome,
.em_user_id,
.em_checkbox {
	padding: 1px 3px 1px 3px;
	display: inline;
}

.em_attachments,
.em_forms {
	margin: 0px 3px 0px 3px;
	float: right;
}

.em_photo {
	float: right;
}

.em_validation {
	display: inline;
}

.em_campaign_label {
	font-weight: bold;
}

#em_comments {
	display: inline;
	float: left;
	margin-left: 15px;
}

#em_comments_action {
	display: inline;
	/*float:right;*/
	padding: 8px
}

#user_campaign a {
	background-color: #E1F1F8;
	padding: 1px 5px 0px 5px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.em_email_block fieldset {
	margin: 0 0 15px 0 !important;
}

#fieldset-filters {
	margin-bottom: 10px;
}

/*
.rt-container div:first-child{
	float:left;
	display:inline;
}
*/

#lschoolyears {
	display: inline;
}

#checkall-attachment label {
	display: inline-block !important;
}

/*** view export_select_column ***/

#emundus_elements label {
	display: inline;
	margin: 0 10px 5px 0px !important;
}

/* template rt_afterburner 2  */

/* joomla-core.less */

.component-content legend {
	border: 1px solid #d5d5d5;
	padding: 5px 5px 5px 5px;
	margin-left: -6px;
	border-radius: 5px 5px 5px 5px;
	color: #777777;
	font-weight: bold;
	text-shadow: 0 1px 0 #FFFFFF;
	background-color: #c0c0c0;
	border-bottom: 1px solid #B7B7B7;
	background: linear-gradient(to left top, #F3F3F3, #D7D7D7);
	background: -webkit-gradient(linear, left top, left bottom, from(#F3F3F3), to(#D7D7D7));
	background: -moz-linear-gradient(left top, left bottom, #F3F3F3, #D7D7D7);
}

.component-content legend img {
	padding-right: 10px;
}

.component-content .need_ok {
	background-image: url(../images/icones/tick.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0 0 0 20px;
	width: 98%;
}

.component-content .need_missing_fac {
	background-image: url(../images/icones/incomplete-optional.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0 0 0 20px;
	width: 98%;
}

.component-content .need_missing {
	background-image: url(../images/icones/incomplete.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 0 0 0 20px;
	width: 98%;
}

.component-content .checklist-content {
	max-width: 300px;
}

.component-content fieldset {
	border: 1px solid #d5d5d5;
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px 5px 5px 5px;
	background: #FCFCFD;
}

#em_application_attachments input[type="image"] {
	width: 30px !important;
}

fieldset {
	border: 1px solid #d5d5d5;
	padding: 5px 5px 5px 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 5px 5px 5px 5px;
	background: #fff;
}

/* end */

/* menu.less */

#em_user_menu li {
	/*background:#74D0FD !important;*/
}

#em_user_menu li:hover {
	/*background:#FEAA3F !important;*/
}

#em_user_menu .dropdown li {
	/*background:#F7C07A !important;*/
}

#em_user_menu .dropdown li:hover {
	background: none !important;
}

/* end */

/* end template afterburner 2*/

/* helper email */

#addressee {
	height: 100%;
	width: 100%;
}

#addressee_title {
	float: left;
	width: 3%;
	display: inline;
}

#addressee_left {
	float: left;
	width: 15%;
	display: inline;
}

#addressee_center {
	float: left;
	display: inline;
	width: 20%;
}

#addressee_right {
	float: left;
	display: inline;
	width: 20%;
}

.em_dl {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #F5F5F5;
	border-bottom-color: #DCDCDC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color-ltr-source: physical;
	border-left-color-rtl-source: physical;
	border-left-color-value: #DCDCDC;
	border-left-style-ltr-source: physical;
	border-left-style-rtl-source: physical;
	border-left-style-value: solid;
	border-left-width-ltr-source: physical;
	border-left-width-rtl-source: physical;
	border-left-width-value: 1px;
	border-right-color-ltr-source: physical;
	border-right-color-rtl-source: physical;
	border-right-color-value: #DCDCDC;
	border-right-style-ltr-source: physical;
	border-right-style-rtl-source: physical;
	border-right-style-value: solid;
	border-right-width-ltr-source: physical;
	border-right-width-rtl-source: physical;
	border-right-width-value: 1px;
	border-top-color: #DCDCDC;
	border-top-style: solid;
	border-top-width: 1px;
	font-weight: bold;
	margin-bottom: 9px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0;
	max-width: 448px;
	overflow-y: hidden;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 4px;
	padding-top: 4px;
}

.em_email_icon {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: auto auto;
	cursor: pointer;
	float: right;
	margin-top: 1px;
}

.vI {
	display: inline-block;
	max-width: 315px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 3px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 3px;
	text-overflow: ellipsis;
	vertical-align: bottom;
	white-space: nowrap;
}

.vJ {
	color: #777777;
	display: inline-block;
	padding-bottom: 3px;
	padding-left: 0;
	padding-right: 0;
	padding-top: 3px;
}

/* helper list : affect to evaluator(s) */

#assessor_group {
	float: left;
	width: 25%;
	display: inline;
}

#assessor_user {
	float: left;
	width: 25%;
	display: inline;
}

#assessor_all {
	float: left;
	width: 10%;
	display: inline;
}

#attachment_list_mand fieldset {
	-webkit-transition: background-color 2s, -webkit-transform 2s;
	transition: background-color 2s, transform 2s;
}

/*#attachment_list_mand fieldset:hover {
	background-color: #E1BC47;
}

#attachment_list_mand fieldset.hover {
	background-color: #E1BC47;
}

#attachment_list_opt fieldset {
	-webkit-transition: background-color 2s, -webkit-transform 2s;
	transition: background-color 2s, transform 2s;
}

#attachment_list_opt fieldset:hover {
	background-color: #E1BC47;
}

#attachment_list_opt fieldset.hover {
	background-color: #E1BC47;
}
*/
/* Diplaying user photos and email in list views */

.em_list_photo {
	float: left;
	border-radius: 40px;
}

.em_list_email {
	color: #666666
}

/* SWITCH PROFILE SELECT BOX*/
/*#profile,
#profile-color {
    background-position: 100% center;
    background-repeat: no-repeat;
    border: 3px solid black;
    color: rgb(14, 12, 12);
    font-family: Arial;
    font-size: 16px;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 95%;
    height: 50px;
    background: rgba(226, 226, 226, 0.918);
}*/



.select {
	position: relative;
	display: inline-block;
	margin-bottom: 15px;
	width: 100%;
}    .select select {
		 font-family: 'Arial';
		 display: inline-block;
		 width: 100%;
		 height:45px;
		 cursor: pointer;
		 padding: 9px 13px;
		 outline: 0;
		 border: 2px solid #000000;
		 border-radius: 5px;
		 background: #e3e3e4;
		 color: #030303;
		 appearance: none;
		 -webkit-appearance: none;
		 -moz-appearance: none;
	 }
.select select::-ms-expand {
	display: none;
}
.select select:hover,
.select select:focus {
	color: #2e2c2c;
	background: #bbafaf;
}
.select select:disabled {
	opacity: 0.7;
	pointer-events: none;
}
.select_arrow {
	position: absolute;
	top: 16px;
	right: 15px;
	width: 0px;
	height: 0px;
	border: solid #7B7B7B;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
	border-color: #000000;
}
.select select:disabled ~ .select_arrow {
	border-top-color: #CCCCCC;
}

footer#g-footer {
	background: transparent;
	border-top: 1px solid #bbb;
}

@media all and (max-width:  767px) {
		.view-featured #em-panel .ui.grid {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.view-featured #em-panel .ui.grid .column.element_home_emundus {
			width: 100%;
		}
}
