/* view export select columns */
.view-export_select_columns .panel-info > .panel-heading label{
    color:#353544 !important;
    margin:0!important;
}
.panel{
    box-shadow: unset;
}
.component-content legend {
    border: 0px;
    padding: 0px;
    margin-left: -6px;
    border-radius: 0px;
    background: inherit;
    border-bottom: 0px;
    margin-bottom: 0;
    line-height: 0;
}
.panel-info legend {
    color: #000000;
    font-size: 16px;
}
.panel-info.excel {
    min-height: inherit!important;
}

a.btn.btn-info,
button.btn.btn-primary {
    background: var(--main-500);
    border: 1px solid var(--main-500);
    text-shadow: none;
    text-transform: initial;
    padding: 8px 12px;
}

a.btn.btn-info:hover, a.btn.btn-info:focus, a.btn.btn-info:active,
button.btn.btn-primary:hover, button.btn.btn-primary:focus, button.btn.btn-primary:active {
    background-color: transparent;
    color: var(--main-500);
    outline: none;
    border: 1px solid var(--main-500);
}

.panel-primary {
    border-color: #00316b;
}
.panel-primary.excel>.panel-heading {
    background-color: #353544;
}

.panel-heading label {
    color: #FFFFFF!important;
    font-weight: bold!important;
    text-shadow: none ;
    font-size: 18px;
}
.label-element {
    color: #000000!important;
    font-weight: normal!important;
}
.panel-info>.panel-heading label {
    color: #000000!important;
    font-weight: bold!important;
    text-shadow: none ;
    font-size: 14px;
}

.em-element-id, .em-element-title-id {
    min-width: 120px;
}

#program-categories-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.em-element-id {
    cursor: pointer;
    font-weight: bold;
}

.em-element, .em-element-title {
    display: flex;
    flex-direction: row;
}

.em-element-main-title {
    margin-bottom: 10px;
}

.em-element-main-title-id > b, .em-element-main-title-label > b{
    border-bottom: 1px solid;
}

.other-em-element {
    margin: 10px 0;
}

#em-select-program,
#em-select-campaign {
    margin-bottom: 40px;
}

#em-select-program h2,
#program-categories h2,
#result h1,
#other-result h1 {
    font-size: 20px;
    color: #353544;
}

.view-export_select_columns h1 {
   color: #353544;
}


.panel-primary > .panel-heading{
    background-color: var(--main-500) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
legend{
    margin: unset !important;
}
legend label{
    color: white;
}
.panel-info > .panel-heading{
    background-color: #E3E5E8;
}
label[for ^='emundus_checkall_grp_']{
    color: black;
}
