/*view-checklist*/

button.save-btn, .btn-success, button.save, button.save_continue, button.send, a.btn-attach, #trombi_preview, #trombi_generate,
.indicateurs-page .btn, .fabrik_filter_submit, button.importation, a.btn-warning, a.btn-info, .header-right .btn-danger, button.btn-primary,
.em-generated-docs .em-doc-zip, .xclsform .panel-body button#savefilter, .modal-dialog #chargement a.btn, a#em-doc-zip,
.btn.advanced-search-apply, .toggle-addoption.btn, .candidacy-files-list a#send, .choice-statut-btn {
    background: #e03c32;
    border: 1px solid #e03c32;
    text-shadow: none;
    text-transform: none;
}
button.save-btn:hover, button.save-btn:active, button.save-btn:focus,
.btn-success:hover, .btn-success:focus, .btn-success:active,
button.save:hover, button.save:active, button.save:focus,
button.save_continue:hover, button.save_continue:active, button.save_continue:focus,
button.send:hover, button.send:active, button.send:focus,
a.btn-attach:hover, a.btn-attach:active, a.btn-attach:focus,
#trombi_preview:hover, #trombi_preview:active, #trombi_preview:focus,
#trombi_generate:hover, #trombi_generate:active, #trombi_generate:focus,
.indicateurs-page .btn:hover, .indicateurs-page .btn:active, .indicateurs-page .btn:focus,
.fabrik_filter_submit:hover, .fabrik_filter_submit:active, .fabrik_filter_submit:focus,
button.importation:hover, button.importation:active, button.importation:focus,
a.btn-warning:hover, a.btn-warning:active, a.btn-warning:focus,
a.btn-info:hover, a.btn-info:active, a.btn-info:focus,
.header-right .btn-danger:hover, .header-right .btn-danger:focus, .header-right .btn-danger:active,
button.btn-primary:hover, button.btn-primary:active, button.btn-primary:focus,
.em-generated-docs .em-doc-zip:hover, .em-generated-docs .em-doc-zip:active, .em-generated-docs .em-doc-zip:focus,
.xclsform .panel-body button#savefilter:hover, .xclsform .panel-body button#savefilter:active, .xclsform .panel-body button#savefilter:focus,
.modal-dialog #chargement a.btn:hover, .modal-dialog #chargement a.btn:active, .modal-dialog #chargement a.btn:focus,
a#em-doc-zip:hover, a#em-doc-zip:active, a#em-doc-zip:focus,
.btn.advanced-search-apply:hover, .btn.advanced-search-apply:active, .btn.advanced-search-apply:focus,
.toggle-addoption.btn:hover, .toggle-addoption.btn:active, .toggle-addoption.btn:focus,
.candidacy-files-list a#send:hover, .candidacy-files-list a#send:active, .candidacy-files-list a#send:focus,
.choice-statut-btn:hover, .choice-statut-btn:active, .choice-statut-btn:focus {
    background-color: transparent;
    color: #e03c32;
    outline: none;
}

button.goback-btn, .btn-danger, .pull-right .btn:not(.dropdown-toggle), .below-content a, #member-profile .controls a, .toggle-editor .btn,
.xclsform .panel-body button#delfilter, button#back, .btn.advanced-search-clearall, .emails-setup-page .form-actions button:not(.save),
.documents-type-candidacy-page .fabrikDetails .btn, .fabrikUploadDelete .btn, #em_select_filter #del-filter, .btn-toolbar .btn-group:nth-child(2) .btn {
    background: #29d4ff;
    border: 1px solid #29d4ff;
    color: white;
    text-shadow: none;
    text-transform: none;
}
button.goback-btn:hover, button.goback-btn:active, button.goback-btn:focus,
.btn-danger:hover, .btn-danger:active, .btn-danger:focus,
.pull-right .btn:not(.dropdown-toggle):hover, .pull-right .btn:not(.dropdown-toggle):focus, .pull-right .btn:not(.dropdown-toggle):active,
.below-content a:hover, .below-content a:active, .below-content a:focus,
#member-profile .controls a:hover, #member-profile .controls a:active, #member-profile .controls a:focus,
.toggle-editor .btn:hover, .toggle-editor .btn:active, .toggle-editor .btn:focus,
.xclsform .panel-body button#delfilter:hover, .xclsform .panel-body button#delfilter:active, .xclsform .panel-body button#delfilter:focus,
button#back:hover, button#back:active, button#back:focus,
.btn.advanced-search-clearall:hover, .btn.advanced-search-clearall:active, .btn.advanced-search-clearall:focus,
.emails-setup-page .form-actions button:not(.save):hover, .emails-setup-page .form-actions button:not(.save):active, .emails-setup-page .form-actions button:not(.save):focus,
.documents-type-candidacy-page .fabrikDetails .btn:hover, .documents-type-candidacy-page .fabrikDetails .btn:active, .documents-type-candidacy-page .fabrikDetails .btn:focus,
.fabrikUploadDelete .btn:hover, .fabrikUploadDelete .btn:active, .fabrikUploadDelete .btn:focus,
#em_select_filter #del-filter:hover, #em_select_filter #del-filter:active, #em_select_filter #del-filter:focus,
.btn-toolbar .btn-group:nth-child(2) .btn:hover, .btn-toolbar .btn-group:nth-child(2) .btn:active, .btn-toolbar .btn-group:nth-child(2) .btn:focus {
    background-color: transparent;
    color: #29d4ff;
    outline: none;
}
.em-print-button a {
    text-shadow: none;
    width: 100%;
    padding: 8px 12px;
    font-size: 1rem;
    border: 1px solid  #29d4ff;
    color: #fff;
    background:  #29d4ff;
    display: flex;
    justify-content: center;
}
.em_module.need_ok a::before,
#attachment_list legend .need_ok::before
{
    font-family: FontAwesome;
    content: "\f058";
    color: #55ce47;
    font-size: 20px;
    margin-right: 10px;
}
.need_missing a::before, #attachment_list #legend .need_missing::before {
    font-family: FontAwesome;
    content: "\f057";
    font-size: 20px;
    margin-right: 10px;
    color: #e5283b;
}
.need_missing_fac a::before,
#attachment_list #legend .need_missing_fac::before {
    font-family: FontAwesome;
    content: "\f06a";
    font-size: 20px;
    margin-right: 10px;
    color: #e5283b;
}

.view-checklist .attached p {
    color: #fff;
}

.view-checklist .input-group {
    width: 100%;
}

.view-checklist #attachment_list_mand .em-description {
    display: flex;
    align-items: baseline;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.view-checklist #attachment_list_opt .em-description {
    display: flex;
    align-items: baseline;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.view-checklist .em-description label {
    width: 20%;
    float: left;
}

.view-checklist .input-group .form-control {
    width: 80% !important;
    float: left;
}
.view-checklist form .dz-message{
    height: 150px;
    border: 2px dashed grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.view-checklist .dropzone .dz-preview  {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.need_ok {
    background: none;
}

.need_missing,
.need_missing_fac,
.need_missing.active {
    background-image: none;
}

.need_ok.active {
    background: none;
}
.em-container-attachments > h1, .em-container-attachmentsOpt > h1 {
    color: #000;
}
.view-checklist .fabrikGroup legend, .view-checklist #attachment_list_mand legend, .view-checklist #attachment_list_opt legend {
    display: contents;
}

#attachment_list_mand legend a, .view-checklist  #attachment_list_opt legend a {
    color: #000 !important;
}
#attachment_list {
    width: 100%;
    margin: 20px 0;
}
#attachment_list legend {
    font-size: 1.5rem;
}
/*CV candidat*/

#info_checklist {
    width: 100%;
    margin-bottom: 20px;
}

.checklist1 {
    background-position: bottom right;
    background-size: 30px;
}

#instructions {
    margin-bottom: 20px;
}

#legend .need_missing_fac, #legend .need_missing, #legend .need_ok {
    padding: 0;
}

#legend .need_missing_fac, #legend .need_ok {
    padding-left: 10px;
}
/* SIDEBAR */
#g-sidebar {
    padding: 0;
    margin: 20px 15px;
    background: transparent !important;
}

#g-sidebar h3 {
    font-size: 1.3rem;
    margin-bottom: 2px !important;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    color: #333;
    font-family: var(--applicant-title-font);
}

#g-sidebar .platform-content {
    margin: 0;
    padding: 0;
}

#g-sidebar .moduletable {
    padding: 10px !important;
    border-radius: 0;
}

#g-sidebar .send-application-btn {
    margin: 0 !important;
    padding: 0 !important;
}

#g-sidebar .moduletable .custom {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
}

#g-sidebar .em_form {
    padding: 0;
}

#g-sidebar li.em_module {
    padding: 0;
}

#g-sidebar .platform-content li:hover, #g-sidebar .platform-content li.active {
    background: #f2f2f2;
}

#g-sidebar .platform-content li:hover, #g-sidebar .platform-content li a  {
    color: var(--neutral-800);
    font-family: var(--applicant-default-font);
}


#g-sidebar ul {
    margin: 0 !important;
    list-style: none;
    padding-left: 0;
}

#g-sidebar .moduletable li:last-of-type .em_form {
    border: none !important;
}

#g-sidebar .em_module:last-child .em_form {
    padding-bottom: 0;
}

.custom-sticky {
    position: fixed;
    top: 0;
}

#legend .need_missing_fac, #legend .need_ok {
    padding-left: 10px;
}
/* Documents */

#attachment_list_mand,
#attachment_list_opt {
    width: 100%;
}

#attachment_list_mand fieldset,
#attachment_list_opt fieldset {
    background-color: #fff;
    box-shadow: none;
    padding: 8px 16px 24px 16px;
    border-radius: 16px !important;
    height: auto;
}

#attachment_list_mand fieldset p,
#attachment_list_opt fieldset p {
    color: var(--em-applicant-text-color);
}

.view-checklist .table {
    margin-bottom: 0;
}

.view-checklist .table-responsive {
    color: #2E2E2E;
}

#g-sidebar a:focus {
    text-decoration: none !important;
}

.view-checklist form .input-group div:nth-child(2) .col-sm-12 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.custom-file-upload input {
    cursor: pointer !important;
}

#attachment_list_mand .em-added-files,
#attachment_list_mand .em-no-more-files,
#attachment_list_opt .em-added-files,
#attachment_list_opt .em-no-more-files {
    color: #2E2E2E;
}


#attachment_list_mand .em-added-files > td,
#attachment_list_opt .em-added-files > td {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -12px;
}


.view-checklist #attachment_list_mand a.btn ,
.view-checklist #attachment_list_opt a.btn {
    display: flex !important;
    align-items: center !important;
}

#attachment_list_mand .description,
#attachment_list_opt .description {
    color: #2E2E2E;
    padding-left: 20px;
}

#attachment_list_mand table td, #attachment_list_opt table td {
    border-top: none;
    white-space: normal;
    padding-bottom: 4px;
}

#attachment_list_opt fieldset .description {
    margin-bottom: 0;
    padding-bottom: 0;
}

#attachment_list_mand form, #attachment_list_opt form {
    background-color: #fff;
    border: none;
    padding: 0;
    margin: 0;
}

#attachment_list_mand form .input-group .em-description span, #attachment_list_opt form .input-group .em-description span {
    color: #2E2E2E;
}

#attachment_list_mand form .input-group .em-description input, #attachment_list_opt form .input-group .em-description input {
    border: 1px solid #ccc;
    border-radius: 4px !important;
    cursor: initial;
    box-shadow: none;
}

#attachment_list_mand p.em-added-file, #attachment_list_opt p.em-added-file {
    display: none;
}

#em-user-filters h3 {
    font-size: 1.8rem;
    margin-top: 7px;
}

.error-report-page .fabrikForm {
    background: #4E5B6D;
    padding: 1rem 14rem 1rem 10rem;
    color: #ffffff;
}

.error-report-page legend {
    color: #ffffff;
}

#attachment_list_opt fieldset.hover, #attachment_list_mand fieldset.hover {
    background-color: #fcfcfc;
}

.em-added-files .glyphicon {
    padding-right: 3px;
}
.form-horizontal .controls{
    margin-left: 0;
}
.form-horizontal .control-label{
    text-align: left !important;
    width: auto;
    margin-right: 10px;
}
.form-horizontal .controls .checkbox{
    padding-left: 0;
}
/* save button */
.form-actions .row-fluid {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
.view-checklist .form-actions .row-fluid {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.view-checklist .fabrikActions.form-actions .span4 {
    width: 50% !important;
    display: flex;
}

.view-checklist  .fabrikActions.form-actions .span4:not(.offset1) {
    justify-content:flex-end;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
    margin-left: 0px !important;
    margin-right: 10px;
    margin-top: 5px;
}
/*.fabrikLabel[opts*="Validation"]::after,
body.view-login label#password-lbl::after,
body.view-login label#username-lbl::after,
body.view-reset label#jform_email-lbl::after,
body.view-reset label#jform_username-lbl::after,
.control-label .required::after {
    content: "∗";
    color: red;
    padding-left: 5px;
    top: -5px;
    position: relative;
}

.fabrikLabel[opts*="Validation"] > .icon-star{
    display: none !important;
}*/

@media screen and (max-width: 991px) {
    .custom-sticky {
        width: 25%;
    }
}

@media screen and (max-width: 767px){
    .view-checklist  .fabrikActions.form-actions .span4:not(.offset1){
        justify-content: flex-end;
    }

    .fabrikActions.form-actions .row-fluid .span4 button.btn.save-btn {
        margin: 0px !important;
    }

    /* save button */
    .gantry.view-form .form-actions .row-fluid {
        flex-direction: column;
        align-items: center;
    }
    .gantry.view-form .form-actions .row-fluid .btn.goback-btn.button {
        margin-right: 0px !important;
        margin-top: 5px;
    }
}
@media screen and (max-width: 550px){
    .view-checklist .input-group{
        width: 66%;
    }
    .view-checklist .em-description{
        flex-direction: row;
        justify-content: space-between;
    }
    #attachment_list_mand form .input-group .em-description input{
        width: 100% !important;
        margin-right: -95px;
    }
    .view-checklist form .input-group div:nth-child(2) .col-sm-12{
        flex-direction: column;
    }
    .view-checklist form .input-group div:nth-child(2) .col-sm-12 input{
        margin-top: 10px;
    }
    .view-checklist .fabrikActions.form-actions .span4:not(.offset1){
        justify-content: flex-start;
    }

}

#g-sidebar .platform-content a {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    line-height: 1.2rem;
    color: #000;
    display: flex;
    align-items: center;
}



.applicant-form #g-sidebar .platform-content a:hover {
  text-decoration: none;
}

.em-print-button, .em-send-button {
    display: block;
    width: 100% !important;
    padding: 0;
}

.em-print-button a i , .em-send-button a i {
    margin: 5px 8px !important;
}

.em-send-button a {
    margin-top: 1rem !important;
    text-shadow: none !important;
    width: 100% !important;
    padding: 8px 12px !important;
    font-size: 1rem !important;
    display: flex !important;
    justify-content: center;

}

.em-send-button a:hover, .em-send-button a:focus, .em-send-button a:active {
     background: transparent !important;
 }

.em-print-button a {
    text-shadow: none !important;
    padding: 8px 12px !important;
}

.em-print-button a:hover, .em-print-button a:focus, .em-print-button a:active {
     background: transparent !important;
 }


#attachment_list_mand legend a,
.view-checklist #attachment_list_opt legend a {
    color: #000 !important;
}

#attachment_list_mand legend a:hover,
.view-checklist #attachment_list_opt legend a:hover {
    text-decoration: none;
}

.need_missing.active a::before {
    font-family: FontAwesome;
    content: "\f141";
    font-size: 20px;
    margin-right: 10px;
}

.active .em_form {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #4E5B6D;
}

.em_module.need_ok a::before {
    font-family: FontAwesome;
    content: "\f058";
    color: #55ce47;
    font-size: 20px;
    margin-right: 10px;
}

#attachment_list #legend .need_ok::before {
    font-family: FontAwesome;
    content: "\f058";
    color: #55ce47;
    font-size: 20px;
    margin-right: 10px;
}

.need_missing a::before,
#attachment_list #legend .need_missing::before {
    font-family: FontAwesome;
    content: "\f057";
    font-size: 20px;
    margin-right: 10px;
    color: #e5283b;
}

.need_missing_fac a::before,
#attachment_list #legend .need_missing_fac::before {
    font-family: FontAwesome;
    content: "\f06a";
    font-size: 20px;
    margin-right: 10px;
    color: #e5283b;
}

@media all and (max-width: 767px) {
    #g-sidebar {
        margin: 0;
    }

    #g-sidebar .moduletable .custom {
            justify-content: flex-start;
    }
}

@media all and (min-width: 768px) and (max-width: 959px) {
    .view-details #g-container-main h3.legend {
        margin-top: 30px !important;
    }
    .view-details #g-container-main .page-header h1 {
        margin-bottom: 30px !important;
    }

    .view-details #g-sidebar .moduletable, .view-checklist #g-sidebar .moduletable {
        padding: 0px !important;
    }
}
