hr{
    color: rgba(181,181,181,1);
}
.award{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.em-search{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90vw;
}
.em-search-button{
    margin-left: -5px !important;
    height: 34px !important;
    background-color: #e87f2e;
    background: #e87f2e;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    color: white;
}
.em-search-button i{
    margin-right: 5px;
}
.em-cardContainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.em-cardContainer-card{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.em-cardContainer-card .em-cardContainer-card-image{
    height: 50vh;
}

.em-cardContainer-card .em-cardContainer-card-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.em-cardContainer-card-content{
    margin: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.em-cardContainer-card-content h1{
    font-size: 1.5rem;
    margin-bottom: 40px;
}
.em-cardContainer-card-galerie{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.em-cardContainer-card-galerie img{
    width:33%;
    object-fit:contain;
}


.em-cardContainer-card-vote{
    display:flex;
    flex-direction:column;
    margin: 15px;
}
.em-cardContainer-card-vote-button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.em-cardContainer-card-vote-button a{
    height: 30px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    border: 2px solid #1e3799;
    border-radius: 100px;
    cursor: pointer;
    margin-right: 5px;
}
.em-cardContainer-card-vote-button a:hover, .em-cardContainer-card-vote-button a.active {
    background-color: rgba(52, 152, 219, 0.2);
}
.em-cardContainer-card-vote-button a i{
    height: 16px;
    width: 16px;
    color: #1e3799;
    padding-left: 10px
}
.em-button-clicked{
    animation: clicked 2s ease;
}
@keyframes clicked{
    0%{
        transform: scale(1);
    }
    30%{
        transform: scale(1.5);
    }
    50%,70%,90%{
        transform: rotate(20deg);
    }
    60%,80%,100%{
        transform: rotate(-20deg);
        transform: scale(1);
    }


}
@media screen and (min-width:780px){
    .em-cardContainer-card-content h1{
        font-size: 1rem;
    }
    .em-search{
        width: 80vw;
    }
}
@media screen and (min-width:1270px){
    .em-cardContainer-card-content h1{
        font-size: 1.2rem;
    }
}
@media screen and (min-width:1700px){
    .em-cardContainer-card-content h1{
        font-size: 1.5rem;
    }
}