.widget .panel-body { padding:16px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.widget .panel-title span{
    color: white;
    margin-right: 8px;
}
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 14px; }
.widget .action { margin-top:5px; display: inline;}
.widget .comment-text { font-size: 12px; display: inline;}
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }

