/******************************** 
 *
 *        com_emundus
 *
 *
 ********************************/
img {border:none;}
a {text-decoration:none;}
.emundusraw, .checkall {
	visibility: hidden;
	overflow: hidden;
	height: 1px;
	margin-top: -1px;
	position: absolute;
}
#checkall {
	visibility: hidden;
	overflow: hidden;
	height: 1px;
	margin-top: -1px;
	position: absolute;
}
#userlist {
	border-width: 1px;
	border-spacing: 1px;
	border-style: none;
	border-color: gray;
	border-collapse: separate;
	background-color: #E7E7E7;
	}
#userlist th {
	border-width: 1px;
	padding: 1px;
	border-style: outset;
	border-color: white;
	background-color: white;
	-moz-border-radius: 3px 3px 3px 3px;
}
#userlist td {
	border-width: 1px;
	padding: 1px;
	border-style: outset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: 3px 3px 3px 3px;
}
.emundus_finalgrade{
background-color:#FFCC33;
height:30px;
 border:1px solid red; 
}
.emundus_finalgrade1{
background-color:#C0C0C0 ;
height:60px;
 border:1px solid red; 
}

.emundus_finalgrade2{
background-color:#FF0000;
height:60px;
 border:1px solid red; 
}
.emundus_finalgrade3{
background-color:#FF9900;
height:60px;
 border:1px solid red; 
}
.emundus_finalgrade4{
background-color:#009900; 
height:60px;
 border:1px solid red; 
}

