h1.title.em-program-title {
    margin-top: 50px;
    margin-bottom: 10px;
}
#g-navigation {
    height: auto;
}
.em_period .btn.save-btn {
    height: 34px;
    width: 165px;
    padding: 6px 12px !important;
}
.em_period .btn.goback-btn{
    height: 34px;
    width: 165px;
    padding: 6px 12px !important;
}

#g-navigation .g-container {
    height: auto;
}

div.content-bottom-a fieldset.em_period {
    margin-top: 20px;
}
.apply-now-small {
    line-height: 22px;
}
.apply-now-small b{
    color:#000000;
}
.apply-now-small strong {
    font-weight: normal;
    width: 170px;
    display: inline-block;
}

.view-programme fieldset {
    background: transparent;
}


@media all and (max-width: 479px) {
    .view-programme.homepage .campaingapplycontent {
        text-align: left;
    }
}
@media all and (max-width: 767px) {
    /* VIEW PROGRAMME _ MORE INFORMATION */
    .view-programme .right-side.campaingapply {
        width: 100% !important;
    }

    .view-programme .below-content {
        width: 100% !important;
    }
}