/* email */
.email_legend {
	font-size:14px;
	font-weight:bold;
}
#email_sent {
	padding:10px 10px 10px 10px;
	margin-bottom:10px;
}
#email_sent .email_title {
	text-align:center;
	background-color:#ADDE71;
	font-size:16px;
	font-weight:bold;
	border-radius:10px;
	margin-bottom:5px;
}
#email_sent .email {
	border:1px solid #B1FC55;
	border-radius:10px;
	padding:5px 5px 5px 5px;
	margin-bottom:10px;
}
#email_sent .email_to {
	margin-bottom:5px;
	width:30%;
	float: left;
}
#email_sent .email_to_text {
	color:black;
	display: inline;
}
#email_sent .email_subject{
	margin-bottom:5px;
	font-size:18px;
	font-weight:bold;
	margin-top:5px;
}
#email_sent .email_date{
	width:70%;
	float: right;
	height:50px;
}
#email_sent .email_details{
	overflow: auto;
}
#email_sent .email_message{
	margin-bottom:5px;
	margin-top:20px;
}
#email_sent .email_to .email_legend {
	color:#95999c;
	font-size:14px;
	font-weight:bold;
	width:10%;
	display:inline;
}

#email_received {
	padding:10px 10px 10px 10px;
	margin-bottom:10px;
}
#email_received .email_title {
	text-align:center;
	background-color:#C3D2F7;
	font-size:16px;
	font-weight:bold;
	border-radius:10px;
	margin-bottom:5px;
}
#email_received .email {
	border:1px solid #34B6F2;
	border-radius:10px;
	padding:5px 5px 5px 5px;
	margin-bottom:10px;
}
#email_received .email_from {
	margin-bottom:5px;
	color:black;
	width:30%;
	float: left;
}
#email_received .email_subject{
	margin-bottom:5px;
	font-size:18px;
	font-weight:bold;
	margin-top:5px;
}
#email_received .email_date{
	width:70%;
	float: right;
	height:50px;
}
#email_received .email_details{
	overflow: auto;
}
#email_received .email_message{
	margin-bottom:5px;
	margin-top:20px;
}
.campaign.icon {
    float: left;
    width: 60px;
}
a:link {
	text-decoration:none;
}
