
p {
    margin-bottom: 0 !important;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.em-close-minimise {
    margin: -49px 0px 0px 0px;
}
/*.navbar .navbar-inverse{
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}*/

#check {
    min-width: 85px !important;
    max-width: 100px !important;
}

.em-excel_elts {
    display: inline-block;
    width: 90%;
    line-height: 0.8em;
}

.em-excel_elts>strong {
    overflow-x: auto;
    overflow-y: auto;
    text-overflow: ellipsis;
}

.em-data-container {
    width: 100%;
    overflow: auto;
}

th>.em-cell {
    display: block;
    overflow: hidden;
    height: 53px;
}

th:nth-child(2)>.em-cell,
td:nth-child(2)>.em-cell {
    display: block;
    overflow: hidden;
    max-width: 220px !important;
    margin: 0px;
}

th:first-child>.em-cell,
td:first-child>.em-cell {
    display: block;
    overflow: hidden;
    max-width: 200px !important;
    /*min-width: 100px !important;*/
    height: 45px;
    margin: 0px;
}

.form-control {
    display: block !important;
    width: 100% !important;
    height: 43px !important;
    padding: 10px 15px !important;
    font-size: 15px !important;
    line-height: 1.42857 !important;
    color: rgb(44, 62, 80);
    background-color: rgb(255, 255, 255) !important;
    background-image: none;
    border: 1px solid rgb(220, 228, 236) !important;
    border-radius: 4px 4px 4px 4px !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset !important;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s !important;
}

.form-control:focus {
    border-color: rgb(44, 62, 80) !important;
    outline: 0px none !important;
    box-shadow: none !important;
}

textarea>.form-control,
textarea>.input-group-addon,
textarea>.input-group-btn>.btn {
    height: auto !important;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
    color: #b94a48 !important;
}

.has-error .form-control {
    border-color: #b94a48 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}

.has-error .form-control:focus {
    border-color: #953b39 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392 !important;
}

.has-error .input-group-addon {
    color: #b94a48 !important;
    border-color: #b94a48 !important;
    background-color: #f2dede !important;
}

.has-error .form-control-feedback {
    color: #b94a48 !important;
}

label {
    color: #9EA4AB !important;
    margin-bottom: 5px !important;
    font-weight: bold !important;
    display: inline;
}

.opt label {
    color: #000 !important;
    font-size: 11px;
    line-height: 14px;
}

.btn {
    display: inline-block !important;
    margin-bottom: 0px !important;
    font-weight: normal !important;
    text-align: center !important;
    vertical-align: middle !important;
    cursor: pointer !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    white-space: nowrap !important;
    padding: 10px 15px !important;
    font-size: 15px !important;
    line-height: 1.42857 !important;
    border-radius: 4px 4px 4px 4px !important;
    -moz-user-select: none !important;
}

.btn-elements-success {
    background-color: #5bb75b !important;
    color: #FFFFFF !important;
}

ul {
    list-style: none;
}

.em-list-evaluator-item,
.em-export-item {
    padding: 8px;
    height: 30px;
}

.em-evaluator {
    display: inline-flex;
    width: 75%;
}

.btn-xs,
.btn-group-xs>.btn {
    padding: 1px 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
}

.btn-default .caret {
    border-top-color: #555555 !important;
}

.btn-default {
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 60%, #f5f5f5) !important;
    background-image: linear-gradient(#ffffff, #ffffff 60%, #f5f5f5) !important;
    background-repeat: no-repeat !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff5f5f5', GradientType=0) !important;
    filter: none !important;
    border-bottom: 1px solid #e6e6e6 !important;
}

.btn-primary {
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5) !important;
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5) !important;
    background-repeat: no-repeat !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0) !important;
    filter: none !important;
    border-bottom: 1px solid #178acc !important;
}

.btn-success {
    background-image: -webkit-linear-gradient(#88c149, #73a839 60%, #699934) !important;
    background-image: linear-gradient(#88c149, #73a839 60%, #699934) !important;
    background-repeat: no-repeat !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff88c149', endColorstr='#ff699934', GradientType=0) !important;
    filter: none !important;
    border-bottom: 1px solid #59822c !important;
}

.btn-info {
    background-image: -webkit-linear-gradient(#04519b, #033c73 60%, #02325f) !important;
    background-image: linear-gradient(#04519b, #033c73 60%, #02325f) !important;
    background-repeat: no-repeat !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff04519b', endColorstr='#ff02325f', GradientType=0) !important;
    filter: none !important;
    border-bottom: 1px solid #022241 !important;
}

.btn-warning {
    background-image: -webkit-linear-gradient(#ff6707, #dd5600 60%, #c94e00) !important;
    background-image: linear-gradient(#ff6707, #dd5600 60%, #c94e00) !important;
    background-repeat: no-repeat !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff6707', endColorstr='#ffc94e00', GradientType=0) !important;
    filter: none !important;
    border-bottom: 1px solid #aa4200 !important;
}

.btn-danger {
    background-image: -webkit-linear-gradient(#e12b31, #c71c22 60%, #b5191f) !important;
    background-image: linear-gradient(#e12b31, #c71c22 60%, #b5191f) !important;
    background-repeat: no-repeat !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe12b31', endColorstr='#ffb5191f', GradientType=0) !important;
    filter: none !important;
    border-bottom: 1px solid #9a161a !important;
}

.btn-default:hover {
    color: #555555 !important;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    color: #ffffff !important;
    background-color: #02274b !important;
    border-color: #011d37 !important;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    color: #ffffff !important;
    background-color: #a3171c !important;
    border-color: #911419 !important;
}

thead th:hover {
    background-color: rgba(48, 93, 126, 0.13);
    cursor: pointer;
}

.em-alert-filter {
    display: none;
}

.em-dimmer {
    position: absolute;
    background-color: rgba(242, 242, 242, 0.67);
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.em-dimmer img {
    display: block;
    margin: auto;
    position: relative;
    top: 10%;
}

/*
*   Modal pour les actions fait main pour eviter les conflits bootstrap
*/

.modal {
    background-color: rgba(0, 0, 0, 0.78) !important;
    color: #9EA4AB !important;
}

.label {
    display: inline !important;
    padding: .2em .6em .3em !important;
    font-size: 100% !important;
    font-weight: bold !important;
    line-height: 1 !important;
    color: #ffffff !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: .25em !important;
}

.label[href]:hover,
.label[href]:focus {
    color: #ffffff !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

.em-hide {
    display: none;
}

#em-hide-filters {
    border: thin rgba(142, 142, 142, 0.83) solid;
    height: 100px;
    width: 15px;
    position: fixed;
    top: 50%;
    left: 0;
    background-color: rgba(142, 142, 142, 0.83);
}

#em-hide-filters:hover {
    border: thin rgba(0, 0, 0, 0.63) inset;
    cursor: pointer;
    background-color: rgba(49, 48, 47, 0.87);
}

#em-hide-filters>span {
    color: #ffffff;
    position: relative;
    top: 38%;
}

.label:empty {
    display: none !important;
}

.btn .label {
    position: relative !important;
    top: -1px !important;
}

.label-default {
    background-color: #999999 !important;
}

.label-default[href]:hover,
.label-default[href]:focus {
    background-color: #808080 !important;
}

.label-primary {
    background-color: #2fa4e7 !important;
}

.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #178acc !important;
}

.label-success {
    background-color: #73a839 !important;
}

.label-success[href]:hover,
.label-success[href]:focus {
    background-color: #59822c !important;
}

.label-info {
    background-color: #033c73 !important;
}

.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #022241 !important;
}

.label-warning {
    background-color: #dd5600 !important;
}

.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #aa4200 !important;
}

.label-danger {
    background-color: #c71c22 !important;
}

.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: #9a161a !important;
}

.well {
    min-height: 20px !important;
    width: 100% !important;
    padding: 19px !important;
    background-color: #f5f5f5 !important;
    border: 1px solid #e3e3e3 !important;
    border-radius: 4px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05) !important;
}

.well blockquote {
    border-color: #ddd !important;
    border-color: rgba(0, 0, 0, 0.15) !important;
}

.well-lg {
    padding: 24px !important;
    border-radius: 6px !important;
}

.well-sm {
    padding: 9px !important;
    border-radius: 3px !important;
}

/*
*   Chosen overload
*/

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: 30px !important;
}

/**
*   table css
*/

.table>thead>tr>td.success,
.table>tbody>tr>td.success,
.table>tfoot>tr>td.success,
.table>thead>tr>th.success,
.table>tbody>tr>th.success,
.table>tfoot>tr>th.success {
    background-color: #dff0d8 !important;
}

.table-hover>tbody>tr>td.success:hover,
.table-hover>tbody>tr>th.success:hover {
    background-color: #d0e9c6 !important;
}

.table>thead>tr>td.info,
.table>tbody>tr>td.info,
.table>tfoot>tr>td.info,
.table>thead>tr>th.info,
.table>tbody>tr>th.info,
.table>tfoot>tr>th.info {
    background-color: #d9edf7 !important;
}

.table-hover>tbody>tr>td.info:hover,
.table-hover>tbody>tr>th.info:hover {
    background-color: #c4e3f3 !important;
}

.table>thead>tr>td.warning,
.table>tbody>tr>td.warning,
.table>tfoot>tr>td.warning,
.table>thead>tr>th.warning,
.table>tbody>tr>th.warning,
.table>tfoot>tr>th.warning {
    background-color: #fff1be !important;
}

.table-hover>tbody>tr>td.warning:hover,
.table-hover>tbody>tr>th.warning:hover {
    background-color: #faf2cc !important;
}

.table>thead>tr>td.danger,
.table>tbody>tr>td.danger,
.table>tfoot>tr>td.danger,
.table>thead>tr>th.danger,
.table>tbody>tr>th.danger,
.table>tfoot>tr>th.danger {
    background-color: #f2dede !important;
}

.panel-info {
    height: auto !important;
}

.em_attachs {
    padding: 15px !important;
}

.btn-attach {
    margin: 10px 8px !important;
}

.em-cell>.label {
    display: inline-block !important;
    margin: 2px 1px !important;
}

.access-table {
    margin-bottom: 15px;
    overflow: auto;
}

.table-left,
.table-right {
    padding: 0px !important;
}

#em-appli-block .table th,
#em-appli-block .table td {
    height: 56px;
}

.holds-iframe {
    background: url(../images/icones/loader-line.gif) center center no-repeat;
}

.can-update:hover {
    cursor: pointer;
    background-color: rgba(0, 255, 0, 0.16);
}

.mainemundus {
    width: 100% !important;
}

/* Diplaying user photos and email in list views */

.em_list_photo {
    float: left;
    display: inline-grid;
}

.em_list_text {
    display: inline;
}

.em_list_email {
    color: #666666
}


/* COLORS */

.red {
    color: red;
}

.green {
    color: #008000;
}

.blue {
    color: deepskyblue;
}

.ldap-card {
    background-color: #EEEEEE;
    color: #3a87ad;
}

/* PROGRESS BAR FOR EMAIL DIALOG */
#em-progress-wrp {
    border: 1px solid #0099CC;
    padding: 1px;
    position: relative;
    height: 30px;
    width: 50%;
    border-radius: 3px;
    margin: 5px;
    text-align: left;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
}

#em-progress-wrp .progress-bar {
    height: 100%;
    border-radius: 3px;
    background-color: #1BBC9B;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}

#em-progress-wrp .status {
    top: 3px;
    left: 50%;
    position: absolute;
    display: inline-block;
    color: #000000;
}

/* Email labels in the email dialog */
.em-email-label {
    margin: 1px;
    padding: 2px 1px !important;
}
.em-email-label:hover {
	background-color: #ccc;
}

/* Custom file upload style */
#em-file_to_upload {
    position: absolute;
    left: -9999px;
}

label[for="em-file_to_upload"] {
    padding: 0.5em;
    display: inline-block;
    background: #e9ecef;
    border: 1px solid #ced4da;
    cursor: pointer;
}
label[for="em-file_to_upload"]:hover {
    background: #BFBFBF;
}
#em-filename{
    padding: 0.5em;
    float: left;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    background: white;
    border: 1px solid #ced4da;

}

/* Messages sent / failed emails list style. Message recipient list */
#em-mails-sent, #em-mails-failed, #em-recipitents {
    overflow-y: scroll;
    max-height: 80px;
}

/* Sending email modal */
.em-modal-sending-emails {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}
#em-sending-email-caption {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 400px;
    text-align: center;
    color: #ccc;
    padding: 25px 0;
    font-size: 40px;
    animation-name: zoom;
    animation-duration: 0.6s;
}
.em-sending-email-img {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 300px;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform:scale(0);
        -webkit-transform:scale(0);
        -moz-transform:scale(0);
    }
    to {
        transform:scale(1);
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
    }
}

.em-nopadding {
    padding: 0 !important;
}

/* css view message tmpl default */

.upload-file{
    display:flex;
    flex-direction:row;
    margin-top: 30px;
}
.file-browse{
    width: 50%;
}
.attachment{
    width: 57%;
    float: right;
    margin-right: 16px;
}
.swal2-container{
    z-index: 99999 !important;
}
@media screen and (max-width: 991px){
    .download{
        display: inline !important;
    }
    .attachment{
        width: 100%;
    }
}

