#container  {
	width: 100%;
	/*background: #F4ECD9;*/
	text-align: left;
	/*border: 1px solid #eda;*/
	margin: 0 auto;
	z-index:99999;
}

#emundus_nav, #emundus_nav ul {
	float: left;
	width: 100%;
	list-style: none;
	line-height: 1;
	background: white;
	font-weight: bold;
	padding: 0;
	border: solid #eda;
	border-width: 1px 0;
	margin: 0 0 1em 0;
	z-index:99999;
}

#emundus_nav a {
	display: block;
	width: 100%;
	color: #7C6240;
	text-decoration: none;
	padding: 0.25em 0.25em;
	left: -999em;
}


#emundus_nav li {
	float: left;
	padding: 0;
	width: 2em;
	list-style: none;
	z-index:99999;
}

#emundus_nav li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 40em;
	font-weight: normal;
	border-width: 0.25em;
	margin: 0;
	list-style: none;
	z-index:99999;
}

#emundus_nav li li {
	padding-right: 1em;
	width: 39.2em;
	z-index:99999;
}

#emundus_nav li ul a {
	width: 40em;
}

#emundus_nav li ul ul {
	margin: -1.75em 0 0 14em;
}

#emundus_nav li:hover ul ul, #emundus_nav li:hover ul ul ul, #emundus_nav li.sfhover ul ul, #emundus_nav li.sfhover ul ul ul {
	left: auto;
}

#emundus_nav li:hover ul, #emundus_nav li li:hover ul, #emundus_nav li li li:hover ul, #emundus_nav li.sfhover ul, #emundus_nav li li.sfhover ul, #emundus_nav li li li.sfhover ul {
	left: auto;
	z-index:99999;
}

#emundus_nav li:hover, #emundus_nav li.sfhover {
	background: #eda;
}
