
/************ HOME ***************/
@media(min-width:768px) {
	.position-me {
	  position: absolute;
	  transform: translateX(27px);
	  -webkit-transform: translateX(27px);
	  min-width: 152px;
	  z-index: 99;
	}
	.rotate-me {
	  background-color: #002F6B;
	  border-top: solid 1px;
      border-bottom: solid 1px;
      border-left: solid 1px;
      border-color: #5476a4;
	  font-size: 17px;
      color: #fff;
      font-weight: bold;
	  transform-origin: 0% 0%;
	-ms-transform-origin:0% 0%; /* IE 9 */
	-webkit-transform-origin:0% 0%; /* Opera, Chrome, and Safari */

	  text-align: left;
	  
	  transform: rotate(450deg);
	-webkit-transform: rotate(450deg);
	-moz-transform: rotate(450deg);
	-o-transform: rotate(450deg);
	-ms-transform: rotate(450deg);
	}
	.rotate-me p {
		margin:3px 5px 0 5px;
	}
    .campaingapply {
        float: right!important;
        background-color: #ECECEC;
        color: #5476a4;
        border-top: solid 1px;
        border-bottom: solid 1px;
        border-right: solid 1px;
        border-color: #5476a4;
        border-radius: 0 20px 20px 0;
        -moz-border-radius: 0 20px 20px 0;
        -webkit-border-radius: 0 20px 20px 0;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;
    }
}
@media(max-width:768px) {
    .position-me {
        background-color: #002F6B;
        position: relative;
        float: left;
        width: 100%;
        color: #5476a4;
        font-weight: bold;
    }
    .rotate-me p {
        font-size: 17px;
        color: #fff;
        text-align: center;
        margin-top: 10px;
        font-weight: bold;
    }
    .campaingapply {
        float: right!important;
        background-color: #e1edfa;
        color: #5476a4;
        border: 1px #5476a4;
    }
}
.campaignright {
    float: right;
    margin-bottom: 20px!important;
}
.campaigntext {
    background-color: #FFFFFF;
    border-bottom: solid 1px #5476a4;
    border-top:  solid 1px #5476a4;
    float: left;
    min-height: 150px;
    font-size: 15px;
}
.campaigntext h4 {
    margin-left: 30px;
    margin-right: 10px;
}
.campaigntext p {
    margin-left: 30px;
    margin-right: 10px;
}

.campaingapplycontent {
    padding: 0 3px 0 7px;
}
.campaignbymonth {
    margin-top: 20px!important;
}

/************* TABS *****************/
ul, ol {
    padding: 0;
    margin: 0 0 10px 0px;
}
#navfilter {
    margin-bottom: 10px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav > li {

    display: block;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}
.nav > li.disabled > a {
    color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #eee;
    border-color: #337ab7;
}
.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
    display: inline-block;
    width: 100%;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    float: left;
    display: block;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.form-control {
    vertical-align: middle;
    max-width: 160px;
}
.navsearch-content {
    float: right;
    padding-top: 5px;
}
.navsearch {
    border-bottom: 1px solid #ddd;
    text-align: right;
}
.navorder {
    border-bottom: 1px solid #ddd;
}
@media(min-width:768px) {
    .navsearch {
        height: 39px;
    }
    .navparams {
        position: relative;
        top: 38px;
    }
    .navorder {
        height: 39px;
    }
}
.navorder p {
    padding-top: 10px;
    text-align: right;
}
button.btn.btn-default.sch {
    margin-bottom: 10px;
}

.tab-content > .tab-pane {
    display: none;
}
.tab-content > .active {
    display: block;
}