/*CSS base*/
/*IMPORT POLICE*/
@import url("https://use.typekit.net/czx4mrf.css");

/* RESET */
#g-drawer,
#g-breadcrumb,
#g-maintop,
#g-mainbottom,
#g-bottom,
#g-footer,
#g-header,
#g-top,
#g-utility,
.platform-content:first-child,
.moduletable:first-child,
.widget:first-child,
.g-content {
    padding: 0 !important;
    margin: 0 !important;
}
p,legend,select,textarea,label,input[type="text"]{
    color:#000;
}
#search_program .rotate-me p, .view-checklist .attached p,.view-form .attached p,.view-details .attached p{
    color:white;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 0;
    padding-left: 0;
    padding-right: 0;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    margin-bottom: 0 !important;
}

input[type="file"] {
    height: auto;
    line-height: normal;
}

.row {
    margin: 0 !important;
}

#navfilter {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    height: auto;
    justify-content: space-between;
}

#g-container-main .g-container {
    padding: 0;
}

form.fabrikForm .row-fluid .control-group.plg-textarea label.fabrikTip {
    display: flex !important;
    align-items: flex-start !important;
}

.fabrikgrid_radio, .fabrikgrid_radio label span {
    display: flex !important;
    align-items: center !important;
}

.view-programme fieldset {
    background: transparent;
}

.ui.warning.message {
    color: #000;
}

a.password-forgotten-link:hover {
    display: inline !important;
    font-size: unset !important;
    float: unset !important;
}

hr {
    margin: 20px 0;
}

.candidacy-files-list hr:last-child {
    display: none !important;
}

ul {
    list-style: initial;
}

.navrowtabs,
.navorder,
.navsearch {
    height: auto;
    -webkit-flex: 0 auto;
    -moz-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    width: auto;
}

.nav-tabs {
    height: auto;
    margin: 0 !important;
}

.moduletable .nav li {
    margin-bottom: 0;
}

.nav-tabs > li > a,
.nav-pills > li > a {
    margin-right: 0;
}

.navsearch-content {
    float: none;
    padding-top: 0;
}

.page-header {
    border-bottom: none;
}

a, p, ul, li, label, input, span, div, legend {
    font-weight: 300;
    font-style: normal;
    line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
    color: #292929;
    font-family: museo-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 2em;
    position: relative;
}

/*h1::after, .swal2-title:after {
    content: '';
    position: absolute;
    margin-top: 45px;
    width: 2.7rem;
    height: .2rem;
    background: #e5283b;
    left: 0;
    display: block !important;
}*/

.swal2-title {
    margin: 10px 0 20px 0 !important;
    color: #000 !important;
}

h2 {
    font-size: 1.5rem;
}

body {
    line-height: normal !important;
}

body p {
    margin: 0;
}

body p a:hover {
    text-decoration: underline;
}

.wide a:hover, .wide a:active, .wide a:focus, .wide a:focus-within {
    text-decoration: none;
}

a:focus {
    outline: none !important;
}

.btn-radio label:hover {
    cursor: pointer;
}

.glyphicon {
    display: inline-flex;
    align-items: center;
}

table {
    border-radius: 0 !important;
}

#fabrikElement {
    display: flex;
}

.modal {
    position: relative;
    background-color: #fff;
    margin: 0;
    width: 100%;
    left: 0;
    top: 0;
    border: none;
    box-shadow: none;
}

.alert-heading {
    display: none;
}

form {
    margin: 20px 0 !important;
}

.well {
    background-color: #fff;
    border: none;
}

legend {
    margin: 10px 0 20px 0 !important;
}

.fabrikElement {
    width: 100%;
}

.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
    background: #f2f2f2;
}

.row-fluid .span3 {
    display: flex !important;
    align-items: center;
}
.row-striped .row-fluid {
    width: 100%;
}

#g-page-surround {
    min-height: auto;
}
