.btn {
    background-image: none !important;
    background: #de6339 !important;
    border: 1px solid #de6339 !important;
    color: #ffffff !important;
    margin:0;
}
.btn:hover {
    background: #ffffff !important;
}
.btn:hover i {
    color: #de6339 !important;
}
.btn i {
    display: inline;
    margin: 5px !important;
}
.btn a {
    color: #ffffff !important;
}
.btn a:hover {
    color: #de6339 !important;
}
.row-fluid:before {
	color:blue;
}

.row-fluid:after {
	color:blue;
}
