.view-form .em-infoComp {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #fafafa;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    font-size : 14px;
}

.em-infoComp ul {
    margin-left:0;
}

.em-infoComp li {
    padding: 10px 0;
}

.em-infoComp li i {
    margin-left: 10px;
    color: #de6339;
}

.em-infoComp li {
    align-self: center;
    list-style: none;
}

.em-infoComp ul a:focus {
    color: green;
}

.em-infoComp .g-title {
    border: none !important;
    position: relative;
    margin-bottom: 24px;
}


.view-programme .em-infoComp {
 padding: 24px;
}



