.em-infoComp {
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
}

.em-infoComp ul {
    margin-left:0;
}

.em-infoComp li {
    padding: 10px 1.5rem;
}

.em-infoComp li {
    align-self: center;
    list-style: none;
}

.em-infoComp ul a:focus {
    color: green;
}

.em-infoComp .g-title {
    border:none !important;
    position:relative;
}

