<configuration>

        <system.webServer>
               <rewrite>
                        <rules>
                                <clear/>
                                <rule name="rule 1Y">
                                        <match url="^(.*?)(test_mod_rewrite)"  />
                                        <action type="Rewrite" url="//{R:1}media/plg_jchoptimize/assets/modrewrite.php?q={R:2}"  />
                                </rule>
                                <rule name="rule 2Y">
                                        <match url="^(.*?)(gz|nz)/([^/]+)/([^\.]+)\.(js|css)$"  />
                                        <action type="Rewrite" url="//{R:1}media/plg_jchoptimize/assets/jscss.php?f={R:4}&amp;type={R:5}&amp;gz={R:2}&amp;i={R:3}"  />
                                </rule>
                        </rules>
                </rewrite>
        </system.webServer>

</configuration>
