.blog-featuredhomepage {
    display: none;
}

.g-grid {
    width: 100%;
}

.notifications__counter {
    position: absolute;
    top: 12px;
    right: 164px;
    background: var(--red-500);
    padding: 8px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    color: var(--neutral-0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.em-messages-container {
    display: flex;
    align-items: center;
}

span[class*="material-icons"].em-messages-modal {
    color: var(--em-profile-color);
    font-size: 24px;
}

@media screen and (max-width: 767px) {
    .notifications__counter {
        left: 52px;
        right: inherit;
    }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
    .notifications__counter {
        left: 102px;
        right: inherit;
    }
}
