.dp-hidden-input input {
	display: none !important;
}

#event-location-frame img {
	border: 0px;
	box-shadow: 0px;
	margin: 0px;
	max-width: none !important;
}

.dp-container .row {
	margin-left: 0;
}

.dp-container .row-fluid row fieldset {
	margin: 0;
	padding: 0;
}

.ui-datepicker {
	z-index: 1003 !important; /* must be > than popup editor (1002) */
}

/* merge from joomla 3 */
#jform_location_ids_chzn ul, #jform_location_ids_chzn .search-field {
	padding: 0 0 0 0 !important;
	margin: 0 0 0 0 !important;
}

.chzn-choices li, .chzn-results li {
	padding: 3px 20px 3px 5px !important;
	line-height: 13px !important;
	margin: 3px 0 3px 5px !important;
}

#event-form .nav-tabs {
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
}