.dp-module-counter-soon {
	margin-bottom: 10px;
}

.dp-module-counter-container {
	overflow: hidden;
	text-align: center;
}

.dp-module-counter-cell {
	display: inline-block;
	margin-bottom: 10px;
}

.dp-module-counter-cell:not([style*="display: none;"]):not(:last-child) {
	padding-right: 10px;
}

.dp-module-counter-empty-cell {
	display: none;
}

.dp-module-counter-number {
	display: block;
	text-align: center;
	font-size: 1.4em;
}

.dp-module-counter-content {
	display: block;
	text-align: center;
	font-size: .9em;
}
