.blog-featuredhomepage{
  display: none;
}

.g-grid{
  width: 100%;
}

.tchooz-widget__selects{
  display: flex;
  align-items: center;
  float: right;
  justify-content: end;
  width: 500px;
}
.tchooz-widget__select{
  position: relative !important;
  right: 0;
  top: 0;
  margin: 8px;
  cursor: pointer;
}

.tchooz-widget__article-overflow{
  overflow-y: auto;
  overflow-x: hidden;
}

#chart-container{
  background: white;
}

/** Loader **/
.lds-ring {
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: 999;
  right: 50%;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--main-500);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--main-500) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/** END **/

/** FAQ **/
.custom-faq-widget{
  max-width: 330px !important;
  margin: 0 30px 30px 0 !important;
  height: 100%;
}

/* brother element of faq-widget */
.custom-faq-widget + div {
  width: calc(100% - 360px) !important;
}


.faq-widget .faq-intro {
   max-width: 250px;
}

.faq-widget {
  height: 100%;
}

.faq-widget > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.faq-widget .bouton-faq{
  padding: 5px 30px;
  height: 29px;
  border-radius: 25px;
  border: 2px solid #16afe1;
  background-color: #16afe1;
  transition: color .2s ease,background-color .2s cubic-bezier(.55,.085,.68,.53);
  color: #fff;
  text-decoration: none;
  width: auto;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  bottom: 30px;
}
.faq-widget .bouton-faq:hover{
  cursor: pointer;
  background-color: transparent;
  color: #16afe1;
}

.faq-widget h3{
  margin-bottom: 15px;
  color: #000;
  font-size: 24px;
}

/** END **/

/** Files by status - number **/
.widget-files-status-number .widget-files-status-number-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10%;
}

.widget-files-status-number .widget-files-status-number-block p {
 color: var(--neutral-600);
  font-family: var(--em-coordinator-font);
}

.widget-files-status-number h1 {
  color: var(--neutral-900);
  font-family: var(--em-coordinator-font-title);
}

#g-container-main .g-container{
  width: 100%;
}

.tchooz-widget__select {
  width: 220px !important;
}

.custom-widget__messages-gestionnaire .tchooz-widget.widget__messages-gestionnaire .section-sub-menu,
.custom-widget__messages__gestionnaire .tchooz-widget.widget__messages__gestionnaire .section-sub-menu {
    overflow-y: scroll;
}

/* Widget de bienvenue */
.profile_widget {
  background: var(--blue-25);
  border: 1px solid var(--blue-400);
  border-radius: 16px;
  padding: 32px !important;
  width: 100%;
  display: flex;
  flex-direction: column !important;
  gap: 12px;
}

.profile_widget h1 {
  color: var(--blue-600);
  font-size: var(--em-coordinator-h2);
}

.profile_widget p {
  color: var(--neutral-600);
  font-size: var(--em-coordinator-h6);
}