.blog-featuredhomepage{
  display: none;
}

.g-grid{
  width: 100%;
}

.tchooz-widget__select{
  position: absolute !important;
  right: 0;
  top: 0;
  margin: 16px;
  cursor: pointer;
}

#chart-container{
  padding-top: 30px;
  background: white;
}
