.btn {
    background-image: none !important;
    background: var(--em-coordinator-primary-color) !important;
    border: 1px solid var(--em-coordinator-primary-color) !important;
    color: #ffffff !important;
    margin:0;
}
.btn:hover {
    background: #ffffff !important;
}
.btn:hover i {
    color: var(--em-coordinator-primary-color) !important;
}
.btn i {
    display: inline;
    margin: 5px !important;
}
.btn a {
    color: #ffffff !important;
}
.btn a:hover {
    color: var(--em-coordinator-primary-color) !important;
}
.container-stat {
	padding: 12px;
}

.g-back-office-emundus-tableau.indicateurs-page #g-page-surround #g-navigation #header-c .platform-content  {
	width: auto !important;
}

.btnConsulter {
	border-radius: var(--em-coordinator-br);
	color: var(--neutral-0);
	font-size: var(--em-coordinator-font-size);
	white-space: normal;
	display: inline-block;
	margin-bottom: 10px;
	padding: var(--em-coordinator-vertical) var(--em-coordinator-horizontal);
}
.btnConsulter:hover {
	border-radius: var(--em-coordinator-br);
	background: transparent;
	padding: var(--em-coordinator-vertical) var(--em-coordinator-horizontal);
	white-space: normal;
	display: inline-block;
}
.btnConsulter:focus {
	outline:none;
}
.btnConsulter a {
	text-decoration:none;
	color: var(--neutral-0);
	font-size: var(--em-coordinator-font-size);
}


@media all and (max-width: 959px) {
	.indicateurs-page #g-main-mainbody {
		padding: 0;
	}
}
