.btn {
    background-image: none !important;
    background: #de6339 !important;
    border: 1px solid #de6339 !important;
    color: #ffffff !important;
    margin:0;
}
.btn:hover {
    background: #ffffff !important;
}
.btn:hover i {
    color: #de6339 !important;
}
.btn i {
    display: inline;
    margin: 5px !important;
}
.btn a {
    color: #ffffff !important;
}
.btn a:hover {
    color: #de6339 !important;
}
.container-stat {
	padding: 12px;
}

.g-back-office-emundus-tableau.indicateurs-page #g-page-surround #g-navigation #header-c .platform-content  {
	width: auto !important;
}



.btnConsulter {
	border-radius: var(--em-coordinator-br);
	color:white;
	font-size: 14px;
	white-space: normal;
	display:inline-block;
	margin-bottom: 10px;
	padding: 8px 12px;
}
.btnConsulter:hover {
	border-radius:4px;
	background:transparent;
	padding: 8px 12px;
	white-space: normal;
	display:inline-block;
}
.btnConsulter:focus {
	outline:none;
}
.btnConsulter a {
	text-decoration:none;
	color:white;
	font-size: 14px;
}


@media all and (max-width: 959px) {
	.indicateurs-page #g-main-mainbody {
		padding: 0;
	}
}
