<?xml version="1.0" encoding="utf-8" ?>

<config>
    <!--  ##### BASIC -->
    <fieldset name="basic" addfieldpath="/administrator/components/com_jchoptimize/fields"
              label="COM_JCHOPTIMIZE_BASIC_FIELDSET_LABEL"
    >
       <field name="ajax"
               type="ajax">
        </field>
        <!--
        Miscellaneous
        -->
        <field name="group_basic_misc_start"
               type="jchgroup"
               section="start"
               label="COM_JCHOPTIMIZE_GROUP_MISC_LABEL"
               description="COM_JCHOPTIMIZE_GROUP_MISC_DESC">
        </field>
        <field name="pro_downloadid"
               type="proonlytext"
               default=""
               label="COM_JCHOPTIMIZE_DOWNLOADID_LABEL"
               description="COM_JCHOPTIMIZE_DOWNLOADID_DESCRIPTION"
               size="50">
        </field>
        <!--<procode>-->
        <field name="hidden_api_secret"
               type="hidden"
               default="0aad0284"
        >
        </field>
        <!--</procode>-->
        <field name="cache_random_key"
               type="hidden"
               default=""
               >
        </field>
        <field name="debug"
               type="radio"
               class="btn-group"
               default="0"
               label="COM_JCHOPTIMIZE_DEBUG_LABEL"
               description="COM_JCHOPTIMIZE_DEBUG_DESCRIPTION">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="group_basic_misc_end"
               type="jchgroup"
               section="end">
        </field>

        <!--
        Exclude Menu items
        -->
        <field name="group_advanced_menuselect_start"
               type="jchgroup"
               section="start"
               label="COM_JCHOPTIMIZE_GROUP_MENUSELECT_LABEL"
               description="COM_JCHOPTIMIZE_GROUP_MENUSELECT_DESC">
        </field>
        <field name="menuexcludedurl"
               type="excludeurl"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_MENUEXCLUDEDURL_LABEL"
               description="COM_JCHOPTIMIZE_MENUEXCLUDEDURL_DESC"
        >
        </field>
        <field name="menuexcluded"
               type="menuselection"
               label="COM_JCHOPTIMIZE_MENUSELECTION_LABEL"
               description="COM_JCHOPTIMIZE_MENUSELECTION_DESC">
        </field>
        <field name="group_advanced_menuselect_end"
               type="jchgroup"
               section="end">
        </field>
    </fieldset>
    <!-- ##### Combine files -->
    <fieldset name="combine_files"
              label="COM_JCHOPTIMIZE_COMBINE_FILES_FIELDSET_LABEL">
        <!--
 Combine files
 -->
        <field name="group_combine_files_start"
               type="jchgroup"
               section="start"
               label="COM_JCHOPTIMIZE_GROUP_COMBINE_LABEL"
               description="COM_JCHOPTIMIZE_GROUP_COMBINE_DESC">
        </field>

        <field name="combine_files_enable"
               type="radio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_ENABLE"
               default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="pro_smart_combine"
               type="smartcombine"
               class="btn-group"
               label="COM_JCHOPTIMIZE_PRO_SMART_COMBINE_LABEL"
               description="COM_JCHOPTIMIZE_PRO_SMART_COMBINE_DESCRIPTION"
               default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="pro_smart_combine_values"
               type="hidden"
               default=""
        >
        </field>
        <field name="cache_lifetime"
               type="list"
               default="15"
               label="COM_JCHOPTIMIZE_CACHE_LIFETIME_LABEL"
               description="COM_JCHOPTIMIZE_CACHE_LIFETIME_DESCRIPTION">
            <option value="15">COM_JCHOPTIMIZE_15_MIN</option>
            <option value="30">COM_JCHOPTIMIZE_30_MIN</option>
            <option value="60">COM_JCHOPTIMIZE_1_HOUR</option>
            <option value="180">COM_JCHOPTIMIZE_3_HOURS</option>
            <option value="360">COM_JCHOPTIMIZE_6_HOURS</option>
            <option value="720">COM_JCHOPTIMIZE_12_HOURS</option>
            <option value="1440">COM_JCHOPTIMIZE_1_DAY</option>
            <option value="2880">COM_JCHOPTIMIZE_2_DAYS</option>
            <option value="10080">COM_JCHOPTIMIZE_7_DAYS</option>
            <option value="20160">COM_JCHOPTIMIZE_2_WEEKS</option>
        </field>
        <field name="html_minify_level"
               type="list"
               default="0"
               label="COM_JCHOPTIMIZE_MINIFY_LEVEL_LABEL"
               description="COM_JCHOPTIMIZE_MINIFY_LEVEL_DESCRIPTION">
            <option value="0">COM_JCHOPTIMIZE_MINIFY_LEVEL_BASIC</option>
            <option value="1">COM_JCHOPTIMIZE_MINIFY_LEVEL_ADVANCED</option>
            <option value="2">COM_JCHOPTIMIZE_MINIFY_LEVEL_ULTRA</option>
        </field>
        <field name="htaccess"
               type="list"
               class="btn-group"
               default="2"
               label="COM_JCHOPTIMIZE_HTACCESS_LABEL"
               description="COM_JCHOPTIMIZE_HTACCESS_DESCRIPTION">
            <option value="2">COM_JCHOPTIMIZE_STATIC_FILES</option>
            <option value="0">COM_JCHOPTIMIZE_PHP_NO_HTACCESS</option>
            <option value="1">COM_JCHOPTIMIZE_PHP_HTACCESS</option>
            <option value="3">COM_JCHOPTIMIZE_PHP_WITHOUT_OPTIONSSYMLINK</option>
        </field>
        <field name="try_catch"
               type="radio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_TRY_CATCH_LABEL"
               description="COM_JCHOPTIMIZE_TRY_CATCH_DESCRIPTION"
               default="1"
               >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="group_combine_files_end"
               type="jchgroup"
               section="end"
        >
        </field>
        <!--
        Automatic Combine settings
        -->
        <field name="group_auto_combine_start"
               type="jchgroup"
               section="start"
               class="collapsible"
               label="COM_JCHOPTIMIZE_GROUP_AUTO_COMBINE_LABEL"
               description="COM_JCHOPTIMIZE_GROUP_AUTO_COMBINE_DESC"
               >
        </field>
        <field name="gzip"
               type="radio"
               class="btn-group s1-off s2-on s3-on s4-on s5-on s6-on"
               default="0"
               label="COM_JCHOPTIMIZE_GZIP_LABEL"
               description="COM_JCHOPTIMIZE_GZIP_DESCRIPTION">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="html_minify"
               type="radio"
               class="btn-group s1-off s2-on s3-on s4-on s5-on s6-on"
               default="0"
               label="COM_JCHOPTIMIZE_COMPRESS_HTML"
               description="COM_JCHOPTIMIZE_COMPRESS_HTML_DESCRIPTION">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="includeAllExtensions"
               type="radio"
               class="btn-group s1-off s2-off s3-on s4-on s5-on s6-on"
               default="0"
               label="COM_JCHOPTIMIZE_EXCLUDE_ALL_EXTENSIONS_LABEL"
               description="COM_JCHOPTIMIZE_EXCLUDE_ALL_EXTENSIONS_DESCRIPTION">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="phpAndExternal"
               type="radio"
               class="btn-group s1-off s2-off s3-off s4-on s5-on s6-on"
               label="COM_JCHOPTIMIZE_PRO_PHPANDEXTERNAL_LABEL"
               description="COM_JCHOPTIMIZE_PRO_PHPANDEXTERNAL_DESC"
               default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="group_automatic_combine_end"
               type="jchgroup"
               section="end"
               >
        </field>

    </fieldset>
    <!-- ##### CSS -->
    <fieldset name="css" label="COM_JCHOPTIMIZE_CSS_FIELDSET_LABEL">
        <!--
        CSS automatic settings
        -->
        <field name="group_css_auto_start"
               type="jchgroup"
               section="start"
               class="collapsible"
               label="COM_JCHOPTIMIZE_GROUP_CSS_AUTO_LABEL"
               description="COM_JCHOPTIMIZE_GROUP_CSS_AUTO_DESC">
        </field>
        <field name="css"
               type="radio"
               class="btn-group s1-on s2-on s3-on s4-on s5-on s6-on"
               default="1"
               label="COM_JCHOPTIMIZE_CSS_LABEL"
               description="COM_JCHOPTIMIZE_CSS_DESCRIPTION">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="css_minify"
               type="radio"
               class="btn-group s1-off s2-on s3-on s4-on s5-on s6-on"
               default="0"
               label="COM_JCHOPTIMIZE_COMPRESS_CSS"
               description="COM_JCHOPTIMIZE_COMPRESS_CSS_DESCRIPTION">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="replaceImports"
               type="radio"
               class="btn-group s1-off s2-off s3-off s4-on s5-on s6-on"
               label="COM_JCHOPTIMIZE_PRO_REPLACEIMPORTS_LABEL"
               description="COM_JCHOPTIMIZE_PRO_REPLACEIMPORTS_DESC"
               default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="inlineStyle"
               type="radio"
               class="btn-group s1-off s2-off s3-off s4-on s5-on s6-on"
               label="COM_JCHOPTIMIZE_PRO_INLINESTYLE_LABEL"
               description="COM_JCHOPTIMIZE_PRO_INLINESTYLE_DESC"
               default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="group_css_auto_end"
               type="jchgroup"
               section="end">
        </field>
        <!--
        CSS Exclude
        -->
        <field name="group_exclude_css_start"
               type="jchgroup"
               section="start"
               label="COM_JCHOPTIMIZE_EXCLUDE_CSS_LABEL"
               description="COM_JCHOPTIMIZE_EXCLUDE_CSS_DESC">
        </field>
        <field name="excludeCss"
               type="excludecss"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_EXCLUDE_CSS_LABEL"
               description="COM_JCHOPTIMIZE_EXCLUDE_CSS_DESCRIPTION">
        </field>
        <field name="excludeCssComponents"
               type="excludecssextns"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_EXCLUDE_CSS_COMPONENTS_LABEL"
               description="COM_JCHOPTIMIZE_EXCLUDE_CSS_COMPONENTS_DESCRIPTION">
        </field>
        <field name="excludeStyles"
               type="excludestyles"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_PRO_EXCLUDE_STYLES_LABEL"
               description="COM_JCHOPTIMIZE_PRO_EXCLUDE_STYLES_DESC">
        </field>
        <field name="excludeAllStyles"
               type="radio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_PRO_EXCLUDEALLSTYLES_LABEL"
               description="COM_JCHOPTIMIZE_PRO_EXCLUDEALLSTYLES_DESC"
               default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="group_exclude_css_end"
               type="jchgroup"
               section="end">
        </field>
        <!--
        Optimize Google Fonts
        -->
        <field name="group_gfont_start"
               type="jchgroup"
               section="start"
               label="COM_JCHOPTIMIZE_OPTIMIZE_GFONT_LABEL"
               description="COM_JCHOPTIMIZE_OPTIMIZE_GFONT_DESCRIPTION"
        >
        </field>
        <field name="pro_optimize_gfont_enable"
               type="proonlyradio"
               class="btn-group"
               default="0"
               label="COM_JCHOPTIMIZE_ENABLE">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="group_gfont_end"
               type="jchgroup"
               section="end"
        >
        </field>
        <!--
        Optimize Css Delivery
        -->
        <field name="group_pro_optimizecssdelivery_start"
               type="jchgroup"
               section="start"
               label="COM_JCHOPTIMIZE_PRO_OPTIMIZECSSDELIVERY_LABEL"
               description="COM_JCHOPTIMIZE_PRO_OPTIMIZECSSDELIVERY_DESC">
        </field>
        <field name="optimizeCssDelivery_enable"
               type="radio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_ENABLE"
               default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="optimizeCssDelivery"
               type="list"
               label="COM_JCHOPTIMIZE_PRO_NUMBERELEMENTS_LABEL"
               default="200">
            <option value="200">200</option>
            <option value="400">400</option>
            <option value="600">600</option>
            <option value="800">800</option>
        </field>
        <field name="pro_remove_unused_css"
               type="proonlyradio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_PRO_REMOVE_UNUSED_CSS_LABEL"
               description="COM_JCHOPTIMIZE_PRO_REMOVE_UNUSED_CSS_DESC"
               default="0"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="pro_dynamic_selectors"
               type="dynamicselectors"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_PRO_DYNAMIC_SELECTORS_LABEL"
               description="COM_JCHOPTIMIZE_PRO_DYNAMIC_SELECTORS_DESC"
               size="50"
        >
        </field>
        <field name="group_pro_optimizecssdelivery_end"
               type="jchgroup"
               section="end">
        </field>


    </fieldset>

    <!-- ##### Javascript -->
    <fieldset name="javascript"
              label="COM_JCHOPTIMIZE_JAVASCRIPT_FIELDSET_LABEL">
        <!--
        Javascript automatic settings
        -->
        <field name="group_javascript_auto_start"
               type="jchgroup"
               section="start"
               class="collapsible"
               label="COM_JCHOPTIMIZE_GROUP_JAVASCRIPT_AUTO_LABEL"
               description="COM_JCHOPTIMIZE_GROUP_JAVASCRIPT_AUTO_DESC">
        </field>
        <field name="javascript"
               type="radio"
               class="btn-group s1-on s2-on s3-on s4-on s5-on s6-on"
               default="1"
               label="COM_JCHOPTIMIZE_JAVASCRIPT_LABEL"
               description="COM_JCHOPTIMIZE_JAVASCRIPT_DESCRIPTION">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="js_minify"
               type="radio"
               class="btn-group s1-off s2-on s3-on s4-on s5-on s6-on"
               default="0"
               label="COM_JCHOPTIMIZE_COMPRESS_JAVASCRIPT"
               description="COM_JCHOPTIMIZE_COMPRESS_JAVASCRIPT_DESCRIPTION">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="inlineScripts"
               type="radio"
               class="btn-group s1-off s2-off s3-off s4-on s5-on s6-on"
               label="COM_JCHOPTIMIZE_PRO_INLINESCRIPTS_LABEL"
               description="COM_JCHOPTIMIZE_PRO_INLINESCRIPTS_DESC"
               default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="bottom_js"
               type="radio"
               class="btn-group s1-off s2-off s3-off s4-off s5-on s6-on"
               default="0"
               label="COM_JCHOPTIMIZE_POSITION_JS_LABEL"
               description="COM_JCHOPTIMIZE_POSITION_JS_DESCRIPTION">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="loadAsynchronous"
               type="radio"
               class="btn-group s1-off s2-off s3-off s4-off s5-off s6-on"
               label="COM_JCHOPTIMIZE_PRO_LOADASYNCHRONOUS_LABEL"
               description="COM_JCHOPTIMIZE_PRO_LOADASYNCHRONOUS_DESC"
               default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="group_javascript_auto_end"
               type="jchgroup"
               section="end">
        </field>
        <!--
        Remove unused javascript
        -->
     <!--   <field name="group_remove_unused_js_start"
               type="jchgroup"
               section="start"
               label="COM_JCHOPTIMIZE_GROUP_REMOVE_UNUSED_JS_LABEL"
               description="COM_JCHOPTIMIZE_GROUP_REMOVE_UNUSED_JS_DESC"
               >
        </field>
        <field name="pro_remove_unused_js_enable"
               type="proonlyradio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_ENABLE"
               default="0"
               >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="pro_criticalJs"
               type="proexcludejsurls"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_CRITICAL_JS_LABEL"
               description="COM_JCHOPTIMIZE_CRITICAL_JS_DESC">
        </field>
        <field name="pro_criticalScripts"
               type="proexcludescripts"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_CRITICAL_SCRIPTS_LABEL"
               description="COM_JCHOPTIMIZE_CRITICAL_SCRIPTS_DESC">
        </field>
        <field name="group_remove_unused_js_end"
               type="jchgroup"
               section="end"
               >
        </field> -->
        <!--
        Javascript preserving execution order
        -->
        <field name="group_exclude_js_peo_start"
               type="jchgroup"
               section="start"
               label="COM_JCHOPTIMIZE_GROUP_EXCLUDE_JS_PEO_LABEL"
               description="COM_JCHOPTIMIZE_GROUP_EXCLUDE_JS_PEO_DESC">
        </field>
        <field name="excludeJs_peo"
               type="excludejsurls"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_EXCLUDE_JS_LABEL"
               description="COM_JCHOPTIMIZE_EXCLUDE_JS_DESCRIPTION">
        </field>
        <field name="excludeJsComponents_peo"
               type="excludejsextns"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_EXCLUDE_JS_COMPONENTS_LABEL"
               description="COM_JCHOPTIMIZE_EXCLUDE_JS_COMPONENTS_DESCRIPTION">
        </field>
        <field name="excludeScripts_peo"
               type="excludescripts"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_PRO_EXCLUDE_SCRIPT_LABEL"
               description="COM_JCHOPTIMIZE_PRO_EXCLUDE_SCRIPT_DESC">
        </field>
        <field name="excludeAllScripts"
               type="radio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_PRO_EXCLUDEALLSCRIPTS_LABEL"
               description="COM_JCHOPTIMIZE_PRO_EXCLUDEALLSCRIPTS_DESC"
               default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="group_exclude_js_peo_end"
               type="jchgroup"
               section="end">
        </field>
        <!--
        Javascript exclude ignoring execution order
        -->
        <field name="group_exclude_ieo_start"
               type="jchgroup"
               section="start"
               label="COM_JCHOPTIMIZE_GROUP_EXCLUDE_IEO_LABEL"
               description="COM_JCHOPTIMIZE_GROUP_EXCLUDE_IEO_DESC">
        </field>
        <field name="excludeJs"
               type="excludejsurls"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_EXCLUDE_JS_LABEL"
               description="COM_JCHOPTIMIZE_EXCLUDE_JS_DESCRIPTION">
        </field>
        <field name="excludeJsComponents"
               type="excludejsextns"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_EXCLUDE_JS_COMPONENTS_LABEL"
               description="COM_JCHOPTIMIZE_EXCLUDE_JS_COMPONENTS_DESCRIPTION">
        </field>
        <field name="excludeScripts"
               type="excludescripts"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_PRO_EXCLUDE_SCRIPT_LABEL"
               description="COM_JCHOPTIMIZE_PRO_EXCLUDE_SCRIPT_DESC">
        </field>
        <field name="group_exclude_ieo_end"
               type="jchgroup"
               section="end">
        </field>
        <!--
        Javascript Don't move to the bottom
        -->
        <field name="group_dontmove_start"
               type="jchgroup"
               section="start"
               label="COM_JCHOPTIMIZE_GROUP_DONTMOVE_LABEL"
               description="COM_JCHOPTIMIZE_GROUP_DONTMOVE_DESC">
        </field>
       <field name="dontmoveJs"
               type="excludejsurls"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_DONTMOVEJS_LABEL"
               description="COM_JCHOPTIMIZE_DONTMOVEJS_DESC">
        </field>
        <field name="dontmoveScripts"
               type="excludescripts"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_DONTMOVESCRIPTS_LABEL"
               description="COM_JCHOPTIMIZE_DONTMOVESCRIPTS_DESC">
        </field>
        <field name="group_dontmove_end"
               type="jchgroup"
               section="end">
        </field>
    </fieldset>
    <!-- ##### MEDIA -->
    <fieldset name="media" label="COM_JCHOPTIMIZE_MEDIA_FIELDSET_LABEL">
        <!--
        Add image attributes
        -->
        <field name="group_img_attributes_start"
               type="jchgroup"
               section="start"
               label="COM_JCHOPTIMIZE_IMAGE_ATTRIBUTES_LABEL"
               description="COM_JCHOPTIMIZE_IMAGES_ATTRIBUTES_DESCRIPTION"
        >
        </field>
        <field name="img_attributes_enable"
               type="radio"
               class="btn-group"
               default="0"
               label="COM_JCHOPTIMIZE_ENABLE">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="group_img_attributes_end"
               type="jchgroup"
               section="end">
        </field>
        <!--
        Sprite Generator
        -->
        <field name="group_csg_spritegenerator_start"
               type="jchgroup"
               section="start"
               label="COM_JCHOPTIMIZE_SPRITE_GENERATOR_LABEL"
               description="COM_JCHOPTIMIZE_SPRITE_GENERATOR_DESCRIPTION"
        >
        </field>
        <field name="csg_enable"
               type="radio"
               class="btn-group"
               default="0"
               label="COM_JCHOPTIMIZE_ENABLE">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="csg_direction"
               type="list"
               default="vertical"
               label="COM_JCHOPTIMIZE_SPRITE_DIRECTION_LABEL"
               description="COM_JCHOPTIMIZE_SPRITE_DIRECTION_DESCRIPTION">
            <option value="vertical">COM_JCHOPTIMIZE_VERTICAL</option>
            <option value="horizontal">COM_JCHOPTIMIZE_HORIZONTAL</option>
        </field>
        <field name="csg_wrap_images"
               type="radio"
               class="btn-group"
               default="0"
               label="COM_JCHOPTIMIZE_WRAP_IMAGES_LABEL"
               description="COM_JCHOPTIMIZE_WRAP_IMAGES_DESCRIPTION">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="csg_exclude_images"
               type="excludeimages"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_EXCLUDE_IMAGES_LABEL"
               description="COM_JCHOPTIMIZE_EXCLUDE_IMAGES_DESCRIPTION">
        </field>
        <field name="csg_include_images"
               type="includeimages"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_INCLUDE_IMAGES_LABEL"
               description="COM_JCHOPTIMIZE_INCLUDE_IMAGES_DESCRIPTION">
        </field>
        <field name="group_csg_spritegenerator_end"
               type="jchgroup"
               section="end">
        </field>
        <!--
        Lazyload
        -->
        <field name="group_pro_lazyload_start"
               type="jchgroup"
               section="start"
               label="COM_JCHOPTIMIZE_PRO_LAZYLOAD_LABEL"
               description="COM_JCHOPTIMIZE_PRO_LAZYLOAD_DESC">
        </field>
        <field name="lazyload_enable"
               type="radio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_ENABLE"
               description="COM_JCHOPTIMIZE_PRO_LAZYLOAD_DESC"
               default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="lazyload_autosize"
               type="radio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_PRO_LAZYLOAD_AUTOSIZE_LABEL"
               description="COM_JCHOPTIMIZE_PRO_LAZYLOAD_AUTOSIZE_DESC"
               default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="pro_lazyload_iframe"
               type="proonlyradio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_PRO_LAZYLOAD_IFRAME_LABEL"
               description="COM_JCHOPTIMIZE_PRO_LAZYLOAD_IFRAME_DESC"
               default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="pro_lazyload_bgimages"
               type="proonlyradio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_PRO_LAZYLOAD_BGIMAGES_LABEL"
               description="COM_JCHOPTIMIZE_PRO_LAZYLOAD_BGIMAGES_DESC"
               default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="pro_lazyload_audiovideo"
               type="proonlyradio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_PRO_LAZYLOAD_AUDIOVIDEO_LABEL"
               description="COM_JCHOPTIMIZE_PRO_LAZYLOAD_AUDIOVIDEO_DESC"
               default="0"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="excludeLazyLoad"
               type="excludelazyload"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_PRO_EXCLUDE_LAZYLOAD_LABEL"
               description="COM_JCHOPTIMIZE_PRO_EXCLUDE_LAZYLOAD_DESC">
        </field>
        <field name="pro_excludeLazyLoadFolders"
               type="excludelazyloadfolders"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_PRO_EXCLUDE_LAZYLOADFOLDER_LABEL"
               description="COM_JCHOPTIMIZE_PRO_EXCLUDE_LAZYLOADFOLDER_DESC">
        </field>
        <field name="pro_excludeLazyLoadClass"
               type="excludelazyloadclass"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_PRO_EXCLUDE_LAZYLOADCLASS_LABEL"
               description="COM_JCHOPTIMIZE_PRO_EXCLUDE_LAZYLOADCLASS_DESC">
        </field>
        <field name="pro_lazyload_effects"
               type="proonlyradio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_PRO_LAZYLOAD_EFFECTS_LABEL"
               description="COM_JCHOPTIMIZE_PRO_LAZYLOAD_EFFECTS_DESC"
               default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="group_pro_lazyload_end"
               type="jchgroup"
               section="end">
        </field>

    </fieldset>
    <!-- ##### HTTP/2 PUSH -->
    <fieldset name="http2" label="COM_JCHOPTIMIZE_HTTP2_FIELDSET_LABEL">
        <!--
        Http2
        -->
        <field name="group_http2_push_start"
               type="jchgroup"
               section="start"
               label="COM_JCHOPTIMIZE_PRO_HTTP2_PUSH_LABEL"
               description="COM_JCHOPTIMIZE_PRO_HTTP2_PUSH_DESC">
        </field>
        <field name="http2_push_enable"
               type="radio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_ENABLE"
               default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="pro_http2_exclude_deferred"
               type="proonlyradio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_PRO_HTTP2_EXCLUDE_DEFERRED_LABEL"
               description="COM_JCHOPTIMIZE_PRO_HTTP2_EXCLUDE_DEFERRED_DESC"
               default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="pro_http2_push_cdn"
               type="proonlyradio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_PRO_HTTP2_PUSH_CDN_LABEL"
               description="COM_JCHOPTIMIZE_PRO_HTTP2_PUSH_CDN_DESC"
               default="0"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="pro_http2_file_types"
               type="proonlycheckboxes"
               label="COM_JCHOPTIMIZE_PRO_HTTP2_FILE_TYPES_LABEL"
               description="COM_JCHOPTIMIZE_PRO_HTTP2_FILE_TYPES_DESC"
               checked="style,script,font,image">
            <option value="style">style</option>
            <option value="script">script</option>
            <option value="font">font</option>
            <option value="image">image</option>
        </field>
        <field name="pro_http2_include"
               type="includehttp2"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_PRO_HTTP2_INCLUDE_LABEL"
               description="COM_JCHOPTIMIZE_PRO_HTTP2_INCLUDE_DESC">
        </field>
        <field name="pro_http2_exclude"
               type="excludehttp2"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_PRO_HTTP2_EXCLUDE_LABEL"
               description="COM_JCHOPTIMIZE_PRO_HTTP2_EXCLUDE_DESC">
        </field>
        <field name="group_http2_push_end"
               type="jchgroup"
               section="end">
        </field>
    </fieldset>
    <!-- ##### CDN2 PUSH -->
    <fieldset name="cdn" label="COM_JCHOPTIMIZE_CDN_FIELDSET_LABEL">
        <!--
        CDN
        -->
        <field name="group_pro_cdn_start"
               type="jchgroup"
               section="start"
               label="COM_JCHOPTIMIZE_PRO_COOKIELESSDOMAIN_LABEL"
               description="COM_JCHOPTIMIZE_PRO_COOKIELESSDOMAIN_DESC">
        </field>
        <field name="cookielessdomain_enable"
               type="radio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_ENABLE"
               default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="pro_cdn_preconnect"
               type="proonlyradio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_PRO_CDN_PRECONNECT_LABEL"
               description="COM_JCHOPTIMIZE_PRO_CDN_PRECONNECT_DESC"
               default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="cdn_scheme"
               type="list"
               default="0"
               size="5"
               label="COM_JCHOPTIMIZE_PRO_CDN_SCHEME_LABEL"
               description="COM_JCHOPTIMIZE_PRO_CDN_SCHEME_DESC">
            <option value="0">COM_JCHOPTIMIZE_SCHEME_RELATIVE</option>
            <option value="1">COM_JCHOPTIMIZE_HTTP</option>
            <option value="2">COM_JCHOPTIMIZE_HTTPS</option>
        </field>
        <field name="cookielessdomain"
               type="text"
               default=""
               label="COM_JCHOPTIMIZE_PRO_COOKIELESSDOMAINONE"
               description="COM_JCHOPTIMIZE_PRO_COOKIELESSDOMAINONE_DESC"
               size="50">
        </field>
        <field name="staticfiles"
               type="checkboxes"
               label="COM_JCHOPTIMIZE_PRO_STATICFILES_LABEL"
               description="COM_JCHOPTIMIZE_PRO_STATICFILES_DESC"
               checked="css,js,jpe?g,gif,png,ico,bmp,pdf,webp,svg">
            <option value="css">css</option>
            <option value="png">png</option>
            <option value="gif">gif</option>
            <option value="ico">ico</option>
            <option value="pdf">pdf</option>
            <option value="js">js</option>
            <option value="jpe?g">jp(e)g</option>
            <option value="bmp">bmp</option>
            <option value="webp">webp</option>
            <option value="svg">svg</option>
        </field>
        <field name="pro_customcdnextensions"
               type="customextension"
               rows="3"
               default=""
               cols="20"
               label="COM_JCHOPTIMIZE_PRO_CUSTOMEXTENSION_LABEL"
               description="COM_JCHOPTIMIZE_PRO_CUSTOMEXTENSION_DESC"
        >
        </field>
        <field name="pro_cookielessdomain_2"
               type="proonlytext"
               default=""
               label="COM_JCHOPTIMIZE_PRO_COOKIELESSDOMAINTWO"
               description="COM_JCHOPTIMIZE_PRO_COOKIELESSDOMAINTWO_DESC"
               size="50">
        </field>
        <field name="pro_staticfiles_2"
               type="proonlycheckboxes"
               label="COM_JCHOPTIMIZE_PRO_STATICFILES2_LABEL"
               description="COM_JCHOPTIMIZE_PRO_STATICFILES2_DESC"
               checked="css,js,jpe?g,gif,png,ico,bmp,pdf,webp,svg">
            <option value="css">css</option>
            <option value="png">png</option>
            <option value="gif">gif</option>
            <option value="ico">ico</option>
            <option value="pdf">pdf</option>
            <option value="js">js</option>
            <option value="jpe?g">jp(e)g</option>
            <option value="bmp">bmp</option>
            <option value="webp">webp</option>
            <option value="svg">svg</option>
        </field>
        <field name="pro_cookielessdomain_3"
               type="proonlytext"
               default=""
               label="COM_JCHOPTIMIZE_PRO_COOKIELESSDOMAINTHREE"
               description="COM_JCHOPTIMIZE_PRO_COOKIELESSDOMAINTHREE_DESC"
               size="50">
        </field>
        <field name="pro_staticfiles_3"
               type="proonlycheckboxes"
               label="COM_JCHOPTIMIZE_PRO_STATICFILES3_LABEL"
               description="COM_JCHOPTIMIZE_PRO_STATICFILES3_DESC"
               checked="css,js,jpe?g,gif,png,ico,bmp,pdf,webp,svg">
            <option value="css">css</option>
            <option value="png">png</option>
            <option value="gif">gif</option>
            <option value="ico">ico</option>
            <option value="pdf">pdf</option>
            <option value="js">js</option>
            <option value="jpe?g">jp(e)g</option>
            <option value="bmp">bmp</option>
            <option value="webp">webp</option>
            <option value="svg">svg</option>
        </field>
        <field name="group_pro_cdn_end"
               type="jchgroup"
               section="end">
        </field>
    </fieldset>
    <!-- ##### Optimize Image -->
    <fieldset name="optimize_image" label="COM_JCHOPTIMIZE_OPTIMIZE_IMAGES_FIELDSET_LABEL">

    <!--
        Global Options
        -->
        <field name="group_api2_global_start"
               type="jchgroup"
               section="start"
               label="COM_JCHOPTIMIZE_GROUP_OPTIMIZE_IMAGES_LABEL"
               description="COM_JCHOPTIMIZE_GROUP_OPTIMIZE_IMAGES_DESCRIPTION"
        >
        </field>

        <field name="ignore_optimized"
               type="proonlyradio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_IGNORE_OPTIMIZED_LABEL"
               description="COM_JCHOPTIMIZE_IGNORE_OPTIMIZED_DESC"
               default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="pro_next_gen_images"
               type="proonlyradio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_NEXT_GEN_IMAGES_LABEL"
               description="COM_JCHOPTIMIZE_NEXT_GEN_IMAGES_DESC"
               default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="pro_webp_old_browsers"
               type="proonlyradio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_WEBP_OLD_BROWSERS_LABEL"
               description="COM_JCHOPTIMIZE_WEBP_OLD_BROWSERS_DESC"
               default="0">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="group_api2_global_end"
               type="jchgroup"
               section="end">
        </field>
        <!--
        Automatic Optimize
        -->
        <field name="group_auto_optimize_start"
               type="jchgroup"
               section="start"
               label="COM_JCHOPTIMIZE_GROUP_API_AUTO_LABEL"
               description="COM_JCHOPTIMIZE_GROUP_API_AUTO_DESC" >
        </field>
        <field name="pro_api_resize_mode"
               type="proonlyradio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_PRO_API_RESIZE_MODE_LABEL"
               description="COM_JCHOPTIMIZE_PRO_API_RESIZE_MODE_DESC"
               default="1">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="group_auto_optimize_end"
               type="jchgroup"
               section="end">
        </field>
        <!--
        Manual Optimize
        -->
        <field name="group_manual_optimize_start"
               type="jchgroup"
               section="start"
               label="COM_JCHOPTIMIZE_GROUP_API_MANUAL_LABEL"
               description="COM_JCHOPTIMIZE_GROUP_API_MANUAL_DESC"
        >
        </field>
        <field name="recursive"
               type="proonlyradio"
               class="btn-group"
               label="COM_JCHOPTIMIZE_RECURSIVE_LABEL"
               description="COM_JCHOPTIMIZE_RECURSIVE_DESC"
               default="1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field name="group_manual_optimize_end"
               type="jchgroup"
               section="end">
        </field>
    </fieldset>
    <fieldset name="miscellaneous" label="COM_JCHOPTIMIZE_MISCELLANEOUS_FIELDSET_LABEL">
        <field name="group_reduce_dom_start"
               type="jchgroup"
               section="start"
               label="COM_JCHOPTIMIZE_REDUCE_DOM_LABEL"
               description="COM_JCHOPTIMIZE_REDUCE_DOM_DESCRIPTION"
        >
        </field>
        <field name="pro_reduce_dom"
               type="proonlyradio"
               class="btn-group"
               default="0"
               label="COM_JCHOPTIMIZE_ENABLE"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="group_reduce_dom_end"
               type="jchgroup"
               section="end">
        </field>
        <field name="group_page_cache_start"
               type="jchgroup"
               section="start"
               label="COM_JCHOPTIMIZE_GROUP_PAGE_CACHE_LABEL"
               description="COM_JCHOPTIMIZE_GROUP_PAGE_CACHE_DESC"
               >
        </field>
        <field name="pro_page_cache_integration_enable"
               type="proonlyradio"
               class="btn-group"
               default="0"
               label="COM_JCHOPTIMIZE_ENABLE"
               >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field name="pro_page_cache_select"
               type="proonlylist"
               label="COM_JCHOPTIMIZE_PAGE_CACHE_SELECT_LABEL"
               description="COM_JCHOPTIMIZE_PAGE_CACHE_SELECT_DESC"
               default="cache"
               >
            <option value="cache">PLG_SYSTEM_CACHE</option>
            <option value="lscache">PLG_SYSTEM_LSCACHE</option>
        </field>
        <field name="group_page_cache_end"
               type="jchgroup"
               section="end"
               >
        </field>
    </fieldset>

</config>