.contact
{
    position : relative;
    padding : 0px;
}

.contact-guests .glyphicon.glyphicon-remove:hover
{
    cursor : pointer;
}

.panel,
.panel-heading
{
    border-radius: 0px !important;

}
.panel-heading
{
    height: 50px !important;
}
.panel-body
{
    height: 93%;
}

.contact-main,
.contact-list,
.contact-group {
    padding-top: 5px;
    height: 100%;
    overflow: auto;
}
.panel-body {
    padding: 0 !important;
}

.panel-heading h3
{
    display : inline-block;
}

.rt-container
{
    width: 99% !important;
}

.rt-container .rt-grid-12
{
    width: 100% !important;
    float : none;
}

.jcrm-field
{
    margin-bottom: 10px;
}

.form-control
{
    height: 35px !important;
    width: 100% !important;
    /*border: none !important;
    box-shadow: none !important;*/
}

.contact-group,
.contact-list,
.contact-view-list
{
    list-style: none;
    margin: 0px 0px 20px 0px !important;
}

.contact-list-item:hover,
.contact-group-item:hover
{
    background-color: rgba(218, 218, 218, 0.55);
}

textarea.form-control
{
    height: 550px !important;
}

textarea.form-control.add-contact
{
    height: 250px !important;
}

.contact-group-item,
.contact-list-item
{
    height: 45px !important;
}


.contact-group-item a,
.contact-list-item a {
    display: inline-block !important;
    padding: 0 15px;
    margin: 0;
}

.contact-group-item a:hover,
.contact-list-item a:hover,
.contact-group-item a:active,
.contact-list-item a:active,
.contact-group-item a:focus,
.contact-list-item a:focus {
    text-decoration: none;
}

.my-alt-dime {
    width: 100%;
    height: 100%;
    position: absolute;
    left : 0px;
    z-index : 2;
    background: rgba(255, 255, 255, 0.81) url('../images/loader.gif') no-repeat 50% 50%;
}

.contact-group-item .actions-group-name {
    display: none;
    margin-left: 5px;
}

.actions-group-name:hover {
    cursor: pointer;
}

.group-input {
    width: 65% !important;
    height : 30px !important;
}

.contact-group-item:hover .actions-group-name {
    display: inline;
}

.chosen-choices .default {
    height: 35px !important;
}

.item-active {
    background-color: lightblue;
}

.modal-body .row {
    margin: 1% 10% !important;
}

.contact,
.main,
.main-row,
.panel {
    height : 100% !important;
}

.actions {
    margin-right: 15px;
}

.red {
    color: red;
}

.green {
    color: #008000;
}

.blue {
    color: deepskyblue;
}

.glyphicon.red:hover,
.glyphicon.green:hover {
    cursor: pointer;
}
.ct-type {
    margin-left: 5%;
}
.contact-body .ct-type {
    margin-left: 20px;
}

.contact-view-item .col-md-6 {
    padding : 0 !important;
}

.btn.btn-default.xs.pull-right {
    background-image: none;
    margin-left: 8px;
    border-radius: 4px;
    background-color: #1b1f3c;
    border: 1px solid #1b1f3c;
}

.btn.btn-default.xs.pull-right:hover {
    background-color: #1b1f3c;
}

.glyphicon.glyphicon-plus-sign {
    font-size: 15px;
}

.panel-heading .img-circle.img-thumbnail {
    height: 16px;
    width: 16px;
    padding: 1px;
}

.btn.btn-primary.btn-xs.pull-right {
    border-radius: 4px !important;
    height: auto;
}

.btn.btn-primary.btn-xs.pull-right:hover {
    background-color: #1b1f3c;
    border-color: #1b1f3c;
}

.experts-page div.btn.btn-primary.btn-xs.pull-right[ng-click="addGroup()"], .experts-page div.btn.btn-primary.btn-xs.pull-right[ng-click="addGroup()"]:hover {
    padding: 8px 12px;
}
.experts-page .panel-heading div.btn.btn-default.btn.xs.pull-right {
    padding: 6px 12px;
}



.contact-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    background-color: #F5F5F5;
    height: auto;
    min-height: 100%;
}

.hero-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h4 {
    margin-bottom: 0.5rem;
}
h3.panel-title {
    vertical-align: middle;
}

.btn.btn-default.btn-xs,
.actions .btn.btn-default,
form .btn.btn-default,
form .btn.btn-danger,
.modal .btn.btn-default,
.modal .btn.btn-primary {
    border-radius: 0;
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1.15;
    padding: 8px 12px !important;
    letter-spacing: 0.1rem;
    background-color: #1b1f3c;
    border: 1px solid #1b1f3c;
    color: #1b1f3c;
    background-image: none;
}


form .btn.btn-default:hover,
form .btn.btn-danger:hover,
.modal .btn.btn-default:hover,
.modal .btn.btn-primary:hover {
    color: #1b1f3c !important;
    background-color: white;
    border-color: #1b1f3c;
}

.contact-group-item.ng-scope,
.contact-list-item.ng-scope,
.contact-group-item.bg-warning {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ct-list .panel,
.ct-view .panel {
    height: 90vh !important;
    overflow: scroll;
}

.contact-main .contact-card,
.contact-main form {
    box-shadow: 0 3px 15px rgba(0,0,0,0.1);
    border-radius: 13px;
    padding: 15px 20px;
    background-color: white;
}

.contact-main form {
    background-color: white;
    padding-top: 35px;
}

.contact-main form .contact-head-block .form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contact-form-fields {
    padding-left: 35px;
}

.modal {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    width: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    left: unset !important;
    right: unset !important;
}

.modal-body {
    max-height: 660px !important;
}

.g-back-office-emundus-tableau .panel-info > .panel-heading {
    border-bottom: 2px #FFFFFF dashed;
    height: 50px !important;
    border-radius: 0;
    background-color: #4e5b6d;
    padding: 10px;
    display: flex;
    align-items: center;
}

h3.panel-title {
    color: white !important;
}