
/******the style of the view "addressbook" *****/

/*define the background color of all blocks*/
.label_accountslist{
	background-color: #F8F8F8;
}
.jcrm_addressbook_accounts{
	background-color: #F8F8F8;
}
.label_contacts_list{
	background-color: #F8F8F8;
}
.jcrm_addressbook_contactslist{
	background-color: #F8F8F8;
}
.table_jcrm_account{
	float:left;
	background-color: #F8F8F8;
	padding:15px;
	margin-left:10px;
	margin-top:10px;
}
.table_jcrm_contacts{
	padding:25px
}

.table_jcrm_account li:hover{
	background-color:#FFFFCC;
}
/*the style of the lignes selected*/
#jcrm_selected,.table_jcrm_account ol li{
	font-weight:bold;
	background-color:#FBD09D;
}
#jcrm_selected:hover{
	background-color:#FFFFCC;
}

/*the position of the division contacts*/
.jcrm_addressbook_contacts{
	position:relative;top:-487px;left:400px
}
.account_child{
	background-color:#A8A8A8;
}
/*the color of the label without results*/
.no_result_label{
	color:#FF0000; 
}
/*two filters style*/
.filter_contact{
	padding:15px;
}
.filter_account{
	padding:15px;
}
/*the style of the alphabetical filter */
#filter_alphabet_cont{ 
		float: right;
		font-size: 17px;
		margin-bottom: 0;
		margin-left: 25px;
		margin-right: 0;
		margin-top: 10px;
		
}
.alphabet_cont:link{padding:2px;}
.alphabet_cont:hover {
	-moz-transform: scale(1.2) ;
	-webkit-transform: scale(1.2) ;
	color: #03F;
	padding:10px;
	background-color:#FFFFCC;
	text-decoration: underline;
}

.alphabet_cont_selected {
	color: #03F;
	padding:10px;
	background-color: #FF0;
}
/** Table styles of contacts and references**/
#userlist {
	width: 100%;
	border-spacing: 1px;
	border:15px;
	background-color:#D0D0D0 ;
	color: #666;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#userlist td,#userlist th { padding: 5px; }
#userlist thead th {
	text-align: center;
	background: #f0f0f0;
	color: #0066FF;
	border-bottom: 1px solid #999;
	border-left: 1px solid #fff;
}
#userlist thead a:hover { text-decoration: none; }
#userlist tbody th { font-weight: bold; }
#userlist tbody tr	{ text-align: left; font-size: 85%;}
#userlist tbody tr.row0 td{ background:#eeffff ; border-top: 1px solid #fff; }
#userlist tbody tr:hover td {
	background-color: #FFFFCC;
 } 
 #userlist tbody tr #row_selected td  {
	background-color: #FFFF00;
 } 
#userlist tbody tr td { height: 25px; background: #fff; border: 1px solid #fff; } 
#userlist tfoot tr { text-align: center;  color: #333; }
#userlist tfoot td,
#userlist tfoot th { background-color: #f3f3f3; border-top: 1px solid #999; text-align: center; }

/**style of exportation contacts**/
.export_fiche_accounts :hover {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	opacity: 0.9;
	-moz-opacity: 0.9;
	-webkit-opacity: 0.9;
	-khtml-opacity: 0.9; 
	}
/*the style of the images in the top of site*/
.top_images:hover {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);	
}
.top_images{
	-webkit-perspective:600; 
	-webkit-transform-style:preserve-3d; 
	-webkit-animation-name:x-spin; 
	-webkit-animation-duration:3s; 
	-webkit-animation-timing-function:linear;
	
}
/*style of all images and the links of image*/
a:hover img ,img:hover{
    -moz-transform: scale(1.2) ;
    -webkit-transform: scale(1.2);
}
/*style of all the paginations*/
.pagination{
	text-align:left;
    float:none;
    padding:10px;
    padding-left:100px; 
}
.pagination a:hover{
	-moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
/*style of select options*/
#element{
	padding:2px;
	border:1px solid #ccc;
}
/*style of page limit*/
#limit{
	width:50px;
	padding:2px;
	border:1px solid #ccc;
	height:22px;
}
/*style of search button and reset button*/
.search{
	height:22px;
}
.reset{
	width:30px;
	height:22px
}

/****Style of page synchronoze page*****/
/*style od the table synchronize*/
.jcrm_check_contacts tbody tr:hover{
	background-color:#FFFFDD;
}
.jcrm_check_contacts{
	width: 100%;
	border-spacing: 1px;
}
/*the different colors of differents labels*/
.label_org_notin{
	color:#CC0000;
}
.label_org_in{
	color:green;
}
.label_org_found{
	color:#3399FF;
}
.label_contact_in{
	color:#3399FF;
}
.label_contact_notin{
	color:#CC0000;
}
.label_check_org{
	color:#FF6600;
}

/*The style of the check button and ignore button*/
input[name="check"]{
	background-color: #09F;
	background: -moz-linear-gradient(center left , #FFFFFF, #09F); 
	background:-webkit-linear-gradient(#FFFFFF, #09F);
  
}
input[name="ignore_conatcts"]{
	background-color:#FC0;
    background: -moz-linear-gradient(center right , #FFFFFF, #FC0);
	background:-webkit-linear-gradient(#FFFFFF, #FC0);
}

/*style of select options*/
#search_option{
width:100px;
padding:2px;
border:1px solid #ccc;
height:22px;
}
/*style of lignes selected*/
#userlist tbody .selected td { 
	background-color:#C8E2E8;
}

/*****style of the corbeille***/

/*style of the two tables*/
.deleted_accounts_list{
width:50%; 
float:left; 
display:block;
background-color: #F8F8F8 ;
}
.deleted_contacts_list{
width:50%; 
float:right; 
display:block;
background-color: #F8F8F8 ;
}

/*style of the lignes hover*/
.deleted_accounts tbody tr:hover{
background-color:#FACDAE ;
}
.deleted_contacts tbody tr:hover{
background-color:#FACDAE;
}

/*style of the lignes selected*/
tr.selected   {background:#FBC399;}

/*style of the button restore and button delete*/
.restore{
	background-color: #09F;
	background: -moz-linear-gradient(center right , #FFFFFF, #09F); 
	background:-webkit-linear-gradient(#FFFFFF, #09F);
}
.delete {
	background-color:#FC0;
    background: -moz-linear-gradient(center left , #FFFFFF, #FC0);
	background:-webkit-linear-gradient(#FFFFFF, #FC0);
}

/* BTNS - GESTIONNAIRE - ADMINISTRATION - USERS */
.app-container.ng-scope .col-md-3.ct-list.contact .panel-heading .btn.btn-primary.btn-xs.pull-right[ng-click="switchSearch()"] {
	padding: 5.5px 12px !important;
}
