/* old_style
#emundusflow {
    margin-bottom: auto;
    margin-left: 0px;
    margin-right: auto;
    margin-top: -10px;
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
    text-align: center;
	/*width:400px; // pour une version flottante en ent�te
	text-align:center;
	margin:auto;
	margin: -5px 0 20px 310px;
	position:absolute;*/
/*
}
#emundusflow fieldset {
	padding: 0 2px 0 0;
}
#emundusflow fieldset legend {
	font-size:14px;
}
#emundusflow h1 {
	text-align:center;
	font-size: 11px;
	margin:0;
}

.flowfleche {
	background: url(images/next.png) 0 50% no-repeat;
	width:40px;
}
#flowsent{
    vertical-align: central;
}
*/

/* new style */
/*#emundusflow_new {
	text-align: center;
	margin-top: 5px;
}
#emundusflow_new div {
	float : left;
	display: inline;
}
.progression{
	height: 20px !important;
	margin:0 !important;
	padding-right:5px;
	/*background-color: #158bc8;

	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
}
.part{
	margin-left:10px;
	width:20%;
}
.bar{
	background:transparent;
	border:1px solid #D4D5D5;
	margin:0 0 0 5px!important;
	padding:0 !important;
	height:20px;
	width:90%;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
}

.precent{
	color: white;
	display: block;
	text-align: center;
	margin-left:10px;
}

.progress {
	background:#D4D5D5;
	width:90%;
	margin-left:2px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	z-index:10;
}

.status {
	margin:0 0 0 2px;
}

.emflow_legend {
	position:absolute;
	color:black;
	z-index:1;
	display:block !important;
	padding-left:30px;
}*/


/* MODULE EMUNDUS FLOW */
.view-form .ui.attached.segment,
.view-checklist .ui.attached.segment,
.view-details .ui.attached.segment {
    background: var(--em-secondary-color);
    border: var(--em-secondary-color);
    color: var(--neutral-0);
}

.view-form .platform-content .ui.tablet.attached .step i,
.view-form .platform-content .ui.tablet.attached .description {
    color: var(--em-primary-color);
}

.view-form .platform-content .ui.tablet.attached .step i.arrow.left,
.view-details .platform-content .ui.tablet.attached .step i.arrow.left {
    color: var(--em-secondary-color);
}

.ui.yellow.segment:not(.inverted) {
    border-top: 2px solid var(--em-secondary-color);
}

.step.completed i.icon.file.text.outline::before,
.step.completed i.icon.attach::before,
.step.completed i.icon.add.to.cart::before,
.step.completed i.icon.time::before {
    color: var(--main-500);
}

/******************COORDONEES PERSO*************/
#g-utility #drawer .moduletable {
    padding: 0 !important;
}

.step .description .label {
    white-space: normal !important;
}

.ui.steps .step {
    display: flex;
    flex-direction: column;
    justify-content: initial;
}

.ui.steps .step > .icon {
    margin: auto;
}

.ui.bottom.attached.steps {
    display: flex;
    justify-content: space-around;
    background: var(--neutral-0);
}

.ui.steps .step {
    white-space: normal;
    text-align: center;
}

.ui.steps:not(.vertical) .step > .icon {
    width: 40px;
    height: 40px;
}


.ui.steps .step .description {
    font-size: 12px;
    font-family: var(--em-default-font);
}

.step i.arrow {
    margin-top: -8px;
}

.ui.steps:not(.vertical) .step > .icon {
    margin: 0;
}

.ui.steps .step > .icon ~ .content {
    padding-top: var(--p-8);
}

.ui.bottom.attached.steps .step:first-child {
    justify-content: center;
    background: transparent;
}

.ui.bottom.attached.steps .step:first-child a {
    color: var(--neutral-800);
    font-family: var(--em-default-font);
}

.registration form > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.step.completed i.icon.file.text.outline::before,
.step.completed i.icon.attach::before,
.step.completed i.icon.add.to.cart::before,
.step.completed i.icon.time::before {
    background: none !important;
}

.ui.attached.segment {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    flex-direction: row;
}

.view-form .attached p, .view-details .attached p, .view-checklist .attached p {
    color: var(--neutral-0);
    font-family: var(--em-default-font);
}

@media all and (max-width: 767px) {
    .ui.attached.segment p {
        text-align: center !important;
    }

    .ui.attached.segment {
        flex-direction: column;
    }
}

@media all and (min-width: 768px) {
    .ui.attached.segment {
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
    }
}

