.swal2-content .radioModule label {
	color:black!important;
	font-size:12px!important;
}
.swal2-content .showModule  {
	padding:10% 0;
}
.swal2-content .exportModule td {
	padding-left:5%;
}
.swal2-actions {
	flex-direction: row-reverse;
	justify-content:space-around!important;
	font-size:12px!important;
	margin-bottom:5%!important;
}
.swal2-confirm, .swal2-cancel {
	float:right;
	width:35%;
}
.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step {
	background:transparent!important;
}
.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step-line {
	background:transparent!important;
}

.swal2-popup {
	border-radius:0!important;
}

.queryBuilder {
	text-align:left;
	padding: 12px;
	min-width:500px;
}
.queryBuilder input[type="checkbox"]:checked {
	background-color:transparent!important;
}
.queryBuilder input[type="text"] {
	width:96%;
}
.queryBuilder input[type="text"], .queryBuilder select, .queryBuilder .createModule label {
	border-radius:0!important;
	margin:2%!important;
}
.queryBuilder .createModule select {
	width:26%!important;
	margin:2%!important;
}
.queryBuilder .createModule .flexS {
	display:flex;
	width:100%;
}
.queryBuilder .createModule .flexS input[type="text"] {
	width:50%;
}
.queryBuilder .createModule label {
	margin: 2.5% 0 0 2%!important;
	display:inline-block;
	width:18%!important;
	font-weight:bold!important;
}
.queryBuilder label {
	color:black!important;
	font-weight:bold!important;
}
.swal2-select {
	font-size:14px !important;
}
.btn {
    background-image: none !important;
	background: #de6339 !important;
	border: 1px solid #de6339 !important;
    color: #ffffff !important;
    margin:0;
}
.btn:hover {
    background: #ffffff !important;
	color: #de6339 !important;
}

.input {
	margin:1% 0;
}
.input input[type="checkbox"] {
	vertical-align: text-top;
}
.input .modif, .input .delete {
	background-color:transparent;
	border:0;
}
.createModule {
	margin:1%;
}
.createModule select {
	margin-right:1%;
}
#sortable{
	width: max-content;
}
.editModule tr{
	display: flex;
	align-items: center;
}
.editModule, .editModule td {
	border:none;
}
.order {
	width:5%;
	text-align:center;
}
.radioModule {
	display: flex;
	align-items: center;
	width:100%;
}
.radioModule input{
	margin-top: 0 !important;
	margin-right: 8px !important;
}
.radioModule a{
	white-space: nowrap;
}
.radioModule a label{
	margin-bottom: 0 !important;
}
.exportModule, .exportModule td {
	text-align:left;
	border:none;
}
.exportModule .radioButton {
	margin-right:1%;
}
.btnExport, .btnQueryBuilder:hover, .swal2-confirm:hover, .swal2-cancel {
	border-radius: var(--em-coordinator-br);
	background:transparent;
	padding: var(--em-coordinator-vertical) var(--em-coordinator-horizontal);
	white-space: normal;
	font-size: var(--em-coordinator-font-size);
}

 #createButton:hover{
	border-radius: var(--em-coordinator-br);
	background: var(--neutral-0);
	border: 1px	solid var(--em-coordinator-secondary-color);
	color: var(--em-coordinator-secondary-color);
	padding: var(--em-coordinator-vertical) var(--em-coordinator-horizontal);
	white-space: normal;
}

#createButton {
	border-radius: var(--em-coordinator-br);
	background: var(--em-coordinator-secondary-color);
	border: 1px	solid var(--em-coordinator-secondary-color);
	color: var(--neutral-0);
	padding: var(--em-coordinator-vertical) var(--em-coordinator-horizontal);
	white-space: normal;
	font-size: var(--em-coordinator-font-size);
}

.btnExport:hover .swal2-cancel:hover, #createButton.btnQueryBuilder:hover{
	border-radius: var(--em-coordinator-br);
	background: var(--neutral-0);
	border: 1px	solid var(--em-coordinator-primary-color);
	color: var(--em-coordinator-primary-color);
	padding: var(--em-coordinator-vertical) var(--em-coordinator-horizontal);
	white-space: normal;
}


.btnQueryBuilder, .swal2-confirm, #createButton.btnQueryBuilder {
	border-radius: var(--em-coordinator-br);
	background: var(--em-coordinator-primary-color);
	border: 1px	solid var(--em-coordinator-primary-color);
	color: var(--neutral-0);
	padding: var(--em-coordinator-vertical) var(--em-coordinator-horizontal);
	white-space: normal;
	font-size: var(--em-coordinator-font-size);
}

.btnExport:focus, .btnQueryBuilder:focus, .queryBuilder input[type="button"]:focus, .queryBuilder input[type="submit"]:focus, .swal2-confirm:focus, .swal2-cancel:focus {
	outline:none;
}
.edit {
	width:20%;
}
.move {
	cursor:grab;
	color:lightgray;
	border-radius:0.25rem;
	font-size:1.5rem;
}
#errorCreateModule {
	color:red;
	font-weight:bold;
}
.etiquette {
	width:100%!important;
	margin:0!important;
	background-color:white;
	padding:16px;
	box-shadow: 0 1px 2px 0 hsla(0,0%,41.2%,.19);
	border-radius: 8px;
}
.etiquette label {
	font-weight:normal!important;
}
.etiquette p {
	font-weight:bold;
}
.etiquette select {
	border-radius:4px!important;
	color: #353544;
}

.etiquette select:focus {
	outline: 2px solid -webkit-focus-ring-color;
}
.etiquette .filter form{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	width: max-content;
	gap: 16px;
	margin-top: 24px;
}
.etiquette .filter .inputFilter {
	display:inline-block;
	text-align:left;
}

.closeButtonWelcomeStat {
	float:right;
	cursor:pointer;
	color: var(--neutral-0);
	font-size:1.5rem;
	margin-top:-1%;
	margin-right:-1.5%;
}

.closeButtonWelcomeStat:hover {
	color: #ccc;
}

.indicateurs-page #g-container-main {
	padding-left: 5% !important;
}


.btn a {
	color: var(--neutral-0);
}

.btn a:hover,
.btn a:focus,
.btn a:active {
	 color: var(--em-secondary-color);
 }


.item-pageindicateurs-page h1 {
	color: var(--neutral-900);
	font-family: var(--em-coordinator-font-title);
}

.etiquette label {
	color: var(--night-blue);
}

.etiquette p {
	color: var(--night-blue);
}

#validation {
	background: var(--em-coordinator-primary-color);
	border: 1px solid var(--em-coordinator-primary-color);
}

#validation:hover,
#validation:focus,
#validation:active {
	background: transparent;
	border: 1px solid var(--em-coordinator-primary-color);
	color: var(--em-coordinator-primary-color);
}

.btnQueryBuilder,
.swal2-confirm {
	background: var(--em-coordinator-primary-color);
	border: 1px solid var(--em-coordinator-primary-color);
}

.btnConsulter {
	background: var(--em-coordinator-primary-color);
	border: 1px solid var(--em-coordinator-primary-color);
	border-radius: var(--em-coordinator-br);
}

.btnConsulter:hover {
	color: var(--em-coordinator-primary-color);
	border: 1px solid var(--em-coordinator-primary-color);
	background: transparent;
	border-radius: var(--em-coordinator-br) !important;
}

.btnQueryBuilder:hover,
.swal2-confirm:hover {
	color: var(--em-coordinator-primary-color);
	border: 1px solid var(--em-coordinator-primary-color);
	background: transparent;
}

.btnExport,
.swal2-cancel {
	color: var(--em-coordinator-secondary-color);
	border: 1px solid var(--em-coordinator-secondary-color);
	background: transparent;
}

.btnExport:hover,
.swal2-cancel:hover {
	color: var(--neutral-0);
	border: 1px solid var(--em-coordinator-secondary-color);
	background: var(--em-coordinator-secondary-color);
}

.g-content h1::after,
.swal2-title::after {
	background: var(--em-coordinator-secondary-color) !important;
}

.swal2-progress-step,
.swal2-progress-steps .swal2-progress-step-line,
.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step {
	background: var(--em-coordinator-secondary-color);
}

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step-line {
	border-top: 1px solid var(--em-coordinator-secondary-color);
	border-bottom: 1px solid var(--em-coordinator-secondary-color);
}

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step {
	color: var(--em-coordinator-secondary-color);
	border: 1px solid var(--em-coordinator-secondary-color);
}

.input .modif,
.input .delete {
	color: var(--em-coordinator-secondary-color);
	border: unset;
}

.btnConsulter:hover a {
	color: var(--em-coordinator-primary-color);
}


@media (max-width: 600px) {
	.queryBuilder {
		text-align:left;
		padding-top:1%;
		padding-bottom:1%;
		margin:auto;
		min-width:100%;
		font-size:12%;
	}
}
