.fabrikgrid_radio {
  display: flex !important;
  align-items: center !important;
  vertical-align: middle !important;
  float: left !important;
  margin: 0 120px 0 0;
  height: 12px;
}
.fabrikgrid_radio label.radio {
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 5px !important;
  font-weight: bold !important;
  margin-top: 10px;
  position: relative;
}
.fabrikgrid_radio label.radio input.fabrikinput {
  position: relative !important;
  margin-right: 7px;
}
.row-fluid {
  display: inline-block;
}

.fabrikLabel {
  margin: 15px 0 5px;
}
.legend {
  padding: 50px 20px 10px !important;
  margin: -4% 0 0 !important;
}
.legend2 {
  padding: 15px 20px 10px !important;
  /* margin: -4% 0 0 !important; */
  display: flex;
}

.ViewerLegend {
  margin-bottom: -25px;
}
/* .introP {
  margin-bottom: -27px;
} */
.input-append {
  display: inline-flex;
}
.input-medium {
  height: 100%;
}
.dinherit {
  display: inherit;
}
.fa-plus-circle {
  margin-right: 5px;
}
.btnPM {
  cursor: pointer;
  text-transform: capitalize;
  transition-duration: 0.4s;
}
.btnPM:hover {
  background-color: #1b1f3c;
  color: white;
}
.legendSide {
  display: flex;
  margin: -3px 0 12px;
}
.mr-rightS {
  margin: auto 3px 2px auto;
}
.BtnModal {
  border-radius: 12px 0 12px 0;
  background: #1b1f3c;
  border: none;
  color: #fff;
  font: bold 12px Verdana;
  padding: 6px 12px 6px 12px;
  margin-right: 15px;
  cursor: pointer;
  text-transform: capitalize;
  transition-duration: 0.4s;
}
.BtnModal:hover {
  background-color: white;
  color: black;
  border: 1px solid #1b1f3c;
}

.inputF {
  display: block;
  width: inherit;
  height: inherit;
  padding: 0;
  margin: 0 0 0 5px;
}

fieldset {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0% 2% 1.5% !important;
  padding: 2.5% !important;
}
.formulairedepresentation {
  width: 150%;
}
.coldmd2left {
  margin-left: -2.2%;
}

.page_header {
  margin-top: 0;
}
.dpflex {
  display: flex;
  margin: 20px 0;
}
.toright {
  position: relative;
  left: 76.7%;
}
.suboptions {
  margin: 1.2% 0;
}
.bootstrap-datetimepicker-widget {
  width: 19% !important;
}
