/* .introP {
  margin-bottom: -27px;
} */
.fabrikgrid_radio {
  display: flex !important;
  align-items: center !important;
  vertical-align: middle !important;
  float: left !important;
  margin: 20px 120px 20px 0;
  height: 12px;
  label.radio {
    display: flex !important;
    align-items: center !important;
    width: 100% !important;
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 5px !important;
    font-weight: bold !important;
    margin-top: 10px;
    position: relative;
    input.fabrikinput {
      position: relative !important;
      margin-right: 7px;
    }
  }
}
.fabrikgrid_checkbox {
  display: flex !important;
  align-items: center !important;
  vertical-align: middle !important;
  float: left !important;
  margin: 20px 120px 20px 0;
  height: 12px;
}
.row-fluid {
  display: inline-block;
}
.fabrikLabel {
  margin-bottom: 1em;
}
.legend {
  margin-bottom: 0;
  color: #de6339;
  font-weight: bold;
  width: auto;
  font-size: 18px;
}
.legend2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-append {
  display: inline-flex;
}
.input-medium {
  height: 100%;
}
.dinherit {
  display: inherit;
}
.fa-plus-circle {
  margin-right: 5px;
}
.btnPM {
  cursor: pointer;
  text-transform: capitalize;
  transition-duration: 0.4s;
  border-radius: 50%;
  font-size: 28px;
  &:hover {
    background-color: #1b1f3c;
    color: white;
  }
}
.legendSide {
  display: flex;
  margin: -3px 0 12px;
}
.mr-rightS {
  margin: auto 3px 2px auto;
}
.BtnModal {
  border-radius: 50%;
  background: #1b1f3c;
  border: 1px solid #1b1f3c;
  color: #fff;
  font: bold 12px Verdana;
  padding: 6px 7px 6px 7px;
  margin-right: 15px;
  cursor: pointer;
  text-transform: capitalize;
  transition-duration: 0.4s;
  &:hover {
    background-color: white;
    color: black;
    border: 1px solid #1b1f3c;
  }
}
.inputF {
  display: block;
  width: inherit;
  height: inherit;
  margin: 0 0 0 5px;
}
fieldset {
  padding: 0 2.5% 2.5% 2.5% !important;
}
.formulairedepresentation {
  width: auto;
}
.coldmd2left {
  margin-left: -2.2%;
}
.page_header {
  font-size: 20px;
  font-weight: bold;
  padding: 2em 1em 1em 1em;
  margin-top: 0 !important;
  &:after {
    content: "";
    position: absolute;
    width: 5% !important;
    height: 3px;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    background-color: #de6339;
    right: 0;
    left: 30px;
    margin: 35px 0 0 0;
  }
}
.introP {
  padding-left: 1.5em;
}
.dpflex {
  display: flex;
  margin: 20px 0;
  align-items: baseline;
}
.toright {
  position: relative;
  left: 76.7%;
}
.suboptions {
  margin: 1.2% 0;
}
.bootstrap-datetimepicker-widget {
  width: 19% !important;
}
.separator-top {
  border-top: solid 1px hsla(0, 0%, 81%, 0.5);
}
.checkbox {
  span {
    font-weight: normal;
  }
  display: flex !important;
  align-items: center !important;
}
.radio {
  span {
    font-weight: normal;
  }
}
.translate-icon {
  background: url('../images/icons/language.svg') no-repeat center;
  background-size: 15px;
  position: relative;
  right: 2em;
  z-index: 10;
  padding: 12px;
  border-radius: 5px;
}
.translate-icon-selected {
  background-color: #219cc6;
  mix-blend-mode: difference;
  top: -5px;
}
.translate-label {
  font-weight: normal;
  font-size: small;
  margin-bottom: 0;
}
.fa-sort-down {
  margin-left: 5px;
  margin-bottom: 5px;
}
.form-page {
  margin-top: 3em;
}
.elements-block {
  padding-top: 2em;
}
.builder-item-element {
  padding: 10px 1em 1em 3em;
  transition: all 0.2s linear;
}
.actions-item-bar {
  margin-top: 1em;
  a {
    cursor: pointer;
    &:hover {
      color: #1b1f3c;
    }
  }
}
.element-updating {
  background: #eaeaea;
  border-radius: 5px;
}
.draggable-item {
  background: #8a8989 !important;
}
.builder-item-element__properties {
  align-items: end;
}
.unpublished {
  filter: grayscale(1);
  background: repeating-linear-gradient( -45deg, #b8bedf, #a3aad5 5px, #b4b9db 5px, #babed5 10px );
  border-radius: 5px;
}
.actions-update-label {
  position: relative;
  height: 33px;
  a {
    cursor: pointer;
  }
}
.fa-check {
  color: #de6339;
}
.fa-times {
  color: #1b1f3c;
}
.translate-builder {
  margin-bottom: 12px;
}
.inlineflex {
  display: flex;
  align-content: center;
  align-items: center;
  height: 30px;
}
.send-form-button {
  width: 100%;
  margin-top: 3em;
  background-color: #de6339;
  border: 1px solid #de6339;
  border-radius: 0;
  height: 50px;
  padding: 10px 30px;
  float: right;
  transition: background-color .2s cubic-bezier(.55,.085,.68,.53);
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  &:hover {
    color: #de6339;
    text-decoration: none;
    background: transparent;
  }
}
select.fabrikinput.form-control {
  width: 100%;
  height: 35px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding: 8px 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  color: dimgrey;
  cursor: pointer;
  border-radius: 4px;
  background: url('../images/icons/down-arrow.svg') right center no-repeat;
  background-origin: content-box;
  background-size: 20px;
  background-color: #fff;
  -webkit-appearance: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.draggable-span {
  span {
    display: block;
  }
}
.fabrik_characters_left {
  display: flex;
  margin-top: 5px;
  .badge {
    width: max-content;
    background: #de6339;
    margin-right: 10px;
  }
}
.toggle-editor.btn-toolbar.pull-right.clearfix {
  float: left !important;
}
.form-section {
  display: flex;
  margin: 2em 0 1em 0;
  font-size: 20px;
  padding: 0;
  justify-content: space-around;
  width: 100%;
  li {
    padding: 0 1em 0 1em;
    a {
      cursor: pointer;
      color: black;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.form-section__current {
  color: #de6339 !important;
  &::after {
    content: "";
    height: 3px;
    margin: 3px 0 0;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    background-color: #de6339;
    border-radius: 5px;
    display: block;
  }
}
.tox {
  .tox-statusbar {
    display: none !important;
  }
}
.js-editor-tinymce {
  display: grid;
}
