@import "variables";


// FORM
.form-title-block{
  position: absolute;
  top: -90px;
  z-index: 11;
}

// YES NO
.fabrikgrid_0.btn-default{
  background-color: #bd362f;
  padding: 8px 12px;
  height: 38px;
  span{
    color: #fff;
    font-size: 14px;
  }
}

.fabrikgrid_1.btn-default{
  padding: 8px 12px;
  height: 35px;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(230, 230, 230));
  border-radius: 4px;
  display: flex;
  align-items: center;
  span{
    color: #848181;
    font-size: 14px;
  }
}

fieldset.radio.btn-group{
  display: flex;
  align-items: center;
}
//

.fabrikgrid_radio {
  display: flex !important;
  align-items: center !important;
  vertical-align: middle !important;
  float: left !important;
  margin: 20px 120px 20px 0;
  height: 12px;
  label.radio {
    display: flex !important;
    align-items: center !important;
    width: 100% !important;
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 5px !important;
    font-weight: bold !important;
    margin-top: 10px;
    position: relative;
    input.fabrikinput {
      position: relative !important;
      margin-right: 7px !important;
      max-width: 15px;
    }
  }
}
.fabrikgrid_checkbox {
  display: flex !important;
  align-items: center !important;
  vertical-align: middle !important;
  float: left !important;
  margin: 20px 120px 20px 0;
  height: 12px;
  label.checkbox {
    padding-left: 20px;
  }
}
.row-fluid {
  display: inline-block;
}
.fabrikLabel {
  margin-bottom: 1em;
}
.legend {
  color: $dark-green;
  font-weight: bold;
  width: auto;
  font-size: 18px;
  margin: 0;
}
.legend2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input-append {
  display: inline-flex;
}
.input-medium {
  height: 100%;
}
.dinherit {
  display: inherit;
}
.fa-plus-circle {
  margin-right: 5px;
}
.btnPM {
  cursor: pointer;
  text-transform: capitalize;
  transition-duration: 0.4s;
  border-radius: 50%;
  font-size: 28px;
  &:hover {
    background-color: #1b1f3c;
    color: white;
  }
}
.legendSide {
  display: flex;
  margin: -3px 0 12px;
}
.mr-rightS {
  margin: auto 3px 2px auto;
}
.BtnModal {
  border-radius: 50%;
  background: #1b1f3c;
  border: 2px solid #1b1f3c;
  color: #fff;
  font: bold 12px Verdana;
  padding: 6px 7px 6px 7px;
  margin-right: 15px;
  cursor: pointer;
  text-transform: capitalize;
  transition-duration: 0.4s;
  &:hover {
    background-color: white;
    color: black;
    border: 2px solid #1b1f3c;
  }
}
.inputF {
  display: block;
  width: inherit;
  height: inherit;
  margin: 0 0 0 5px;
}
fieldset {
  padding: 2.5% !important;
}
.formulairedepresentation {
  width: auto;
}
.coldmd2left {
  margin-left: -2.2%;
}
.header-form-page{
  padding: 2em 1em 0 1em;
}
.page_header {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.introP, .groupintro {
  padding: 1em;
}
.dpflex {
  display: flex;
  margin: 20px 0;
  align-items: center;
}
.toright {
  position: relative;
  left: 76.7%;
}
.suboptions {
  margin: 1.2% 0;
}
.bootstrap-datetimepicker-widget {
  width: 19% !important;
}
.separator-top {
  border-top: solid 1px hsla(0, 0%, 81%, 0.5);
}
.checkbox {
  span {
    font-weight: normal;
  }
  display: flex !important;
  align-items: center !important;
}
.radio {
  span {
    font-weight: normal;
  }
}
.checkbox input[type="checkbox"]{
  margin-bottom: 0 !important;
}
.radio input[type="radio"]{
  margin-bottom: 0 !important;
}
.translate-icon {
  background: url('../images/icons/language.svg') no-repeat center;
  background-size: 15px;
  position: relative;
  right: 2em;
  z-index: 10;
  padding: 12px;
  border-radius: 5px;
  filter: invert(1);
}
.translate-icon-selected {
  background-color: #219cc6;
  filter: unset;
  top: 0;
}
.fa-sort-down {
  margin-left: 5px;
  margin-bottom: 5px;
}
.form-page {
  margin-top: 3em;
}

.groups-block{
  background: #f8f8f8;
}

.group-item-block{
  margin-bottom: 30px;
  background: white;
}

.form-viewer-builder .form-page {
  margin-top: 0;
  background: #fff;
}

.elements-block {
  padding-top: 2em;
}
.builder-item-element {
  margin-bottom: 10px;
  width: 110%;
  padding-right: 10%;
}
.actions-item-bar {
  position: absolute;
  right: -10px;
  //margin-top: -95px;
  a {
    cursor: pointer;
    color: black;
    &:hover {
      color: $dark-blue;
    }
  }
}
.element-updating {
  background: transparent;
  border-radius: 4px;
  border: solid 2px $dark-blue !important;
  //transform: scale(1.05);
}
.draggable-item {
  background: #f8f8f8 !important;
}
.builder-item-element__properties {
  align-items: baseline;
  padding: 10px 3em 1em 1em;
  transition: all 0.2s linear;
  border: 2px solid transparent;
  flex-direction: column;
}
.unpublished {
  filter: grayscale(1);
  background: repeating-linear-gradient( -45deg, #b8bedf, #a3aad5 5px, #b4b9db 5px, #babed5 10px );
  border-radius: 5px;
}
.actions-update-label {
  position: relative;
  height: 33px;
  a {
    cursor: pointer;
  }
}
.fa-check {
  color: $dark-green;
}
.fa-times {
  color: $red;
  font-weight: lighter;
}
.inlineflex {
  display: flex;
  align-content: center;
  align-items: center;
  height: 30px;
}
.send-form-button {
  width: 100%;
  margin-top: 3em;
  margin-bottom: 1em;
  background-color: #de6339;
  border: 2px solid #de6339;
  border-radius: 4px;
  height: 50px;
  padding: 10px 30px;
  float: right;
  transition: background-color .2s cubic-bezier(.55,.085,.68,.53);
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  label {
    margin-right: 1em;
  }
  &:hover {
    color: #de6339;
    text-decoration: none;
    background: transparent;
  }
}
.test-form-button{
  background-color: #1B1F3C;
  border: 2px solid #1B1F3c;
  &:hover {
    color: #1B1F3C;
  }
}
select.fabrikinput.form-control {
  width: 100%;
  padding: 0 5px;
  border: 2px solid #ccc!important;
  background-color: white !important;
  background-image: url(/images/emundus/arrow-2.png) !important;
  background-size: 25px !important;
  background-repeat: no-repeat !important;
  background-position-x: 98% !important;
  background-position-y: 54% !important;
  -webkit-appearance: none;
  border-radius: 4px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  height: 50px;
  min-height: 28px;
}
.draggable-span {
  span {
    display: block;
  }
}
.fabrik_characters_left {
  display: flex;
  margin-top: 5px;
  .badge {
    width: max-content;
    background: #de6339;
    margin-right: 10px;
  }
}
.toggle-editor.btn-toolbar.pull-right.clearfix {
  float: left !important;
}
.form-section {
  display: flex;
  margin: 2em 0 1em 0;
  font-size: 20px;
  padding: 0;
  justify-content: flex-start;
  width: 98%;
  list-style: none;
  li {
    padding: 0 1em 0 1em;
    a {
      cursor: pointer;
      color: black;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.form-section__current {
  color: $dark-blue !important;
  &::after {
    content: "";
    height: 3px;
    margin: 3px 0 0;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    background-color: $dark-blue;
    border-radius: 5px;
    display: block;
  }
}
.tox {
  .tox-statusbar {
    display: none !important;
  }
}
.js-editor-tinymce {
  display: grid;
}

.button-add-option{
  float: none;
  text-align: center;
  width: 87%;
  margin-left: 18px;
  margin-bottom: 2em;
}

input[type="date"].form-control, input[type="time"].form-control, input[type="datetime-local"].form-control, input[type="month"].form-control{
  line-height: unset !important;
}

.form-pages{
  background: white;
  padding: 20px 10px;
}

.plugins-list{
  padding-bottom: 2em;
  width: 250px;
  position: fixed;
  display: block;
  top: 0;
  background: white;
  left: 65px;
  padding-top: 5%;
  height: 100%;
  border-left: solid 1px $light-grey;
  overflow: auto;
}

.no-elements-tip{
  margin-top: 28px;
  height: 60px;
  border: 2px dashed #c3c3ce;
  border-radius: 4px;
  background-color: #e4e4e9;
  align-items: center;
  display: flex;
  color: #c3c3ce;
  padding-left: 20px;
  position: absolute;
  width: 90%;
}

/* Modal */
.v--modal-overlay{
  background: #0000002e !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
}
.v--modal{
  width: 25% !important;
  height: 100% !important;
  right: 0 !important;
  left: auto !important;
  position: fixed !important;
  box-shadow: unset !important;
  overflow-y: auto !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media all and (max-width: 1024px) {
  .v--modal {
    width: 50% !important;
  }
}
/**/

.icon-featured::before, .icon-default::before, .icon-star::before{
  content: "" !important;
}

.settings-elt{
  padding: 5px;
  font-size: 40px;
  background: $dark-blue;
  border-radius: 4px;
  color: white;
  width: 35px !important;
  height: 35px;
}

.delete-icon-elt{
  padding: 5px;
  font-size: 40px;
  background: $red;
  border-radius: 4px;
  color: white;
  width: 35px !important;
  height: 35px;
}

.tool-icon{
  color: $dark-blue;
  cursor: pointer;
  width: max-content;
  &:hover{
    color: $dark-blue;
    filter: brightness(90%);
  }
}
