/** VARIABLES **/
$light-blue: #26CAEA;
$dark-blue: #16AFE1;
$light-green: #32EE5F;
$dark-green: #12DB42;
$light-yellow: #F0EE6D;

$night-blue: #353544;
$dark-grey: #5A5A72;
$grey: #B0B0BF;
$light-grey: #F4F4F6;
$white: #FFFFFF;

$complete-gradient: linear-gradient(rgba(240,238,109,10), rgba(50,238,95,50), rgba(240,238,109,96));
$simple-gradient: linear-gradient(rgba(240,238,109,5), rgba(240,238,109,120));
