.section-sub-menu[data-v-839193d4] {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 4px;
  background-color: #fff;
  color: #1f1f1f;
  box-shadow: 0 1px 2px 0 rgba(105, 105, 105, 0.19);
  padding: 30px;
}
.bouton-faq[data-v-839193d4] {
  position: absolute;
  bottom: 15px;
  padding: 5px 30px;
  height: 29px;
  border-radius: 25px;
  border: 2px solid #16afe1;
  background-color: #16afe1;
  transition: color 0.2s ease, background-color 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  color: #fff;
  text-decoration: none;
  width: auto;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  bottom: 30px;
}
.bouton-faq[data-v-839193d4]:hover {
  cursor: pointer;
  background-color: transparent;
  color: #16afe1;
}
h3[data-v-839193d4] {
  margin-bottom: 15px;
  color: #000;
  font-size: 24px;
}
@media (max-width: 1440px) {
.faq-intro[data-v-839193d4] {
    display: none;
}
}
.tchooz-widget[data-v-41617569] {
  height: auto !important;
}
.section-sub-menu[data-v-41617569] {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 4px;
  background-color: #fff;
  color: #1f1f1f;
  box-shadow: 0 1px 2px 0 rgba(105, 105, 105, 0.19);
  padding: 30px;
}
.big-number[data-v-41617569] {
  font-size: 30px;
  margin-top: 10%;
}
label[data-v-41617569] {
  font-size: 21px;
}
h3[data-v-6028a368] {
  color: #000;
  font-size: 24px;
}
.section-sub-menu[data-v-6028a368] {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 4px;
  background-color: #fff;
  color: #1f1f1f;
  box-shadow: 0 1px 2px 0 rgba(105, 105, 105, 0.19);
  padding: 30px;
}
.tchooz-widget[data-v-cf91fe1e] {
  height: auto !important;
}
.section-sub-menu[data-v-cf91fe1e] {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 4px;
  background-color: #fff;
  color: #1f1f1f;
  box-shadow: 0 1px 2px 0 rgba(105, 105, 105, 0.19);
  padding: 30px;
}
.big-number[data-v-cf91fe1e] {
  font-size: 30px;
  margin-top: 10%;
}
label[data-v-cf91fe1e] {
  font-size: 21px;
}
.section-sub-menu[data-v-011b6419] {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 4px;
  background-color: #fff;
  color: #1f1f1f;
  box-shadow: 0 1px 2px 0 rgba(105, 105, 105, 0.19);
  padding: 30px;
}
.bouton-faq[data-v-011b6419] {
  position: absolute;
  padding: 5px 30px;
  height: 29px;
  border-radius: 25px;
  border: 2px solid #16afe1;
  background-color: #16afe1;
  transition: color 0.2s ease, background-color 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  color: #fff;
  text-decoration: none;
  width: auto;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  bottom: 30px;
}
.bouton-faq[data-v-011b6419]:hover {
  cursor: pointer;
  background-color: transparent;
  color: #16afe1;
}
h3[data-v-011b6419] {
  margin-bottom: 15px;
  color: #000;
  font-size: 24px;
}
.big-number[data-v-011b6419] {
  font-size: 5em;
  color: #16afe1;
}
@media (max-width: 1440px) {
.faq-intro[data-v-011b6419] {
    display: none;
}
}
.section-sub-menu[data-v-10aa1651] {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 4px;
  background-color: #fff;
  color: #1f1f1f;
  box-shadow: 0 1px 2px 0 rgba(105, 105, 105, 0.19);
  padding: 30px;
  text-align: center;
}
.section-sub-menu p[data-v-10aa1651] {
  justify-content: center;
  align-items: center;
  display: flex;
}
h3[data-v-10aa1651] {
  margin-bottom: 15px;
  color: #000;
  font-size: 24px;
}
.important-key-figures[data-v-10aa1651] {
  font-weight: bold;
  font-size: 30px;
  margin-right: 10px;
}
@media (max-width: 1440px) {
.faq-intro[data-v-10aa1651] {
    display: none;
}
}
.tchooz-widget[data-v-84dcccc6] {
  height: auto !important;
}
.section-sub-menu[data-v-84dcccc6] {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 4px;
  background-color: #fff;
  color: #1f1f1f;
  box-shadow: 0 1px 2px 0 rgba(105, 105, 105, 0.19);
  padding: 30px;
}
.big-number[data-v-84dcccc6] {
  font-size: 30px;
  margin-top: 10%;
}
label[data-v-84dcccc6] {
  font-size: 21px;
}
.tchooz-widget[data-v-764394a9] {
  height: auto !important;
}
.section-sub-menu[data-v-764394a9] {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 4px;
  background-color: #fff;
  color: #1f1f1f;
  box-shadow: 0 1px 2px 0 rgba(105, 105, 105, 0.19);
  padding: 30px;
}
.big-number[data-v-764394a9] {
  font-size: 30px;
  margin-top: 10%;
}
label[data-v-764394a9] {
  font-size: 21px;
}
.tchooz-widget[data-v-7d6451c6] {
  height: auto !important;
}
.section-sub-menu[data-v-7d6451c6] {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 4px;
  background-color: #fff;
  color: #1f1f1f;
  box-shadow: 0 1px 2px 0 rgba(105, 105, 105, 0.19);
  padding: 30px;
}
.big-number[data-v-7d6451c6] {
  font-size: 30px;
  margin-top: 10%;
}
label[data-v-7d6451c6] {
  font-size: 21px;
}
.tchooz-widget[data-v-73b2d4cb] {
  height: auto !important;
}
.section-sub-menu[data-v-73b2d4cb] {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 4px;
  background-color: #fff;
  color: #1f1f1f;
  box-shadow: 0 1px 2px 0 rgba(105, 105, 105, 0.19);
  padding: 30px;
}
.big-number[data-v-73b2d4cb] {
  font-size: 30px;
  margin-top: 10%;
}
label[data-v-73b2d4cb] {
  font-size: 21px;
}
.tchooz-widget[data-v-19e65682] {
  height: auto !important;
}
.section-sub-menu[data-v-19e65682] {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 4px;
  background-color: #fff;
  color: #1f1f1f;
  box-shadow: 0 1px 2px 0 rgba(105, 105, 105, 0.19);
  padding: 30px;
}
.big-number[data-v-19e65682] {
  font-size: 30px;
  margin-top: 10%;
}
label[data-v-19e65682] {
  font-size: 21px;
}
.tchooz-widget[data-v-a72bd1a6] {
  height: auto !important;
}
.section-sub-menu[data-v-a72bd1a6] {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 4px;
  background-color: #fff;
  color: #1f1f1f;
  box-shadow: 0 1px 2px 0 rgba(105, 105, 105, 0.19);
  padding: 30px;
}
.big-number[data-v-a72bd1a6] {
  font-size: 30px;
  margin-top: 10%;
}
label[data-v-a72bd1a6] {
  font-size: 21px;
}

.tchooz-widget[data-v-4bc724eb]{
  height: 22.5rem;
  margin-bottom: 30px !important;
  margin-left: 0px !important;
  padding-left: 30px !important;
}
.cta-block[data-v-4bc724eb]{
  position: absolute;
  right: 20px;
  top: 30px;
  color: #b0b0bf;
}
.pointer[data-v-4bc724eb]{
  cursor: pointer;
}
.jello-horizontal[data-v-4bc724eb] {
  -webkit-animation: vibrate-1-data-v-4bc724eb 1s infinite;
  animation: vibrate-1-data-v-4bc724eb 1s infinite;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-12-24 16:21:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1-data-v-4bc724eb {
0% {
    transform: translate(0);
}
20% {
    transform: translate(-2px, 2px);
}
40% {
    transform: translate(-2px, -2px);
}
60% {
    transform: translate(2px, 2px);
}
80% {
    transform: translate(2px, -2px);
}
100% {
    transform: translate(0);
}
}
@keyframes vibrate-1-data-v-4bc724eb {
0% {
    transform: translate(0);
}
20% {
    transform: translate(-2px, 2px);
}
40% {
    transform: translate(-2px, -2px);
}
60% {
    transform: translate(2px, 2px);
}
80% {
    transform: translate(2px, -2px);
}
100% {
    transform: translate(0);
}
}

/**** END ****/
.handle[data-v-4bc724eb]{
  cursor: -webkit-grab;
  cursor: grab;
}
.program-filter[data-v-4bc724eb]{
  text-align: center;
  margin-bottom: 10px;
}
.program-filter label[data-v-4bc724eb]{
  margin-bottom: 0 !important;
  margin-right: 10px;
}

