.dropfiles-content, .dropfiles-dropblock-content {
  font-weight: normal;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 20px;
  font-size: 13px;
  background: #fff;
  background-color: #fff;
  padding: 5px;
  a:focus {
    outline: none;
  }
  .dropfiles-container {
    .dropfiles-foldertree {
      ul.jaofoldertree:first-child {
        margin-left: -10px !important;
        @media screen and(max-width: 720px) {
          margin-top: 20px !important
        }
      }
      ul.jaofoldertree {
        margin-top: 0 !important;
        li {
          margin: 0 0 10px 0 !important;
          &.wait {
            background-position: left 9px top 3px;
            background-size: 14px;
          }
          &.drive {
            .icon-open-close:before {
              top: 3px;
            }
          }
          ul.jaofoldertree {
            margin: 10px 0 0 0 !important;
          }
        }
        li.directory.expanded {
          > .zmdi-folder:before {
            content: '';
            display: block;
            width: 24px;
            height: 18px;
            background: url('../images/theme/folder_open.svg') left center no-repeat;
            margin-left: -2px;
          }
          &.selected {
            > .zmdi-folder:before {
              content: '';
              display: block;
              width: 24px;
              height: 18px;
              background: url('../images/theme/folder_open_selected.svg') left center no-repeat;
            }
          }
        }
        @media only screen and (max-width: 720px) {
          margin: 10px 0 !important;
        }
        @media screen and(max-width: 420px) {
          &:first-child {
            margin-top: 20px !important;
          }
        }
        li.directory.selected {
          > a {
            color: #3d3d3d !important;
            font-weight: bold !important;
          }
          > .zmdi-folder {
            color: #3d3d3d !important;
            font-weight: bold !important;
            &:before {
              color: #3d3d3d !important;
              font-weight: bold !important;
            }
          }
          > .icon-open-close {
            color: #3d3d3d !important;
            font-weight: bold !important;
            &:before {
              color: #3d3d3d !important;
              font-weight: bold !important;
            }
          }
        }
        a {
          font-family: arial;
          text-decoration: none;
          box-shadow: none;
          display: inline-block;
          padding: 0 2px;
          font-size: 16px;
          text-transform: none;
          line-height: 22px;
          vertical-align: top;
          color: #666666;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          letter-spacing: normal;
          text-align: left;
          &:hover {
            font-weight: bold;
            color: #323232;
            box-shadow: none !important;
            text-decoration: none;
          }
        }
        .zmdi-folder,
        .zmdi-folder-open {
          color: #888888;
          font-size: 22px !important;
          font-weight: bold;
          margin-right: 5px;
          width: 22px;
          + .zmdi-folder {
            margin-left: 0;
          }
        }
        .zmdi-folder {
          margin-top: 1px;
          margin-right: 8px;
          margin-left: 16px;
        }
        .icon-open-close {
          width: 16px !important;
          height: 22px !important;
          display: inline-block;
          margin-right: 0;
          position: relative;
          text-align: center;
          color: #888888;
          line-height: 16px;
          &.no-child {
            visibility: hidden;
          }
          + .zmdi-folder {
            margin-left: 0;
          }

        }
      }
    }
  }
}

.dropfiles-content {
  &.dropfiles-files {
    .file {
      margin: 10px;
    }
  }
  &.dropfiles-content-default {
    .file {
      .filecontent {
        > div {
          &.ext {
            height: 80px;
            width: 50px;
            float: left;
            background: url(../images/new_icons/neutral.png) top center transparent no-repeat;
            color: #fff;
            position: relative;
            margin-right: 15px;
          }

          &.custom-icon {
            height: 80px;
            width: 50px;
            float: left;
            color: #fff;
            position: relative;
            margin-right: 15px;
          }
        }
        > div.ext.docx {
          background-image: url(../images/new_icons/docx.png);
          color: transparent;
        }
        > div.ext.xls {
          background-image: url(../images/new_icons/xls.png);
          color: transparent;
        }
        > div.ext.xlsx {
          background-image: url(../images/new_icons/xlsx.png);
          color: transparent;
        }
        > div.ext.ppt {
          background-image: url(../images/new_icons/ppt.png);
          color: transparent;
        }
        > div.ext.pptx {
          background-image: url(../images/new_icons/pptx.png);
          color: transparent;
        }
        > div.ext.pdf {
          background-image: url(../images/new_icons/pdf.png);
          color: transparent;
        }
        > div.ext.txt {
          background-image: url(../images/new_icons/txt.png);
          color: transparent;
        }
        > div.ext.csv {
          background-image: url(../images/new_icons/csv.png);
          color: transparent;
        }
        > div.ext.avi {
          background-image: url(../images/new_icons/avi.png);
          color: transparent;
        }
        > div.ext.mp4 {
          background-image: url(../images/new_icons/mp4.png);
          color: transparent;
        }
        > div.ext.mov {
          background-image: url(../images/new_icons/mov.png);
          color: transparent;
        }
        > div.ext.fla {
          background-image: url(../images/new_icons/fla.png);
          color: transparent;
        }
        > div.ext.flv {
          background-image: url(../images/new_icons/flv.png);
          color: transparent;
        }
        > div.ext.flac {
          background-image: url(../images/new_icons/flac.png);
          color: transparent;
        }
        > div.ext.mpg {
          background-image: url(../images/new_icons/mpg.png);
          color: transparent;
        }
        > div.ext.ogg {
          background-image: url(../images/new_icons/ogg.png);
          color: transparent;
        }
        > div.ext.rm {
          background-image: url(../images/new_icons/rm.png);
          color: transparent;
        }
        > div.ext.wav {
          background-image: url(../images/new_icons/wav.png);
          color: transparent;
        }
        > div.ext.mp3 {
          background-image: url(../images/new_icons/mp3.png);
          color: transparent;
        }
        > div.ext.wmv {
          background-image: url(../images/new_icons/wmv.png);
          color: transparent;
        }
        > div.ext.wma {
          background-image: url(../images/new_icons/wma.png);
          color: transparent;
        }
        > div.ext.mkv {
          background-image: url(../images/new_icons/mkv.png);
          color: transparent;
        }
        > div.ext.mpeg {
          background-image: url(../images/new_icons/mpeg.png);
          color: transparent;
        }
        > div.ext.gif {
          background-image: url(../images/new_icons/gif.png);
          color: transparent;
        }
        > div.ext.jpg {
          background-image: url(../images/new_icons/jpg.png);
          color: transparent;
        }
        > div.ext.png {
          background-image: url(../images/new_icons/png.png);
          color: transparent;
        }
        > div.ext.bmp {
          background-image: url(../images/new_icons/bmp.png);
          color: transparent;
        }
        > div.ext.svg {
          background-image: url(../images/new_icons/svg.png);
          color: transparent;
        }
        > div.ext.psd {
          background-image: url(../images/new_icons/psd.png);
          color: transparent;
        }
        > div.ext.ai {
          background-image: url(../images/new_icons/ai.png);
          color: transparent;
        }
        > div.ext.eps {
          background-image: url(../images/new_icons/eps.png);
          color: transparent;
        }
        > div.ext.html {
          background-image: url(../images/new_icons/html.png);
          color: transparent;
        }
        > div.ext.css {
          background-image: url(../images/new_icons/css.png);
          color: transparent;
        }
        > div.ext.sql {
          background-image: url(../images/new_icons/sql.png);
          color: transparent;
        }
        > div.ext.dll {
          background-image: url(../images/new_icons/dll.png);
          color: transparent;
        }
        > div.ext.xml {
          background-image: url(../images/new_icons/xml.png);
          color: transparent;
        }
        > div.ext.iso {
          background-image: url(../images/new_icons/iso.png);
          color: transparent;
        }
        > div.ext.zip {
          background-image: url(../images/new_icons/zip.png);
          color: transparent;
        }
        > div.ext.rar {
          background-image: url(../images/new_icons/rar.png);
          color: transparent;
        }
        > div.ext.exe {
          background-image: url(../images/new_icons/exe.png);
          color: transparent;
        }
        > div.ext.otf {
          background-image: url(../images/new_icons/otf.png);
          color: transparent;
        }
        > div.ext.asf {
          background-image: url(../images/new_icons/asf.png);
          color: transparent;
        }
        > div.ext.ico {
          background-image: url(../images/new_icons/ico.png);
          color: transparent;
        }
        > div.ext.raw {
          background-image: url(../images/new_icons/raw.png);
          color: transparent;
        }
        > div.ext.sys {
          background-image: url(../images/new_icons/sys.png);
          color: transparent;
        }
        > div.ext.tiff {
          background-image: url(../images/new_icons/tiff.png);
          color: transparent;
        }
      }
    }
  }
  &.dropfiles-content-tree.dropfiles-content-multi {
    ul {
      li {
        .dropfile-file.ext.doc {
          background-image: url(../images/new_icons/small/doc.png);
        }
        .dropfile-file.ext.docx {
          background-image: url(../images/new_icons/small/docx.png);
        }
        .dropfile-file.ext.xls {
          background-image: url(../images/new_icons/small/xls.png);
        }
        .dropfile-file.ext.xlsx {
          background-image: url(../images/new_icons/small/xlsx.png);
        }
        .dropfile-file.ext.ppt {
          background-image: url(../images/new_icons/small/ppt.png);
        }
        .dropfile-file.ext.pptx {
          background-image: url(../images/new_icons/small/pptx.png);
        }
        .dropfile-file.ext.pdf {
          background-image: url(../images/new_icons/small/pdf.png);
        }
        .dropfile-file.ext.txt {
          background-image: url(../images/new_icons/small/txt.png);
        }
        .dropfile-file.ext.csv {
          background-image: url(../images/new_icons/small/csv.png);
        }
        .dropfile-file.ext.avi {
          background-image: url(../images/new_icons/small/avi.png);
        }
        .dropfile-file.ext.mp4 {
          background-image: url(../images/new_icons/small/mp4.png);
        }
        .dropfile-file.ext.mov {
          background-image: url(../images/new_icons/small/mov.png);
        }
        .dropfile-file.ext.fla {
          background-image: url(../images/new_icons/small/fla.png);
        }
        .dropfile-file.ext.flv {
          background-image: url(../images/new_icons/small/flv.png);
        }
        .dropfile-file.ext.flac {
          background-image: url(../images/new_icons/small/flac.png);
        }
        .dropfile-file.ext.mpg {
          background-image: url(../images/new_icons/small/mpg.png);
        }
        .dropfile-file.ext.ogg {
          background-image: url(../images/new_icons/small/ogg.png);
        }
        .dropfile-file.ext.rm {
          background-image: url(../images/new_icons/small/rm.png);
        }
        .dropfile-file.ext.wav {
          background-image: url(../images/new_icons/small/wav.png);
        }
        .dropfile-file.ext.mp3 {
          background-image: url(../images/new_icons/small/mp3.png);
        }
        .dropfile-file.ext.wmv {
          background-image: url(../images/new_icons/small/wmv.png);
        }
        .dropfile-file.ext.wma {
          background-image: url(../images/new_icons/small/wma.png);
        }
        .dropfile-file.ext.mkv {
          background-image: url(../images/new_icons/small/mkv.png);
        }
        .dropfile-file.ext.mpeg {
          background-image: url(../images/new_icons/small/mpeg.png);
        }
        .dropfile-file.ext.gif {
          background-image: url(../images/new_icons/small/gif.png);
        }
        .dropfile-file.ext.jpg {
          background-image: url(../images/new_icons/small/jpg.png);
        }
        .dropfile-file.ext.png {
          background-image: url(../images/new_icons/small/png.png);
        }
        .dropfile-file.ext.bmp {
          background-image: url(../images/new_icons/small/bmp.png);
        }
        .dropfile-file.ext.svg {
          background-image: url(../images/new_icons/small/svg.png);
        }
        .dropfile-file.ext.psd {
          background-image: url(../images/new_icons/small/psd.png);
        }
        .dropfile-file.ext.ai {
          background-image: url(../images/new_icons/small/ai.png);
        }
        .dropfile-file.ext.eps {
          background-image: url(../images/new_icons/small/eps.png);
        }
        .dropfile-file.ext.html {
          background-image: url(../images/new_icons/small/html.png);
        }
        .dropfile-file.ext.css {
          background-image: url(../images/new_icons/small/css.png);
        }
        .dropfile-file.ext.sql {
          background-image: url(../images/new_icons/small/sql.png);
        }
        .dropfile-file.ext.dll {
          background-image: url(../images/new_icons/small/dll.png);
        }
        .dropfile-file.ext.xml {
          background-image: url(../images/new_icons/small/xml.png);
        }
        .dropfile-file.ext.iso {
          background-image: url(../images/new_icons/small/iso.png);
        }
        .dropfile-file.ext.zip {
          background-image: url(../images/new_icons/small/zip.png);
        }
        .dropfile-file.ext.rar {
          background-image: url(../images/new_icons/small/rar.png);
        }
        .dropfile-file.ext.exe {
          background-image: url(../images/new_icons/small/exe.png);
        }
        .dropfile-file.ext.otf {
          background-image: url(../images/new_icons/small/otf.png);
        }
        .dropfile-file.ext.asf {
          background-image: url(../images/new_icons/small/asf.png);
        }
        .dropfile-file.ext.ico {
          background-image: url(../images/new_icons/small/ico.png);
        }
        .dropfile-file.ext.raw {
          background-image: url(../images/new_icons/small/raw.png);
        }
        .dropfile-file.ext.sys {
          background-image: url(../images/new_icons/small/sys.png);
        }
        .dropfile-file.ext.tiff {
          background-image: url(../images/new_icons/small/tiff.png);
        }
      }
    }
  }
  h2 {
    word-wrap: normal;
  }
  .dropfiles-categories {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0;
    position: relative;
    h2 {
      width: 100%;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #b3b3b3;
      text-transform: uppercase;
      font-size: 1.25em;
      padding: 0;
      &::before,
      &::after {
        display: none;
      }
    }
    .categories-head {
      width: 100%;
      margin: 0;
      padding: 0;
      > h2 {
        margin: 0 0 0 10px;
        max-width: calc(100% - 75px);
        vertical-align: middle;
      }
    }
  }
  .dropfilescategory:not(.backcategory) {
    font-size: 14px;
    line-height: 1.5;
    color: #8f8f8f;
    box-sizing: border-box;
    height: 49px;
    padding: 15px 20px;
    text-decoration: none;
    background: #fff;
    display: inline-block;
    font-weight: normal;
    border: 1px solid #cccccc;
    border-radius: 6px;
    text-align: left;
    /* IE is so silly */
    flex: 1 0 165px;
    min-width: 165px;
    overflow: hidden;
    margin: 10px;
    @media screen and(max-width: 1024px) {
      flex: 1 0 150px;
      min-width: 150px;
    }
    > span {
      display: inline-block;
      //width: calc(100% - 22px);
      width: calc(100% - 28px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: -3px;
      font-weight: normal;
      text-align: left;
      padding-left: 10px;
      color: #808080;
      vertical-align: baseline;
      max-width: 150px;
      @media screen and(max-width: 420px) {
        max-width: calc(100% - 22px);
      }
    }
    &:hover {
      -webkit-box-shadow: 0 1px 3px #888;
      -moz-box-shadow: 0 1px 3px #888;
      box-shadow: 0 1px 3px #888;
    }
    .dropfiles-folder {
      font-size: 18px;
      float: left;
      vertical-align: middle;
      font-family: Material-Design-Iconic-Font !important;
      margin-top: -2px;
      color:#808080;
    }
  }
  .dropfilescategory_placeholder {
    height: 1px;
    background-color: transparent;
    background: transparent;
    flex: 1 0 165px;
    min-width: 165px;
    @media screen and(max-width: 1024px) {
      flex: 1 0 150px;
      min-width: 150px;
    }
  }
  .dropfilescategory:hover {
    background-color: #999999;
    border: 1px solid #999999;
    > span {
      color: #fff;
    }
    i.dropfiles-folder {
      color: #fff;
    }
  }
  .backcategory {
    position: absolute;
    top: 0;
    right: 10px;
    margin: 0 0 0 5px;
    font-size: 14.25px;
    //height: 14.25px;
    line-height: 19.5px;
    color: #8f8f8f;
    padding: 0;
    display: block !important;
    &:hover {
      box-shadow: none !important;
      box-shadow: unset !important;
      background: transparent;
      background-color: transparent;
      border: none;
      text-decoration: none;
    }
    &:hover,
    &:focus,
    &:active {
      outline: none;
      cursor: pointer;
    }
    .zmdi-chevron-left {
      font-size: 14.25px !important;
      //height: 14.25px;
      line-height: 19.5px;
      vertical-align: baseline !important;
      display: inline-block;
      margin-right: 5px;
      + span {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        line-height: 14px;
        height: 14px;
      }
    }
  }
  .breadcrumbs {
    position: relative;
    margin: 0;
    list-style: outside none none;
    background: #fff;
    color: #666666;
    font-size: 16px;
    padding: 18px 0 !important;
    border-bottom: 1px solid #ccc;
    line-height: 1em;
    &:before {
      content: ">>";
      font-size: 1em;
      display: inline-block;
      text-align: left;
      text-transform: none;
      vertical-align: middle;
      margin: 0 5px 0 0;
    }
    > li {
      display: inline-block;
      font-size: 16px;
      text-transform: none !important;
      color: inherit;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: left;
      vertical-align: middle;
      margin: 0;
      > span, > a {
        text-transform: none;
        color: #666666;
      }
    }
    a:not(.download-all):not(.openlink-manage-files):not(.download-selected) {
      color: #666666;

      &:not(.openlink-manage-files):hover {
        font-weight: bold;
        color: #323232;
        box-shadow: none;
        text-decoration: none;
      }
    }
    > li > .divider {
      padding: 0 5px;
      font-size: 1em;
      vertical-align: baseline;
    }
    a.openlink-manage-files,
    a.download-all,
    a.download-selected {
      margin: -10px 0 8px 8px !important;
    }
  }
  .download-all,
  .download-selected {
    background-color: #75be5f;
    border-color: #75be5f;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    margin: 8px 0 8px 8px;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;
    height: 38px;
    line-height: 28px;
    float: right;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    border-bottom: 0;
    box-shadow: none;
    transition: all 0.2s ease;
    &:hover {
      box-shadow: 1px 1px 12px #ccc;
    }
    > i.zmdi-check-all {
      margin-left: 5px;
      vertical-align: text-bottom;
      font-size: 1.4em;
      line-height: 18px;
    }
  }
  .downloadlink {
    background-color: #75be5f;
    border-color: #75be5f;
    border-radius: 8px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    padding: 5px 15px;
    display: block;
    width: 100%;
    height: 32px;
    margin-bottom: 5px;
    line-height: 22px;
  }
  .openlink {
    background-color: #fafafa;
    border-color: #dadada;
    border-radius: 8px;
    color: #8f8f8f;
    font-size: 13px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    line-height: 22px;
    margin: 5px auto 0 auto;
    display: inline-block;
    vertical-align: middle;
  }
  .downloadlink:hover,
  .openlink:hover {
    -webkit-box-shadow: 1px 1px 12px #ccc;
    -moz-box-shadow: 1px 1px 12px #ccc;
    box-shadow: 1px 1px 12px #ccc;
  }
  i.dropfiles-download,
  i.dropfiles-add-to-cart {
    font-size: 16px;
    vertical-align: middle;
    text-align: right;
    margin-left: 10px;
    margin-bottom: 2px;
  }
  i.dropfiles-preview {
    font-size: 16px;
    vertical-align: middle;
    text-align: right;
    margin-left: 10px;
    margin-bottom: 2px;
  }
  .dropfiles_checkbox {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background-color: transparent;
    .cbox_file_download[type="checkbox"] {
      display:none;
      -webkit-appearance: checkbox;
      box-sizing: border-box;
    }
    span {
      width: 16px;
      height: 16px;
      line-height: 13px;
      vertical-align: top;
      margin: 0;
      box-sizing: border-box;
      display: inline-block;
      font-size: 13px;
      &:before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        margin: 0;
        vertical-align: middle;
        transition: .6s;
        text-align: center;
        background: #fff;
        border: 1px solid #ccc;
        color: #808080;
        padding: 1px;
        font-size: 13px;
        box-sizing: border-box;
      }
      &:hover,
      &:focus {
        cursor: pointer;
      }
      &:hover {
        &:before {
          background-color: #efefef;
        }
      }
    }
    .cbox_file_download:checked {
      + span:before {
        content: '\2714';
      }
    }
  }
  #current-category-type.googledrive,
  #current-category-type.onedrive,
  #current-category-type.onedrivebusiness,
  #current-category-type.dropbox, {
    + .dropfiles_list,
    + .dropfiles-container .table,
    + ul {
      .dropfiles_checkbox {
        display: none;
      }
    }
  }
}

.dropfiles-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 15px 0 0 0;
  .with_foldertree {
    flex-basis: 70%;
    margin: 0;
    padding: 0 0 0 10px;
    @media screen and (max-width: 420px) {
      flex-basis: 100%;
      width: 100%;
    }
  }
}

.dropfiles-content-ggd .dropblock div.ext, [id^="dropfiles-box"] .dropblock div.ext {
  height: 114px;
  color: #fff;
  background: transparent url(../images/new_icons/neutral.png) no-repeat center center;
  width: 114px;
  display: inline-block;
  position: relative;
}

.dropfiles-content-ggd {
  &.dropfiles-content .dropfilescategory .dropblock div.ext {
    background-image: url(../images/new_icons/folder.png);
    color: transparent;

    &.back {
      background-image: url(../images/new_icons/folder-back.png);
      color: transparent;
    }
  }
  .dropblock {
    position: relative;

    div.custom-icon {
      height: 114px;
      width: 114px;
      display: block;
      margin: auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}

[id^="dropfiles-box"] .dropblock div.custom-icon {
  height: 70px;
  width: 50px;
  display: inline-flex;
  margin: auto;
}

.dropfiles-content-table.dropfiles-content {
  span.ext {
    width: 30px;
    height: 45px;
    background-size: 30px 45px !important;
    background: url(../images/new_icons/neutral.png) no-repeat;
    color: #fff;
    display: block;
  }

  .custom-icon {
    width: 38px;
    height: 50px;
    margin: 0;
  }
}

.dropfiles-content.dropfiles-content-tree.dropfiles-content-multi ul li {
  i.dropfile-file.ext {
    background-image: url(../images/new_icons/small/neutral.png);
    color: transparent;
  }

  &.custom-icon img {
    width: 25px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 4px;
  }
}

#dropfiles-box-tree .dropblock .custom-icon {
  float: left;
  height: 80px;
  width: 70px;

  img {
    width: 50px;
  }
}

.dropfiles-content-tree .dropblock div.ext, #dropfiles-box-tree .dropblock div.ext {
  background-image: url(../images/new_icons/neutral.png);
  text-shadow: 1px 1px 1px #666;
}

.dropfiles-content.dropfiles-content-default .file .filecontent > div.ext.doc, .dropfiles-content-ggd .dropblock div.ext.doc, [id^="dropfiles-box"] .dropblock div.ext.doc, .dropfiles-content-table.dropfiles-content span.ext.doc, .dropfiles-content-tree .dropblock div.ext.doc, #dropfiles-box-tree .dropblock div.ext.doc {
  background-image: url(../images/new_icons/doc.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.docx, [id^="dropfiles-box"] .dropblock div.ext.docx, .dropfiles-content-table.dropfiles-content span.ext.docx, .dropfiles-content-tree .dropblock div.ext.docx, #dropfiles-box-tree .dropblock div.ext.docx {
  background-image: url(../images/new_icons/docx.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.xls, [id^="dropfiles-box"] .dropblock div.ext.xls, .dropfiles-content-table.dropfiles-content span.ext.xls, .dropfiles-content-tree .dropblock div.ext.xls, #dropfiles-box-tree .dropblock div.ext.xls {
  background-image: url(../images/new_icons/xls.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.xlsx, [id^="dropfiles-box"] .dropblock div.ext.xlsx, .dropfiles-content-table.dropfiles-content span.ext.xlsx, .dropfiles-content-tree .dropblock div.ext.xlsx, #dropfiles-box-tree .dropblock div.ext.xlsx {
  background-image: url(../images/new_icons/xlsx.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.ppt, [id^="dropfiles-box"] .dropblock div.ext.ppt, .dropfiles-content-table.dropfiles-content span.ext.ppt, .dropfiles-content-tree .dropblock div.ext.ppt, #dropfiles-box-tree .dropblock div.ext.ppt {
  background-image: url(../images/new_icons/ppt.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.pptx, [id^="dropfiles-box"] .dropblock div.ext.pptx, .dropfiles-content-table.dropfiles-content span.ext.pptx, .dropfiles-content-tree .dropblock div.ext.pptx, #dropfiles-box-tree .dropblock div.ext.pptx {
  background-image: url(../images/new_icons/pptx.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.pdf, [id^="dropfiles-box"] .dropblock div.ext.pdf, .dropfiles-content-table.dropfiles-content span.ext.pdf, .dropfiles-content-tree .dropblock div.ext.pdf, #dropfiles-box-tree .dropblock div.ext.pdf {
  background-image: url(../images/new_icons/pdf.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.txt, [id^="dropfiles-box"] .dropblock div.ext.txt, .dropfiles-content-table.dropfiles-content span.ext.txt, .dropfiles-content-tree .dropblock div.ext.txt, #dropfiles-box-tree .dropblock div.ext.txt {
  background-image: url(../images/new_icons/txt.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.csv, [id^="dropfiles-box"] .dropblock div.ext.csv, .dropfiles-content-table.dropfiles-content span.ext.csv, .dropfiles-content-tree .dropblock div.ext.csv, #dropfiles-box-tree .dropblock div.ext.csv {
  background-image: url(../images/new_icons/csv.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.avi, [id^="dropfiles-box"] .dropblock div.ext.avi, .dropfiles-content-table.dropfiles-content span.ext.avi, .dropfiles-content-tree .dropblock div.ext.avi, #dropfiles-box-tree .dropblock div.ext.avi {
  background-image: url(../images/new_icons/avi.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.mp4, [id^="dropfiles-box"] .dropblock div.ext.mp4, .dropfiles-content-table.dropfiles-content span.ext.mp4, .dropfiles-content-tree .dropblock div.ext.mp4, #dropfiles-box-tree .dropblock div.ext.mp4 {
  background-image: url(../images/new_icons/mp4.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.mov, [id^="dropfiles-box"] .dropblock div.ext.mov, .dropfiles-content-table.dropfiles-content span.ext.mov, .dropfiles-content-tree .dropblock div.ext.mov, #dropfiles-box-tree .dropblock div.ext.mov {
  background-image: url(../images/new_icons/mov.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.fla, [id^="dropfiles-box"] .dropblock div.ext.fla, .dropfiles-content-table.dropfiles-content span.ext.fla, .dropfiles-content-tree .dropblock div.ext.fla, #dropfiles-box-tree .dropblock div.ext.fla {
  background-image: url(../images/new_icons/fla.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.flv, [id^="dropfiles-box"] .dropblock div.ext.flv, .dropfiles-content-table.dropfiles-content span.ext.flv, .dropfiles-content-tree .dropblock div.ext.flv, #dropfiles-box-tree .dropblock div.ext.flv {
  background-image: url(../images/new_icons/flv.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.flac, [id^="dropfiles-box"] .dropblock div.ext.flac, .dropfiles-content-table.dropfiles-content span.ext.flac, .dropfiles-content-tree .dropblock div.ext.flac, #dropfiles-box-tree .dropblock div.ext.flac {
  background-image: url(../images/new_icons/flac.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.mpg, [id^="dropfiles-box"] .dropblock div.ext.mpg, .dropfiles-content-table.dropfiles-content span.ext.mpg, .dropfiles-content-tree .dropblock div.ext.mpg, #dropfiles-box-tree .dropblock div.ext.mpg {
  background-image: url(../images/new_icons/mpg.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.ogg, [id^="dropfiles-box"] .dropblock div.ext.ogg, .dropfiles-content-table.dropfiles-content span.ext.ogg, .dropfiles-content-tree .dropblock div.ext.ogg, #dropfiles-box-tree .dropblock div.ext.ogg {
  background-image: url(../images/new_icons/ogg.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.rm, [id^="dropfiles-box"] .dropblock div.ext.rm, .dropfiles-content-table.dropfiles-content span.ext.rm, .dropfiles-content-tree .dropblock div.ext.rm, #dropfiles-box-tree .dropblock div.ext.rm {
  background-image: url(../images/new_icons/rm.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.wav, [id^="dropfiles-box"] .dropblock div.ext.wav, .dropfiles-content-table.dropfiles-content span.ext.wav, .dropfiles-content-tree .dropblock div.ext.wav, #dropfiles-box-tree .dropblock div.ext.wav {
  background-image: url(../images/new_icons/wav.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.mp3, [id^="dropfiles-box"] .dropblock div.ext.mp3, .dropfiles-content-table.dropfiles-content span.ext.mp3, .dropfiles-content-tree .dropblock div.ext.mp3, #dropfiles-box-tree .dropblock div.ext.mp3 {
  background-image: url(../images/new_icons/mp3.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.wmv, [id^="dropfiles-box"] .dropblock div.ext.wmv, .dropfiles-content-table.dropfiles-content span.ext.wmv, .dropfiles-content-tree .dropblock div.ext.wmv, #dropfiles-box-tree .dropblock div.ext.wmv {
  background-image: url(../images/new_icons/wmv.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.wma, [id^="dropfiles-box"] .dropblock div.ext.wma, .dropfiles-content-table.dropfiles-content span.ext.wma, .dropfiles-content-tree .dropblock div.ext.wma #dropfiles-box-tree .dropblock div.ext.wma {
  background-image: url(../images/new_icons/wma.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.mkv, [id^="dropfiles-box"] .dropblock div.ext.mkv, .dropfiles-content-table.dropfiles-content span.ext.mkv, .dropfiles-content-tree .dropblock div.ext.mkv, #dropfiles-box-tree .dropblock div.ext.mkv {
  background-image: url(../images/new_icons/mkv.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.mpeg, [id^="dropfiles-box"] .dropblock div.ext.mpeg, .dropfiles-content-table.dropfiles-content span.ext.mpeg, .dropfiles-content-tree .dropblock div.ext.mpeg, #dropfiles-box-tree .dropblock div.ext.mpeg {
  background-image: url(../images/new_icons/mpeg.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.gif, [id^="dropfiles-box"] .dropblock div.ext.gif, .dropfiles-content-table.dropfiles-content span.ext.gif, .dropfiles-content-tree .dropblock div.ext.gif, #dropfiles-box-tree .dropblock div.ext.gif {
  background-image: url(../images/new_icons/gif.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.jpg, [id^="dropfiles-box"] .dropblock div.ext.jpg, .dropfiles-content-table.dropfiles-content span.ext.jpg, .dropfiles-content-tree .dropblock div.ext.jpg, #dropfiles-box-tree .dropblock div.ext.jpg {
  background-image: url(../images/new_icons/jpg.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.png, [id^="dropfiles-box"] .dropblock div.ext.png, .dropfiles-content-table.dropfiles-content span.ext.png, .dropfiles-content-tree .dropblock div.ext.png, #dropfiles-box-tree .dropblock div.ext.png {
  background-image: url(../images/new_icons/png.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.bmp, [id^="dropfiles-box"] .dropblock div.ext.bmp, .dropfiles-content-table.dropfiles-content span.ext.bmp, .dropfiles-content-tree .dropblock div.ext.bmp, #dropfiles-box-tree .dropblock div.ext.bmp {
  background-image: url(../images/new_icons/bmp.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.svg, [id^="dropfiles-box"] .dropblock div.ext.svg, .dropfiles-content-table.dropfiles-content span.ext.svg, .dropfiles-content-tree .dropblock div.ext.svg, #dropfiles-box-tree .dropblock div.ext.svg {
  background-image: url(../images/new_icons/svg.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.psd, [id^="dropfiles-box"] .dropblock div.ext.psd, .dropfiles-content-table.dropfiles-content span.ext.psd, .dropfiles-content-tree .dropblock div.ext.psd, #dropfiles-box-tree .dropblock div.ext.psd {
  background-image: url(../images/new_icons/psd.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.ai, [id^="dropfiles-box"] .dropblock div.ext.ai, .dropfiles-content-table.dropfiles-content span.ext.ai, .dropfiles-content-tree .dropblock div.ext.ai, #dropfiles-box-tree .dropblock div.ext.ai {
  background-image: url(../images/new_icons/ai.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.eps, [id^="dropfiles-box"] .dropblock div.ext.eps, .dropfiles-content-table.dropfiles-content span.ext.eps, .dropfiles-content-tree .dropblock div.ext.eps, #dropfiles-box-tree .dropblock div.ext.eps {
  background-image: url(../images/new_icons/eps.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.html, [id^="dropfiles-box"] .dropblock div.ext.html, .dropfiles-content-table.dropfiles-content span.ext.html, .dropfiles-content-tree .dropblock div.ext.html, #dropfiles-box-tree .dropblock div.ext.html {
  background-image: url(../images/new_icons/html.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.css, [id^="dropfiles-box"] .dropblock div.ext.css, .dropfiles-content-table.dropfiles-content span.ext.css, .dropfiles-content-tree .dropblock div.ext.css, #dropfiles-box-tree .dropblock div.ext.css {
  background-image: url(../images/new_icons/css.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.sql, [id^="dropfiles-box"] .dropblock div.ext.sql, .dropfiles-content-table.dropfiles-content span.ext.sql, .dropfiles-content-tree .dropblock div.ext.sql, #dropfiles-box-tree .dropblock div.ext.sql {
  background-image: url(../images/new_icons/sql.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.dll, [id^="dropfiles-box"] .dropblock div.ext.dll, .dropfiles-content-table.dropfiles-content span.ext.dll, .dropfiles-content-tree .dropblock div.ext.dll, #dropfiles-box-tree .dropblock div.ext.dll {
  background-image: url(../images/new_icons/dll.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.xml, [id^="dropfiles-box"] .dropblock div.ext.xml, .dropfiles-content-table.dropfiles-content span.ext.xml, .dropfiles-content-tree .dropblock div.ext.xml, #dropfiles-box-tree .dropblock div.ext.xml {
  background-image: url(../images/new_icons/xml.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.iso, [id^="dropfiles-box"] .dropblock div.ext.iso, .dropfiles-content-table.dropfiles-content span.ext.iso, .dropfiles-content-tree .dropblock div.ext.iso, #dropfiles-box-tree .dropblock div.ext.iso {
  background-image: url(../images/new_icons/iso.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.zip, [id^="dropfiles-box"] .dropblock div.ext.zip, .dropfiles-content-table.dropfiles-content span.ext.zip, .dropfiles-content-tree .dropblock div.ext.zip, #dropfiles-box-tree .dropblock div.ext.zip {
  background-image: url(../images/new_icons/zip.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.rar, [id^="dropfiles-box"] .dropblock div.ext.rar, .dropfiles-content-table.dropfiles-content span.ext.rar, .dropfiles-content-tree .dropblock div.ext.rar, #dropfiles-box-tree .dropblock div.ext.rar {
  background-image: url(../images/new_icons/rar.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.exe, [id^="dropfiles-box"] .dropblock div.ext.exe, .dropfiles-content-table.dropfiles-content span.ext.exe, .dropfiles-content-tree .dropblock div.ext.exe, #dropfiles-box-tree .dropblock div.ext.exe {
  background-image: url(../images/new_icons/exe.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.otf, [id^="dropfiles-box"] .dropblock div.ext.otf, .dropfiles-content-table.dropfiles-content span.ext.otf, .dropfiles-content-tree .dropblock div.ext.otf, #dropfiles-box-tree .dropblock div.ext.otf {
  background-image: url(../images/new_icons/otf.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.asf, [id^="dropfiles-box"] .dropblock div.ext.asf, .dropfiles-content-table.dropfiles-content span.ext.asf, .dropfiles-content-tree .dropblock div.ext.asf, #dropfiles-box-tree .dropblock div.ext.asf {
  background-image: url(../images/new_icons/asf.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.ico, [id^="dropfiles-box"] .dropblock div.ext.ico, .dropfiles-content-table.dropfiles-content span.ext.ico, .dropfiles-content-tree .dropblock div.ext.ico, #dropfiles-box-tree .dropblock div.ext.ico {
  background-image: url(../images/new_icons/ico.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.raw, [id^="dropfiles-box"] .dropblock div.ext.raw, .dropfiles-content-table.dropfiles-content span.ext.raw, .dropfiles-content-tree .dropblock div.ext.raw, #dropfiles-box-tree .dropblock div.ext.raw {
  background-image: url(../images/new_icons/raw.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.sys, [id^="dropfiles-box"] .dropblock div.ext.sys, .dropfiles-content-table.dropfiles-content span.ext.sys, .dropfiles-content-tree .dropblock div.ext.sys, #dropfiles-box-tree .dropblock div.ext.sys {
  background-image: url(../images/new_icons/sys.png);
  color: transparent;
}

.dropfiles-content-ggd .dropblock div.ext.tiff, [id^="dropfiles-box"] .dropblock div.ext.tiff, .dropfiles-content-table.dropfiles-content span.ext.tiff, .dropfiles-content-tree .dropblock div.ext.tiff, #dropfiles-box-tree .dropblock div.ext.tiff {
  background-image: url(../images/new_icons/tiff.png);
  color: transparent;
}

.dropfileslist {

  .file {
    padding-left: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    background: url(../images/types/_blank.png) top left transparent no-repeat;

    &.pdf {
      background-image: url(../images/types/pdf.png);
    }

    &.png {
      background-image: url(../images/types/png.png);
    }

    &.doc {
      background-image: url(../images/types/doc.png);
    }

    &.odt {
      background-image: url(../images/types/odt.png);
    }

    &.zip {
      background-image: url(../images/types/zip.png);
    }
  }

  .pagination {
    text-align: center !important;
    border-top: none !important;

    ul {
      text-align: center !important;
      border-top: none !important;
    }
  }
}

#dropfiles-box-player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: transparent url(../images/boxbg.png) top left repeat;
  color: #FFF;

  .dropblock {
    min-height: 114px;
    display: inline-block;

    /*margin: 20px 20px 0 20px;*/
    position: relative;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -67px;
    margin-top: -67px;
    background: none;
    color: #FFF;

    #dropblock-close {
      position: absolute;
      right: -30px;
      @media screen and (max-width: 720px) {
        right: -22px;
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }

  .dropblock iframe {
    width: 100%;
    height: 100%;
  }
}

#dropfiles-box-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: transparent url(../images/boxbg.png) top left repeat;
  color: #FFF;

  .loading {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin: 0;
    width: 120px;
    height: 120px;
    color: #FFF;
    background: url(../images/loadingfile.svg) no-repeat center center;
  }

  .dropfiles-loading-status {
    text-align: center;
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    left: 0;
    right: 0;
    color: #fff;
    font-size: 14px;
    .dropfiles-loading-close {
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.dropfiles-single-file {
  display: inline-block;

  .dropfiles-file-link {
    background: #444 url("../images/download.png") no-repeat scroll 5px center;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    transition: all 0.2s ease 0s;
    float: left;
    margin: 7px;
    padding: 10px 20px 10px 60px;
    color: #FFF;
    text-decoration: none;

    &:hover {
      background: #888 url("../images/download.png") no-repeat scroll 5px center;
      box-shadow: 1px 1px 12px #ccc;
    }
  }

  .droptitle {
    color: #fff;
    font-weight: bold;
    line-height: 1.7;
  }

  .dropfiles-file-link span.dropinfos b {
    font-weight: normal;
    font-size: 0.8em;
    line-height: 1.7;
  }
}

.dropfiles-preview-file {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

.dropfiles-content-multi {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;

  .breadcrumbs {
    width: 100%;
    box-sizing: border-box;
  }

  &::after {
    clear: both;
    display: table;
    content: "";
    line-height: 0;
  }
}

.dropfiles-page {
  &::before {
    display: table;
    content: "";
    line-height: 0;
  }

  &::after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
  }
}

.dropfiles-content-ggd.dropfiles-content .dropfiles-breadcrumbs-ggd a.catlink {
  width: auto;
}

.modal-close-icon {
  width: 30px;
  height: 29px;
  display: inline-block;
  background: url('../images/modal2_close.png') no-repeat;
  vertical-align: middle;
  @media screen and (max-width: 720px) {
    width: 22px;
    height: 22px;
    background-size: 22px;
  }
}

.dropfiles-tree-open {
  display: none;
}
.dropfiles-foldertree {
  float: left;
  padding: 0 10px 0 0;
  position: relative;
  flex-basis: 30%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  border-right: 1px solid #cccccc !important;
  box-sizing: border-box;
}
@media only screen and (max-width: 720px) {
  .dropfiles-container {
    position: relative;
    .with_foldertree {
      float: unset;
      display: block;
      width: calc(100% - 25px) !important;
      max-width: 100% !important;
      margin: 0 0 0 25px !important;
      min-height: 500px;
      flex-basis: 100% !important;
    }
    .dropfiles-container-table {
      margin-left: 30px;
    }
  }

  .dropfiles-foldertree {
    display: none;
    float: unset;
    top: 0;
    bottom: 0;
    position: absolute;
    border-right: 0 !important;
    border-radius: 4px;
    background: #fff;
    z-index: 10;
    width: 100%;
    &.tree-open {
      display: block;
    }
    ul.jaofoldertree:first-child {
      margin-top: 35px !important
    }
    & + .dropfiles-open-tree {
      display: block;
      pointer-events: auto;
      position: absolute;
      top: 0;
      left: 10px;
      width: 15px;
      height: 15px;
      text-align: center;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQfjCwwHBhVfyhjNAAAARElEQVRIx2NgGAUUA0aG1ZQa8J8yA5go9QILw1NqhsgoIAswMhyn1ICBT0gnqBkio4AswMjwhFIDBj4hraFmiIwCsgAA33UHxUbRH90AAAAldEVYdGRhdGU6Y3JlYXRlADIwMTktMTEtMTJUMDc6MDY6MjErMDA6MDDyrjLnAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE5LTExLTEyVDA3OjA2OjIxKzAwOjAwg/OKWwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=);
      background-size: contain;
      background-repeat: no-repeat;
      margin: 0;
      z-index: 11;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .tree-open + .dropfiles-open-tree {
    //margin: 5px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAQAAAC0NkA6AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfjCwsJES8LDFBaAAAA90lEQVRYw+3WTQqDMBCG4Zcm5AJCeyqvo+RAekMV3KSLorXiz6SOUkq+dcKTMWYYSElJSYEHOU682pFzjyUyahpKrGi1paShIouroiYQ6ESMpaQjEKhiqslpCELmTQQacjniJhu3GTtbKb/Fhc1WsKoQ3mAUc5jYZ1SIbUaNWGdUiSXGYLSJOdPi8bTaxJzp6c8gBmY4/1CTMgFg8GMNgR6PkW69aZ/lxz/XBRd/wS88f90GQ3Hmey/GtqLIrPcoNWa7Daow+532MCNr5ocYJ27mn0zUIDEdifbON2WiRqI7VcQn+HK4g4zq7DH1Vc3pA3dKSso/5gmAWxwDE0VxTgAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOS0xMS0xMVQwOToxNzoyNCswMDowMF30EfwAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTktMTEtMTFUMDk6MTc6MjQrMDA6MDAsqalAAAAAAElFTkSuQmCC);
  }
}

.dropfiles-loading {
  width: 120px;
  height: 120px;
  margin: 30px auto;
  display: block;
  background-color: transparent;
  background-size: 120px !important;
}

#dropfiles-loading-wrap, #dropfiles-loading-tree-wrap {
  position: fixed;
  left: -99999px;
}

.dropfiles-loading-tree-bg {
  background: url(../images/jao/spinner.gif) left top no-repeat !important;
  background-size: 18px !important;
  width: 20px;
  height: 20px;
  float: left;
  margin: 0 0 0 -20px;
}
