.loginRadiusProviders input{
	margin:0
}
.loginRadiusProviders{
	width: 325px;
	float: left;
	margin-top:6px;
}
.socialTitle{
	width: 225px !important;
	clear: none !important;
	margin: 5px !important;
	display:inline !important;
}
div.current input, div.current textarea, div.current select {
  float: none !important;
}
dt.open h3 {
  background:#ddd !important;
}
dd {
  margin-left: 0px !important;
}
dt.tabs h3 {
  float: left;
  margin-right: 11px;
  border: #CCC 1px solid;
  padding: 9px;
  margin-bottom: 0px;
  margin-left: 2px;
  border-bottom: 0px;
  background: #fff;
}
div.current {
  clear: both;
}
.help_ul {
  margin:0 0 15px 25px;
  padding:0px;
  float:left;
  list-style:circle;
}
.help_ul li a {
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#000000;
  line-height:160%;
}
.stay_ul {
  margin:0 0 15px 10px;
  padding:0px;
  float:left;
  list-style:none;
}
.stay_ul li {
  line-height:160%;
  float:left;
  margin:0 10px 0 0;
}
.saml_table .lrsubhead {
 font-weight: bold ;
 font-size: 13px ;
 font-weight: bold ;
}
.saml_form {
  padding: 0;
  background-color: #fff;
}
.saml_form a {
  text-decoration: none !important;
}
.saml_form .blank a {
  text-decoration: none !important;
  padding: 0 15px !important;
  font-weight: bold;
}
.saml_form a:hover {
  text-decoration: none !important;;
}
.saml_form legend {
  margin-left: 10px;
  line-height: 30px;
}
.saml_form .lrrow {
  padding: 5px 10px;
  font-size: 12px;
  clear: both;
  overflow: hidden;
}
.saml_form .lrrow_title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
  color:#00ccff;
}
.saml_form .lrrow_button {
 background-color: #F6F6F6;
 border-top: 1px dotted #ddd;
 margin-top: 14px;
 padding: 5px 10px;
}
.saml_form .lrrow_description {
 padding: 5px 0 10px 10px;
 font-weight: bold;
 color:#00ccff;
}
.saml_form_main {
 background-color: #EAF7FF;
}
.saml_form_main .lrrow {
 margin-bottom: 7px;
}
.saml_form_main .lrrow_button {
 background-color: #EAF7FF;
}
.icon-48-configuration {
    background-image: url("../img/configuration.gif");
}
.saml_table {
 background-color: #efefef ;
 border: 1px solid #ccc ;
 margin-bottom: 10px ;
 border-collapse: collapse;
 font-family: sans-serif;
 font-size: 12px;
 line-height: 1.4em;
 margin-left: 2px;
 width: 100%;
}
.saml_table input {
 border-color: #aaa ;
}
.saml_table .head {
 font-weight: bold ;
 font-size: 13px ;
 font-weight: bold ;
 background-color: #ddd ;
}
.saml_table th, .saml_table label {
    color: #222222;
    text-shadow: 0 1px 0 #FFFFFF;
}
.saml_table th {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    width: 200px;
}
.saml_table th, .saml_table label {
    font-weight: normal;
    text-shadow: 0 1px 0 #FFFFFF;
}
.saml_table td {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 9px;
    padding: 8px 10px;
}
.saml_table td, textarea {
    line-height: inherit;
}
.saml_table td, textarea, input, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.saml_table tr td.saml_row {
 line-height: 36px ;
}
.saml_table tr.description td {
 color: #0D5995 ;
}
.saml_table .lrrow_white {
 background-color: #fff ;
}
.saml_table th, .saml_table label {
    color: #222222;
    text-shadow: 0 1px 0 #FFFFFF;
}
.saml_table th {
    padding: 10px;
    text-align: left;
    vertical-align: top;
    width: 200px;
}
.saml_table th, .saml_table label {
    font-weight: normal;
    text-shadow: 0 1px 0 #FFFFFF;
}
.lrgreenbutton{
	background: #5BB75B;
	border-radius: 5px;
	text-align: center;
	margin: 15px;
	padding: 10px 50px;
	font-size: 15px;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
}
.lrgreenbutton:hover{
	background: #51A351;
}

.other-filters{
    padding: 0 14px;
}

.other-filters{
    padding: 0 14px;
}

.faqheading {
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 5px;
}

.faqcontent{
	margin-top: 10px;
}
.faqcontent.in{
	margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}

#system-message-container.j-toggle-main{float:none !important;}