#dp-event-form {
	clear: both;
}

#dp-event-form-original-information {
	color: red;
}

.ui-datepicker, .ui-timepicker-list {
	font: 90% Arial, sans-serif;
}

#dp-event-form-map-frame {
	width: 100%;
	height: 200px
}

#dp-event-form-map-title {
	border-bottom: 2px solid #DDDDDD;
}

.dp-event-form-free-information-text {
	display: block;
	color: red
}

/* time input width */
#dp-event-form .time,
#dp-event-form .hasDatepicker {
	max-width: 100px;
}

#dp-event-form-map-title-toggle {
	margin-left: 5px;
	font-size: 80%;
	cursor: pointer;
}