/* COLUMNS */

form .fabrikGroupColumns.fabrikGroup .row-fluid {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

@media all and (max-width: 479px) {
    .fabrikGroup .repeatGroupTable .fabrikSubGroupElements .fabrikGroupRepeater {
        display: flex;
        justify-content: flex-end;
    }
}

@media all and (min-width: 480px) and (max-width: 767px) {

    .fabrikGroup .repeatGroupTable .fabrikSubGroupElements .fabrikGroupRepeater {
        display: flex;
        justify-content: flex-end;
    }

    .view-form.applicant-form  .fabrikGroup .repeatGroupTable {
        display: block !important;
    }

    .view-form.applicant-form  .fabrikGroup .repeatGroupTable th:last-of-type,
    .view-form.applicant-form  .fabrikGroup .repeatGroupTable  td:last-of-type {
        width: 100% !important;
    }

    .view-form.applicant-form  .fabrikGroup .repeatGroupTable tbody tr .fabrikElement input {
        width: 100%;
    }

    .view-form.applicant-form  .fabrikGroup .repeatGroupTable .fabrikSubGroupElements  td .fabrikElement  select {
        background-position-x: 98% !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 959px) {

    .fabrikGroup .repeatGroupTable .fabrikSubGroupElements .fabrikGroupRepeater {
        display: flex;
        justify-content: flex-end;
    }
}

#aside-comment-section {
    top: 72px;
    height: calc(100vh - 72px);
    transition: all .3s;
    width: 425px;
    z-index: 9999;
}

#aside-comment-section .close-comment, #aside-comment-section .open-comment {
    left: -52px;
    padding: 8px;
    font-size: 36px;
}

#aside-comment-section .close-comment {
    display: block;
}

#aside-comment-section .open-comment {
    display: none;
}

#aside-comment-section.closed {
    right: -425px;
}

#aside-comment-section.closed .open-comment {
    display: block;
}

#aside-comment-section.closed .close-comment {
    display: none;
}

.comment-icon {
    transition: all .3s;
    opacity: 1 !important;
}

.comment-icon:not(.has-comments) {
    opacity: 0 !important;
}

.fabrik-element-emundus-container:hover .comment-icon {
    opacity: 1 !important;
}