/*******************LOGIN****************/
button.btn-primary{
    background: #e03c32;
    border: 1px solid #e03c32;
    border-radius: 0!important;
    padding: var(--em-spacing-vertical) var(--em-spacing-horizontal) !important;
}
button.btn-primary:hover{
    background-color: transparent;
    color: #e03c32;
    outline: none;
}
.form-horizontal .controls:first-child {
    padding-left: 0 !important;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.form-horizontal .control-group {
    display: flex;
    justify-content: space-around;
}

#user-registration > .control-group {
    margin-bottom: 0 !important;
}

.form-horizontal .controls {
    margin: 0;
    width: 70%;
    display: inline-flex;
    align-items: center;
}
/* Connexion */

.nav-stacked > li {
    display: inline-block;
}

.login form {
    background: #fcfcfc;
    border: none;
    margin-bottom: 0 !important;
    border-radius: 0;
    padding: 20px !important;
}

.invalid {
    color: red !important;
    font-weight: 600;
}

.login .well label {
    color: #000;
}

ul.nav.nav-tabs.nav-stacked {
    background: #fcfcfc;
    border-radius: 0;
    display: flex;
    justify-content: space-evenly;
}

.nav-stacked > li {
  flex: 0 0 50%;
}

.nav-stacked > li:nth-child(2) {
   text-align: end;
}

ul.nav.nav-tabs.nav-stacked a {
    color: #e5283b;
}

ul.nav.nav-tabs.nav-stacked a:hover,
ul.nav.nav-tabs.nav-stacked a:focus,
ul.nav.nav-tabs.nav-stacked a:focus-within,
ul.nav.nav-tabs.nav-stacked a:active {
    color: #e5283b;
    text-decoration: underline;
}

ul.nav.nav-tabs.nav-stacked a::before {
    content: "\f101";
    font-family: FontAwesome;
    margin-right: 3px;
}

.login form > fieldset .control-group:nth-child(3) .controls {
    justify-content: center;
    margin-top: 20px;
}
.view-login .form-horizontal .controls {
    margin: 0 !important;
    width: 25%;
    display: inline-flex;
    align-items: center;
}

.view-login  .form-horizontal .control-label {
    width: 100%;
    text-align: left;
}

.view-login .form-horizontal .control-group {
    display: flex;
    justify-content: center;
}

footer div{
    line-height:1.5em;
}
.control-group .control-label label .star{
    display: none;
}
.fabrikLabel[opts*="Validation"]::after,
body.view-login label#password-lbl::after,
body.view-login label#username-lbl::after,
body.view-reset label#jform_email-lbl::after,
body.view-reset label#jform_username-lbl::after,
.control-label .required::after {
    content: "∗";
    color: red;
    padding-left: 5px;
    top: -5px;
    position: relative;
}
