/*******************LOGIN****************/
button.btn-primary{
    background: #e03c32;
    border: 1px solid #e03c32;
    border-radius: var(--em-applicant-border-radius) !important;
    padding: 8px 12px!important;
}
button.btn-primary:hover{
    background-color: transparent;
    color: #e03c32;
    outline: none;
}
.form-horizontal .controls:first-child {
    padding-left: 0 !important;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.form-horizontal .control-group {
    display: flex;
    justify-content: space-around;
}
#user-registration > .control-group {
    margin-bottom: 0 !important;
}
.form-horizontal .controls {
    margin: 0;
    width: 70%;
    display: inline-flex;
    align-items: center;
}
/* Connexion */
.nav-stacked > li {
    display: inline-block;
}
.login form.form-validate.form-horizontal.well {
    border: none;
    margin-bottom: 0 !important;
    background: white;
    box-shadow: none;
    width: 100%;
    padding: 0;
}

#g-container-main div.em-formRegistrationCenter {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    background: white;
    margin-top: 50px;
    border-radius: 16px 16px 0 0;
    padding: 80px 64px 0 64px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#g-container-main div.em-formRegistrationCenter div:not(.page-header){
 color: var(--em-applicant-text-color);
}


#g-container-main div.login {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    background: white;
    margin-top: 24px;
    border-radius: 16px;
    padding: 0 64px 80px 64px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#g-container-main div.login .control-group .controls button.btn.btn-primary {
    text-transform: initial;
    height: 48px;
    width: 100%;
    border-radius: var(--applicant-border-radius) !important;
    font-family: var(--applicant-default-font);
}

.invalid {
    color: red !important;
    font-weight: 600;
}
.login .well label {
    font-family: var(--font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.0015em;
    text-align: left;
    margin-bottom: 0px;
    color: #2B2B2B;
}

.login .well label.invalid {
 color: #2B2B2B !important;
}


ul.nav.nav-tabs.nav-stacked {
    background: white;
    border-radius: 0 0 16px 16px;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0 0 80px 0 !important;
    margin-top: 0;
    margin-bottom: 50px;
}

.login form > fieldset .control-group:nth-child(3) .controls {
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
.view-login .form-horizontal .controls {
    margin: 0 !important;
    width: 100%;
    display: inline-flex;
    align-items: center;
}
.view-login .form-horizontal .control-label {
    width: 100%;
    text-align: left;
    padding-top: 0px;
}
.login .form-horizontal .control-label {
    width: 100%;
}
.view-login .form-horizontal .control-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 32px;
}

.login form.form-horizontal .control-group {
    flex-direction: column;
}

.login form.form-horizontal .control-label {
    width: 100%;
}
.login form.form-horizontal .controls {
    width: 100%;
    margin-left: 0;
}

footer div{
    line-height:1.5em;
}
.control-group .control-label label .star{
    display: none;
}
.fabrikLabel[opts*="Validation"]::before,
body.view-login label#password-lbl::before,
body.view-login label#username-lbl::before,
body.view-reset label#jform_email-lbl::before,
body.view-reset label#jform_username-lbl::before,
.control-label .required::before {
    content: "";
    font-family: FontAwesome;
    font-size: 5px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
    position: relative;
    top: -5px;
    margin-right: 5px;
    color: #e5283B;
}
.control-group:nth-child(3) .controls button.btn.btn-primary {
    text-transform: capitalize;
    width: 100% !important;
    height: 48px;
    margin-right: 0px !important;
    margin-bottom: 0px;
    font-family: var(--font);
    font-weight: 500;
}
form.form-validate.form-horizontal.well .control-group .controls input {
    border-radius :4px;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    padding: 0 12px 0 12px;
    border: 1px solid #E3E3E3;
    box-shadow: none;
    margin-top: 12px;
}

form.form-validate.form-horizontal.well .control-group .controls input:focus {
    border: 1px solid #1C6EF2;
    box-shadow: none;
}

form.form-validate.form-horizontal.well .control-group .controls input.invalid {
    border: 1px solid #e5283B;
    box-shadow: none;
}


form.form-validate.form-horizontal.well .control-group .controls input:hover {
    border: 1px solid #727272;
    box-shadow: none;
}

h1.em-titre-connectez-vous {
    margin-bottom: 16px !important;
    margin-top: 0px;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0;
    text-align: center;
}

.page-header p.em-h3 {
    font-family: var(--applicant-title-font);
    color: var(--em-applicant-title-color);
}


.header-right a.btn.btn-danger.connexion , a.btn.btn-danger.inscription  {
    font-weight: 300;
    line-height: inherit;
    letter-spacing: inherit;
}
#g-page-surround {
    width: 100%;
}

ul.nav.nav-tabs.nav-stacked span {
    cursor: pointer;
}
ul.nav.nav-tabs.nav-stacked span:hover, ul.nav.nav-tabs.nav-stacked span:focus, ul.nav.nav-tabs.nav-stacked span:active {
    text-decoration: underline;
}

.logout .form-horizontal {
    margin-top: 20px;
    border: none;
    background: transparent;
    box-shadow: none;
}

#g-main-mainbody div.logout.login .page-header h1 {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.logout .form-horizontal  .control-group {
    margin-top: 20px;
}

/* Connexion candidater */
.moduletable.em-formRegistrationCenter h1 {
    margin: 27px 0 71px;
}

.moduletable.em-formRegistrationCenter .icon-user {
    display: none;
}

.moduletable.em-formRegistrationCenter .icon-lock {
    display: none;
}

.moduletable.em-formRegistrationCenter #login-form {
    width: 50%;
}

.moduletable.em-formRegistrationCenter .input-prepend .input-small, .moduletable.em-formRegistrationCenter  #login-form .input-append .input-small {
    width: 100%;
}

.moduletable.em-formRegistrationCenter #login-form    .control-group {
    margin-bottom: 20px;
}

.moduletable.em-formRegistrationCenter #login-form .add-on {
    background: transparent;
    border: none;
    height: unset;
}

.moduletable.em-formRegistrationCenter #login-form .add-on label {
    color: #565656 !important;
}

.moduletable.em-formRegistrationCenter #login-form .unstyled {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border: none;
    padding: 0.938rem 0;
}

.moduletable.em-formRegistrationCenter #login-form .unstyled li {
    border: none;
}

.moduletable.em-formRegistrationCenter #login-form .unstyled li a .icon-arrow-right {
    display: none;
}

.moduletable.em-formRegistrationCenter #login-form .control-group .input-prepend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.moduletable.em-formRegistrationCenter #login-form .control-group .input-prepend input {
    border-left: 1px solid #e0e0e5;
    max-width: 100%;
}

@media all and (max-width: 450px) {
    .form-validate.form-horizontal.well {
        width: 100%;
    }
    .view-login .form-horizontal fieldset .control-group {
        width: 100% !important;
    }

}

@media all and (max-width: 479px) {
    .view-login #g-container-main div.login {
        width: 100%;
        padding: 0px 24px 0 24px;
    }
}

@media all and (max-width: 767px) {

    .view-login .login  {
         width: 100% !important;
        padding: 80px 24px 0 24px;
        margin-top: 0px !important;
    }

    .view-login .login .page-header {
        width: 100% !important;
        padding: 0px 12px;
        margin-top: 0px;
    }

    .view-login .form-horizontal fieldset .control-group {
        width: 100% !important;
    }

    .view-login #g-page-surround {
        width: 100%;
    }

    .login form {
        width: 90% !important;
    }

    ul.nav.nav-tabs.nav-stacked {
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    ul.nav.nav-tabs.nav-stacked li {
        text-align: center;
        margin: 0px !important;
        padding: 0px !important;
    }

}

@media screen and (min-width: 768px) and (max-width: 959px) {
    .login form {
        padding-right: 8rem;
        padding-left: 4rem;
        width: 80%;
    }

    #g-container-main div.em-formRegistrationCenter, #g-container-main div.login {
        width: 65%;
        padding: 80px 24px 0px 24px !important;
    }

    ul.nav.nav-tabs.nav-stacked
    {
        width: 65%;
    }

    .view-login .login.em-formRegistrationCenter .page-header  {
        width: 75% !important;
    }

    .login form.form-validate.form-horizontal.well {
        width: 70%;
    }

}

@media all and (max-width: 1150px) {
    .form-validate.form-horizontal.well {
        width: 50%;
    }
    .em-formRegistrationCenter .form-horizontal fieldset .control-group {
        width: 100% !important;
    }
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
    .login form {
        padding-right: 10rem;
        padding-left: 5rem;
    }
}

@media all and (max-width: 1239px) {
    .form-validate.form-horizontal.well {
        width: 50%;
    }
    .view-login #g-page-surround {
        width: 100%;
    }
}

/* ICONE TITRE LOGIN */

.view-login .login.em-formRegistrationCenter .page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 32px;
}

.form-control-feedback{
    display: none !important;
}

#login_form .password-group{
    width: 100%;
}
.input-password-toggle{
    display: none  !important;
}

