a {
  -webkit-transition: color 200ms cubic-bezier(.55, .085, .68, .53);
  transition: color 200ms cubic-bezier(.55, .085, .68, .53);
  color: #482683;
  text-decoration: underline;
}

a:hover {
  color: #ee7937;
}

.g-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  min-height: 20vh;
  min-width: auto;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.g-menu-overlay {
  display: none;
  width: 0px;
  height: 0px;
  min-height: auto;
  min-width: auto;
  margin: 0px;
  padding: 0px;
  border: 0px none #000;
  background-color: transparent;
  text-align: left;
  text-transform: none;
}

.g-feature {
  position: relative;
  width: 100%;
  height: 0px;
}

.g-container-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 65vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/5e0f713da622fb430232474b_5e04d6a54c88a6740a582b50_blue-shape.png');
  background-position: 100% 100%;
  background-size: 40%;
  background-repeat: no-repeat;
}

.g-grid {
  width: 100%;
}

.custom {
  width: 150px;
  height: 100px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.span12 {
  width: 450px;
  margin-right: auto;
  margin-left: auto;
}

input {
  display: block;
  width: 100%;
  height: 48px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #2d1852;
  padding: 8px 12px;
}


#username {
  height: 48px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #2d1852;
}

#username::-webkit-input-placeholder {
  background-color: #fff;
  color: #482683;
}

#username:-ms-input-placeholder {
  background-color: #fff;
  color: #482683;
}

#username::-ms-input-placeholder {
  background-color: #fff;
  color: #482683;
}

#username::placeholder {
  background-color: #fff;
  color: #482683;
}

.validate-password {
  height: 48px;
  background-color: #fff;
  color: #482683;
}

.validate-password::-webkit-input-placeholder {
  color: #482683;
}

.validate-password:-ms-input-placeholder {
  color: #482683;
}

.validate-password::-ms-input-placeholder {
  color: #482683;
}

.validate-password::placeholder {
  color: #482683;
}

.g-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 15vh;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #482683;
}

.em-menufooter {
  margin-right: 25px;
  -webkit-transition: color 200ms cubic-bezier(.55, .085, .68, .53);
  transition: color 200ms cubic-bezier(.55, .085, .68, .53);
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  text-transform: uppercase;
}

.em-menufooter:hover {
  color: #ee7937;
}

.em-logofooter {
  display: block;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
}

.g-page-surround {
  display: block;
  width: auto;
  height: auto;
  min-height: auto;
  min-width: auto;
  margin: 0px;
  padding: 0px;
  border: 0px none transparent;
  border-radius: 0px;
  background-color: transparent;
  text-transform: none;
}

.text-span {
  color: #ee7937;
}

.text-span-2 {
  color: #ee7937;
}

.btn {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 12px;
  padding: 16px 30px;
  background-color: #482683;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color 200ms ease, -webkit-transform 200ms cubic-bezier(.55, .085, .68, .53);
  transition: background-color 200ms ease, -webkit-transform 200ms cubic-bezier(.55, .085, .68, .53);
  transition: transform 200ms cubic-bezier(.55, .085, .68, .53), background-color 200ms ease;
  transition: transform 200ms cubic-bezier(.55, .085, .68, .53), background-color 200ms ease, -webkit-transform 200ms cubic-bezier(.55, .085, .68, .53);
}

.btn:hover {
  background-color: #ee7937;
  -webkit-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
}

.gantry {
  background-color: #f5f5f5;
  font-family: Wigrum, sans-serif;
}

.form-validate {
  color: #482683;
}

.alter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 15px 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ee7937;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.em-rowfooter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 991px) {
  .g-navigation {
    min-height: auto;
    padding-top: 44px;
    padding-bottom: 44px;
  }
  .g-feature {
    height: auto;
  }
  .g-container-main {
    min-height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .g-footer {
    height: auto;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .em-menufooter {
    margin-right: 22px;
    font-size: 14px;
    line-height: 26px;
  }
}

@media (max-width: 767px) {
  .g-navigation {
    padding-bottom: 15px;
  }
  ._w-col {
    padding-top: 20px;
  }
  .em-wrappermenufooter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .em-menufooter {
    margin-right: 9px;
    margin-left: 9px;
  }
  .em-rowfooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

@media (max-width: 479px) {
  .g-container-main {
    display: block;
    padding-top: 56px;
    padding-bottom: 80px;
  }
  .g-grid {
    width: 100%;
  }
  .span12 {
    width: 90%;
  }
  .em-wrappermenufooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .alter {
    width: 90%;
  }
  .em-rowfooter {
    width: 100%;
  }
}

@font-face {
  font-family: 'Ariatextg1';
  src: url('../fonts/AriaTextG1-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Ariatextg1';
  src: url('../fonts/AriaTextG1-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Ariatextg1';
  src: url('../fonts/AriaTextG1.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Ariatextg1';
  src: url('../fonts/AriaTextG1-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Ariatextg1';
  src: url('../fonts/AriaTextG1-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Ariatextg1';
  src: url('../fonts/AriaTextG1-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Wigrum';
  src: url('../fonts/Wigrum-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Wigrum';
  src: url('../fonts/Wigrum-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Wigrum';
  src: url('../fonts/Wigrum-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Wigrum';
  src: url('../fonts/Wigrum-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Wigrum';
  src: url('../fonts/Wigrum-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Wigrum';
  src: url('../fonts/Wigrum-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Wigrum';
  src: url('../fonts/Wigrum-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Wigrum';
  src: url('../fonts/Wigrum-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Wigrum';
  src: url('../fonts/Wigrum-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Wigrum';
  src: url('../fonts/Wigrum-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}