button.btn-primary{
    background: #e03c32;
    background-color: #e03c32 !important;
    border: 1px solid #e03c32 !important;
    border-radius: 0!important;
    padding: 8px 12px!important;
}
button.btn-primary:hover{
    background-color: transparent !important;
    color: #e03c32 !important;
    outline: none;
}
a.btn{
    background: #29d4ff;
    background-color: #29d4ff !important;
    border: 1px solid #29d4ff !important;
    border-radius: 0!important;
    padding: 8px 12px!important;
}
a.btn:hover{
    background-color: transparent !important;
    color: #29d4ff !important;
    outline: none;
}