button.btn-primary{
    background: #e03c32;
    background-color: #e03c32;
    border: 1px solid #e03c32;
    border-radius: 4px;
    padding: 8px 12px!important;
}
button.btn-primary:hover{
    background-color: transparent;
    color: #e03c32;
    outline: none;
}
a.btn{
    background: #29d4ff;
    background-color: #29d4ff;
    border: 1px solid #29d4ff;
    border-radius: 4px;
    padding: 8px 12px;
}
a.btn:hover{
    background-color: transparent;
    color: #29d4ff;
    outline: none;
}

.form-horizontal .control-group .control-label {
    text-align: left;
}

form#member-profile.well {
    background: #fff;
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
}

form#member-profile  fieldset .em-heading-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1em;
}

form#member-profile .icon-title.profile {
    background-image: url('../../../../../../media/com_emundus/images/gear.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

form#member-profile fieldset:nth-child(2) .icon-title.profile {
    background-image: url('../../../../../../media/com_emundus/images/user.svg');
    background-size: contain;
}

form#member-profile .icon-title {
    margin-right: 10px;
    width: 42px;
    height: 40px;
    background-position: 0 0;
    background-size: contain;
    -webkit-filter: brightness(.5);
    filter: brightness(.5);
    fill: grey;
}

#member-profile > .control-group .controls {
    margin-left: 0px;
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

form#member-profile.well legend {
    color: #1b1f3c;
    font-weight: 700;
    margin: 0px !important;
}

form#member-profile.form-validate.form-horizontal.well input {
    border-radius: 4px;
}
form#member-profile.form-validate.form-horizontal.well button.btn.btn-primary.validate {
    text-transform: capitalize;
    margin-right: 10px !important;
    border-radius: 4px;
}
form#member-profile.form-validate.form-horizontal.well a.btn {
    font-weight: 300;
}
form#member-profile.form-validate.form-horizontal.well fieldset:nth-child(2) {
    margin-top: 20px;
}
form#member-profile.form-validate.form-horizontal.well label {
    font-size: 14px;
}

form#member-profile.form-validate.form-horizontal.well span.star {
    display: none;
}
form#member-profile.form-validate.form-horizontal.well  label.required::after{
    content: "\f005";
    color: #c30505;
    padding-left: 2px;
    top: -10px;
    position: relative;
    font-family: FontAwesome;
    font-size: 5px;
}

@media all and (max-width: 767px) {
    form#member-profile {
        padding: 2rem 3rem 1rem 3rem;
    }

    .view-profile #member-profile > .control-group .controls {
        flex-direction: column;
    }

    .view-profile form#member-profile.form-validate.form-horizontal.well button.btn.btn-primary.validate {
        margin-right: 0px !important;
    }

}

@media all and (min-width: 768px) and (max-width: 959px) {
    .view-profile .form-horizontal .controls {
        margin-left: 0px;
    }
}
