div nav a[data-v-d36c9736]:hover {
  cursor: pointer;
}
.action-submenu[data-v-d36c9736] {
  padding: 7px !important;
  background-color: transparent;
  transition: background-color 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  font-size: 12px;
  color: black;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}
.action-submenu[data-v-d36c9736]:hover {
  color: #16AFE1;
}
.list-actions-menu[data-v-1f8d38a3] {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.list-actions-menu .cta-block[data-v-1f8d38a3]:hover {
  color: #298721;
}
.list-actions-menu#list-row#action-menu[data-v-1f8d38a3] {
  margin: 0;
  transform: rotate(90deg);
}
.material-icons[data-v-1f8d38a3], .material-icons-outlined[data-v-1f8d38a3] {
  font-size: 24px !important;
}
.list-row span.tag[data-v-513a62da] {
  margin: 0 8px 8px 0;
  padding: 4px 8px;
  border-radius: 4px;
  color: #080C12;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #F2F2F3;
  box-shadow: 0px 1px 1px rgba(5, 47, 55, 0.07), 0px 2px 1px rgba(5, 47, 55, 0.06), 0px 1px 3px rgba(5, 47, 55, 0.1);
}
.list-row span.tag.done[data-v-513a62da] {
  background: #DFF5E9;
}
.list-row span.tag.todo[data-v-513a62da] {
  color: black;
  background: #FBABAB;
}
.list-row span.tag.inprogress[data-v-513a62da] {
  background: #FDD46A;
  color: black;
}
.list-row span.tag.default[data-v-513a62da] {
  background: #F2F2F3;
  colo: black;
}
.list-row span.list-td-label[data-v-513a62da],
.list-row span.list-td-subject[data-v-513a62da] {
  cursor: pointer;
  transition: all 0.3s;
}
.list-row span.list-td-label[data-v-513a62da]:hover,
.list-row span.list-td-subject[data-v-513a62da]:hover {
  color: #20835F;
}
tr.list-row td[data-v-513a62da] {
  border-left: 0;
  border-right: 0;
  font-size: 12px;
  padding: 0.85rem 0.5rem;
}
.list-row[data-v-513a62da]:hover {
  background: #F2F2F3;
}
.list-vue-select[data-v-e12614b0], .list-vue-input[data-v-e12614b0] {
  height: 35px;
}
.list-vue-select[data-v-e12614b0] {
  width: 206px !important;
}
input.withSearchIco[data-v-264bddce] {
  height: 35px !important;
  display: block;
  padding: 9px 4px 9px 45px !important;
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
.reload-icons[data-v-264bddce] {
  font-size: 30px !important;
  cursor: -webkit-grab;
  cursor: grab;
  transform: rotate(90deg);
}
tr.list-row td[data-v-264bddce] {
  border-left: 0;
  border-right: 0;
  font-size: 12px;
  padding: 0.85rem 0.5rem;
}
table[data-v-264bddce] {
  border: 0;
}
table.loading[data-v-264bddce] {
  visibility: hidden;
}
table tr th[data-v-264bddce]:first-of-type {
  width: 39px;
}
table tr th:first-of-type input[data-v-264bddce] {
  margin-right: 0px;
}
table tr[data-v-264bddce],
table th[data-v-264bddce] {
  height: 49px;
  background: transparent;
  background-color: transparent;
}
table td[data-v-264bddce],
table th[data-v-264bddce] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
table th.desc[data-v-264bddce],
table td.desc[data-v-264bddce] {
  max-width: 300px;
  width: initial;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}
table th.status[data-v-264bddce],
table td.status[data-v-264bddce] {
  min-width: 100px;
  white-space: nowrap;
}
table thead tr th[data-v-264bddce] {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  color: black;
}
table thead tr th .material-icons[data-v-264bddce] {
  transform: translateY(3px);
}
.list-table-head[data-v-264bddce] {
  background-color: white !important;
}
.list-row.done[data-v-264bddce] {
  background-color: #32EE5F !important;
  color: black;
  opacity: 100%;
}
.list-row.todo[data-v-264bddce] {
  color: black;
  background-color: #FBABAB !important;
}
.list-row.inprogress[data-v-264bddce] {
  background: #FFFBDB;
}
:root {
  --primary-color: #16afe1;
  --secondary-color: #12db42;
  --grey-color: #5e646e;
  --grey-bg-color: #f2f2f3;
  --night-blue: #353544;
  --success-bg-color: #dff5e9;
  --success-color: #106949;
  --warning-bg-color: #fffbdb;
  --warning-color: #805100;
  --error-bg-color: #ffeeee;
  --error-color: #c31924;
  --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  --border-color: #e3e5e8;
  --text-color: #5e646e;
  --text-light-color: #f2f2f3;
  --disabled-color: #c4c4c4;
}
.material-icons, .material-icons-outlined {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 18px !important;
  color: var(--grey-color);
}
.btn-icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-icon-text:hover {
  background: var(--grey-bg-color);
}
.btn-primary-vue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--text-light-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-primary-vue:hover {
  color: var(--primary-color);
  background-color: var(--text-light-color);
}
.vue-em-loader {
  position: absolute !important;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 0 9999px #cecece85;
          box-shadow: 0 0 0 9999px #cecece85;
  background: #cecece85;
  width: 70px !important;
  height: 70px !important;
}
body ::-webkit-scrollbar-track {
  background-color: transparent !important;
  background: transparent;
}
.vue-swatches__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  border: solid 2px #cecece;
  background: #cecece;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -8em;
  z-index: 999;
}
.vue-swatches__wrapper::after{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #cecece;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0px;
}
.vue-swatches__trigger {
  cursor: pointer;
}
.vue-swatches__swatch {
  width: 25px !important;
  height: 25px !important;
  z-index: 9999;
  position: relative;
}
.vue-swatches__swatch:hover{
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.vue-swatches__container{
  background: transparent !important;
  margin-bottom: unset !important;
  padding: unset !important;
}
.vue-swatches__check__wrapper{
  display: none;
}
.vue-notification-group{
  margin: 30px;
}
.vue-notification-template{
  background: #E3E5E8 !important;
  padding: 16px;
  border-radius: 4px;
}



#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;
}
#g-container-main .g-container {
    width: 90%;
}


