<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset label="COM_EMUNDUS_GENERAL" name="general" description="COM_EMUNDUS_GENERAL_DESC">
		<field name="logs" label="LOGS_ACTIVE" type="radio" default="0" description="LOGS_ACTIVE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="emundus_email" type="text" label="COM_EMUNDUS_EMAIL" default="support@emundus.fr" description="COM_EMUNDUS_EMAIL_DESC" size="60"/>

		<!-- Some action IDs are not in the table :
			-1 : user registration
			-2 : user login
		-->
		<field name="log_actions" label="LOG_ACTIONS" default="1,4,5,6,7,8,9,10,11,12,13,14,15,16,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37" type="field" description="LOG_ACTIONS_DESC"/>
		<field name="log_actions_exclude" label="LOG_ACTIONS_EXCLUDE" type="field" description="LOG_ACTIONS_EXCLUDE_DESC"/>
		<field name="log_actions_exclude_user" label="LOG_ACTIONS_EXCLUDE_USER" default="62" type="field" description="LOG_ACTIONS_EXCLUDE_USER_DESC"/>
		<field name="log_forms_update" type="radio" default="0" label="COM_EMUNDUS_LOG_FORMS_UPDATE" description="COM_EMUNDUS_LOG_FORMS_UPDATE_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
		<field showon="log_forms_update:1"
			   name="log_forms_update_forms"
			   label="COM_EMUNDUS_LOG_FORMS_UPDATE_FORMS"
			   description="COM_EMUNDUS_LOG_FORMS_UPDATE_FORMS_DESC"
			   type="sql"
			   query="SELECT id, CONCAT(id, ' - ', label) as label FROM jos_fabrik_forms WHERE published = 1"
			   key_field="id"
			   value_field="label"
			   multiple="true"
			   default=""
		/>
		<field name="com_emundus_show_tags_category" menu="hide" type="list" default="0" label="COM_EMUNDUS_SHOW_TAGS_CATEGORY" description="COM_EMUNDUS_SHOW_TAGS_CATEGORY_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="log_show_timeformat" type="list" default="0" label="COM_EMUNDUS_LOG_SHOW_TIMEFORMAT" description="COM_EMUNDUS_LOG_SHOW_TIMEFORMAT_DESC">
			<option value="0">UTC_FORMAT</option>
			<option value="1">LOCAL_FORMAT</option>
		</field>

		<field name="log_show_timeorder" type="list" default="DESC" label="COM_EMUNDUS_LOG_SHOW_TIMEORDER" description="COM_EMUNDUS_LOG_SHOW_TIMEORDER_DESC">
			<option value="ASC">ASC</option>
			<option value="DESC">DESC</option>
		</field>

		<field name="display_other_user_editing_same_file" type="list" default="0" label="DISPLAY_OTHER_USER_EDITING_SAME_FILE" description="DISPLAY_OTHER_USER_EDITING_SAME_FILE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="alert_editing_time" type="number" label="DISPLAY_OTHER_USER_EDITING_TIME" default="2"></field>

		<field name="block_user" label="BLOCK_USER" type="radio" default="1" description="BLOCK_USER_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="reveal_password" label="COM_EMUNDUS_REVEAL_PASSWORD" type="list" default="0" description="">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="allow_pinned_campaign" label="COM_EMUNDUS_ALLOW_PINNED_CAMPAIGN" type="list" default="0" description="">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
				name="spacer0"
				type="spacer"
				hr="true"
		/>

		<field name="login_links" label="COM_EMUNDUS_LOGIN_LINKS" type="note" default="0" description=""></field>

		<field name="display_registration_link" type="radio" default="1" label="COM_EMUNDUS_LOGIN_DISPLAY_REGISTRATION_LINK">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="registration_link" type="text" default="" label="COM_EMUNDUS_LOGIN_REGISTRATION_LINK"></field>

		<field name="display_forgotten_password_link" type="radio" default="1" label="COM_EMUNDUS_LOGIN_DISPLAY_FORGOTTEN_PASSWORD_LINK">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="forgotten_password_link" type="text" default="" label="COM_EMUNDUS_LOGIN_FORGOTTEN_PASSWORD_LINK"></field>
	</fieldset>
	<fieldset label="COM_EMUNDUS_EVALUATORS" name="evaluators" description="COM_EMUNDUS_EVALUATORS_DESC">
		<field name="multi_eval" type="radio" default="0" label="ALLOW_MULTIPLE_EVALUATIONS" description="ALLOW_MULTIPLE_EVALUATIONS_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
		<field name="evaluators_can_see" menu="hide" type="list" default="0" label="COM_EMUNDUS_EVALUATORS_CAN_SEE" description="COM_EMUNDUS_EVALUATORS_CAN_SEE_DESC">
			<option value="0">COM_EMUNDUS_NONE</option>
			<option value="1">COM_EMUNDUS_AFFECTED</option>
			<option value="2">COM_EMUNDUS_LINKED</option>
			<option value="3">COM_EMUNDUS_AFFECTED_AND_LINKED</option>
			<option value="4">COM_EMUNDUS_ALL</option>
		</field>
		<field name="evaluators_can_evaluate" menu="hide" type="list" default="0" label="COM_EMUNDUS_EVALUATORS_CAN_EVALUATE" description="COM_EMUNDUS_EVALUATORS_CAN_EVALUATE_DESC">
			<option value="0">COM_EMUNDUS_NONE</option>
			<option value="1">COM_EMUNDUS_AFFECTED</option>
			<option value="2">COM_EMUNDUS_LINKED</option>
			<option value="3">COM_EMUNDUS_AFFECTED_AND_LINKED</option>
			<option value="4">COM_EMUNDUS_ALL</option>
		</field>
		<field name="evaluators_can_see_other_eval" menu="hide" type="list" default="0" label="COM_EMUNDUS_EVALUATORS_CAN_SEE_OTHER_EVALUATION" description="COM_EMUNDUS_EVALUATORS_CAN_SEE_OTHER_EVALUATION_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="can_copy_evaluations" menu="hide" type="list" default="0" label="COM_EMUNDUS_CAN_COPY_EVALUATIONS" description="COM_EMUNDUS_CAN_COPY_EVALUATIONS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="default_actions" type="textarea" default='{
			"1":{"id":1, "c":0, "r":1, "u":0, "d":0},
			"4":{"id":4, "c":1, "r":1, "u":0, "d":0},
			"5":{"id":5, "c":1, "r":1, "u":1, "d":0},
			"6":{"id":6, "c":1, "r":0, "u":0, "d":0},
			"7":{"id":7, "c":1, "r":0, "u":0, "d":0},
			"8":{"id":8, "c":1, "r":0, "u":0, "d":0},
			"9":{"id":9, "c":0, "r":0, "u":0, "d":0},
			"10":{"id":10, "c":1, "r":1, "u":1, "d":0},
			"13":{"id":10, "c":0, "r":1, "u":0, "d":0},
			"14":{"id":14, "c":1, "r":1, "u":1, "d":0}
			}' label="COM_EMUNDUS_EVALUATORS_DEFAULT_ACTIONS" description="COM_EMUNDUS_EVALUATORS_DEFAULT_ACTIONS_DESC" />
		<field name="hide_default_actions" menu="hide" type="list" default="0" label="COM_EMUNDUS_EVALUATORS_HIDE_DEFAULT_ACTIONS">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_related_files" type="radio" default="0" label="COM_EMUNDUS_EVALUATORS_SHOW_RELATED_FILES" description="COM_EMUNDUS_EVALUATORS_SHOW_RELATED_FILES_DESC">
			<option value="0">JNo</option>
			<option value="1">JYes</option>
		</field>
	</fieldset>
	<fieldset label="COM_EMUNDUS_APPLICANTS" name="applicants" description="COM_EMUNDUS_APPLICANTS_DESC">
		<field name="id_applicants" type="text" size="50" default="" label="ID_APPLICANTS" description="ID_APPLICANTS_DESC" />
		<field name="applicant_files_path" type="text" size="50" default="images/emundus/files/" label="APPLICANT_FILES_PATH" description="APPLICANT_FILES_PATH_DESC" />
		<field name="applicant_can_renew" menu="hide" type="list" default="1" label="COM_EMUNDUS_APPLICANT_CAN_RENEW" description="COM_EMUNDUS_APPLICANT_CAN_RENEW_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
			<option value="2">COM_EMUNDUS_APPLICANT_CAN_RENEW_CAMPAIGN</option>
			<option value="3">COM_EMUNDUS_APPLICANT_CAN_RENEW_YEAR</option>
		</field>
		<field name="id_profiles" type="text" size="50" default="" label="COM_EMUNDUS_ID_PROFILES" description="COM_EMUNDUS_ID_PROFILES_DESC" />
		<field name="can_edit_until_deadline" menu="hide" type="list" default="1" label="COM_EMUNDUS_CAN_EDIT_UNTIL_DEADLINE" description="COM_EMUNDUS_CAN_EDIT_UNTIL_DEADLINE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="can_edit_after_deadline" menu="hide" type="list" default="0" label="COM_EMUNDUS_CAN_EDIT_AFTER_DEADLINE" description="COM_EMUNDUS_CAN_EDIT_AFTER_DEADLINE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="copy_application_form" menu="hide" type="list" default="0" label="COM_EMUNDUS_COPY_APPLICATION_FORM" description="COM_EMUNDUS_COPY_APPLICATION_FORM_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="copy_exclude_forms"
			   label="COM_EMUNDUS_COPY_APPLICATION_FORM_EXCLUDE"
			   description="COM_EMUNDUS_COPY_APPLICATION_FORM_EXCLUDE_DESC"
			   showon="copy_application_form:1"
			   menu="hide"
			   type="sql"
			   query="SELECT id, label FROM jos_fabrik_forms WHERE published = 1"
			   key_field="id"
			   value_field="label"
			   multiple="true"
			   default=""
		/>
		<field name="display_poll" menu="hide" type="list" default="0" label="COM_EMUNDUS_DISPLAY_POLL" description="COM_EMUNDUS_DISPLAY_POLL_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="display_poll_id" type="text" size="50" default="" label="COM_EMUNDUS_DISPLAY_POLL_ID" description="COM_EMUNDUS_DISPLAY_POLL_ID_DESC" />
		<field name="can_submit_encrypted" type="radio" default="1" label="COM_EMUNDUS_ENCRYPTED_PDF" description="COM_EMUNDUS_ENCRYPTED_PDF_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="status_for_send" type="text" default="0" label="COM_EMUNDUS_SEND_APPLICATION_STATUS_FOR_SEND" description="COM_EMUNDUS_SEND_APPLICATION_STATUS_FOR_SEND_DESC" />
		<field name="status_for_delete" type="text" default="" label="COM_EMUNDUS_SEND_APPLICATION_STATUS_FOR_DELETE" description="COM_EMUNDUS_SEND_APPLICATION_STATUS_FOR_DELETE_DESC" />
		<field name="allow_anonym_files" type="radio" default="0" label="COM_EMUNDUS_ALLOW_ANONYM_FILES" description="COM_EMUNDUS_ALLOW_ANONYM_FILES_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset label="COM_EMUNDUS_FORM_BUILDER" name="form_builder" description="COM_EMUNDUS_FORM_BUILDER_DESC">
		<field
				name="form_builder_page_creation_modules"
				label="FORM_BUIDER_PAGE_CREATION_MODULES"
				description="FORM_BUIDER_PAGE_CREATION_MODULES_DESC"
				type="sql"
				query="SELECT id, title FROM jos_modules WHERE published = 1"
				key_field="id"
				value_field="title"
				multiple="true"
				default="[93,102,103,104,168,170]"
		></field>
	</fieldset>
	<fieldset label="COM_EMUNDUS_PAYMENT" name="payment" description="COM_EMUNDUS_PAYMENT_DESC">
		<field name="application_fee" menu="hide" type="list" default="0" label="COM_EMUNDUS_APPLICATION_FEES" description="COM_EMUNDUS_APPLICATION_FEES_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="accept_other_payments" menu="hide" type="list" default="0" label="COM_EMUNDUS_ACCEPT_OTHER_PAYMENTS" description="COM_EMUNDUS_ACCEPT_OTHER_PAYMENTS_DESC">
			<option value="0">JNO</option>
			<option value="1">CREATED_PAYMENTS</option>
			<option value="3">PENDING_PAYMENTS</option>
			<option value="4">PENDING_AND_CREATED_PAYMENTS</option>
			<option value="2">COM_EMUNDUS_ACCEPT_OTHER_PAYMENTS_ALLOW_ALL</option>
		</field>
		<field name="application_payment_status" type="text" default="0" label="COM_EMUNDUS_APPLICATION_PAYMENT_STATUS" description="COM_EMUNDUS_APPLICATION_PAYMENT_STATUS_DESC" />
		<field name="status_after_payment" menu="hide" type="text" default="1" label="COM_EMUNDUS_STATUS_AFTER_PAYMENT" description="COM_EMUNDUS_STATUS_AFTER_PAYMENT_DESC" />

		<field name="redirect_after_payment" menu="hide" type="list" default="0" label="COM_EMUNDUS_REDIRECT_AFTER_PAYMENT" description="COM_EMUNDUS_REDIRECT_AFTER_PAYMENT_DESC" >
			<option value="0">COM_EMUNDUS_CHECKLIST_PAGE</option>
			<option value="1">COM_EMUNDUS_CONFIRMATION_PAGE</option>
			<option value="2">COM_EMUNDUS_HOMEPAGE</option>
			<option value="3">COM_EMUNDUS_CANDIDATE_FIRST_PAGE</option>
		</field>

		<field name="scholarship_document_id" menu="hide" type="text" label="COM_EMUNDUS_SCHOLARSHIP_DOCUMENT_ID" description="COM_EMUNDUS_SCHOLARSHIP_DOCUMENT_ID_DESC"/>
		<field name="pay_scholarship" menu="hide" type="list" default="0" label="COM_EMUNDUS_PAY_SCHOLARSHIP" description="COM_EMUNDUS_PAY_SCHOLARSHIP_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="scholarship_product" menu="hide" type="text" default="0" label="COM_EMUNDUS_SCHOLARSHIP_PRODUCT" description="COM_EMUNDUS_SCHOLARSHIP_PRODUCT_DESC" />
		<field name="application_payment" menu="hide" type="list" default="user" label="COM_EMUNDUS_APPLICATION_PAYMENT" description="COM_EMUNDUS_APPLICATION_PAYMENT_DESC">
			<option value="user">USER</option>
			<option value="campaign">CAMPAIGN</option>
			<option value="fnum">FNUM</option>
			<option value="status">STATUS</option>
		</field>

		<field name="hikashop_session" menu="hide" type="list" default="0" label="COM_EMUNDUS_ACTIVATE_HIKASHOP_SESSION" description="COM_EMUNDUS_ACTIVATE_HIKASHOP_SESSION_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
				name="spacer1"
				type="spacer"
				hr="true"
		/>
	</fieldset>

	<fieldset label="COM_EMUNDUS_EXPORTS" name="exports" description="COM_EMUNDUS_EXPORTS_DESC">
		<field name="export_application_pdf" type="radio" default="0" label="COM_EMUNDUS_EXPORT_APPLICATION" description="COM_EMUNDUS_EXPORT_APPLICATION_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="export_application_pdf_breaker" type="radio" default="0" label="COM_EMUNDUS_EXPORT_APPLICATION_BREAKER" description="COM_EMUNDUS_EXPORT_APPLICATION__BREAKER_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="show_empty_fields" type="radio" default="1" label="COM_EMUNDUS_SHOW_EMPTY_FIELDS" description="COM_EMUNDUS_SHOW_EMPTY_FIELDS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="export_application_pdf_title_color" type="text" default="#ee1c25" label="COM_EMUNDUS_EXPORT_APPLICATION_TITLE_COLOR" description="COM_EMUNDUS_EXPORT_APPLICATION_TITLE_COLOR_DESC"/>

		<filed name="show_empty_fields" type="radio" default="1" label="COM_EMUNDUS_SHOW_EMPTY_FIELDS" description="COM_EMUNDUS_SHOW_EMPTY_FIELDS_DESC"/>
		<field name="export_path" type="text" size="6" label="COM_EMUNDUS_EXPORT_PATH" description="COM_EMUNDUS_EXPORT_PATH_DESC"/>
		<field name="application_form_order" type="text" size="6" label="COM_EMUNDUS_APPLICATION_FORM_ORDER" description="COM_EMUNDUS_APPLICATION_FORM_ORDER_DESC"/>
		<field name="attachment_order" type="text" size="6" label="COM_EMUNDUS_CANDIDACY_FORM_ORDER" description="COM_EMUNDUS_CANDIDACY_FORM_ORDER_DESC"/>

		<field name="export_replace_doc" type="radio" default="0" label="COM_EMUNDUS_EXPORT_REPLACE_DOC" description="COM_EMUNDUS_EXPORT_REPLACE_DOC_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
				name="spacer1"
				type="spacer"
				hr="true"
		/>
		<field name="note22" type="note" class="alert alert-info" label="EMUNDUS_DOCUMENT_NAMES"/>
		<field name="application_form_name" type="text" default="application_form_pdf" size="6" label="COM_EMUNDUS_CANDIDACY_FILE_NAME" description="COM_EMUNDUS_CANDIDACY_FILE_NAME_DESC"/>
		<field name="applicant_file_name" type="text" default="" size="6" label="COM_EMUNDUS_APPLICANT_FILE_NAME" description="COM_EMUNDUS_APPLICANT_FILE_NAME_DESC"/>
		<field name="generated_doc_name" type="text" default="" label="COM_EMUNDUS_GENERATED_DOC_NAME" description="COM_EMUNDUS_GENERATED_DOC_NAME_DESC"/>
		<field name="application_admission_name" type="text" default="" size="6" label="COM_EMUNDUS_CANDIDACY_ADMISSION_NAME" description="COM_EMUNDUS_CANDIDACY_ADMISSION_NAME_DESC"/>
	</fieldset>
	<fieldset label="COM_EMUNDUS_EMAIL_REMINDER" name="email" description="COM_EMUNDUS_EMAIL_REMINDER_DESC">
		<field name="nb_email_per_batch" type="text" size="3" default="50" label="NB_EMAIL_PER_BATCH" description="NB_EMAIL_PER_BATCH_DESC" />
		<field name="time_sleep_per_batch" type="text" size="6" default="1000" label="TIME_SLEEP_PER_BATCH" description="TIME_SLEEP_PER_BATCH_DESC" />
		<field
				name="spacer1"
				type="spacer"
				hr="true"
		/>
		<field name="expert_fabrikformid" type="text" default="110" label="COM_EMUNDUS_EXPERT_FIELD" description="COM_EMUNDUS_EXPERT_FIELD_DESC" />
		<field name="expert_document_id" type="text" default="36" label="COM_EMUNDUS_EXPERT_DOCUMENT_FIELD" description="COM_EMUNDUS_EXPERT_DOCUMENT_FIELD_DESC" />
		<field name="default_email_tmpl" type="text" default="expert" label="COM_EMUNDUS_EXPERT_DEFAULT_EMAIL_TMPL_FIELD" description="COM_EMUNDUS_EXPERT_DEFAULT_EMAIL_TMPL_FIELD_DESC" />
	</fieldset>
	<fieldset label="COM_EMUNDUS_IMPORTS" name="imports" description="COM_EMUNDUS_IMPORTS_DESC">
		<field name="ldapFiltersImport" type="text" required="false" label="COM_EMUNDUS_LDAP_FILTERS_IMPORT_LABEL" description="COM_EMUNDUS_LDAP_FILTERS_IMPORT_DESC" />
	</fieldset>

	<fieldset label="COM_EMUNDUS_OFFERS" name="offers" description="COM_EMUNDUS_OFFERS_DESC">
		<field name="fabrik_elements_title" type="text" required="false" label="COM_EMUNDUS_OFFERS_PDF_TITLE_LABEL" description="COM_EMUNDUS_OFFERS_PDF_TITLE_DESC" class="inputbox" default="2113" />
		<field name="fabrik_elements_pdf" type="text" required="false" label="COM_EMUNDUS_OFFERS_PDF_ELEMENTS_LABEL" description="COM_EMUNDUS_OFFERS_PDF_ELEMENTS_DESC" class="inputbox" default="2111, 2112, 2114, 2117, 2133, 2119, 2120, 2121, 2123, 2124, 2125, 2126, 2127, 2116, 2118, 2122" ForcedDisplay="value"/>
		<field name="fabrik_elements_html" type="text" required="false" label="COM_EMUNDUS_OFFERS_HTML_ELEMENTS_LABEL" description="COM_EMUNDUS_OFFERS_HTML_ELEMENTS_DESC" class="inputbox" default="2111, 2113, 2134, 2135, 2112, 2116, 2114, 2117, 2128, 2121, 2133, 2124, 2125, 2126"/>
		<field name="category_note" type="text" required="false" label="COM_EMUNDUS_OFFERS_CATEGORY_NOTE_LABEL" description="COM_EMUNDUS_OFFERS_CATEGORY_NOTE_DESC" class="inputbox" default="emplois-su"/>
		<field name="program_code" type="text" required="false" label="COM_EMUNDUS_OFFERS_PROGRAM_CODE_LABEL" description="COM_EMUNDUS_OFFERS_PROGRAM_CODE_DESC" class="inputbox" default="utc-dfp-dri"/>
		<field name="validation" menu="hide" type="list" default="0" label="COM_EMUNDUS_OFFERS_VALIDATION_LABEL" description="COM_EMUNDUS_OFFERS_VALIDATION_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>

	<fieldset label="COM_EMUNDUS_CALENDAR" name="calendar" description="COM_EMUNDUS_CALENDAR_DESC">
		<field name="useGoogle" menu="hide" type="list" default="0" label="COM_EMUNDUS_USE_GOOGLE" description="COM_EMUNDUS_USE_GOOGLE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="clientId" type="text" required="false" label="COM_EMUNDUS_CLIENTID_GOOGLE_LABEL" description="COM_EMUNDUS_CLIENTID_GOOGLE_DESC" class="inputbox" default="" ForcedDisplay="value"/>
		<field name="clientSecret" type="text" required="false" label="COM_EMUNDUS_CLIENTSECRET_GOOGLE_LABEL" description="COM_EMUNDUS_CLIENTSECRET_GOOGLE_DESC" class="inputbox" default=""/>
		<field name="refreshToken" type="text" required="false" label="COM_EMUNDUS_REFRESHTOKEN_GOOGLE_LABEL" description="COM_EMUNDUS_REFRESHTOKEN_GOOGLE_DESC" class="inputbox" default=""/>
		<field name="refreshToken_url" type="note" description="&lt;a href=&quot;/index.php?option=com_emundus&amp;controller=calendar&amp;task=authenticateclient&quot; target=&quot;_blank&quot;&gt;New Refresh Token	&lt;/a&gt;" />

		<field name="parentCalId" type="text" required="false" label="COM_EMUNDUS_PARENTCAL_LABEL" description="COM_EMUNDUS_PARENTCAL_DESC" class="inputbox" default="" />
		<field name="mailRecipients" type="text" required="false" label="COM_EMUNDUS_MAILRECIPIENTS_LABEL" description="COM_EMUNDUS_MAILRECIPIENTS_DESC" class="inputbox" default="5" />
		<field name="bookedPrefix" type="text" required="false" label="COM_EMUNDUS_BOOKEDPREFIX_LABEL" description="COM_EMUNDUS_BOOKEDPREFIX_DESC" class="inputbox" default="BOOKED" />
	</fieldset>

	<fieldset label="COM_EMUNDUS_GOOGLE_MAPS" name="maps" description="COM_EMUNDUS_GOOGLE_MAPS_DESC">
		<field name="GoogleMaps"
			   type="text"
			   class="input-xlarge"
			   size="40"
			   label="GOOGLE_MAPS_API"
			   description="GOOGLE_MAPS_API_DESC"
		/>
	</fieldset>
	<fieldset name="users" label="COM_EMUNDUS_USERS_LABEL" description="COM_EMUNDUS_USERS_DESC">
		<field name="showUniversities" type="list" menu="hide" default="1" label="COM_EMUNDUS_SHOW_UNIVERSITIES" description="COM_EMUNDUS_SHOW_UNIVERSITIES_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="showNewsletter" type="list" menu="hide" default="1" label="COM_EMUNDUS_SHOW_NEWSLETTER" description="COM_EMUNDUS_SHOW_NEWSLETTER_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="showJoomlagroups" type="list" menu="hide" default="0" label="COM_EMUNDUS_SHOW_JGROUPS" description="COM_EMUNDUS_SHOW_JGROUPS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="ldapFilters" type="text" required="false" label="COM_EMUNDUS_LDAP_FILTERS_LABEL" description="COM_EMUNDUS_LDAP_FILTERS_DESC" />
		<field name="ldapElements" type="text" required="false" label="COM_EMUNDUS_LDAP_ELEMENTS_LABEL" description="COM_EMUNDUS_LDAP_ELEMENTS_DESC" default="uid, mail, givenName, sn, telephoneNumber" />
		<field name="logUserEmail" type="list" menu="hide" default="0" label="COM_EMUNDUS_LOG_USER_EMAIL" description="COM_EMUNDUS_LOG_USER_EMAIL_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="allowed_non_applicant_profiles" type="text" default="" label="COM_EMUNDUS_ALLOWED_NON_APPLICANT_PROFILES" description="COM_EMUNDUS_ALLOWED_NON_APPLICANT_PROFILES_DESC" />
		<field name="all_rights_group" type="number" default="1" label="COM_EMUNDUS_ALL_RIGHTS_GROUP" description="COM_EMUNDUS_ALL_RIGHTS_GROUP_DESC" />
	</fieldset>
	<fieldset label="COM_EMUNDUS_INTEGRATION" name="ametys" description="COM_EMUNDUS_INTEGRATION_DESC">

		<field name="callback_whitelist_ip" type="text" default="" label="COM_EMUNDUS_INTEGRATION_WHITELIST_IP" description="COM_EMUNDUS_INTEGRATION_WHITELIST_IP_DESC" />

		<field name="headerCheck" type="list" menu="hide" default="0" label="COM_EMUNDUS_HEADER_CHECK" description="COM_EMUNDUS_HEADER_CHECK_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
				name="integration_gotenberg"
				type="note"
				label="COM_EMUNDUS_GOTENBERG_DESC"
		/>
		<field name="gotenberg_activation" type="list" menu="hide" default="0" label="COM_EMUNDUS_GOTENBERG_ACTIVATION" description="COM_EMUNDUS_GOTENBERG_ACTIVATION_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="gotenberg_merge_activation" type="list" menu="hide" default="0" label="COM_EMUNDUS_GOTENBERG_MERGE_ACTIVATION" description="COM_EMUNDUS_GOTENBERG_MERGE_ACTIVATION_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="gotenberg_url" type="text" default="http://localhost:3000" label="COM_EMUNDUS_GOTENBERG_URL" description="COM_EMUNDUS_GOTENBERG_URL_DESC" />

		<field name="gotenberg_ssl" type="radio" default="1" label="COM_EMUNDUS_GOTENBERG_SSL" description="COM_EMUNDUS_GOTENBERG_SSL_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
				name="spacer4"
				type="spacer"
				hr="true"
		/>
		<field
				name="integration_addpipe"
				type="note"
				label="COM_EMUNDUS_ADDPIPE_DESC"
		/>
		<field name="addpipe_activation" type="list" menu="hide" default="0" label="COM_EMUNDUS_ADDPIPE_ACTIVATION" description="COM_EMUNDUS_ADDPIPE_ACTIVATION_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="addpipe_showmenu" type="list" menu="hide" default="1" label="COM_EMUNDUS_ADDPIPE_SHOWMENU" description="COM_EMUNDUS_ADDPIPE_SHOWMENU_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="addpipe_asv" type="list" menu="hide" default="1" label="COM_EMUNDUS_ADDPIPE_ASV" description="COM_EMUNDUS_ADDPIPE_ASV_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="addpipe_dup" type="list" menu="hide" default="1" label="COM_EMUNDUS_ADDPIPE_DUP" description="COM_EMUNDUS_ADDPIPE_DUP_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="addpipe_srec" type="list" menu="hide" default="0" label="COM_EMUNDUS_ADDPIPE_SREC" description="COM_EMUNDUS_ADDPIPE_SREC_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="addpipe_mrt" type="text" default="60" label="COM_EMUNDUS_ADDPIPE_MRT" description="COM_EMUNDUS_ADDPIPE_MRT_DESC" />
		<field name="addpipe_qualityurl" type="text" default="avq/480p.xml" label="COM_EMUNDUS_ADDPIPE_QUALITYURL" description="COM_EMUNDUS_ADDPIPE_QUALITYURL_DESC" />
		<field name="addpipe_size" type="text" default="{width:640,height:510}" label="COM_EMUNDUS_ADDPIPE_SIZE" description="COM_EMUNDUS_ADDPIPE_SIZE_DESC" />
		<field name="addpipe_path_ftp" type="text" default="/home/sftpusers/emundus" label="COM_EMUNDUS_ADDPIPE_PATH_FTP" description="COM_EMUNDUS_ADDPIPE_PATH_FTP_DESC" />
		<field name="addpipe_account_hash" type="text" default="" label="COM_EMUNDUS_ADDPIPE_ACCOUNT_HASH" description="COM_EMUNDUS_ADDPIPE_ACCOUNT_HASH_DESC" />
		<field name="addpipe_video_link" type="text" default="https://eu1-addpipe.s3.eu-central-1.amazonaws.com/" label="COM_EMUNDUS_ADDPIPE_ACCOUNT_VIDEO_LINK" description="COM_EMUNDUS_ADDPIPE_ACCOUNT_VIDEO_LINK_DESC" />
		<field name="addpipe_eid" type="text" default="" label="COM_EMUNDUS_ADDPIPE_EID" description="COM_EMUNDUS_ADDPIPE_EID_DESC" />
		<field name="addpipe_api_key" type="text" default="" label="COM_EMUNDUS_ADDPIPE_API_KEY" description="COM_EMUNDUS_ADDPIPE_API_KEY_DESC" />
		<field
				name="spacer5"
				type="spacer"
				hr="true"
		/>
		<field
				name="integration_yousign"
				type="note"
				label="COM_EMUNDUS_YOUSIGN_DESC"
		/>
		<field name="yousign_prod" type="list" menu="hide" default="1" label="COM_EMUNDUS_YOUSIGN_PROD" description="COM_EMUNDUS_YOUSIGN_PROD_DESC">
			<option value="https://api.yousign.com">PROD</option>
			<option value="https://staging-api.yousign.com">PREPROD</option>
		</field>
		<field name="yousign_api_key" type="field" description="COM_EMUNDUS_YOUSIGN_KEY_DESC" label="COM_EMUNDUS_YOUSIGN_KEY_LABEL" />
		<field
				name="spacer5"
				type="spacer"
				hr="true"
		/>
		<field
				name="integration_ametys"
				type="note"
				label="Ametys CMS"
		/>
		<field name="ametys_integration" menu="hide" type="list" default="0" label="COM_EMUNDUS_AMETYS" description="COM_EMUNDUS_AMETYS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="ametys_url" type="text" default="36" label="COM_EMUNDUS_AMETYS_URL" description="COM_EMUNDUS_AMETYS_URL_DESC" />
		<field name="ametys_sync_default_eval" type="text" default="229,230,231" label="COM_EMUNDUS_AMETYS_SYNC_DEFAULT_EVAL_GROUPS" description="COM_EMUNDUS_AMETYS_SYNC_DEFAULT_EVAL_GROUPS_DESC" />
		<field name="ametys_sync_default_decision" type="text" default="56" label="COM_EMUNDUS_AMETYS_SYNC_DEFAULT_DECISION_GROUPS" description="COM_EMUNDUS_AMETYS_SYNC_DEFAULT_DECISION_GROUPS_DESC" />
		<field name="ametys_sync_default_synthesis" type="editor" default="[APPLICANT_NAME]" label="COM_EMUNDUS_AMETYS_SYNC_DEFAULT_SYNTHESIS" description="COM_EMUNDUS_AMETYS_SYNC_DEFAULT_DECISION_SYNTHESIS_DESC" />
		<field
				name="spacer6"
				type="spacer"
				hr="true"
		/>
		<field
				name="export_siscole"
				type="note"
				label="Export Siscole"
		/>
		<field name="filename" type="text" default="" label="COM_EMUNDUS_FILENAME" description="COM_EMUNDUS_FILENAME_DESC" />
		<field name="filtre_ip" type="text" default="" label="COM_EMUNDUS_FILTRE_IP" description="COM_EMUNDUS_FILTRE_IP_DESC" />
		<field name="attachment_id" type="text" default="" label="COM_EMUNDUS_ATTACHMENT_ID" description="COM_EMUNDUS_ATTACHMENT_ID_DESC" />

		<field name="spacer7" type="spacer" hr="true"/>

		<field name="zoom_jwt_title" type="note" label="COM_EMUNDUS_API_ZOOM_TITLE"/>
		<field name="zoom_jwt" type="text" label="COM_EMUNDUS_API_ZOOM_JWT" description="COM_EMUNDUS_API_ZOOM_JWT_DESC" />

		<field name="spacer8" type="spacer" hr="true"/>

		<field name="external_storage_title" type="note" label="COM_EMUNDUS_EXTERNAL_STORAGE_TITLE"/>

		<field name="external_storage_ged_alfresco" type="note" label="COM_EMUNDUS_EXTERNAL_STORAGE_GED_ALFRESCO_TITLE"/>
		<field name="external_storage_ged_alfresco_integration" menu="hide" type="list" default="0" label="COM_EMUNDUS_EXTERNAL_STORAGE_GED_ALFRESCO_INTEGRATION" description="COM_EMUNDUS_EXTERNAL_STORAGE_GED_ALFRESCO_INTEGRATION_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="external_storage_ged_alfresco_base_url" type="text" label="COM_EMUNDUS_EXTERNAL_STORAGE_GED_ALFRESCO_BASE_URL" description="COM_EMUNDUS_EXTERNAL_STORAGE_GED_ALFRESCO_BASE_URL_DESC" />
		<field name="external_storage_ged_alfresco_site" type="text" label="COM_EMUNDUS_EXTERNAL_STORAGE_GED_ALFRESCO_SITE" description="COM_EMUNDUS_EXTERNAL_STORAGE_GED_ALFRESCO_SITE_DESC" />
		<field name="external_storage_ged_alfresco_user" type="text" label="COM_EMUNDUS_EXTERNAL_STORAGE_GED_ALFRESCO_USER" description="COM_EMUNDUS_EXTERNAL_STORAGE_GED_ALFRESCO_USER_DESC" />
		<field name="external_storage_ged_alfresco_password" type="password" label="COM_EMUNDUS_EXTERNAL_STORAGE_GED_ALFRESCO_PASSWORD" description="COM_EMUNDUS_EXTERNAL_STORAGE_GED_ALFRESCO_PASSWORD_DESC" />
		<field name="external_storage_ged_alfresco_max_level" type="text" default="3" label="COM_EMUNDUS_EXTERNAL_STORAGE_GED_ALFRESCO_MAX_LEVEL" description="COM_EMUNDUS_EXTERNAL_STORAGE_GED_ALFRESCO_MAX_LEVEL_DESC" />
		<field name="external_storage_ged_alfresco_max_folders_by_level" type="text" default="1" label="COM_EMUNDUS_EXTERNAL_STORAGE_GED_ALFRESCO_MAX_FOLDERS_BY_LEVEL" description="COM_EMUNDUS_EXTERNAL_STORAGE_GED_ALFRESCO_MAX_FOLDERS_BY_LEVEL_DESC" />
		<field
				name="spacer8"
				type="spacer"
				hr="true"
		/>
		<field
				name="flywire_integration"
				type="note"
				label="COM_EMUNDUS_PAYMENT_FLYWIRE"
		/>
		<fieldset label="COM_EMUNDUS_PAYMENT_FLYWIRE">
			<field name="flywire_recipient" label="COM_EMUNDUS_PAYMENT_FLYWIRE_RECIPIENT_LABEL" type="text"></field>
			<field name="flywire_mode" label="COM_EMUNDUS_PAYMENT_FLYWIRE_MODE_LABEL" type="list">
				<option value="demo">Démo</option>
				<option value="production">Production</option>
			</field>
		</fieldset>

		<field name="spacer9" type="spacer" hr="true"/>

		<field
				name="axepta_integration"
				type="note"
				label="COM_EMUNDUS_PAYMENT_AXEPTA"
		/>
		<fieldset label="COM_EMUNDUS_PAYMENT_AXEPTA">
			<field name="axepta_merchant_id" label="COM_EMUNDUS_PAYMENT_AXEPTA_MERCHANT_ID" type="text"/>
			<field name="axepta_hmac_key" label="COM_EMUNDUS_PAYMENT_AXEPTA_HMAC_KEY" type="text"/>
			<field name="axepta_blowfish_key" label="COM_EMUNDUS_PAYMENT_AXEPTA_BLOWFISH_KEY" type="text"/>
			<field name="axepta_success_mail" label="MOD_EMUNDUS_AXEPTA_SUCCESS_MAIL" type="text" default=""></field>
			<field name="axepta_failed_mail" label="MOD_EMUNDUS_AXEPTA_FAILED_MAIL" type="text" default=""></field>
		</fieldset>



		<field name="spacer10" type="spacer" hr="true"/>
		<field name="saml_integration" type="note" label="COM_EMUNDUS_SAML_INTEGRATION"/>
		<fieldset label="COM_EMUNDUS_SAML_INTEGRATION">
			<field name="saml_default_profile" label="COM_EMUNDUS_SAML_INTEGRATION_DEFAULT_PROFILE" type="text"></field>
		</fieldset>


		<field name="spacer11" type="spacer" hr="true"/>
		<field name="smart_agenda" type="note" label="COM_EMUNDUS_SMART_AGENDA"/>
		<fieldset label="COM_EMUNDUS_SMART_AGENDA">
			<field name="smart_agenda_login" type="text" label="COM_EMUNDUS_SMART_AGENDA_LOGIN"/>
			<field name="smart_agenda_pwd" type="password" label="COM_EMUNDUS_SMART_AGENDA_PWD"/>
			<field name="smart_agenda_api_id" type="text" label="COM_EMUNDUS_SMART_AGENDA_API_ID"/>
			<field name="smart_agenda_api_key" type="password" label="COM_EMUNDUS_SMART_AGENDA_API_KEY"/>
			<field name="smart_agenda_base_url" type="text" label="COM_EMUNDUS_SMART_AGENDA_BASE_URL"/>
		</fieldset>

	</fieldset>
	<fieldset
			name="permissions"
			description="JCONFIG_PERMISSIONS_DESC"
			label="JCONFIG_PERMISSIONS_LABEL">

		<field
				name="rules" type="rules" component="com_emundus"
				class="inputbox" filter="rules" validate="rules"
				label="JCONFIG_PERMISSIONS_LABEL"
				section="component" />
	</fieldset>
	<fieldset label="COM_EMUNDUS_MESSENGER" name="messenger" description="COM_EMUNDUS_MESSENGER_DESC">
		<field name="messenger_anonymous_coordinator" type="list" default="0" label="COM_EMUNDUS_MESSENGER_ANONYMOUS" description="COM_EMUNDUS_MESSENGER_ANONYMOUS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="messenger_notifications_on_send" type="list" default="1" label="COM_EMUNDUS_MESSENGER_NOTIFICATION_ON_SEND" description="COM_EMUNDUS_MESSENGER_NOTIFICATION_ON_SEND_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="messenger_notify_users_programs" type="list" default="0" label="COM_EMUNDUS_MESSENGER_NOTIFY_USERS_PROGRAMS" description="COM_EMUNDUS_MESSENGER_NOTIFY_USERS_PROGRAMS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="messenger_notify_groups" type="textarea" default="" label="COM_EMUNDUS_MESSENGER_NOTIFY_GROUPS" description="COM_EMUNDUS_MESSENGER_NOTIFY_GROUPS_DESC"/>
		<field name="messenger_notify_users" type="textarea" default="" label="COM_EMUNDUS_MESSENGER_NOTIFY_USERS" description="COM_EMUNDUS_MESSENGER_NOTIFY_USERS_DESC"/>
	</fieldset>
	<fieldset label="COM_EMUNDUS_MODULES" name="modules" description="COM_EMUNDUS_MODULES_DESC">
		<field name="style" label="COM_EMUNDUS_MODULES_STYLE" type="radio" default="1" description="COM_EMUNDUS_MODULES_STYLE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="content" label="COM_EMUNDUS_MODULES_CONTENT" type="radio" default="1" description="COM_EMUNDUS_MODULES_CONTENT_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="translations" label="COM_EMUNDUS_MODULES_TRANSLATIONS" type="radio" default="1" description="COM_EMUNDUS_MODULES_TRANSLATIONS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="attachment_storage" label="COM_EMUNDUS_MODULES_ATTACHMENT_STORAGE" type="radio" default="0" description="COM_EMUNDUS_MODULES_ATTACHMENT_STORAGE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset label="COM_EMUNDUS_PROFILE" name="profile_view" description="COM_EMUNDUS_PROFILE">
		<field name="display_expires_date" type="list" default="0" label="COM_EMUNDUS_PROFILE_EXPIRES_DATE" description="COM_EMUNDUS_PROFILE_EXPIRES_DATE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
</config>
