.dp-module-map-root form > div {
	margin-bottom: 5px;
}

.dp-module-map-form-container {
	display: flex;
	flex-wrap: wrap;
}

.dp-module-map-root [name=search], .dp-module-map-root [name=location] {
	flex-grow: 1;
}

.dp-module-map-root [name=start-date], .dp-module-map-root [name=end-date] {
	width: 95px;
}

.dp-module-map-root [name=radius], .dp-module-map-root [name=length-type] {
	width: 111px;
}
