/******************************** 
 *
 *        mod_login
 *
 *
 ********************************/

 #log_username {
 display: inline-block;
	font-weight: bold;
	color: black;
	margin-right: 5px;
 } 
 
 #form-login-username input {
	padding-left:25px;
	background: url(images/username.png) 0 50% no-repeat;
 }
 
 #form-login-password input {
	padding-left:25px;
	background: url(images/password.png) 0 50% no-repeat;
 }
 
#form-login-nav {
	float:right;
	display: inline-block;
	width:auto;
	padding-top: 10px;
	z-index:90;
	background:transparent;
	padding:5px 5px 5px 5px;
	-moz-border-radius:10px 0;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	/*border:1px solid #F7E1BE;*/
}

 #log_submitbutton {
	text-align:right;
 }
/* #log_photo {
 	float: right;
 }*/


.username, 
.password,
.login-button,
.register-button,
.home-button,
.lostpassword, 
.lostusername,
.greeting,
.logout-button,
.log_updateprofile {
	margin-right: 5px;
	margin-left: 5px;
	/*float: right;*/
	display: inline-block;
	overflow: hidden;
}

.username,
.password {
	width: 73px;
	height: 16px;
	padding: 4px 5px 2px 25px;
	/*float: left;*/
	display: inline-block;
	overflow: hidden;
}

.username {
	background: url(images/username_bg.png) 0 0 no-repeat; /* ie6png:crop */
}

.password {
	background: url(images/password_bg.png) 0 0 no-repeat; /* ie6png:crop */
}

.username:hover {
	background: url(images/username_bg.png) 0 -24px no-repeat;
}

.password:hover {
	background: url(images/password_bg.png) 0 -24px no-repeat;
}

.username input,
.password input {
	width: 100%;
	background: none;
	border: none;
	outline: none;
	/*float: left;*/
	display: inline-block;
	color: #646464;
	font-size: 11px;
}

.username input:hover,
.password input:hover,
.username input:focus,
.password input:focus {
	color: #000000;
}

.login-button {
display: inline-block;
	margin-top: 2px;
	margin-bottom: 2px;
	padding:1px;
	height: 20px;
	/*background: url(images/button_bg.png) 0 0 no-repeat;  ie6png:crop */
	background-color:#95D5FE;
	-moz-border-radius: 10px;border-radius: 10px;
	padding:2px 5px 2px 5px;
}
.register-button {
display: inline-block;
	margin-top: 2px;
	margin-bottom: 2px;
	padding:1px;
	height: 20px;
	/*background: url(images/button_bg.png) 0 0 no-repeat;  ie6png:crop */
	background-color:#FFCD50;
	-moz-border-radius: 10px;border-radius: 10px;
	padding:2px 5px 2px 5px;
}

.login-button:hover {
	/*background: url(images/button_bg.png) 0 -20px no-repeat;*/
	background-color:#77BDEA;
}
.register-button:hover {
	/*background: url(images/button_bg.png) 0 -20px no-repeat;*/
	background-color:#F9B445;
}

.login-button button {
	display: block;
	padding: 0px 0px 0px 0px;
	/*width: 100%;*/
	height: 20px;
	border: none;
	background: none;
	cursor: pointer;
	overflow: hidden;
	font-size: 11px;
	line-height: 20px;
	color: black;
}
.register-button button {
	display: block;
	padding: 0px 0px 0px 0px;
	/*width: 100%;*/
	height: 20px;
	border: none;
	background: none;
	cursor: pointer;
	overflow: hidden;
	font-size: 11px;
	line-height: 20px;
	color: black;
}

.login-button button:hover {
	color: #000000;
}
.register-button button:hover {
	color: #000000;
}

.lostpassword,
.lostusername,
.registration{
	margin-top: 2px;
	margin-bottom: 2px;
}

.lostpassword {
	width: 25px;
	background: url(images/lost_password_bg.png) 0 0px no-repeat; /* ie6png:crop */
}

.lostusername {
	width: 25px;
	background: url(images/lost_username_bg.png) 0 0px no-repeat; /* ie6png:crop */
}

.lostpassword a,
.lostusername a,
.registration a,
.log_updateprofile a{
	/*display: block;*/
}

.greeting {
	line-height: 24px;
}

.logout-button {
display: inline-block;
	height: 20px;
	background-color:#95D5FE;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-bottom:5px;
}

.logout-button:hover { background-color:#77BDEA; -moz-border-radius: 10px;border-radius: 10px;}

.logout-button button {
	border: none;
	background: none;
	cursor: pointer;
	overflow: hidden;
	font-size: 11px;
	line-height: 20px;
	color: black;
}

.logout-button button:hover {
	color: #000000;
}

.log_updateprofile { display: inline-block; background-color:#FCC530; -moz-border-radius: 10px;border-radius: 10px; }

.log_updateprofile:hover { background-color:#F1AF30; }

.log_updateprofile button {/*display: block;*/ border: none;
	background: none; cursor: pointer; overflow: hidden; font-size: 11px; line-height: 20px; color: black;
}

.log_updateprofile button:hover {color: #000000; -moz-border-radius: 10px;border-radius: 10px;}


#em_modlgn-passwd, #em_modlgn-username  {
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	line-height: 1.6em;
	width: 100%;
	/*float: left;*/
	display: inline-block;
	color: #646464;
	font-size: 11px;
	display: inline-block;
	padding: 0 0 0 5px;
	margin-bottom: 9px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}