.tutorial-link{
    color: white !important;
    text-decoration: unset !important;
    display: flex;
    padding: .625em 2em;
    text-align: center;
    align-items: center;
}

.swal2-title{
    margin-top: 1em !important;
}

.swal-button-link{
    padding: 0 !important;
}

.swal-popup-custom{
    width: auto !important;
    max-width: 25% !important;
    padding: 0 !important;
}

.swal2-actions{
    justify-content: right !important;
    margin-top: 32px !important;
    padding: 16px !important;
}

.tchooz-player {
    width: 100%;
    margin-bottom: 16px;
}

#swal2-content p{
    padding: 0 16px;
}
