<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ @package   AkeebaLoginGuard
  ~ @copyright Copyright (c)2016-2021 Nicholas K. Dionysopoulos / Akeeba Ltd
  ~ @license   GNU General Public License version 3, or later
  -->
<config
        addfieldpath="/administrator/components/com_loginguard/models/fields"
>

    <fieldset name="captive"
              label="COM_LOGINGUARD_CONFIG_HEADER_CAPTIVE_LABEL"
              description="COM_LOGINGUARD_CONFIG_HEADER_CAPTIVE_DESC">

        <field name="allowed_positions_frontend"
               type="modulesposition"
               default=""
               size="7"
               label="COM_LOGINGUARD_CONFIG_ALLOWED_POSITIONS_FRONTEND_LABEL"
               description="COM_LOGINGUARD_CONFIG_ALLOWED_POSITIONS_FRONTEND_DESC"
               client="site"
               multiple="1"
               class="input-large"/>

        <field name="frontend_show_title"
               type="fancyradio"
               default="1"
               label="COM_LOGINGUARD_CONFIG_FRONTEND_SHOW_TITLE_LABEL"
               description="COM_LOGINGUARD_CONFIG_FRONTEND_SHOW_TITLE_DESC"
               class="btn-group">
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>

        <field name="allowed_positions_backend"
               type="modulesposition"
               default=""
               size="7"
               label="COM_LOGINGUARD_CONFIG_ALLOWED_POSITIONS_BACKEND_LABEL"
               description="COM_LOGINGUARD_CONFIG_ALLOWED_POSITIONS_BACKEND_DESC"
               client="administrator"
               multiple="1"
               class="input-large"/>

        <field name="neverTSVUserGroups"
               type="UserGroupList"
               checksuperusergroup="1"
               default=""
               multiple="1"
               label="COM_LOGINGUARD_CONFIG_NEVERTSVUSERGROUPS_LABEL"
               description="COM_LOGINGUARD_CONFIG_NEVERTSVUSERGROUPS_DESC"
        >
            <option value="0">COM_LOGINGUARD_CONFIG_LBL_NOGROUP</option>
        </field>

        <field name="forceTSVUserGroups"
               type="UserGroupList"
               checksuperusergroup="1"
               default=""
               multiple="1"
               label="COM_LOGINGUARD_CONFIG_FORCETSVUSERGROUPS_LABEL"
               description="COM_LOGINGUARD_CONFIG_FORCETSVUSERGROUPS_DESC"
        >
            <option value="0">COM_LOGINGUARD_CONFIG_LBL_NOGROUP</option>
        </field>

        <field name="allow_rememberme"
               type="fancyradio"
               default="1"
               label="COM_LOGINGUARD_CONFIG_FRONTEND_ALLOW_REMEMBERME_LABEL"
               description="COM_LOGINGUARD_CONFIG_FRONTEND_ALLOW_REMEMBERME_DESC"
               class="btn-group">
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>

        <field
                name="cookie_lifetime"
                type="number"
                label="COM_LOGINGUARD_CONFIG_FRONTEND_COOKIE_LIFETIME_LABEL"
                description="COM_LOGINGUARD_CONFIG_FRONTEND_COOKIE_LIFETIME_DESC"
                min="1"
                max="365"
                step="1"
                default="15"
        />

        <field
                name="cookie_key_length"
                type="number"
                label="COM_LOGINGUARD_CONFIG_FRONTEND_COOKIE_KEY_LENGTH_LABEL"
                description="COM_LOGINGUARD_CONFIG_FRONTEND_COOKIE_KEY_LENGTH_DESC"
                min="16"
                max="120"
                step="1"
                default="64"
        />

        <field name="captive_template"
               type="templatestyle"
               label="COM_LOGINGUARD_CONFIG_FRONTEND_CAPTIVE_TEMPLATE_LABEL"
               description="COM_LOGINGUARD_CONFIG_FRONTEND_CAPTIVE_TEMPLATE_DESC"
               client="site"
               >
            <option value="">JGLOBAL_USE_GLOBAL</option>
        </field>

        <field name="dark_mode"
               type="fancyradio"
               default="0"
               label="COM_LOGINGUARD_CONFIG_BACKEND_DARKMODE_LABEL"
               description="COM_LOGINGUARD_CONFIG_BACKEND_DARKMODE_DESC"
               class="btn-group"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

    </fieldset>

    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >

        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                class="inputbox"
                filter="rules"
                component="com_loginguard"
                section="component"/>
    </fieldset>
</config>
