#payer-infos {
  margin-bottom: 0;
}

#payment-steps {
  margin: 50px 120px 24px 120px;
}

#payment-steps .step {
  position: relative;
}

#payment-steps .step span {
  position: absolute;
  top: -30px;
  left: -90px;
  width: 200px;
  overflow: hidden;
  text-align: center;
}

#payment-steps .step .step-circle{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: grey;
  margin: 0 auto;
}

#payment-steps .step.filled span {
  color: #20835F;
}

#payment-steps .step.filled .step-circle{
  background-color: #20835F;
}

#payment-steps .line {
  height: 2px;
  width: 100%;
  background-color: grey;
  margin: 0 auto;
}

#payment-steps .line.filled {
  background-color: #00a65a;
}

#payment-actions {
  justify-content: end;
}

@media (max-width: 700px) {
  #payment-steps #steps {
    flex-direction: column;
  }

  #payment-steps #steps .step span {
    top: -5px;
    left: 20px;
    width: 100px;
  }

  #payment-steps #steps .line {
    height: 90px;
    width: 2px;
  }

  #payment-actions a{
    width: 100% !important;
  }
}

@media (max-width: 800px) {
  button.em-primary-button {
    width: 100% !important;
  }
}