#payment-methods-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}

#payment-methods-selector .payment-method-option{
  border-radius: 4px;
  transition: all .3s;
  padding: 48px 0;
}

#payment-methods-selector a {
  width: 300px;
  text-decoration: none !important;
  margin: 24px;
}