#dp-calendar-toggle {
	cursor: pointer;
	text-align: center;
	clear: both;
	width: 100%;
	display: block;
}

#dp-calendar-list {
	overflow: hidden;
	display: none;
}

#dp-calendar-list input {
	margin: 0;
}

#dp-calendar-map {
	margin-top: 10px
}

.dp-event-tooltip .dp-event-links {
	border-top: 1px solid #DDDDDD;
	margin-top: 5px;
}

.dp-calendar .fc-timelineYear-view .fc-time-area col {
	min-width: 100px;
}

.dp-calendar .fc-timelineMonth-view .fc-time-area col {
	min-width: 100px;
}

.dp-calendar .fc-timelineWeek-view .fc-time-area col {
	min-width: 150px;
}

.dp-calendar .fc-timelineDay-view .fc-time-area col {
	min-width: 100px;
}

.dp-calendar .fc-day-grid-event > .fc-content,
.dp-calendar .fc-timeline-event > .fc-content {
	white-space: normal;
	overflow: visible;
}

.dp-event-tooltip {
	text-align: left;
	font-size: 12px;
}

.dp-event-tooltip a {
	margin-right: .4rem;
	color: #42a1ff;
}

.tippy-tooltip {
	padding: .2rem;
	max-width: 200px;
}

.tippy-tooltip [x-circle] {
	border-radius: 0;
}

#dp-calendar-quickadd {
	display: none;
	position: absolute;
	background-color: white;
	z-index: 1002;
	border: 1px solid #ccc;
	min-width: 350px;
	padding: 5px;
}

#dp-calendar-quickadd .control-group, #dp-calendar-quickadd .control-group .controls {
	margin: 2px;
	padding: 0;
}

#dp-calendar-quickadd .control-group .control-label {
	width: 80px;
}

#dp-calendar-quickadd .control-group label {
	height: 14px;
	font-size: 10px;
	line-height: 14px;
	margin-top: 5px;
}

#dp-calendar-quickadd .ui-timepicker-list li {
	height: 14px;
	font-size: 10px;
	line-height: 14px;
	margin-top: 5px;
}

#dp-calendar-quickadd .control-group input {
	height: 14px;
	font-size: 10px;
	line-height: 14px;
}

#dp-calendar-quickadd .control-group select {
	height: 28px;
	font-size: 10px;
	line-height: 14px;
	padding: 0;
}

/* time input width */
#dp-calendar-quickadd-form-container .time,
#dp-calendar-quickadd-form-container .start,
#dp-calendar-quickadd-form-container .end {
	max-width: 80px;
}
