.advanced-dropdown form{
    margin: 3px 0 !important;
    padding: 0 !important;
    width: auto !important;
}

div.advanced-dropdown{
    width: max-content;
    margin-left: 25px;
    margin-right: 3em;
}

div.mod-languages.advanced-dropdown ul{
    margin-left: 15px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -3px;
    background: #eeebeb;
    height: 100%;
}

div.mod-languages ul.lang-inline li{
    margin-left: 2px;
    display: block;
}

div.mod-languages a{
    width: 100%;
    padding: 0;
    align-items: baseline;
    color: black;
    padding: 0.625rem 0.75rem;
    text-decoration: none;
    display: inline-flex;
}

div.mod-languages form[name="lang"]{
    margin: 0 !important;
}

.view-programme .caret {
    margin-top: 0px !important;
}

div.mod-languages img{
    margin-right: 5px;
}

div.advanced-dropdown a.langChoose:link, div.advanced-dropdown a.langChoose:visited{
    width: 100%;
    margin-top: unset;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    border-radius: 4px;
    background: #eeebeb;
    color: black;
    display: flex;
    max-height: 38px;
}

.langChoose__img_label{
    display: flex;
    align-items: center;
}

div.advanced-dropdown a.langChoose img{
    margin-right: 5px;
}

div.advanced-dropdown span.caret{
    margin-left: 5px;
    border-top: 4px solid #000;
}

.mod_emundus_falang___select{
    display: flex;
    width: auto;
    border: unset;
}

.mod_falang_emundus___button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-family: var(--em-default-font);
}

.mod_falang_emundus___other_languages{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    position: absolute;
}

.mod_falang_emundus___other_languages span{
    width: 100%;
    color: #727272;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.mod_falang_emundus___other_languages span:hover:not(.mod_falang_emundus___other_languages_selected){
    background-color: #F0F6FD;
}

.mod_falang_emundus___other_languages_selected{
    border-left: 3px solid #1C6EF2;
    color: black !important;
}

@media screen and (max-width: 767px) {
    div.mod-languages form[name="lang"]{
        margin: 10px 0 !important;
    }
}
