.advanced-dropdown form{
    margin: 10px 0 !important;
    padding: 0 !important;
    width: auto !important;
}

div.advanced-dropdown{
    width: max-content;
    margin-left: 25px;
}

div.mod-languages.advanced-dropdown ul{
    margin-left: 15px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: -3px;
    background: #eeebeb;
    padding-bottom: 10px;
    max-height: unset;
}

div.mod-languages ul.lang-inline li{
    margin-left: 2px;
}

div.mod-languages a{
    width: 100%;
    padding: 0;
    align-items: baseline;
    margin-left: 5px;
    color: black;
}

.view-programme .caret {
    margin-top: 0px !important;
}

div.mod-languages img{
    margin-right: 5px;
}

div.advanced-dropdown a.langChoose:link, div.advanced-dropdown a.langChoose:visited{
    width: 100%;
    margin-top: unset;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    border-radius: 4px;
    background: #eeebeb;
    color: black;
    display: flex;
    max-height: 38px;
}

.langChoose__img_label{
    display: flex;
    align-items: center;
}

div.advanced-dropdown a.langChoose img{
    margin-right: 5px;
}

div.advanced-dropdown span.caret{
    margin-left: 5px;
    border-top: 4px solid #000;
}
