/* MODULE FA LANG */

div.advanced-dropdown a.langChoose, div.advanced-dropdown a.langChoose:hover {
    width: 100%;
    margin-top: unset;
    padding: 3px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background: #eeebeb;
    color: black;
    display: flex;
    -webkit-transition: all 1s;
}

div.mod-languages.advanced-dropdown ul {
    width: 100%;
    margin-left: 0px;
    background: #eeebeb;
    max-height: 40px;
    position: absolute;
    list-style-type: none;
    left: 0;
    border-radius: 4px;
    top: 14px;
}

div.mod-languages.advanced-dropdown ul li {
    margin-left: 12px;
}

div.advanced-dropdown {
    width: max-content;
    position: relative;
}
