#dp-list-form {
	margin: 10px 0px 10px 0px;
}

#dp-list-form-search {
	max-width: 150px;
	margin: 0px 0px 0px 0px
}

#dp-list-form-clear {
	margin: 0px 10px 0px 0px
}

#dp-list-form-print, #dp-list-form-jump-button {
	float: right;
}

#dp-list-form-date {
	margin-bottom: 18px;
	font-size: 19.5px;
	font-weight: 200;
	line-height: 27px;
}

.dp-list-hits {
	float: right;
}

.dp-list-title {
	font-weight: bold;
	margin-right: 5px;
}

.dp-list-date {
	font-size: smaller;
}

.dp-list-date:after {
	content: '\a';
	white-space: pre;
}

.dp-list-calendar {
	font-size: smaller;
	display: inline-block;
}

.dp-list-capacity {
	font-size: smaller;
	margin-left: 5px;
}

#dp-list-events li {
	overflow: hidden;
}

.dp-list-locations {
	float: right;
	clear: both;
	font-size: smaller;
}

.dp-list-locations .location-description {
	display: none
}

.dp-list-tooltip a {
	margin-right: 5px;
}

.dp-list-tooltip .dp-list-links {
	border-top: 1px solid #DDDDDD;
}

/* Calendar Icon */
#dp-list-events .dp-list-calendar-icon {
	float: left;
	font-size: 0.7em; /* change icon size */
	display: inline-block;
	position: relative;
	width: 4em;
	height: 4em;
	background-color: #fff;
	margin: 0 0.5em 0 0;
	border-left: 1px solid #bdbdbd;
	border-right: 1px solid #bdbdbd;
	border-radius: 0.6em;
	box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transform: rotate(0deg) skewY(0deg);
	-webkit-transform-origin: 50% 10%;
	transform-origin: 50% 10%;
}

#dp-list-events .dp-list-calendar-icon * {
	display: block;
	width: 100%;
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
	text-align: center;
}

#dp-list-events .dp-list-calendar-icon .dp-list-month {
	position: absolute;
	top: 0;
	padding: 0;
	color: #fff;
	line-height: 1.55em;
}

#dp-list-events .dp-list-calendar-icon .dp-list-day {
	width: 100%;
	font-size: 1.5em;
	padding-top: 1.3em;
	color: #2f2f2f;
}

@media print {
	.noprint, .dp-share-button {
		display: none !important;
	}

	a:link:after, a:visited:after {
		display: none;
		content: "";
	}
}