.dp-module-upcoming-icon-root {
	clear: both;
	overflow: overlay;
}

.dp-module-upcoming-icon-root .dp-module-upcoming-modal {
	display: none;
	width: 700px;
	height: 500px;
}

.dp-module-upcoming-icon-root .dp-module-upcoming-modal iframe {
	width: 99.6%;
	height: 95%;
	border: none;
}

.dp-module-upcoming-icon-heading {
	font-weight: bold;
	background-color: #dddddd;
	color: #333333;
	padding: 5px 0px 5px 5px;
	margin: 5px 0px 5px 0px;
}

.dp-module-upcoming-icon-icon {
	float: left;
}