.icon-48-jobs {
      background-image: url(../images/l_jobs.png);
      padding-left:60px!important;
}

.icon-48-job {
      background-image: url(../images/l_jobs.png);
      padding-left:60px!important;
}

