<?xml version="1.0" encoding="utf-8"?>
<config>
	
	<languages>
		<language tag="en-GB">language/en-GB/en-GB.com_securitycheckpro.ini</language>
		<language tag="es-ES">language/es-ES/es-ES.com_securitycheckpro.ini</language>		
	</languages>
	
	<fieldset name="component" label="COM_SECURITYCHECKPRO_CONFIG_COMPONENT_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_COMPONENT_DESCRIPTION">
		<field name="downloadid" type="text" default="" size="30" label="COM_SECURITYCHECKPRO_CONFIG_DOWNLOADID_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_DOWNLOADID_DESCRIPTION"/>		
	</fieldset>
	
	<fieldset name="tuning" type="text" default="" size="30" label="COM_SECURITYCHECKPRO_CONFIG_TUNING_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_TUNING_DESCRIPTION">
		<field name="memory_limit" type="text" default="512M" size="5" label="COM_SECURITYCHECKPRO_CONFIG_MEMORY_LIMIT_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_MEMORY_LIMIT_DESCRIPTION" />
		<field name="secret_key_length" type="radio" default="20" label="COM_SECURITYCHECKPRO_CONFIG_SECRET_KEY_LENGTH_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_SECRET_KEY_LENGTH_DESCRIPTION">
			<option value="5">5</option>
			<option value="10">10</option>
			<option value="15">15</option>
			<option value="20">20</option>
		</field>
		<field name="scan_executables_only" type="radio" default="0" label="COM_SECURITYCHECKPRO_CONFIG_FILE_SCAN_EXECUTABLES_ONLY_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_FILE_SCAN_EXECUTABLES_ONLY_DESCRIPTION">
			<option value="1">COM_SECURITYCHECKPRO_YES</option>
			<option value="0">COM_SECURITYCHECKPRO_NO</option>
		</field>
		<field name="remove_meta_tag" type="radio" default="1" label="COM_SECURITYCHECKPRO_CONFIG_FILE_REMOVE_META_TAG_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_FILE_REMOVE_META_TAG_DESCRIPTION">
			<option value="1">COM_SECURITYCHECKPRO_YES</option>
			<option value="0">COM_SECURITYCHECKPRO_NO</option>
		</field>		
		<field name="check_acl_security" type="radio" default="1" label="COM_SECURITYCHECKPRO_CHECK_ACL_SECURITY_LABEL" description="COM_SECURITYCHECKPRO_CHECK_ACL_SECURITY_DESCRIPTION">
			<option value="1">COM_SECURITYCHECKPRO_YES</option>
			<option value="0">COM_SECURITYCHECKPRO_NO</option>
		</field>		
		
		<field name="avoid_proxies" type="radio" default="0" label="COM_SECURITYCHECKPRO_AVOID_PROXIES_LABEL" description="COM_SECURITYCHECKPRO_AVOID_PROXIES_DESCRIPTION">
			<option value="1">COM_SECURITYCHECKPRO_YES</option>
			<option value="0">COM_SECURITYCHECKPRO_NO</option>
		</field>
		
		<field name="otp" type="radio" default="1" label="COM_SECURITYCHECKPRO_OTP_LABEL" description="COM_SECURITYCHECKPRO_OTP_DESCRIPTION">
			<option value="1">COM_SECURITYCHECKPRO_YES</option>
			<option value="0">COM_SECURITYCHECKPRO_NO</option>
		</field>
		
		<field name="checkbox_position" type="list" label="COM_SECURITYCHECKPRO_CHECKBOX_POSITION" description="COM_SECURITYCHECKPRO_CHECKBOX_POSITION_DESC" default="0">
			<option value="0">COM_SECURITYCHECKPRO_RIGHT</option>
			<option value="1">COM_SECURITYCHECKPRO_LEFT</option>
		</field>
		
		<field name="file_manager_recursive_folder_exceptions" type="radio" default="1" label="COM_SECURITYCHECKPRO_CONFIG_FILE_MANAGER_RECURSIVE_FOLDER_EXCEPTIONS_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_FILE_MANAGER_RECURSIVE_FOLDER_EXCEPTIONS_DESCRIPTION">
			<option value="1">COM_SECURITYCHECKPRO_YES</option>
			<option value="0">COM_SECURITYCHECKPRO_NO</option>
		</field>
		
		<field name="file_manager_include_exceptions_in_database" type="radio" default="1" label="COM_SECURITYCHECKPRO_CONFIG_FILE_MANAGER_EXCEPTIONS_IN_DATABASE_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_FILE_MANAGER_EXCEPTIONS_IN_DATABASE_DESCRIPTION">
			<option value="1">COM_SECURITYCHECKPRO_YES</option>
			<option value="0">COM_SECURITYCHECKPRO_NO</option>
		</field>
		
	</fieldset>
	
	<fieldset name="FileManager" label="COM_SECURITYCHECKPRO_CONFIG_FILE_MANAGER_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_FILE_MANAGER_DESCRIPTION">
		<field name="file_manager_path" type="folderlist" default="JPATH_ROOT" label="COM_SECURITYCHECKPRO_CONFIG_FILE_MANAGER_PATH_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_FILE_MANAGER_PATH_DESCRIPTION" directory="" filter="" exclude="" stripext="" hide_none="true"/>
		<field name="file_manager_path_exceptions" type="textarea" default="" label="COM_SECURITYCHECKPRO_CONFIG_FILE_MANAGER_PATH_EXCEPTIONS_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_FILE_MANAGER_PATH_EXCEPTIONS_DESCRIPTION" class="span12" />		

		<field name="change_permissions_option" type="radio" default="chmod" label="COM_SECURITYCHECKPRO_CHANGE_PERMISSIONS_OPTION_LABEL" description="COM_SECURITYCHECKPRO_CHANGE_PERMISSIONS_OPTION_DESCRIPTION">
			<option value="chmod">Chmod</option>
			<option value="ftp">Ftp</option>
		</field>
		<field name="delete_log_file" type="radio" default="1" label="COM_SECURITYCHECKPRO_CONFIG_FILE_MANAGER_DELETE_LOG_FILE_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_FILE_MANAGER_DELETE_LOG_FILE_DESCRIPTION">
			<option value="1">COM_SECURITYCHECKPRO_YES</option>
			<option value="0">COM_SECURITYCHECKPRO_NO</option>
		</field>
	</fieldset>
	
	<fieldset name="FileIntegrity" label="COM_SECURITYCHECKPRO_CONFIG_FILE_INTEGRITY_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_FILE_INTEGRITY_DESCRIPTION">
		<field name="file_integrity_hash_alg" type="list" default="SHA1" label="COM_SECURITYCHECKPRO_CONFIG_FILE_INTEGRITY_HASH_ALG_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_FILE_INTEGRITY_HASH_ALG_DESCRIPTION">
			<option value="MD5">MD5</option>
			<option value="SHA1">SHA1</option>			
		</field>
		<field name="file_integrity_path_exceptions" type="textarea" default="" label="COM_SECURITYCHECKPRO_CONFIG_FILE_MANAGER_PATH_EXCEPTIONS_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_FILE_INTEGRITY_PATH_EXCEPTIONS_DESCRIPTION" class="span12"/>				
		<field name="look_for_malware" type="radio" default="1" label="COM_SECURITYCHECKPRO_CONFIG_MALWARE_LOOK_FOR_MALWARE_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_MALWARE_LOOK_FOR_MALWARE_DESCRIPTION">
			<option value="1">COM_SECURITYCHECKPRO_YES</option>
			<option value="0">COM_SECURITYCHECKPRO_NO</option>
		</field>
		<field name="move_to_quarantine" type="radio" default="0" label="COM_SECURITYCHECKPRO_MOVE_TO_QUARANTINE_LABEL" description="COM_SECURITYCHECKPRO_MOVE_TO_QUARANTINE_DESCRIPTION">
			<option value="1">COM_SECURITYCHECKPRO_YES</option>
			<option value="0">COM_SECURITYCHECKPRO_NO</option>
		</field>
		<field name="send_email_on_wrong_integrity" type="radio" default="1" label="COM_SECURITYCHECKPRO_CONFIG_SEND_EMAIL_WRONG_INTEGRITY_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_SEND_EMAIL_WRONG_INTEGRITY_DESCRIPTION">
			<option value="1">COM_SECURITYCHECKPRO_YES</option>
			<option value="0">COM_SECURITYCHECKPRO_NO</option>
		</field>
		<field name="email_subject_on_wrong_integrity" type="text" default="" size="50" label="COM_SECURITYCHECKPRO_CONFIG_EMAIL_SUBJECT_ON_WRONG_INTEGRITY_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_EMAIL_SUBJECT_ON_WRONG_INTEGRITY_DESCRIPTION" />		
	</fieldset>
	
	<fieldset name="Malwarescan" label="COM_SECURITYCHECKPRO_CONFIG_MALWARE_SCAN_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_MALWARE_SCAN_DESCRIPTION">
		<field name="malwarescan_file_extensions" type="textarea" default="php,php3,php4,php5,phps,html,htaccess,js" label="COM_SECURITYCHECKPRO_CONFIG_MALWARE_SCAN_FILE_EXTENSIONS_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_MALWARE_SCAN_FILE_EXTENSIONS_DESCRIPTION" rows="5" cols="50" />
		<field name="use_filemanager_exceptions" type="radio" default="0" label="COM_SECURITYCHECKPRO_CONFIG_MALWARE_USE_FILEMANAGER_EXCEPTIONS_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_MALWARE_USE_FILEMANAGER_EXCEPTIONS_DESCRIPTION">
			<option value="1">COM_SECURITYCHECKPRO_YES</option>
			<option value="0">COM_SECURITYCHECKPRO_NO</option>
		</field>
		<field name="deep_scan" type="radio" default="0" label="COM_SECURITYCHECKPRO_CONFIG_MALWARE_DEEP_SCAN_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_MALWARE_DEEP_SCAN_DESCRIPTION">
			<option value="1">COM_SECURITYCHECKPRO_YES</option>
			<option value="0">COM_SECURITYCHECKPRO_NO</option>
		</field>
		<field name="malwarescan_path_exceptions" type="textarea" default="" label="COM_SECURITYCHECKPRO_CONFIG_MALWARESCAN_PATH_EXCEPTIONS_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_MALWARESCAN_PATH_EXCEPTIONS_DESCRIPTION" class="span12" />
		<field name="opswat_key" type="text" default="" size="30" label="COM_SECURITYCHECKPRO_CONFIG_OPSWAT_KEY_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_OPSWAT_KEY_DESCRIPTION">			
		</field>
		<field name="online_submission_type" type="list" default="Hashes" label="COM_SECURITYCHECKPRO_CONFIG_ONLINE_SUBMISSION_TYPE_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_ONLINE_SUBMISSION_TYPE_DESCRIPTION">
			<option value="Files">Files</option>
			<option value="Hashes">Hashes</option>			
		</field>
		<field name="timeline" type="list" default="7" label="COM_SECURITYCHECKPRO_CONFIG_TIMELINE_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_TIMELINE_DESCRIPTION">
			<option value="1">COM_SECURITYCHECKPRO_YESTERDAY</option>
			<option value="7">COM_SECURITYCHECKPRO_A_WEEK_AGO</option>
			<option value="30">COM_SECURITYCHECKPRO_A_MONTH_AGO</option>
			<option value="10000">COM_SECURITYCHECKPRO_ANYTIME</option>
		</field>
		<field name="log_files_stored" type="text" default="5" size="3" label="COM_SECURITYCHECKPRO_CONFIG_LOG_FILES_STORED_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_LOG_FILES_STORED_DESCRIPTION" />
	</fieldset>
	
	<fieldset name="performance" label="COM_SECURITYCHECKPRO_CONFIG_PERFORMANCE_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_PERFORMANCE_DESCRIPTION">
		<field name="tables_to_check" type="list" default="All" label="COM_SECURITYCHECKPRO_CONFIG_DBCHECK_LABEL" description="COM_SECURITYCHECKPRO_CONFIG_DBCHECK_DESCRIPTION">
			<option value="All">COM_SECURITYCHECKPRO_ALL</option>
			<option value="Myisam">COM_SECURITYCHECKPRO_ONLY_MYISAM</option>			
		</field>		
	</fieldset>
	
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox"	validate="rules" filter="rules" component="com_securitycheckpro" section="component" />	
	</fieldset>
	
	<fieldset name="lock_tables" label="COM_SECURITYCHECKPRO_LOCK_TABLES" description="COM_SECURITYCHECKPRO_LOCK_TABLES_DESCRIPTION">
		<field name="lock_tables_easy" type="list" label="COM_SECURITYCHECKPRO_LOCK_TABLES_EASY" default="1">
			<option value="0">COM_SECURITYCHECKPRO_NO</option>
			<option value="1">COM_SECURITYCHECKPRO_YES</option>
		</field>
		
		<field name="block_tables_easy" type="list" label="COM_SECURITYCHECKPRO_BLOCK_TABLES" multiple="true" default='["users","content"]' showon="lock_tables_easy:1">
			<option value="users">COM_SECURITYCHECKPRO_USERS</option>
			<option value="content">COM_SECURITYCHECKPRO_CONTENT</option>
		</field>		
		
		<field name="block_tables_plus_note" type="note" label="COM_SECURITYCHECKPRO_BLOCK_TABLES_NOTE" showon="lock_tables_easy:0" />
		
		<field name="block_tables_plus" type="textarea" default="users,user_usergroup_map,content,redirect_links,extensions" label="COM_SECURITYCHECKPRO_BLOCK_TABLES" description="COM_SECURITYCHECKPRO_BLOCK_TABLES_DESCRIPTION" class="span12" showon="lock_tables_easy:0" />		
	</fieldset>
	
	<fieldset name="control_center" label="COM_SECURITYCHECKPRO_CONTROLCENTER_TEXT" description="COM_SECURITYCHECKPRO_CONFIG_CONTROL_CENTER_DESCRIPTION">
		<field name="controlcenter_log_size" type="text" default="2048" size="3" label="COM_SECURITYCHECKPRO_CONTROLCENTER_LOG_SIZE_LABEL" description="COM_SECURITYCHECKPRO_CONTROLCENTER_LOG_SIZE_DESCRIPTION" />
		
		<field name="enable_analytics" type="list" label="COM_SECURITYCHECKPRO_ENABLE_ANALYTICS" description="COM_SECURITYCHECKPRO_ENABLE_ANALYTICS_DESCRIPTION" default="0">
			<option value="0">COM_SECURITYCHECKPRO_NO</option>
			<option value="1">COM_SECURITYCHECKPRO_YES</option>
		</field>
		
		<field name="website_code" type="text" default="" size="10" label="COM_SECURITYCHECKPRO_CONTROLCENTER_WEBSITE_CODE_LABEL" description="COM_SECURITYCHECKPRO_CONTROLCENTER_WEBSITE_CODE_DESCRIPTION" />
		
		<field name="exclude_backend" type="list" label="COM_SECURITYCHECKPRO_EXCLUDE_BACKEND" description="COM_SECURITYCHECKPRO_EXCLUDE_BACKEND_DESCRIPTION" default="1">
			<option value="0">COM_SECURITYCHECKPRO_NO</option>
			<option value="1">COM_SECURITYCHECKPRO_YES</option>
		</field>
		
		<field name="time_to_resfresh" type="text" default="5" size="3" label="COM_SECURITYCHECKPRO_TIME_TO_REFRESH_LABEL" description="COM_SECURITYCHECKPRO_TIME_TO_REFRESH_DESCRIPTION" />

		
	</fieldset>
	
</config>
