body{
  line-height: normal !important;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  font-size: 1rem !important;
  background: #fff !important;
}

a {
  -webkit-transition: color 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: color 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  color: #482683;
  text-decoration: underline;
}

hr.horiz_separator {
  display: none;
}

a:hover {
  color: #ee7937;
}
.fabrikErrorMessage.help-inline.text-danger {
  color: red;
}
.g-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1b1f3c;
  color: #2a363b !important;
  position: fixed;
  z-index: 11;
  border-bottom: 1px solid #eee;
  width: 100%;
  border-top: 5px solid #de6339 !important;
}

.g-navigation .custom img {
  height: auto;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  max-height: 64px;
}

.g-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-on-small{
  display: none;
  font-size: xx-large;
  left: 0;
  position: absolute;
  top: -17px;
  color: white;
}

.show-on-small:hover, .show-on-small:focus{
  color: #de6339;
  text-decoration: unset;
}

@media (max-width: 991px) {
  .g-container{
    width: 85%;
  }

  .g-navigation .custom a {
    position: absolute;
    left: 10%;
    top: -10px;
  }

  .g-navigation .custom img {
    position: relative;
    top: 0;
    margin: 0 auto;
  }

  .moduletable-c,.moduletable-d{
    position: absolute;
    right: 0;
  }
}

.size-22{
  flex: 0 22%;
  width: 22%;
}

.size-69{
  flex: 0 69%;
  width: 69%;
}

.size-9{
  flex: 0 9%;
  width: 9%;
}

.moduletable-c,.moduletable-d{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 25em;
}

div#moduletable-d  a[href$="/configuration-settings"]  {
  display: none;
}

.lang-inline a[href$="/configuration-settings"] {
  display: inherit !important;
}

.moduletable-d div#userDropdown {
  order: 3;
}

#g-navigation .g-container {
  padding: 10px !important;
  position: relative;
  width: 95%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.g-menu-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.3s ease-out, z-index 0.1s ease-out;
  -moz-transition: opacity 0.3s ease-out, z-index 0.1s ease-out;
  transition: opacity 0.3s ease-out, z-index 0.1s ease-out;
}

.g-feature {
  position: relative;
  width: 100%;
  height: 0px;
}

.g-container-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 65vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.g-container-main .g-grid{
  width: 100%;
  justify-content: center;
}

#header-a {
  display: flex;
  align-items: center;
  min-width: 0;
  min-height: 0;
  flex: 0 22%;
  width: 22%;
}

#header-b{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 0 69%;
  width: 69%;
  min-width: 0;
  min-height: 0;
}

#list {
  padding: 1em;
  margin-top: 150px;
}

.g-grid {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  text-rendering: optimizespeed;
}

.em-user-dropdown-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dropdown-toggle-2 {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 13px;
  padding-left: 13px;
  font-size: 12px;
}

.span12 {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}
.nav.link {
  margin-top: 15px;
}
.nav.nav-tabs.nav-stacked {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #482683;
  text-decoration: underline;
  padding-left: 0;
}

input[type="checkbox"] {
  width: auto !important;
  height: auto !important;
  margin-top: 0;
}

input[type="checkbox"].check{
  width: 100% !important;
  height: 100% !important;
  margin-top: 0;
}

#username {
  height: 48px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #2d1852;
}

#username::-webkit-input-placeholder {
  background-color: #fff;
  color: #482683;
}

#username:-ms-input-placeholder {
  background-color: #fff;
  color: #482683;
}

#username::-ms-input-placeholder {
  background-color: #fff;
  color: #482683;
}

#username::placeholder {
  background-color: #fff;
  color: #482683;
}

.validate-password {
  height: 48px;
  background-color: #fff;
  color: #482683;
}

.validate-password::-webkit-input-placeholder {
  color: #482683;
}

.validate-password:-ms-input-placeholder {
  color: #482683;
}

.validate-password::-ms-input-placeholder {
  color: #482683;
}

.validate-password::placeholder {
  color: #482683;
}

.g-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 15vh;
  padding-top: 25px;
  padding-bottom: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #482683;
}

.em-menufooter {
  margin-right: 25px;
  -webkit-transition: color 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: color 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  text-decoration: none;
  text-transform: uppercase;
}

.em-menufooter:hover {
  color: #ee7937;
}

.em-logofooter {
  display: block;
  width: 150px;
  margin-right: auto;
  margin-left: auto;
}

.g-page-surround {
  min-height: auto;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  left: 0;
}

.star {
  color: #ee7937;
}

.text-span-2 {
  color: #ee7937;
}

.btn {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 12px;
  padding: 16px 30px;
  background-color: #482683;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color 200ms ease,
    -webkit-transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: background-color 200ms ease,
    -webkit-transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53),
    background-color 200ms ease;
  transition: transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53),
    background-color 200ms ease,
    -webkit-transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.btn:hover {
  background-color: #82358b;
  -webkit-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
}
.btn-primary {
  width: 100% !important;
  margin-top: 15px !important;
  margin-bottom: 12px !important;
  padding: 16px 30px !important;
  background-color: #482683 !important;
  color: #fff !important;
  text-align: center !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  -webkit-transition: background-color 200ms ease,
    -webkit-transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
  transition: background-color 200ms ease,
    -webkit-transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53) !important;
  transition: transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53),
    background-color 200ms ease;
  transition: transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53),
    background-color 200ms ease,
    -webkit-transform 200ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.btn-primary:hover {
  background-color: #82358b !important;
  -webkit-transform: translate(0px, -3px) !important;
  -ms-transform: translate(0px, -3px) !important;
  transform: translate(0px, -3px) !important;
}
.em-register {
  display: block;
  background-color: #2cbfdc;
}
.em-register:hover {
  background-color: #482683;
  color: white;
  -webkit-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
}

.form-validate {
  color: #482683;
}

.alter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 15px 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ee7937;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.em-rowfooter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.page-home {
  display: none;
}
.alert-danger {
  display: none;
}
.alert-message {
  text-align: center !important;
  color: #482683 !important;
}
.alert-heading {
  text-align: center;
  color: #ee7937;
  margin-bottom: 0px;
}
.alert.alert-warning a.close,
.alert.alert-notice a.close {
  display: none;
}
.reset .page-header h1 {
  color: #482683;
}
.reset fieldset > p {
  color: #636363;
}
.popover {
  display: block !important;
}
#user-registration fieldset > p {
  margin-bottom: 20px;
}
.em-containerbottomfooter {
  height: 15vh;
}
.w-container {
  height: 100%;
}
.section-sub-menu {
  position: fixed;
  left: 0;
  top: 90px;
  right: 0;
  bottom: auto;
  z-index: 10;
  height: auto;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 hsla(0, 0%, 41.2%, 0.19);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .section-sub-menu {
    top: 8em;
  }

  .stats-block label{
    max-width: 6em;
  }
}
@media (max-width: 700px) {
  .section-sub-menu {
    top: 7em;
  }
}
.section-sub-menu .icon {
  margin-right: -5px;
}
.column-flex.w-clearfix.w-col.w-col-10 {
  padding-left: 35px;
  margin-right: -50px;
}
.em-rowfooter {
  height: 100%;
}
.em-wrappermenufooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.em-fileAttachment-link {
  padding-top: 0px;
  height: 20px;
  padding-bottom: 30px;
}
.element.style {
  width: 20px !important;
  height: 20px;
  border-radius: 50%;
}
.em-deleteFile {
  width: 15px !important;
  border-radius: 50% !important;
  margin-top: 15px !important;
  margin-bottom: 12px !important;
  padding: 15px 15px !important;
  padding-top: 15px !important;
  padding-right: 15px !important;
  padding-bottom: 15px !important;
  padding-left: 15px !important;
  background-color: #482683 !important;
  color: #fff !important;
  text-align: center !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  background: url("/images/custom/vyv/5e02227e8d72cc96258957b8_Plus.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 50%;
}
@media (max-width: 991px) {
  .g-navigation {
    min-height: auto;
    padding-top: 44px;
    padding-bottom: 44px;
  }
  .g-feature {
    height: auto;
  }
  .g-container-main {
    min-height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .g-footer {
    height: auto;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .em-menufooter {
    margin-right: 22px;
    font-size: 14px;
    line-height: 26px;
  }

  .show-on-small{
    display: block;
  }

  #siteNav ul{
    display: none;
  }

  .menuIsActive{
    display: block !important;
    opacity: 1 !important;
    position: absolute;
    left: -20px;
    height: 100vh;
    background: #1b1f3c;
    padding: 20px !important;
    width: 60% !important;
    margin-top: 5%;
    transition: all ease-in-out 0.3s;
  }
  .menuIsActive li{
    text-align: left !important;
    margin-bottom: 10%;
  }
}

@media (max-width: 767px) {
  .g-navigation {
    padding-bottom: 15px;
  }
  ._w-col {
    padding-top: 20px;
  }
  .em-wrappermenufooter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .em-menufooter {
    margin-right: 9px;
    margin-left: 9px;
  }
  .em-rowfooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

@media (max-width: 479px) {
  .g-container-main {
    display: block;
    padding-top: 56px;
    padding-bottom: 80px;
  }
  .g-grid {
    width: 100%;
  }
  .span12 {
    width: 90%;
  }
  .em-wrappermenufooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .alter {
    width: 90%;
  }
  .em-rowfooter {
    width: 100%;
  }
}

@font-face {
  font-family: "Ariatextg1";
  src: url("../fonts/AriaTextG1-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Ariatextg1";
  src: url("../fonts/AriaTextG1-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Ariatextg1";
  src: url("../fonts/AriaTextG1.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Ariatextg1";
  src: url("../fonts/AriaTextG1-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Ariatextg1";
  src: url("../fonts/AriaTextG1-SemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Ariatextg1";
  src: url("../fonts/AriaTextG1-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Wigrum";
  src: url("../fonts/Wigrum-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Wigrum";
  src: url("../fonts/Wigrum-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Wigrum";
  src: url("../fonts/Wigrum-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Wigrum";
  src: url("../fonts/Wigrum-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Wigrum";
  src: url("../fonts/Wigrum-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Wigrum";
  src: url("../fonts/Wigrum-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Wigrum";
  src: url("../fonts/Wigrum-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Wigrum";
  src: url("../fonts/Wigrum-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Wigrum";
  src: url("../fonts/Wigrum-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Wigrum";
  src: url("../fonts/Wigrum-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

.navbar-default template {
  background: none;
  border: none;
  float: right;
}

.credits-emundus {
  text-align: center;
  color: white;
}

.credits-emundus a {
  color: white;
}

div.moduletable-b {
  display: flex;
}

div.moduletable-b ul {
  display: flex;
  width: 110%;
  margin-right: 60px;
  justify-content: center;
  padding-left: 0;
  margin-top: -10px;
}

div.moduletable-b ul li {
  list-style: none;
  padding: 15px 15px 0 0;
  height: 30px;
  width: auto;
  text-align: center;
}

div.moduletable-b ul li a {
  text-decoration: none;
}

div.moduletable-b ul li a:hover {
  color: #de6339 !important;
  background: transparent;
}

#userDropdownIcon {
  background-color: #1b1f3c !important;
  border: 2px solid #fff !important;
  color: #fff !important;
  box-shadow: none !important;
  margin: 0;
  cursor: pointer;
  font-size: 32px;
}

#userDropdownIcon:hover, #userDropdownIcon.active, #userDropdownIcon:hover:active {
  background-color: transparent !important;
  color: #de6339 !important;
  border: 2px solid #de6339 !important;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}

#userDropdownMenu div > a:hover, #userDropdownMenu .active > a {
  background: #1b1f3c !important;
  color: #fff;
}

#userDropdownMenu div {
  width: auto !important;
}

li.g-menu-item ul.g-dropdown {
  display: none;
  padding: 0;
  line-height: 2;
  padding-top: 0.3%;
  margin-left: -10px;
  position: absolute;
  z-index: 1000;
}

li.g-menu-item ul.g-dropdown ul.g-sublevel {
  padding: 0;
}

li.g-menu-item:hover ul.g-dropdown {
  display: block;
}

.g-level-1.g-go-back {
  display: none;
}

.g-dropdown.g-dropdown-right.g-fade.g-inactive span:hover {
  text-decoration: underline;
}

.dropdown-menu{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  margin-top: 2px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  width: auto;
}

#moduletable-b li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  position: unset;
  padding: 0 15px;
  background: transparent;
}

.size-8{
  flex: 0 8%;
  width: 8%;
}

.right-divider{
  border-right: solid 1px #cecece;
}

  .menu-current-link{
    color: #de6339 !important;
  }

@media (min-width: 992px) {
  .menu-current-link:after{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fff;
    content: "";
    position: relative;
    display: block;
    bottom: -7px;
    margin: auto;
  }
}

@media (max-width: 1168px) {
  #userDropdownIcon{
    font-size: x-large;
    padding: 10px !important;
  }

  div.advanced-dropdown{
    position: static;
    margin-right: 15px;
  }
}
