.em_label-user, .em_label-passwd{
    color:#565656!important;
}
.login-button{
    text-transform: capitalize;
    width: 100%;
    height: 41px;
    font-family: inherit;
    font-weight: 300 !important;
    font-size: 14px !important;
}
.g-title{
    margin-top: 50px!important;
}
#login-form{
    background: white;
    border: none;
    margin-bottom: 0 !important;
    border-radius: 0;
    padding: 20px !important;
    box-shadow: none;
    width: 50%;
}
.em-linkForgot{
    margin-top: 40px!important;
}
.em-register, .em-forgotPassword{
    color: #1b1f3c;
}
#login-form input{
    border-radius: 0px;
}
.em-star{
    margin-top: -4px!important;
}

/* CONNEXION - CANDIDATER */

ul.unstyled.em-linkForgot{
    background: #fff;
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 0px;
}

ul.unstyled.em-linkForgot li {
    border: none;
}
