form[action="/connexion-candidater"] .em_label-user, .em_label-passwd{
    color:#000!important;
    font-size: 14px;

}
.login-button{
    text-transform: capitalize;
    width: 100%;
    height: 41px;
    font-family: inherit;
    font-weight: 300 !important;
    font-size: 14px !important;
}
.g-title{
    margin-top: 50px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.g-title::after {
    display: none !important;
}

#login-form{
    background: white;
    border: none;
    margin-bottom: 0 !important;
    border-radius: 0;
    padding: 20px;
    box-shadow: none;
    width: 50%;
    margin-left: auto !important;
    margin-right: auto !important;
}
.em-linkForgot{
    margin-top: 40px!important;
}
.em-register, .em-forgotPassword{
    color: #1b1f3c;
}
#login-form input{
    border-radius: 4px;
}

.view-form.em-formRegistrationCenter .moduletable.em-formRegistrationCenter form#login-form .controls label::before {
    content: "\f005";
    font-family: FontAwesome;
    font-size: 5px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
    position: relative;
    top: -5px;
    margin-right: 5px;
    color: #e5283B;
}

.view-form.em-formRegistrationCenter .moduletable.em-formRegistrationCenter form#login-form .controls input:hover {
    border: 1px solid #727272;
    box-shadow: none;

}

.view-form.em-formRegistrationCenter .moduletable.em-formRegistrationCenter form#login-form .controls input:focus {
    border: 1px solid #1C6EF2;
    box-shadow: none;
}

.view-form.em-formRegistrationCenter .moduletable.em-formRegistrationCenter form#login-form .controls input[aria-invalid="false"] {
    border: 1px solid #e5283B;
    box-shadow: none;
}

/* CONNEXION - CANDIDATER */

ul.unstyled.em-linkForgot{
    background:#fff;
    display: flex;
    justify-content: center;
    border: none;
    padding: 0px;
    flex-direction: row-reverse;
}

ul.unstyled.em-linkForgot span.icon-arrow-right {
    display: none;
}

ul.unstyled.em-linkForgot li {
    border: none;
}

ul.unstyled.em-linkForgot li:nth-child(1) {
    display: none;
}

ul.unstyled.em-linkForgot li a::before {
    content: "\f101";
    font-family: FontAwesome;
    margin-right: 3px;
}

ul.unstyled.em-linkForgot li a span::before {
  display: none;
}


/* ICONE TITRE LOGIN */

.view-form.em-formRegistrationCenter .moduletable.em-formRegistrationCenter .page-header {
    width: 100%;
    padding: 80px 64px 0 64px;
}

.view-form.em-formRegistrationCenter .moduletable.em-formRegistrationCenter .page-header h1 {
    font-family: var(--em-applicant-font-title);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0;
}

/* RESPONSIVE */

@media all and (max-width: 479px) {
    .view-form.em-formRegistrationCenter #g-container-main .page-header {
        width: 85%;
    }
}

@media all and (max-width: 767px) {
    .view-form.em-formRegistrationCenter .moduletable.em-formRegistrationCenter {
        width: 100%;
    }

    .view-form.em-formRegistrationCenter .moduletable.em-formRegistrationCenter form#login-form {
        width: 100%;
        padding: 20px !important;
    }

    .view-form.em-formRegistrationCenter ul.unstyled.em-linkForgot {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .view-login .login.em-formRegistrationCenter .page-header {
       width: 100%;
        padding: 15px;
    }
}

@media all and (min-width: 768px) and (max-width: 959px) {
    ul.unstyled.em-linkForgot {
        align-items: center;
        flex-direction: column;
    }
}
