form[action="/connexion-candidater"] .em_label-user, .em_label-passwd{
    color:#000!important;
    font-size: 14px;

}
.login-button{
    text-transform: capitalize;
    width: 100%;
    height: 41px;
    font-family: inherit;
    font-weight: 300 !important;
    font-size: 14px !important;
}
.g-title{
    margin-top: 50px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.g-title::after {
    display: none !important;
}

#login-form{
    background: white;
    border: none;
    margin-bottom: 0 !important;
    border-radius: 0;
    padding: 20px;
    box-shadow: none;
    width: 50%;
    margin-left: auto !important;
    margin-right: auto !important;
}
.em-linkForgot{
    margin-top: 40px!important;
}
.em-register, .em-forgotPassword{
    color: #1b1f3c;
}
#login-form input{
    border-radius: 4px;
}
.em-star{
    margin-top: -4px!important;
}

form[action="/connexion-candidater"] i.icon-star.small  {
    top: -10px!important;
}

/* CONNEXION - CANDIDATER */

ul.unstyled.em-linkForgot{
    background:#fff;
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 0px;
    flex-direction: row-reverse;
}

ul.unstyled.em-linkForgot span.icon-arrow-right {
    display: none;
}

ul.unstyled.em-linkForgot li {
    border: none;
}

ul.unstyled.em-linkForgot li:nth-child(1) {
    display: none;
}

ul.unstyled.em-linkForgot li a::before {
    content: "\f101";
    font-family: FontAwesome;
    margin-right: 3px;
}

ul.unstyled.em-linkForgot li a span::before {
  display: none;
}


/* ICONE TITRE LOGIN */

.view-form.em-formRegistrationCenter .moduletable.em-formRegistrationCenter .page-header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    width: 59%;
    margin-left: auto;
    margin-right: auto;
}

.view-form.em-formRegistrationCenter .moduletable.em-formRegistrationCenter .page-header  div.icon-title.applyicon {
    background-image: url(../../../../../components/com_emundus/src/assets/images/enter.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.view-form.em-formRegistrationCenter .moduletable.em-formRegistrationCenter .page-header.page-header div.icon-title {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    background-position: 0 0;
    background-size: contain;
    -webkit-filter: brightness(.5);
    filter: brightness(.5);
    fill: grey;
}

/* RESPONSIVE */

@media all and (max-width: 479px) {
    .view-form.em-formRegistrationCenter #g-container-main .page-header {
        width: 85%;
    }
}

@media all and (max-width: 767px) {
    .view-form.em-formRegistrationCenter .moduletable.em-formRegistrationCenter {
        width: 100%;
    }

    .view-form.em-formRegistrationCenter .moduletable.em-formRegistrationCenter form#login-form {
        width: 100%;
        padding: 20px !important;
    }

    .view-form.em-formRegistrationCenter ul.unstyled.em-linkForgot {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .view-login .login.em-formRegistrationCenter .page-header {
       width: 100%;
        padding: 15px;
    }
}

@media all and (min-width: 768px) and (max-width: 959px) {
    ul.unstyled.em-linkForgot {
        align-items: center;
        flex-direction: column;
    }
}
