/* USER MENU */
#g-navigation .header-c .open > .dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: auto;
    margin-top: 10px;
}
#g-navigation:not(.g-flushed) .header-c .open > .dropdown-menu {
    right: 0;
}
#g-navigation.g-flushed .header-c .open > .dropdown-menu {
    right: 0;
}


#userDropdownMenu li {
    text-align: center;
    width: 100%;
    height: auto !important;
    margin: 0 !important;
}
#userDropdownIcon {
    background-color: #29d4ff;
    border: 2px solid #29d4ff;
    color: #ffffff;
    margin:0;
    box-shadow: none !important;
    cursor: pointer;
}
#userDropdownIcon:hover,
#userDropdownIcon.active,
#userDropdownIcon:hover:active {
    background-color:transparent;
    color: #29d4ff;
}

#userDropdownMenu li>a:hover,
#userDropdownMenu .active>a {
    background: #29d4ff;
    color: #ffffff;
}

li>a:hover {
	text-decoration: underline;
}

.header-c .header-right a:not(.btn):hover {
    text-decoration: underline;
}

.view-reset #g-navigation .header-c .header-right a.btn {
    letter-spacing: 0.1rem;
}

