@layer components {
    .em-primary-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: var(--em-coordinator-vertical) var(--em-coordinator-horizontal);
        border-radius: var(--em-coordinator-br);
        border: unset;
        color: var(--neutral-0);
        background-color: var(--em-coordinator-primary-color);
        border: solid 1px transparent;
        font-family: var(--em-coordinator-font);
        font-size: var(--em-coordinator-font-size) !important;

        &:hover {
            background-color: var(--neutral-0);
            color: var(--em-coordinator-primary-color);
            border: 1px solid var(--em-coordinator-primary-color);
            text-decoration: none;

            .material-icons {
                color: var(--em-coordinator-primary-color) !important;
            }
        }

        .material-icons {
            color: var(--white);
        }
    }

    .em-primary-disabled {
        background-color: var(--main-100);
    }


}