@layer components {
    .em-primary-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 var(--p-16);
        border-radius: var(--em-coordinator-br);
        border: unset;
        height: 40px;
        color: white;
        background-color: var(--main-500);
        border: solid 1px transparent;
        font-family: var(--em-coordinator-font);

        &:hover {
            background-color: white;
            color: var(--main-500);
            border: 1px solid var(--main-500);
            text-decoration: none;

            .material-icons {
                color: var(--main-500) !important;
            }
        }

        .material-icons {
            color: var(--white);
        }
    }

    .em-primary-disabled {
        background-color: var(--main-100);
    }


}