@layer components {
    form.fabrikForm {
        .fabrikLabel {
            display: flex !important;
            @apply text-lg
        }

        input:not([type='radio']),select{
            height: var(--em-fabrik-input-height);
        }

        input,select {
            color: var(--typo-text-1);
            border-radius: var(--em-fabrik-br);
            @apply px-2.5 py-3;
            @apply mb-0;
            background-color: var(--em-fabrik-input-bg);
            transition: all 0.1s ease-out;
            &:hover {
                background-color: var(--em-fabrik-input-bg--hover);
                border-color: var(--em-fabrik-input-bc--hover);
                box-shadow: unset;
            }
            &:focus {
                outline: var(--em-fabrik-input-color--focus) solid var(--em-fabrik-input-width--focus);
                border-radius: var(--em-fabrik-input-br--focus);
                outline-offset: var(--em-fabrik-input-outline-offset--focus);
                box-shadow: unset;
                border-color: var(--em-fabrik-input-bc--focus);
                background-color: var(--em-fabrik-input-bg--focus);
            }
        }

        .fabrikgrid_radio {
            @apply flex;
            @apply py-1;
            @apply mb-1;
            @apply items-center;
            label{
                @apply mb-0;
            }
        }

        /** ERRORS **/
        .control-group.error {
            label{
                color: var(--em-fabrik-input-label-color--error);
            }
            input{
                border-color: var(--em-fabrik-input-bc--error);
            }
        }
        .fabrikErrorMessage {
            @apply mt-1;
        }
     }
}