@layer components {

  .emundus-form .page-header h1 {
    @apply em-default-title-1;
  }

  form.fabrikForm {
    margin: 0;

    /** GLOBAL **/
    .row-fluid{
      width: auto;
    }

    .fabrikElementContainer {
      @apply mb-0;
    }

    .fabrikLabel {
      display: flex !important;
      @apply text-lg;
      margin-bottom: $em-form-label-margin-bottom;
    }

    input:not([type='radio']):not([type='checkbox']), select {
      height: $em-form-height;
    }

    input, select {
      color: var(--typo-text-1);
      border-radius: $em-form-border-radius;
      @apply px-2.5 py-3;
      @apply mb-0;
      background-color: $em-form-background-color;
      transition: all 0.1s ease-out;

      &:hover {
        background-color: $em-form-background-color-hover;
        border-color: $em-form-border-color-hover;
        box-shadow: unset;
      }

      &:focus {
        outline: $em-form-outline-color-focus solid $em-form-outline-width-focus;
        border-radius: $em-form-border-radius-focus;
        outline-offset: $em-form-outline-offset-focus;
        box-shadow: unset;
        border-color: $em-form-border-color-focus;
        background-color: $em-form-background-color-focus;
      }
    }

    /** RADIO **/
    .fabrikgrid_radio {
      @apply py-1;
      @apply mb-1;
      @apply items-center;
      label {
        @apply mb-0;
        @apply flex;
        @apply items-center;
        padding: $em-form-radio-padding;
        border: $em-form-radio-border-width solid $em-form-radio-border-color;
        border-radius: $em-form-radio-border-radius;
        input {
          accent-color: $em-form-radio-color-checked;
          width: $em-form-radio-width;
          height: $em-form-radio-height;
          margin-right: $em-form-radio-margin-right;
          margin-left: 0;
          margin-top: 0;
        }
        span{
          word-wrap: break-word;
        }
        &:has(input[type='radio']:checked) {
          background-color: $em-form-radio-background-color-checked;
          border-color: $em-form-radio-border-color-checked;
        }
      }
    }

    /** CHECKBOX **/
    .plg-checkbox {
      .fabrikElement {
        .fabrikSubElementContainer {
          border-top: solid $em-form-checkbox-border-width $em-form-checkbox-border-color;
          padding: $em-form-checkbox-padding 0 0 0;
          .row-fluid {
            margin-top: 0;
            margin-bottom: $em-form-checkbox-padding;
            border-bottom: solid $em-form-checkbox-border-width $em-form-checkbox-border-color;
            padding: 0 0 $em-form-checkbox-padding $em-form-checkbox-padding;
            .fabrikgrid_checkbox {
              label {
                margin-bottom: 0;
                input {
                  accent-color: $em-form-checkbox-color-checked;
                  transform: scale($em-form-checkbox-scale);
                  margin-right: $em-form-checkbox-input-margin;
                }
              }
            }
          }
        }
      }
    }

    /** PANEL **/
    .plg-panel {
      .fabrikElement {
        .fabrikinput {
          @apply flex;
          @apply p-5;
          @apply rounded;
          .fabrikElementContent {
            @apply ml-3;
            line-height: 24px;
          }
        }
      }
    }

    /** ERRORS **/
    .control-group.error {
      label {
        color: $em-form-label-color-error;
      }

      input {
        border-color: $em-form-border-color-error;
      }
    }
    .fabrikError.plg-checkbox {
      .fabrikElement {
        .fabrikSubElementContainer {
          border-color: $em-form-checkbox-border-color-error;
          .row-fluid {
            border-color: $em-form-checkbox-border-color-error;
          }
        }
      }
    }

    .fabrikErrorMessage {
      @apply mt-1;
    }
  }
}