@import "utilities.css";
@import "components.css";
@import "form.css";
@import "tchoozy.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/media/com_emundus/css/fonts/google/MaterialIcons-Regular.ttf); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/media/com_emundus/css/fonts/google/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(/media/com_emundus/css/fonts/google/MaterialIconsOutlined-Regular.otf); /* For IE6-8 */
    src: local('Material Icons Outlined'),
    local('MaterialIconsOutlined-Regular'),
    url(/media/com_emundus/css/fonts/google/MaterialIconsOutlined-Regular.otf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

body {
    font-family: var(--em-default-font);
}

/***********
/* TCHOOZY *
 ***********/

/* Accueil */
.view-featured.homepage #g-page-surround {
    background-image: var(--display-wide-background);
    background-size: 60%;
    background-repeat: repeat;
    background-position: 60vw 120px;
}

.homepage #g-container-main .g-container {
    background-image: var(--display-demonstration);
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: top right 30px;
}

/* Connexion */
.login > #g-page-surround {
    background-image: var(--display-digital-testing), var(--display-corner-bottom-left-background), var(--display-candidate-button), var(--display-corner-top-right-background);
    background-position: top 120px left 20px, bottom left, bottom 50px right 20px, top right;
    background-repeat : no-repeat, no-repeat, no-repeat, no-repeat;
    background-size : 25%, 50%, 25%, 50%;
}

.login #g-navigation .g-container {
    background : transparent;
}

#g-container-main div.login {
    background : none;
}

/* Pop-up aide */
.icone-aide-tchoozy {
    width: 20px;
    margin-right: 5px;
}

/* TABLETTE */
@media screen and (min-width: 768px) and (max-width: 959px) {



    /* Accueil */
    .homepage #g-container-main .g-container {
        background-image : none;
    }

    /* Connexion */
    .login > #g-page-surround {
        background-position: top 120px left 20px, bottom left, top 500px right 20px, top 72px right;
        background-size : 25%, 50%, 25%, 50%;
    }
}

/* MOBILE */
@media screen and (max-width: 767px) {

    /* Accueil */
    .homepage #g-container-main .g-container {
        background-image : none;
    }

    /* Connexion */
    .login > #g-page-surround {
        background-image : none, var(--display-corner-bottom-left-background), none, var(--display-corner-top-right-background);
        background-size : 80%, 80%, 80%, 80%;
    }
}

/* FIN TCHOOZY */

.after-em-border::after{
    content: "";
    width: 40px;
    height: var(--em-form-after-bh);
    display: block;
    margin-top: 8px;
}
small {
    font-size: 15px;
    font-weight: 500;
}
.em-goback-btn {
    padding: var(--em-spacing-vertical) var(--em-spacing-horizontal);

    .material-icons-outlined {
        color: var(--em-secondary-color);
    }

    button.btn.goback-btn {
        text-shadow: none;
        text-transform: none;
        color: var(--neutral-900);
        font-weight: normal;
        line-height: normal;
        letter-spacing: normal;
        font-size: var(--em-applicant-font-size);
    }
}