@import "utilities.css";
@import "components.css";
@import "form.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.after-em-border::after{
    content: "";
    width: 40px;
    height: var(--em-form-after-border-height);
    display: block;
    margin-top: 8px;
}