@import "utilities.scss";
@import "form.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.after-em-border::after{
    content: "";
    width: 40px;
    height: $em-form-after-border-height;
    display: block;
    margin-top: 8px;
}