/**
  eMundus classes
**/

.em-text-color {
  color: var(--neutral-800);
}

.em-logo{
  width: auto;
  height: 24px;
}
.em-filter-grayscale{
  filter: grayscale(1) brightness(100);
}

/* BUTTONS */

.em-applicant-primary-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--em-spacing-vertical) 55px;
  border-radius: var(--em-applicant-br);
  border: unset;
  color: var(--neutral-0);
  background-color: var(--em-primary-color) !important;
  border: solid 1px var(--em-primary-color);
  font-size: var(--em-applicant-font-size);

  &:hover, &:active, &:focus {
    background-color: transparent !important;
    color: var(--em-primary-color);
    border: 1px solid var(--em-primary-color);
    text-decoration: none;

    .material-icons {
      color: var(--em-primary-color) !important;
    }
  }

  .material-icons {
    color: var(--white);
  }
}

.em-secondary-button{
  font-size: var(--em-coordinator-font-size);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--em-coordinator-vertical) 55px;
  border-radius: var(--em-coordinator-br);
  border: solid 1px var(--em-coordinator-secondary-color);
  background: transparent;
  color: var(--em-coordinator-secondary-color);
  font-family: var(--em-coordinator-font);
  &:hover {
    background-color: var(--em-coordinator-secondary-color) !important;
    color: var(--neutral-0);
    border: 1px solid var(--em-coordinator-secondary-color);
    text-decoration: none;
  }
}

.em-applicant-secondary-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--em-spacing-vertical) var(--em-spacing-horizontal);
  border-radius: var(--em-applicant-br);
  border: solid 1px var(--em-primary-color);
  background: transparent;
  color: var(--em-primary-color);

  &:hover {
    background-color: var(--em-primary-color) !important;
    color: var(--neutral-0);
    border: 1px solid var(--em-primary-color);
    text-decoration: none;
  }
}

.em-tertiary-button{
  font-size: var(--em-coordinator-font-size);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--em-coordinator-vertical) var(--em-coordinator-horizontal);
  border-radius: var(--em-coordinator-br);
  border: unset;
  background: transparent;
  color: var(--em-coordinator-tiertiary-color);
}

.em-disabled-button {
  background: var(--neutral-300);
  border: 1px solid var(--neutral-300);
  border-radius: var(--em-applicant-br);
  padding: var(--em-spacing-vertical) var(--em-spacing-horizontal);
  color: var(--neutral-600);
  cursor: unset;
}

.em-error-button {
  background: var(--red-500);
  border: 1px solid var(--red-500);
  border-radius: var(--em-applicant-br);
  padding: var(--em-spacing-vertical) var(--em-spacing-horizontal);
  color: var(--neutral-0);
  span {
    color: var(--neutral-0);
  }
}

.em-error-button:hover,
.em-error-button:focus,
.em-error-button:active {
  background: var(--neutral-0);
  border: 1px solid var(--red-500);
  color: var(--red-500);
  span {
    color: var(--red-500);
  }
}

.btn[disabled] {
  border: 1px solid #e6e6e6;
  color: #333333;
  background-color: #e6e6e6;

  &:hover, &:focus, &:active {
    border: 1px solid #333333;
    background: #333333;
    color: #e6e6e6;
    cursor: not-allowed;
  }
}

.em-back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid transparent;
  border-radius: var(--em-coordinator-br);
  padding: 6px 20px;
  color: var(--neutral-900);
  font-family: var(--em-coordinator-font);
}

.em-back-button:focus{
  text-decoration: unset;
  color: var(--neutral-700);
}

.em-back-button:hover {
  color: var(--neutral-700);
}

.em-radio-button{
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.em-transparent-button{
  background: transparent;
}

.em-square-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;

  background: transparent;
  border: 1px solid transparent;
  border-radius: 4px;

  &.active {
    border: 1px solid var(--neutral-300);
    background: var(--neutral-0);
  }
}

button[class ^= 'em-']{
  transition: all 0.3s ease-in-out;
}
.em-disabled-state{
  background: var(--neutral-100) !important;
  span{
    color: var(--neutral-300);
  }
}

.em-disabled {
    background: var(--neutral-100) !important;
    border: 1px solid var(--neutral-300) !important;
    color: var(--neutral-600) !important;
    cursor: not-allowed;

    &:hover {
      background: var(--neutral-100) !important;
      border: 1px solid var(--neutral-300) !important;
      color: var(--neutral-600) !important;
    }
}

.em-disabled-events {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

/** INPUTS **/
.em-input{
  border: 1px solid #E3E3E3;
  padding: 8px 12px;
  border-radius: 4px;
  -webkit-transition: border-color 200ms linear;
  transition: border-color 200ms linear;
  &:hover {
    border-color: #E3E3E3;
  }
  &:focus {
    border-color: var(--main-500) !important;
    -webkit-box-shadow: 0 0 6px #e0f3f8 !important;
    -moz-box-shadow: 0 0 6px #e0f3f8 !important;
    box-shadow: 0 0 6px #e0f3f8 !important;
  }
  &::-webkit-input-placeholder {
    color: dimgrey;
  }
  &:-ms-input-placeholder {
    color: dimgrey;
  }
  &::-ms-input-placeholder {
    color: dimgrey;
  }
  &::placeholder {
    color: dimgrey;
  }
}

.em-default-input {
  height: 40px !important;
  border-radius: 8px !important;
}

.em-editable-content{
  caret-color: var(--main-500);
  &:focus{
    border: solid 1px var(--neutral-500);
    border-radius: 5px;
  }
}

.em-autocomplete{
  padding: unset;
  box-shadow: unset;
  border-radius: 4px;
  li{
    a{
      padding: 8px !important;
      &:hover,&:focus{
        p{
          color: white !important;
        }
        background: var(--main-500) !important;
        color: white !important;
      }
    }
  }
}

.em-select-no-border{
  border: unset;
  height: auto;
  background: transparent;
  padding: unset;
}


// TOGGLE BUTTON //
.em-switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 32px;
  margin: 0;

  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.em-toggle {
  vertical-align: middle;
  position: relative;
  width: 45px;
  height: 22px;
  border-radius: 100px;
  background-color: #ddd;
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
}
.em-toggle-check {
  position: absolute;
  display: block !important;
  cursor: pointer !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: auto;
  opacity: 0;
  z-index: 6;
  &:checked {
    ~ {
      .em-toggle-track {
        box-shadow: inset 0 0 0 20px #4bd863;
      }
      .em-toggle-switch {
        right: 2px;
        left: 22px;
        transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition-property: left, right;
        transition-delay: 0.05s, 0s;
      }
    }
  }
}
.em-toggle-switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 22px;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: 0s, 0.05s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.em-toggle-track {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.05);
  border-radius: 40px;
}

/* The slider */
.em-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F4F4F6;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 6px;
    bottom: 8px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

input:checked + .em-slider {
  background-color: var(--em-green);

  &:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
  }
}

input:focus + .em-slider {
  box-shadow: 0 0 1px #F4F4F6;
}

.em-slider.em-round {
  border-radius: 34px;

  &:before {
    border-radius: 50%;
  }
}

.em-tip{
  font-size: 14px;
  color: #727272;
}

/* LOADING */
.em-loader {
  border: 5px solid #f3f3f4;
  border-top: 5px solid var(--main-500);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
  text-align: center;
}
.em-page-loader{
  border: 5px solid #f3f3f4;
  border-top: 5px solid var(--main-500);
  border-radius: 50%;
  animation: spin 2s linear infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 9999px #cecece85;
  background: #cecece85;
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 99999;
}
.em-page-loader-text{
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-45%,50%);
}
.em-success-animation{
  width: 150px;
  position: absolute;
  left: 50%;
  top: 40%;
}

.em-fade-loader{
  box-shadow: 0 0 0 9999px #cecece85;
  background: #cecece85;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/* ACCESSIBILITY */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* UTILITIES */
.unselectable{
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.em-flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.em-flex-column-default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.em-flex-col-start{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
}
.em-flex-col-end{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  height: 100%;
}

.em-errors-alert .alert{
  margin: unset;
}

.em-flex-wrap {
    flex-wrap: wrap;
}

.em-flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.em-flex-align-start{
  align-items: start;
}

.em-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.em-flex-gap-8 {
  gap: 8px;
}

.em-flex-gap-16 {
  gap: 16px;
}

.em-grid-simple {
  display: grid;
}

.em-grid {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

.em-flex-row-end{
  display: flex;
  flex-direction: row;
  align-items: end;
}

.em-flex-row-justify-end{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.em-flex-row-start{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.em-grid-50{
  display: grid;
  grid: auto-flow dense / 45% 50% 1fr;
  grid-gap: 24px;
  align-items: center;
}

.em-grid-2{
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}

.em-grid-2-20-80{
  display: grid;
  grid-gap: 0;
  grid-template-columns: 30% 70%;
}

.em-grid-2-70-30{
  display: grid;
  grid-gap: 0;
  grid-template-columns: 70% 30%;
}

.em-grid-3{
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}

.em-grid-4{
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(4, 1fr);
}

.em-grid-1{
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(1, 1fr);
}

.em-grid-small {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(1, 1fr);
}

.em-grid-3-2-1{
  display: grid !important;
  grid-gap: 12px;
  grid-template-columns:
    repeat(auto-fill,
            minmax(clamp(clamp(clamp(
                    100%/(3 + 1) + 0.1%,
                    unquote("(1200px - 100vw)")*1000,
                    100%/(2 + 1) + 0.1%),
            unquote("(800px - 100vw)")*1000,
            100%/(1 + 1) + 0.1%),
            unquote("(400px - 100vw)")*1000,
            100%), 1fr));
}

.em-gap-4{
  gap: 4px;
}

.em-gap-8{
  gap: 8px;
}

.em-gap-16{
  gap: 16px;
}

.em-float-left{
  float: left;
}
.em-float-right{
  float: right;
}

.em-pointer{
  cursor: pointer;
}

.em-pointer-disbabled{
  cursor: not-allowed;
}

.em-grab{
  cursor: grab;
}

.em-grabbing{
  cursor: grabbing;
}
.em-edit-cursor{
  cursor: url('/images/emundus/icons/edit_black_24dp.svg') 2 2, pointer;
}
.em-cursor-text{
  cursor: text;
}

/** HOVER **/
.em-no-hover-underline{
  &:hover{
    text-decoration: none;
  }
}
.em-no-hover{
  &:hover{
    color: unset;
  }
}
.em-hover-blue-500{
  &:hover{
    color: var(--blue-500);
  }
}
.em-hover-background-neutral-300{
  &:hover{
    background: var(--neutral-300);
  }
}

.em-hover-main-600{
  &:hover{
    color: var(--main-600);
  }
}

.em-z-index-10{
  z-index: 10;
}

.em-h-auto{
  height: auto !important;
}

.em-h-maxcontent{
  height: max-content;
}

.em-h-25{
  height: 25px;
}

.em-h-40{
  height: 40px;
}

.em-h-50{
  height: 50px;
}

.em-min-height-100{
  min-height: 100px;
}

.em-max-height-20{
  max-height: 20px;
}
.em-max-width-75{
  max-width: 75%;
}
.em-max-width-48{
  max-width: 48%;
}

.em-max-width-250{
  max-width: 250px;
}

.em-max-width-448{
  max-width: 448px;
}

.em-max-width-600{
  max-width: 600px;
}

.em-max-width-700{
  max-width: 700px;
}

.em-max-width-768{
  max-width: 768px;
}

.em-max-width-1200{
  max-width: 1200px;
}



.em-w-75rem{
  width: 75rem;
}

.em-w-90rem{
  width: 90rem;
}

.em-w-50{
  width: 50%;
}

.em-w-80{
  width: 80%;
}

.em-w-90{
  width: 90%;
}

.em-w-33{
  width: 33%;
}

.em-w-100{
  width: 100%;
}
.swal2-popup.em-w-100 {
    width: 100% !important;
}

.em-w-40-vw{
  width: 40vw;
}

.em-w-380{
  width: 380px;
}

.em-h-80 {
  height: 80%;
}

.em-h-100 {
  height: 100%;
}

.em-w-auto{
  width: auto;
}

.em-w-max-content{
  width: max-content;
}

.em-text-italic {
  font-style: italic;
}

.em-text-underline{
  text-decoration: underline;
}
.em-color-white{
  color: white;
}
.em-green-color{
  color: var(--em-green);
}

.em-profile-color{
  color: var(--em-profile-color);
  &:hover {
    color: var(--em-profile-color);
    filter: brightness(0.8);
  }
}

.em-form-success-color{
  color: var(--em-form-success-color);
}
.em-form-error-color{
  color: var(--em-form-error-color);
}

.em-main-100-color{
  color: var(--main-100);
}
.em-main-400-color{
  color: var(--main-400);
}
.em-green-500-color{
  color: var(--green-500) !important;
}
.em-main-500-color{
  color: var(--em-profile-color) !important;
}
.em-yellow-500-color{
  color: var(--orange-500);
}
.em-yellow-600-color{
  color: var(--yellow-600);
}
.em-blue-color{
  color: var(--em-blue);
}
.em-blue-300-color{
  color: var(--blue-300);
}
.em-blue-400-color{
  color: var(--blue-400);
}
.em-blue-500-color{
  color: var(--blue-500);
}
.em-gray-color{
  color: var(--grey);
}
.em-neutral-300-color{
  color: var(--neutral-300);
}
.em-neutral-600-color{
  color: var(--neutral-600);
}
.em-neutral-700-color{
  color: var(--neutral-700);
}
.em-neutral-800-color{
  color: var(--neutral-800);
}
.em-text-neutral-600{
  color: var(--neutral-600);
}
.em-text-neutral-500{
  color: var(--neutral-500);
}
.em-text-neutral-300{
  color: var(--neutral-300);
}
.em-text-neutral-900{
  color: var(--neutral-900);
}
.em-text-neutral-800{
  color: var(--neutral-800);
}
.em-red-500-color{
  color: var(--red-500);
}

.em-dark-blue-500-color{
  color: var(--dark-blue-500);
}

.em-applicant-text-color {
  color: var(--em-default-text-color-1);
}

.em-applicant-title-color {
  color: var(--em-default-title-color-1);
}

.em-green-bg{
  background: var(--em-green);
}
.em-blue-bg{
  background: var(--em-blue);
}
.em-gray-bg{
  background: var(--grey);
}
.em-lightgray-bg{
  background: #F5F6F6;
}
.em-bg-main-100{
  background: var(--main-100);
}
.em-bg-main-200{
  background: var(--main-200);
}
.em-bg-main-300{
  background: var(--main-300);
}
.em-bg-main-500{
  background: var(--em-profile-color);
}
.em-bg-main-900{
  background: var(--main-900);
}
.em-bg-neutral-100{
  background: var(--neutral-100);
}
.em-bg-neutral-200{
  background: var(--neutral-200);
}
.em-bg-transparent{
  background: transparent;
}
.em-white-bg{
  background: white;
}

/* MARGINS */
.em-m-center{
  margin: 0 auto;
}

.em-m-8{
  margin: 8px;
}

.em-m-16{
  margin: 16px;
}

.em-m-24{
  margin: 24px;
}
.em-p-8{
  padding: 8px;
}
.em-p-16{
  padding: 16px;
}

.em-p-16-0{
  padding: 16px 0;
}

.em-p-5-12{
  padding: 5px 12px;
}

.em-p-6-12{
  padding: 6px 12px;
}

.em-p-6-10{
  padding: 6px 10px;
}

.em-p-4-6{
  padding: 4px 6px;
}

.em-p-8-12{
  padding: 8px 12px;
}

.em-p-8-0{
  padding: 8px 0;
}

.em-p-12-16{
  padding: 12px 16px;
}

.em-p-24{
  padding: 24px;
}

.em-p-32{
  padding: 32px;
}

.em-p-0-12{
  padding: 0 12px;
}

.em-p-0-24{
  padding: 0 24px;
}

.em-p-0-32{
  padding: 0 32px;
}

.em-pt-16{
  padding-top: 16px;
}
.em-pt-24{
  padding-top: 24px;
}

.em-pb-16{
  padding-bottom: 16px;
}

.em-pb-24{
  padding-bottom: 24px;
}

.em-pr-4{
  padding-right: var(--p-4);
}
.em-pl-4{
  padding-left: var(--p-4);
}
.em-pr-8{
  padding-right: var(--p-8);
}
.em-pr-16{
  padding-right: 16px;
}
.em-pl-8{
  padding-left: var(--p-8);
}
.em-pl-16{
  padding-left: 16px;
}
.em-mr-4{
  margin-right: 4px;
}
.em-mr-8{
  margin-right: 8px;
}
.em-mr-12{
  margin-right: 12px;
}
.em-mr-16{
  margin-right: var(--m-16);
}
.em-mr-24{
  margin-right: var(--m-24);
}
.em-mr-32{
  margin-right: 32px;
}
.em-ml-4{
  margin-left: 4px;
}
.em-ml-6{
  margin-left: 6px;
}
.em-ml-8{
  margin-left: 8px;
}
.em-ml-12{
  margin-left: 12px;
}
.em-ml-16{
  margin-left: 16px;
}
.em-ml-22{
  margin-left: 22px;
}
.em-ml-24{
  margin-left: var(--m-24);
}
.em-ml-28{
  margin-left: 28px;
}
.em-ml-30{
  margin-left: 30px;
}
.em-ml-32{
  margin-left: 32px;
}
.em-ml-64{
  margin-left: 64px;
}
.em-ml-120{
  margin-left: 120px;
}
.em-mr-120{
  margin-right: 120px;
}

.em-mt-0-important{
  margin-top: 0 !important;
}

.em-mt-4{
  margin-top: 4px;
}
.em-mt-8{
  margin-top: var(--m-8);
}
.em-mt-12{
  margin-top: 12px;
}
.em-mt-16{
  margin-top: var(--m-16);
}
.em-mt-24{
  margin-top: var(--m-24);
}
.em-mt-32{
  margin-top: var(--m-32);
}
.em-mt-48{
  margin-top: var(--m-48);
}
.em-mt-64{
  margin-top: 64px;
}
.em-mt-80{
  margin-top: var(--m-80);
}
.em-mb-0{
  margin-bottom: 0;
}
.em-mb-0-important{
  margin-bottom: 0 !important;
}
.em-mb-4{
  margin-bottom: 4px;
}
.em-mb-8{
  margin-bottom: var(--m-8);
}
.em-mb-12{
  margin-bottom: 12px;
}
.em-mb-16{
  margin-bottom: var(--m-16);
}
.em-mb-24{
  margin-bottom: 24px;
}
.em-mb-32{
  margin-bottom: var(--m-32);
}
.em-mb-44{
  margin-bottom: 44px;
}
.em-mt-44{
  margin-top: 44px;
}
.em-mb-64{
  margin-bottom: 64px;
}
.em-divider{
  background: var(--neutral-300);
  margin-top: 16px;
  margin-bottom: 16px;
}
.em-h-32{
  height: 32px;
}

/* Texte */

.em-lowercase {
  text-transform: lowercase;
}



/* Positions */
.em-flex-important {
  display: flex !important;
}

.em-flex-start {
  justify-content: flex-start;
}

.em-flex-align-start {
  align-items: flex-start;
}

.em-flex-center {
  justify-content: center !important;
}

.em-flex-col-center {
  align-items: center !important;
}

.em-flex-end {
  justify-content: flex-end;
}

.em-flex-space-between {
  justify-content: space-between;
}

.em-flex-space-around {
  justify-content: space-around;
}
.em-text-align-center{
  text-align: center;
}
.em-text-align-left{
  text-align: start;
}
.em-text-align-right {
  text-align: right;
}
.em-align-start{
  align-items: start;
}
.em-display-none{
  display: none;
}

/*
  OPACITY
*/

.em-opacity-high {
  opacity: 1;
}

.em-opacity-medium {
    opacity: 0.5;
}

.em-opacity-low {
  opacity: 0.3;
}

.em-opacity-none {
  opacity: 0;
}

/*
  BORDERS
*/
.em-border-unset{
  border: unset !important;
}

.em-border-radius-4{
  border-radius: 4px;
}

.em-border-radius-5{
  border-radius: 5px;
}

.em-border-radius-6{
  border-radius: 6px;
}

.em-border-radius-8{
  border-radius: 8px;
}
.em-border-neutral-400{
  border: 1px solid var(--neutral-400);
  box-sizing: border-box;
}
.em-border-neutral-300{
  border: 1px solid var(--neutral-300);
  box-sizing: border-box;
}
.em-border-neutral-600{
  border: 1px solid var(--neutral-600);
  box-sizing: border-box;
}
.em-border-left-neutral-700{
  border-left: solid 2px var(--neutral-700);
}
.em-border-left-yellow-500{
  border-left: solid 2px var(--orange-500);
}
.em-border-main-500 {
  border: 1px solid var(--em-profile-color);

  &.important {
    border: 1px solid var(--em-profile-color) !important;
  }
}
.em-border-left-main-500{
  border-left: solid 2px var(--em-profile-color);
}

.em-border-bottom-main-500 {
  border-bottom: solid 1px var(--em-profile-color);
}

.em-border-bottom-coordinator {
  border-bottom: solid 1px var(--em-profile-color);
}
.em-border-left-red-500{
  border-left: solid 2px var(--red-500);
}
.em-border-bottom-neutral-300{
  border-bottom: solid 1px var(--neutral-300);
}
.em-border-top-neutral-300{
  border-top: solid 1px var(--neutral-300);
}
.em-border-blue-400{
  border: solid 1px var(--blue-400);
  box-sizing: border-box;
  border-radius: 4px;
}
.em-underline{
  text-decoration: underline;
}
.em-no-underline{
  text-decoration: none;
}

/** BOXES **/
.em-box-shadow{
  box-shadow: inset 0px -1px 0px #E3E5E8;
}
.em-neutral-100-box{
  background: #FAFAFA;
}
.em-light-tabs{
  padding: 12px 0;
  border-bottom: solid 1px transparent;
  span{
    color: var(--neutral-500);
  }
}
.em-light-selected-tab{
  border-bottom: 1px solid var(--main-400);
  span{
    color: var(--neutral-900);
  }
}
.em-tabs{
  padding: var(--em-spacing-vertical) var(--em-spacing-horizontal);
  border-radius: 6px;
  border: 1px solid #D4D6DF;
  box-shadow: 0 1px 4px rgba(32, 35, 44, 0.05);
}
.em-selected-tab{
  background: var(--main-50);
  border: 1px solid var(--main-300);
}
.em-status{
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**
  TITLES
*/
.em-h1{
  font-family: var(--em-coordinator-font-title);
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: var(--night-blue);
}
.em-h2{
  font-family: var(--em-coordinator-font-title);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: var(--night-blue);
}
.em-h3{
  font-family: var(--em-coordinator-font-title);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: var(--night-blue);
}
.em-h4{
  font-family: var(--em-coordinator-font-title);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: var(--night-blue);
}
.em-h5{
  font-family: var(--em-coordinator-font-title);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--night-blue);
}
.em-h6{
  font-family: var(--em-coordinator-font-title);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--night-blue);
}

.em-applicant-default-font {
  font-family: $font-family-text;
  text-transform: inherit;
}

.em-applicant-title-font {
  font-family: var(--em-applicant-font-title) !important;
}

.em-default-font {
  font-family: $font-family-text !important;
}

.em-caption{
  font-size: 12px;
  line-height: 15px;
}

.em-font-size-12{
  font-size: 12px;
}

.em-font-size-14{
  font-size: 14px;
}

.em-font-size-16{
  font-size: 16px;
}

.em-font-size-24{
  font-size: 24px;
}

.em-font-size-32{
  font-size: 32px;
}

.em-font-size-48{
  font-size: 48px;
}

.em-body-16-semibold{
  font-size: 16px;
  font-weight: bold;
}

.em-font-weight-200 {
  font-weight: 200;
}

.em-font-weight-400 {
  font-weight: 400;
}

.em-font-weight-500 {
  font-weight: 500;
}

.em-font-weight-600 {
  font-weight: 600;
}

.em-font-weight-700 {
  font-weight: 700;
}

.em-font-weight-800{
  font-weight: 800;
}

.em-border-radius {
  border-radius: var(--em-coordinator-br);
}

.em-applicant-border-radius {
  border-radius: var(--em-applicant-br);
}

.em-white-space-normal {
  white-space: normal;
}

@supports (background-clip: text) {
  .em-gradient-icons {
    background: linear-gradient(90deg, #26CAEA 0%, #32EE5F 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/**
  Focus for lables
*/
.em-available{
  color: var(--main-500);
  align-items: center;
  display: flex;
}
.em-border-available:focus {
  border-color: var(--main-500) !important;
}
.em-not-available{
  color: var(--red-500);
  align-items: center;
  display: flex;
}
.em-border-notavailable:focus {
  border-color: var(--red-500) !important;
}

.em-overflow-ellipsis {
  text-overflow: ellipsis;
  overflow-x: hidden;
}

/**
  CARDS
**/

.em-border-cards {
  border: 1px solid #EDEDED;
}

.em-shadow-cards {
  height: 200px;
  box-shadow: var(--em-box-shadow-x-1) var(--em-box-shadow-y-1) var(--em-box-shadow-blur-1) var(--em-box-shadow-color-1), var(--em-box-shadow-x-2) var(--em-box-shadow-y-2) var(--em-box-shadow-blur-2) var(--em-box-shadow-color-2), var(--em-box-shadow-x-3) var(--em-box-shadow-y-3) var(--em-box-shadow-blur-3) var(--em-box-shadow-color-3);
  border-radius: 8px;
  padding: 24px 32px !important;
  margin: 24px;
  cursor: pointer;
  border: 1px solid #EDEDED;
}

.em-repeat-card{
  box-shadow: var(--em-box-shadow-x-1) var(--em-box-shadow-y-1) var(--em-box-shadow-blur-1) var(--em-box-shadow-color-1), var(--em-box-shadow-x-2) var(--em-box-shadow-y-2) var(--em-box-shadow-blur-2) var(--em-box-shadow-color-2), var(--em-box-shadow-x-3) var(--em-box-shadow-y-3) var(--em-box-shadow-blur-3) var(--em-box-shadow-color-3);
  border-radius: 12px;
  padding: 24px;
  height: auto;
  background: #fff;
  border: 1px solid var(--neutral-200);
  position: fixed;
}

.em-repeat-card-no-padding{
  box-shadow: var(--em-box-shadow-x-1) var(--em-box-shadow-y-1) var(--em-box-shadow-blur-1) var(--em-box-shadow-color-1), var(--em-box-shadow-x-2) var(--em-box-shadow-y-2) var(--em-box-shadow-blur-2) var(--em-box-shadow-color-2), var(--em-box-shadow-x-3) var(--em-box-shadow-y-3) var(--em-box-shadow-blur-3) var(--em-box-shadow-color-3);
  border-radius: calc(var(--em-form-br-block)/2) !important;
  height: auto;
  background: #fff;
  border: 1px solid var(--neutral-200);
}

.em-input-card{
  border-radius: var(--em-coordinator-br);
  padding: 12px 16px;
  height: auto;
  background: #fff;
  border: 1px solid var(--neutral-400);
}
.em-input-card-selected{
  background: var(--blue-100);
  border: 1px solid var(--blue-400);
  box-shadow: 0 1px 1px rgba(5, 47, 55, 0.07), 0 2px 1px rgba(5, 47, 55, 0.06), 0 1px 3px rgba(5, 47, 55, 0.1);
}

.em-settings-menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.em-logo-box{
  min-width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--neutral-400);
  padding: 10px;
  border-radius: 8px;
  img{
    width: 100px;
  }
}

.em-notifications-yellow{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--orange-500);
}

.em-card-neutral-100{
  background-color: var(--neutral-100);
  border-radius: var(--em-coordinator-br-cards);
  padding: 32px;
}

.em-card-shadow {
  box-shadow: var(--em-box-shadow-x-1) var(--em-box-shadow-y-1) var(--em-box-shadow-blur-1) var(--em-box-shadow-color-1), var(--em-box-shadow-x-2) var(--em-box-shadow-y-2) var(--em-box-shadow-blur-2) var(--em-box-shadow-color-2), var(--em-box-shadow-x-3) var(--em-box-shadow-y-3) var(--em-box-shadow-blur-3) var(--em-box-shadow-color-3);
}

.em-card-white{
  background-color: #fff;
  border-radius: 16px;
  padding: 32px;
}

.go-to-campaign-link:hover {
  filter: brightness(0.8);
  color: var(--em-profile-color);
}

/** LIST **/
.em-list-pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  background: #FFFFFF;
  border: 1px solid #EBECF0;
  box-shadow: 0 1px 4px rgba(32, 35, 44, 0.05);
  border-radius: 8px;
}

/** SKELETON **/
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 4px;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

/** SWAL CUSTOM CLASSES **/
button.em-swal-confirm-button{
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto !important;
  padding: var(--em-coordinator-vertical) var(--em-coordinator-horizontal) !important;
  border-radius: var(--em-coordinator-br) !important;
  border: 1px solid var(--em-profile-color) !important;
  color: var(--neutral-0) !important;
  background-color: var(--em-profile-color) !important;
  font-size: var(--em-coordinator-font-size) !important;
}

button.em-swal-confirm-button:hover{
  color: var(--em-profile-color) !important;
  background: var(--neutral-0) !important;
  border: 1px solid var(--em-profile-color) !important;
}

.swal2-actions.swal2-loading{
  border-radius: 25px !important;
}
button.em-swal-cancel-button{
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: var(--em-coordinator-vertical) var(--em-coordinator-horizontal) !important;
  border-radius: var(--em-coordinator-br) !important;
  background: var(--neutral-0) !important;
  color: var(--em-primary-color) !important;
  border: 1px solid var(--em-primary-color) !important;
  font-size: var(--em-coordinator-font-size) !important;
  &:focus{
    box-shadow: unset !important;
  }

  &:hover {
    background: var(--em-primary-color) !important;
    color: var(--neutral-0) !important;
    border: 1px solid var(--em-primary-color) !important;
  }
}
button.em-swal-delete-button{
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto !important;
  padding: 0 var(--p-16) !important;
  border-radius: var(--em-coordinator-br) !important;
  border: unset !important;
  color: white !important;
  background-color: var(--red-500) !important;
  border: 1px solid var(--red-500) !important;
}

button.em-swal-delete-button:hover{
  color: var(--red-500) !important;
  border: 1px solid var(--red-500) !important;
  background-color: var(--neutral-0) !important;
}

.swal2-actions:not(.em-flex-center){
  justify-content: space-between;
}
.em-swal-single-action{
  justify-content: right !important;
}

/** Vue Modal - Translation tool **/
#translationTool,#contentTool,#filesTool, #formBuilder, .full-width-modal {
  .v--modal-overlay {
    background: #0000002e !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }

  .v--modal {
    width: 100% !important;
    height: 100% !important;
    right: 0 !important;
    left: auto !important;
    position: fixed !important;
    box-shadow: unset !important;
    overflow-y: auto !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: unset !important;
  }

  .v--modal-background-click .v--modal-box.v--modal {
    top: 0 !important;
  }
  .v--modal-box{
    padding: 0;
  }
  .em-modal-header{
    height: 50px;
    padding: 12px 24px;
    box-shadow: inset 0px -1px 0px var(--neutral-300);
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .em-modal-content{
    display: flex;
  }
  .em-modal-menu__sidebar{
    width: 15%;
    background: var(--neutral-200);
    height: 100%;
    position: fixed;
    left: 0;
    top: 50px;
    .translation-menu-item:not(.em-modal-menu__current):hover{
      background-color: var(--neutral-300);
    }
  }
  .em-modal-menu__current{
    background-color: var(--neutral-400);
  }
  .em-modal-component{
    width: 100%;
    margin: 36px 20%;
  }
  textarea{
    resize: none;
    height: 100%;
    width: 100%;
  }
}
/** **/

/** Circles **/
.em-circle {
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 1px 4px rgba(32, 35, 44, 0.05);
}
.em-circle-blue-100{
  border-radius: 50%;
  padding: 12px;
  background: var(--blue-100);
}
.em-circle-blue-200{
  border-radius: 50%;
  padding: 12px;
  background: var(--blue-200);
}
.em-circle-main-100{
  border-radius: 50%;
  padding: 12px;
  background: var(--main-100);
}
.em-circle-main-200{
  border-radius: 50%;
  padding: 12px;
  background: var(--main-200);
  box-shadow: 0 1px 4px rgba(32, 35, 44, 0.05);
}
/** **/

/** PROFILE UTILITIES **/

.em-profile-picture{
  width: 45px;
  height: 45px;
  min-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border: solid 3px var(--neutral-0);
  transition: all 0.3s ease-in-out;
  &:hover{
    filter: brightness(80%);
  }
}

.em-profile-picture-modal {
  width: 72px;
  height: 72px;
  min-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: var(--m-16);
  color: var(--em-profile-color);
}

.em-profile-picture-modal-icon {
  font-size: 72px !important;
  margin-bottom: var(--m-16);
  color: var(--em-profile-color);
}

.em-profile-picture-big{
  width: 100px;
  height: 100px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border: solid 5px var(--neutral-0);
  transition: all 0.3s ease-in-out;
  &:hover:not(.no-hover){
    filter: brightness(80%);
  }
}

/** PROGRAMME **/
.em-programme-tag{
  width: fit-content;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 12px;
  font-family: var(--em-default-font);
  height: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mod_emundus_campaign__list .em-programme-tag{
  white-space: initial;
}

.view-programme .mod_emundus_campaign__grid .em-programme-tag{
  white-space: inherit !important;
}

/** SEARCHBAR **/
.em-searchbar label input[type="text"].form-control{
  margin-bottom: 0 !important;
  height: 40px;
  border-radius: var(--em-applicant-br);
  width: 300px;
  padding: 8px 16px;
  background-image: url('/images/emundus/searchbar/search.svg') !important;
  background-repeat: no-repeat !important;
  background-position: 96% 50% !important;
  font-family: $font-family-text;
}

/**
  MEDIA QUERIES
**/

/*******************
 * Peps tuiles
 *******************/

//Conteneur tuile et hover
.hover-and-tile-container {
  position: relative;
  height: 100%;
}

/* Hover decalage tuile */
#tile-hover-offset-procedure {
  background: var(--em-profile-color) !important;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  transform: rotate(3deg);
  opacity: 0.3;
  transition: transform .3s;
}

/* Peps */
.hover-and-tile-container .tile-hover-offset-procedure--pinned-and-closed {
  background: var(--neutral-500) !important;
}

.mod_emundus_campaign__pinned_campaign #tile-hover-offset-procedure {
  transform: rotate(2deg); /* rotation de base des cards longues */
}

div[id^='current_'] .hover-and-tile-container:hover > #tile-hover-offset-procedure {
  transform: rotate(5deg); /* rotation cards normales */
}

.mod_emundus_campaign__pinned_campaign .hover-and-tile-container:hover > #tile-hover-offset-procedure {
  transform: rotate(3deg); /* rotation cards épinglées (longues) */
}

/* Tuile */
div[id^='current_'] .mod_emundus_campaign__list_content,
.mod_emundus_campaign__pinned_campaign .mod_emundus_campaign__list_content {
  position: relative;
  transition: background-image .3s;
  overflow: hidden;
}

/* Fond formes */
div[id^='current_'] .mod_emundus_campaign__list_content #background-shapes {
  position: absolute;
  z-index: 2;
  width: 95%;
  height: 63%;
  top: 0;
  right: 0;
  pointer-events: none;
  mask-image: url('/modules/mod_emundus_campaign/assets/fond-clair.svg');
  background: var(--em-profile-color);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 300px;
  mask-origin: border-box;
  transform: scale(1.2);
}

.mod_emundus_campaign__pinned_campaign .mod_emundus_campaign__list_content #background-shapes {
  position: absolute;
  z-index: 2;
  width: 79%;
  height: 52%;
  top: 0;
  right: 0;
  pointer-events: none;
  mask-image: url('/modules/mod_emundus_campaign/assets/fond-clair.svg');
  -webkit-mask-image: url('/modules/mod_emundus_campaign/assets/fond-clair.svg');
  background: var(--em-profile-color);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: 300px;
  -webkit-mask-size: 300px;
  mask-origin: border-box;
  -webkit-mask-origin: border-box;
}

.mod_emundus_campaign__list_content #background-shapes.single-campaign-pinned {
  position: absolute;
  z-index: 2;
  width: 64%;
  height: 86%;
  top: 0;
  right: 0;
  pointer-events: none;
  mask-image: url('/modules/mod_emundus_campaign/assets/fond-clair.svg');
  background: var(--em-profile-color);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 300px;
  mask-origin: border-box;
  transform: scale(1.6);
}

.view-featured .mod_emundus_campaign__list_content--default {
  position: relative;
  overflow: hidden;

  #background-shapes {
    position: absolute;
    z-index: 2;
    width: 24%;
    height: 170%;
    top: 0;
    right: 0;
    pointer-events: none;
    mask-image: url('/modules/mod_emundus_campaign/assets/fond-clair.svg');
    background: var(--em-profile-color);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 300px;
    mask-origin: border-box;
  }
}

.view-article .mod_emundus_campaign__list_content--default {
  position: relative;
  overflow: hidden;

  #background-shapes {
    position: absolute;
    z-index: 2;
    width: 24%;
    height: 170%;
    top: 0;
    right: 0;
    pointer-events: none;
    mask-image: url('/modules/mod_emundus_campaign/assets/fond-clair.svg');
    background: var(--em-profile-color);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 300px;
    mask-origin: border-box;
  }
}

/* Titres */
div[id^='current_'] .mod_emundus_campaign__list_content h4 {
  color: var(--em-profile-color);
  font-size: var(--em-applicant-h4);
}

.mod_emundus_campaign__list_content--default h3 {
  color: var(--em-profile-color);
}

/* Campagnes clôturées */
.tile-hover-offset-procedure--closed {
  background: var(--neutral-500) !important;
}

.mod_emundus_campaign__list_content--closed .mod_emundus_campaign__campaign_title {
  color: var(--neutral-600) !important;
}

/*******************
 *    Peps liste   *
 *******************/

#applications_list_view table:first-child thead tr th:first-child {
  padding-left: 32px;
}

#applications_list_view table:nth-child(2) {
  border-collapse: separate;
  border-spacing: 0 16px;
}

#applications_list_view table tbody tr {
  background: var(--neutral-0);
  box-shadow: var(--em-box-shadow-x-1) var(--em-box-shadow-y-1) var(--em-box-shadow-blur-1) var(--em-box-shadow-color-1), var(--em-box-shadow-x-2) var(--em-box-shadow-y-2) var(--em-box-shadow-blur-2) var(--em-box-shadow-color-2), var(--em-box-shadow-x-3) var(--em-box-shadow-y-3) var(--em-box-shadow-blur-3) var(--em-box-shadow-color-3);
  border-radius: 8px;

  td {
    padding: var(--p-16) var(--p-32);
    position:relative;

    p {
      color: var(--neutral-600);
    }
  }

  td:first-child {
    border-radius: 8px 0 0 8px;
  }

  td:last-child {
    border-radius: 0 8px 8px 0;
  }
}

/* Fond formes */
#applications_list_view table tbody tr td #background-shapes {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 871px;
  pointer-events: none;
  border-bottom-right-radius: 14px;
  transform: scale(1.15);
  mask-image: url('/modules/mod_emundus_user_dropdown/assets/fond-formes-header-fonce.svg');
  background: var(--em-profile-color);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.mod_emundus_campaign__details_content {
  position: relative;
  overflow: hidden;
}

.mod_emundus_campaign__details_content #background-shapes {
  position: absolute;
  z-index: 0;
  width: 111%;
  height: 136%;
  top: 0;
  left: 0;
  pointer-events: none;
  mask-image: url('/modules/mod_emundus_campaign/assets/fond-clair.svg');
  background: var(--em-profile-color);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 300px;
  mask-origin: border-box;
  transform: scale(1.1);
}

.mod_emundus_campaign__details_content .em-applicant-default-font,
.mod_emundus_campaign__details_content .em-disabled-button {
  position: relative;
  z-index: 2;
}

/****************************
 * Fin peps tuiles et liste *
 ****************************/

/* Tablette */
@media screen and (min-width: 1080px) and (max-width: 1199px) {

  /* Peps */
  div[id^='current_'] .mod_emundus_campaign__list_content #background-shapes {
    width: 64%;
  }

  .mod_emundus_campaign__pinned_campaign .mod_emundus_campaign__list_content #background-shapes {
    width: 64%;
    height: 55%;
  }

  .mod_emundus_campaign__pinned_campaign .mod_emundus_campaign__list_content #background-shapes.single-campaign-pinned {
    width: 50%;
    height: 55%;
  }

  .mod_emundus_campaign__list_content--default {
    #background-shapes {
      width: 30%;
    }
  }

  .view-article .mod_emundus_campaign__list_content--default {
    #background-shapes {
      right: -242px;
    }
  }

  #applications_list_view table tbody tr td #background-shapes {
    left: 662px;
    transform: scale(1.45);
    border-bottom-right-radius: 22px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1079px) {

  /* Peps */
  div[id^='current_'] .mod_emundus_campaign__list_content #background-shapes {
    top: -90px;
    right: -10px;
  }

  .mod_emundus_campaign__pinned_campaign .mod_emundus_campaign__list_content #background-shapes {
    top: -20px;
    right: -51px;
  }

  .mod_emundus_campaign__list_content--default {
    #background-shapes {
      right: -233px;
    }
  }

  .view-article .mod_emundus_campaign__list_content--default {
    #background-shapes {
      width: 30%;
    }
  }

  #applications_list_view table tbody tr td #background-shapes {
    left: 662px;
    transform: scale(1.45);
    border-bottom-right-radius: 22px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1024px) {

  /* Peps */
  .view-featured div[id^='current_'] .mod_emundus_campaign__list_content #background-shapes {
    top: -47px;
    right: -11px;
  }

  div[id^='current_'] .mod_emundus_campaign__list_content #background-shapes {
    top: -11px;
    right: -15px;
  }

  .mod_emundus_campaign__pinned_campaign .mod_emundus_campaign__list_content #background-shapes {
    top: -14px;
    right: -110px;
  }

  .mod_emundus_campaign__list_content--default {
    #background-shapes {
      right: -233px;
    }
  }

  .view-article .mod_emundus_campaign__list_content--default {
    #background-shapes {
      right: -242px;
    }
  }

  #applications_list_view table tbody tr td #background-shapes {
    left: 662px;
    transform: scale(1.45);
    border-bottom-right-radius: 22px;
  }

}

@media screen and (min-width: 768px) and (max-width: 959px) {

  /* Peps */
  div[id^='current_'] .mod_emundus_campaign__list_content #background-shapes {
    width: 91%;
    height: 65%;
  }

  .mod_emundus_campaign__pinned_campaign .mod_emundus_campaign__list_content #background-shapes {
    width: 70%;
    height: 70%;
  }

  .mod_emundus_campaign__list_content--default {
    #background-shapes {
      width: 42%;
    }
  }

  .view-article .mod_emundus_campaign__list_content--default {
    #background-shapes {
      width: 42%;
    }
  }

  #applications_list_view table tbody tr td #background-shapes {
    left: 493px;
    transform: scale(1.82);
    border-bottom-right-radius: 26px;
  }

  .mod_emundus_campaign__details_content #background-shapes {
    left: 190px;
  }

}

@media (max-width: 1000px) {
  .em-logo{
    filter: unset;
  }

  .em-mt-s-4{
    margin-top: var(--m-8);
  }

  .em-mb-16-xs{
    margin-bottom: 16px;
  }

  .em-mt-32-xs{
    margin-top: 32px;
  }

  .em-s-display-none{
    display: none !important;
  }

  .em-input-icon{
    left: 75%;
  }

  .em-w-s-100{
    width: 100%;
  }

  .em-minw-s-100{
    min-width: 100%;
  }

  .em-p-s-16{
    padding: 16px;
  }

  .em-ml-s-16{
    margin-left: 16px;
  }

  .em-mr-s-16{
    margin-right: 16px;
  }

  .em-ml-s-unset{
    margin-left: unset;
  }

  .em-mr-s-unset{
    margin-right: unset;
  }

  .em-mt-s-8{
    margin-top: 8px;
  }

  .em-s-justify-content-center{
    justify-content: center !important;
  }

  .em-grid-3{
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(2, 1fr);
  }

  .em-grid-4{
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(2, 1fr);
  }

  .em-repeat-card {
    position: static !important;
    margin: auto;
  }

  .view-details .voting-details-group .p-8 {
    padding-left: 32px !important;
  }

  .voting-details-group {
    max-width: 100%;
  }
}

/* Téléphone */
@media (max-width: 768px) {
  .em-input-icon {
    left: 85%;
  }

  .em-m-xs-0{
    margin: 0;
  }

  .em-mt-xs-8{
    margin-top: 8px;
  }

  .em-grid-2{
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(1, 1fr);
  }

  .em-grid-3{
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(1, 1fr);
  }

  .em-grid-4{
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(1, 1fr);
  }

  .em-small-flex-column{
    display: flex;
    flex-direction: column;
  }

  .em-small-align-items-end{
    align-items: end;
  }

  .em-small-align-items-start{
    align-items: start;
  }

  .em-applicant-primary-button {
    padding : var(--em-spacing-vertical) 18px !important;
  }

  .fabrik_row .p-4 {
    height: fit-content;
  }

  .view-list .page-intro p {
    margin-left : 0 !important;
  }

  .moduletable:first-child {
    text-align : center;
  }

  /* Peps */
  div[id^='current_'] .mod_emundus_campaign__list_content #background-shapes {
    display: block;
    width: 76%;
    height: 71%;
    transform: scale(1);
  }

  .mod_emundus_campaign__pinned_campaign .mod_emundus_campaign__list_content #background-shapes {
    width: 76%;
    height: 71%;
    display: block;
    transform: scale(1);
  }

  .mod_emundus_campaign__list_content--default {
    #background-shapes {
      top: -21px;
      right: -79px;
    }
  }

  .view-article .mod_emundus_campaign__list_content--default {
    #background-shapes {
      right: -87px;
    }
  }

  #applications_list_view table tbody tr td #background-shapes {
    left: 434px;
    transform: scale(2);
  }

  #applications_list_view table:first-child thead tr th:first-child {
    padding-left: 16px;
  }

  #applications_list_view table tbody tr td {
    padding: var(--p-16);
  }

  .mod_emundus_campaign__details_content #background-shapes {
    display: block !important;
    width: 124%;
    height: 122%;
    transform: scale(1);
  }

  .mod_emundus_campaign__pinned_campaign {
    width: 100% !important;
  }
}

/* DETAILS PROJET */

.view-details .voting-pop .voting-details-block {
  border-radius: 12px;
}

.view-list .p-4 .material-icons-outlined,
.view-details .voting-details-block .material-icons-outlined {
  font-size: 15px;
  margin-right: 3px;
}

.view-details .voting-details-group .p-8 {
  padding-left: 142px;
}

.view-details .voting-details-group .p-8 p {
  font-size: var(--em-coordinator-h4);
}

.view-details .voting-details-group div.tags ul.fabrikRepeatData li {
  box-shadow: var(--em-box-shadow-x-1) var(--em-box-shadow-y-1) var(--em-box-shadow-blur-1) var(--em-box-shadow-color-1), var(--em-box-shadow-x-2) var(--em-box-shadow-y-2) var(--em-box-shadow-blur-2) var(--em-box-shadow-color-2), var(--em-box-shadow-x-3) var(--em-box-shadow-y-3) var(--em-box-shadow-blur-3) var(--em-box-shadow-color-3);
}

/* MODALE */

.swal2-modal .swal2-actions {
  gap: 20px;
}