@layer utilities {
    a {
        color: var(--link-regular);
    }

    .text-xxs {
        font-size: var(--link-xxs-size);
    }

    .icon-order {
        order: var(--em-form-required-icon-order);
    }
}