/** VARIABLES **/

:root {
  --em-primary-color: #{$base-primary-color};
  --em-secondary-color: #{$base-secondary-color};
  --em-tertiary-color: #{$base-tertiary-color};

  --em-coordinator-primary-color: #{$coordinator-primary-color};
  --em-coordinator-secondary-color: #{$coordinator-secondary-color};
  --em-coordinator-tertiary-color: #{$coordinator-tertiary-color};

  --em-coordinator-interface: #{$coordinator-interface};

  --attachment-width: 75%;

  --transparent: transparent;

  --neutral-0: #FFFFFF;
  --neutral-25: #FEFEFE;
  --neutral-50: #FAFAFB;
  --neutral-100: #FAFAFA;
  --neutral-200: #F3F3F3;
  --neutral-300: #EDEDED;
  --neutral-400: #E3E3E3;
  --neutral-500: #A4A4A4;
  --neutral-600: #727272;
  --neutral-700: #4B4B4B;
  --neutral-800: #2B2B2B;
  --neutral-900: #0B0C0F;

  --red-25: #FFFBFA;
  --red-50: #FEF3F2;
  --red-100: #FEE4E2;
  --red-200: #FECDCA;
  --red-300: #FCA19B;
  --red-400: #F97066;
  --red-500: #F04437;
  --red-600: #D92C20;
  --red-700: #B42318;
  --red-800: #912018;
  --red-900: #7A2619;

  --main-25: #F7FBF9;
  --main-50: #E4F0EC;
  --main-100: #BEDBD0;
  --main-200: #98C6B5;
  --main-300: #72B19A;
  --main-400: #48997C;
  --main-500: #20835F;
  --main-600: #1A6B4E;
  --main-700: #15553E;
  --main-800: #104331;
  --main-900: #073122;

  // applicant main-500 color
  --green-500: #20835F;

  --blue-25: #F4F9FF;
  --blue-50: #EFF8FF;
  --blue-100: #D1E9FF;
  --blue-200: #B2DDFF;
  --blue-300: #84CAFF;
  --blue-400: #53B0FD;
  --blue-500: #2E90FA;
  --blue-600: #156FEE;
  --blue-700: #175CD3;
  --blue-800: #1849A9;
  --blue-900: #194084;

  --orange-25: #FEFAF5;
  --orange-50: #FEF6EE;
  --orange-100: #FCEAD7;
  --orange-200: #F8DBAF;
  --orange-300: #F7B279;
  --orange-400: #F38743;
  --orange-500: #EF681F;
  --orange-600: #DF4F16;
  --orange-700: #B93814;
  --orange-800: #932F18;
  --orange-900: #772917;

  --night-blue: #353544;
  --dark-grey: #5A5A72;
  --grey: #B0B0BF;
  --light-grey: #F4F4F6;
  --light-grey-2: #F2F2F2;
  --light-grey-3: #CCCCCC;

  --bg-2: #F8F8F8;
  --bg-3: #C62222;

  /* ALERTS */
  --em-alert-error-bgc: #{$em-alert-error-background-color};
  --em-alert-error-color: #{$em-alert-error-color};
  --em-alert-error-icon-color: #{$em-alert-error-icon-color};
  --em-alert-error-border-width: #{$em-alert-error-border-width};
  --em-alert-error-border-color: #{$em-alert-error-border-color};
  --em-alert-warning-bgc: #{$em-alert-warning-background-color};
  --em-alert-warning-color: #{$em-alert-warning-color};
  --em-alert-warning-icon-color: #{$em-alert-warning-icon-color};
  --em-alert-warning-border-width: #{$em-alert-warning-border-width};
  --em-alert-warning-border-color: #{$em-alert-warning-border-color};
  --em-alert-info-bgc: #{$em-alert-info-background-color};
  --em-alert-info-color: #{$em-alert-info-color};
  --em-alert-info-icon-color: #{$em-alert-info-icon-color};
  --em-alert-info-border-width: #{$em-alert-info-border-width};
  --em-alert-info-border-color: #{$em-alert-info-border-color};
  --em-alert-success-bgc: #{$em-alert-success-background-color};
  --em-alert-success-color: #{$em-alert-success-color};
  --em-alert-success-icon-color: #{$em-alert-success-icon-color};
  --em-alert-success-border-width: #{$em-alert-success-border-width};
  --em-alert-success-border-color: #{$em-alert-success-border-color};
  --em-alert-modal-padding: #{$em-alert-modal-padding};

  /* FONT */
  --em-coordinator-font: #{$coordinator-family-text};
  --em-coordinator-font-title: #{$coordinator-family-title};

  --em-applicant-font: #{$font-family-text};
  --em-applicant-font-title: #{$font-family-title};

  --em-default-font: 'Inter', sans-serif;
  --em-default-font-title: 'Inter', sans-serif;

/* FONT SIZE */
  --em-coordinator-font-size: #{$coordinator-font-size};
  --em-coordinator-h1: #{$coordinator-size-h1};
  --em-coordinator-h2: #{$coordinator-size-h2};
  --em-coordinator-h3: #{$coordinator-size-h3};
  --em-coordinator-h4: #{$coordinator-size-h4};
  --em-coordinator-h5: #{$coordinator-size-h5};
  --em-coordinator-h6: #{$coordinator-size-h6};

  --em-applicant-font-size: #{$font-font-size};
  --em-applicant-h1: #{$font-size-h1};
  --em-applicant-h2: #{$font-size-h2};
  --em-applicant-h3: #{$font-size-h3};
  --em-applicant-h4: #{$font-size-h4};
  --em-applicant-h5: #{$font-size-h5};
  --em-applicant-h6: #{$font-size-h6};

  /* FONT COLOR */
  --em-coordinator-title-color: #{$coordinator-title-color};
  --em-coordinator-text-color: #{$coordinator-text-color};

  --em-default-title-color-1: #{$base-title-color}; //  titre
  --em-default-title-color-1-500: var(--neutral-500); //  titre disabled
  --em-default-title-color-2: var(--neutral-0); //  titre sur fond foncé
  --em-default-title-color-3: #{$base-primary-color}; //  titre en highlight

  --em-default-text-color-1: #{$base-text-color}; // texte principal, input, label des boutons
  --em-default-text-color-1-500: var(--neutral-500); // pagination, label des boutons disabled
  --em-default-text-color-1-800: var(--neutral-600); // texte tertiaire, texte moins important, annotation, label des radio disabled
  --em-default-text-color-1-700: var(--neutral-700); // texte secondaire, texte pour les articles
  --em-default-text-color-2: var(--neutral-0); // texte sur fond foncé, label des boutons sur fond concé
  --em-default-text-color-3: #{$base-secondary-color}; // chiffres, étapes, liens hypertextes
  --em-default-text-color-4: #{$base-tertiary-color}; // définitions

  /* BACKGROUND */
  --em-defaut-bg: #fff;
  --em-applicant-bg: #{$base-background};
  --em-coordinator-bg: #{$coordinator-background};

  /* BORDER RADIUS  */
  --em-default-br: #{$em-border-radius-default};
  --em-applicant-br: #{$em-border-radius-applicant};
  --em-coordinator-br: #{$coordinator-border-radius};

  --em-applicant-br-cards: #{$em-border-radius-cards};
  --em-coordinator-br-cards: #{$coordinator-border-radius-cards};
  --em-status-br: #{$em-border-radius-status};
  --em-coordinator-form-br: #{$coordinator-form-border-radius};


  // Spacing

  --spacing-2: 8px;

  --em-spacing-vertical: #{$em-spacing-vertical};
  --em-spacing-horizontal: #{$em-spacing-horizontal};
  --em-coordinator-vertical: #{$coordinator-vertical};
  --em-coordinator-horizontal: #{$coordinator-horizontal};

  // Padding
  --p-4: 4px;
  --p-8: 8px;
  --p-12: 12px;
  --p-16: 16px;
  --p-24: 24px;
  --p-32: 32px;
  --p-40: 40px;
  --p-48: 48px;
  --p-56: 56px;
  --p-64: 64px;
  --p-72: 72px;
  --p-80: 80px;

  // Margin
  --m-4: 4px;
  --m-8: 8px;
  --m-16: 16px;
  --m-24: 24px;
  --m-32: 32px;
  --m-40: 40px;
  --m-48: 48px;
  --m-56: 56px;
  --m-64: 64px;
  --m-72: 72px;
  --m-80: 80px;

  /** BOX SHADOW **/
  --em-box-shadow-x-1: #{$em-box-shadow-x-1};
  --em-box-shadow-y-1: #{$em-box-shadow-y-1};
  --em-box-shadow-blur-1: #{$em-box-shadow-blur-1};
  --em-box-shadow-color-1: #{$em-box-shadow-color-1};
  --em-box-shadow-x-2: #{$em-box-shadow-x-2};
  --em-box-shadow-y-2: #{$em-box-shadow-y-2};
  --em-box-shadow-blur-2: #{$em-box-shadow-blur-2};
  --em-box-shadow-color-2: #{$em-box-shadow-color-2};
  --em-box-shadow-x-3: #{$em-box-shadow-x-3};
  --em-box-shadow-y-3: #{$em-box-shadow-y-3};
  --em-box-shadow-blur-3: #{$em-box-shadow-blur-3};
  --em-box-shadow-color-3: #{$em-box-shadow-color-3};

  /** FORM VARIABLES **/

  --em-form-error-color: #{$em-form-error-color};
  --em-form-success-color: #{$em-form-success-color};

  --em-form-label-color: #{$em-form-label-color};
  --em-form-label-margin-bottom: #{$em-form-label-margin-bottom};
  --em-form-field-margin-bottom: #{$em-form-field-margin-bottom};
  --em-form-label-size: #{$em-form-label-size};
  --em-form-label-weight: #{$em-form-label-weight};
  --em-form-height: #{$em-form-height};
  --em-form-font-size: #{$em-form-font-size};
  --em-form-tip-color: #{$em-form-tip-color};
  --em-form-br: #{$em-form-border-radius};
  --em-form-bc: #{$em-form-border-color};
  --em-form-br-block: #{$em-form-border-radius-block};
  --em-form-bgc: #{$em-form-background-color};
  --em-form-br-focus: #{$em-form-border-radius-focus};
  --em-form-bc-focus: #{$em-form-border-color-focus};
  --em-form-bgc-focus: #{$em-form-background-color-focus};
  --em-form-outline-width-focus: #{$em-form-outline-width-focus};
  --em-form-outline-color-focus: #{$em-form-outline-color-focus};
  --em-form-outline-offset-focus: #{$em-form-outline-offset-focus};
  --em-form-bgc-hover: #{$em-form-background-color-hover};
  --em-form-bc-hover: #{$em-form-border-color-hover};
  --em-form-bc-error: #{$em-form-border-color-error};
  --em-form-label-color-error: #{$em-form-label-color-error};
  --em-form-element-color-error: #{$em-form-element-color-error};
  --em-form-after-bh: #{$em-form-after-border-height};
  --em-form-radio-padding: #{$em-form-radio-padding};
  --em-form-radio-bw: #{$em-form-radio-border-width};
  --em-form-radio-bc: #{$em-form-radio-border-color};
  --em-form-radio-br: #{$em-form-radio-border-radius};
  --em-form-radio-width: #{$em-form-radio-width};
  --em-form-radio-height: #{$em-form-radio-height};
  --em-form-radio-margin-right: #{$em-form-radio-margin-right};
  --em-form-radio-color-checked: #{$em-form-radio-color-checked};
  --em-form-radio-bgc-checked: #{$em-form-radio-background-color-checked};
  --em-form-radio-bc-checked: #{$em-form-radio-border-color-checked};

  --em-form-yesno-bw: #{$em-form-yesno-border-width};
  --em-form-yesno-br: #{$em-form-yesno-border-radius};
  --em-form-yesno-width: #{$em-form-yesno-width};
  --em-form-yesno-height: #{$em-form-yesno-height};
  --em-form-yesno-gap: #{$em-form-yesno-gap};

  --em-form-yesno-color-yes: #{$em-form-yesno-color-yes};
  --em-form-yesno-bgc-yes: #{$em-form-yesno-background-color-yes};
  --em-form-yesno-bc-yes: #{$em-form-yesno-border-color-yes};

  --em-form-yesno-color-yes-hover: #{$em-form-yesno-color-yes-hover};
  --em-form-yesno-bgc-yes-hover: #{$em-form-yesno-background-color-yes-hover};
  --em-form-yesno-bc-yes-hover: #{$em-form-yesno-border-color-yes-hover};

  --em-form-yesno-color-no: #{$em-form-yesno-color-no};
  --em-form-yesno-bgc-no: #{$em-form-yesno-background-color-no};
  --em-form-yesno-bc-no: #{$em-form-yesno-border-color-no};

  --em-form-yesno-color-no-hover: #{$em-form-yesno-color-no-hover};
  --em-form-yesno-bgc-no-hover: #{$em-form-yesno-background-color-no-hover};
  --em-form-yesno-bc-no-hover: #{$em-form-yesno-border-color-no-hover};

  --em-form-yesno-color-not-active: #{$em-form-yesno-color-not-active};
  --em-form-yesno-bgc-not-active: #{$em-form-yesno-background-color-not-active};
  --em-form-yesno-bc-not-active: #{$em-form-yesno-border-color-not-active};

  --em-form-yesno-color-not-active-hover: #{$em-form-yesno-color-not-active-hover};
  --em-form-yesno-bgc-not-active-hover: #{$em-form-yesno-background-color-not-active-hover};
  --em-form-yesno-bc-not-active-hover: #{$em-form-yesno-border-color-not-active-hover};

  --em-form-checkbox-bw: #{$em-form-checkbox-border-width};
  --em-form-checkbox-bc: #{$em-form-checkbox-border-color};
  --em-form-checkbox-padding: #{$em-form-checkbox-padding};
  --em-form-checkbox-scale: #{$em-form-checkbox-scale};
  --em-form-checkbox-input-margin: #{$em-form-checkbox-input-margin};
  --em-form-checkbox-color-checked: #{$em-form-checkbox-color-checked};
  --em-form-checkbox-bc-error: #{$em-form-checkbox-border-color-error};
  --em-form-fileupload-padding: #{$em-form-fileupload-padding};
  --em-form-fileupload-bgc: #{$em-form-fileupload-background-color};
  --em-coordinator-form-height: #{$coordinator-form-height};
  --em-coordinator-bc: #{$coordinator-border-color};

  /** UTILITIES **/
  --link-xxs-size: #{$font-xxs-size};
  --link-regular: #{$link-regular};
  --link-hover: #{$link-hover};

  /** STATUS,TAGS **/
  --em-default: #{$accent-grey-1};
  --em-red-1: #{$accent-red-1};
  --em-red-2: #{$accent-red-2};
  --em-pink-1: #{$accent-pink-1};
  --em-pink-2: #{$accent-pink-2};
  --em-purple-1: #{$accent-purple-1};
  --em-purple-2: #{$accent-purple-2};
  --em-light-blue-1: #{$accent-light-blue-1};
  --em-light-blue-2: #{$accent-light-blue-2};
  --em-blue-1: #{$accent-blue-1};
  --em-blue-2: #{$accent-blue-2};
  --em-blue-3: #{$accent-blue-3};
  --em-green-1: #{$accent-green-1};
  --em-green-2: #{$accent-green-2};
  --em-yellow-1: #{$accent-yellow-1};
  --em-yellow-2: #{$accent-yellow-2};
  --em-orange-1: #{$accent-orange-1};
  --em-orange-2: #{$accent-orange-2};
  --em-beige: #{$accent-beige};
  --em-brown: #{$accent-brown};
  --em-grey-1: #{$accent-grey-1};
  --em-grey-2: #{$accent-grey-2};
  --em-black: #{$accent-black};

  /** SPACING **/
  --em-spacing-1: #{$em-spacing-1};
  --em-spacing-2: #{$em-spacing-2};
  --em-spacing-3: #{$em-spacing-3};
  --em-spacing-4: #{$em-spacing-4};
  --em-spacing-5: #{$em-spacing-5};
  --em-spacing-6: #{$em-spacing-6};
  --em-spacing-7: #{$em-spacing-7};
  --em-spacing-8: #{$em-spacing-8};
  --em-spacing-9: #{$em-spacing-9};
  --em-spacing-10: #{$em-spacing-10};
  --em-spacing-11: #{$em-spacing-11};
  --em-spacing-12: #{$em-spacing-12};

  // TCHOOZY - Accueil
  --display-wide-background: #{$tchoozy-wide-background};
  --display-demonstration: #{$tchoozy-demonstration};

  //TCHOOZY - Connexion
  --display-corner-bottom-left-background: #{$tchoozy-corner-bottom-left-background};
  --display-corner-top-right-background: #{$tchoozy-corner-top-right-background};
  --display-candidate-button: #{$tchoozy-candidate-button};
  --display-digital-testing: #{$tchoozy-digital-testing};

  //TCHOOZY - Page settings
  --display-corner-bottom-right-background: #{$tchoozy-corner-bottom-right-background};
  --display-setting-tools: #{$tchoozy-setting-tools};
}

// Mixin - typo

// Titles

@mixin em-default-title-1 {
  color: var(--em-default-title-color-1);
  font-family: $font-family-title;
  font-size: 24px;
  font-style: normal;
  line-height: 28.8px;
}

@mixin em-default-text-1-500 {
  color: var(--em-default-title-color-1-500);
  font-size: 24px;
  font-style: normal;
  line-height: 28.8px;
}

@mixin em-default-text-2 {
  color: var(--em-default-title-color-2);
  font-size: 24px;
  font-style: normal;
  line-height: 28.8px;
}

@mixin em-default-text-3 {
  color: var(--em-default-title-color-3);
  font-size: 24px;
  font-style: normal;
  line-height: 28.8px;
}

// Sub titles

@mixin em-default-sub-title-1 {
  color: var(--em-default-title-color-1);
  font-family: $font-family-title;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 26.4px;
}

@mixin em-default-sub-title-2 {
  color: var(--em-default-title-color-2);
  font-family: $font-family-title;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 26.4px;
}

@mixin em-default-sub-title-3 {
  color: var(--em-default-title-color-3);
  font-family: $font-family-title;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 26.4px;
}


// Texts

@mixin em-default-text-1 {
  color: var(--em-default-text-color-1);
  font-family: $font-family-text;
  font-size: 18px;
  font-style: normal;
  line-height: 27px;
}

@mixin em-default-text-1-500 {
  color: var(--em-default-text-color-1-500);
  font-family: $font-family-text;
  font-size: 15px;
  font-style: normal;
  line-height: 19px;
}

@mixin em-default-text-1-600 {
  color: var(--em-default-text-color-1-600);
  font-family: $font-family-text;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
}

@mixin em-default-text-1-700 {
  color: var(--em-default-text-color-1-700);
  font-family: $font-family-text;
  font-size: 12px;
  font-style: normal;
  line-height: 14.4px;
}

@mixin em-default-text-2 {
  color: var(--em-default-text-color-2);
  font-family: $font-family-text;
  font-size: 15px;
  font-style: normal;
  line-height: 19px;
}

@mixin em-default-text-3 {
  color: var(--em-default-text-color-3);
  font-family: $font-family-text;
  font-size: 15px;
  font-style: normal;
  line-height: 19px;
}

@mixin em-default-text-4 {
  color: var(--em-default-text-color-4);
  font-family: $font-family-text;
  font-size: 15px;
  font-style: normal;
  line-height: 19px;
}

// à revoir :

@mixin headline-1 {
  font-family: var(--em-default-font-title);
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0;
  text-align: left;
}

@mixin headline-2 {
  font-family: var(--em-default-font-title);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
}

@mixin headline-3 {
  font-family: var(--em-default-font-title);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0;
  text-align: left;
}

@mixin headline-4 {
  font-family: var(--em-default-font-title);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0;
  text-align: left;
}

@mixin headline-5 {
  font-family: var(--em-default-font-title);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}

@mixin headline-6 {
  font-family: var(--em-default-font-title);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
}

@mixin body-16 {
  font-family: var(--em-default-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.0015em;
  text-align: left;
}

@mixin body-16-medium {
  font-family: var(--em-default-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 19px;
  letter-spacing: 0.0015em;
  text-align: left;
}

@mixin body-16-semibold {
  font-family: var(--em-default-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0.0015em;
  text-align: left;
}

@mixin body-14 {
  font-family: var(--em-default-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.0025em;
  text-align: left;
}

@mixin body-14-medium {
  font-family: var(--em-default-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.0025em;
  text-align: left;
}

@mixin body-14-semibold {
  font-family: var(--em-default-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.0025em;
  text-align: left;
}

@mixin caption {
  font-family: $font-family-text;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.004em;
  text-align: left;
}

@mixin overline {
  font-family: $font-family-text;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.015em;
  text-align: left;
}

// Mixin - form

@mixin star {
  font-family: $font-family-text;
  font-size: 5px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
  position: relative;
  top: -5px;
  margin-right: -5px;
  color: var(--red-500);
}

@mixin input-default {
  height: 48px;
  border-radius: 8px;
  padding: 0 12px 0 12px;
  border: 1px solid var(--neutral-400);
  box-shadow: none;
  margin-top: 6px;
  margin-bottom: 0;
}

@mixin input-checkbox {
  height: 48px;
  border-radius: 4px;
  padding: 0 12px 0 12px;
  border: 1px solid var(--neutral-400);
  box-shadow: none;
  margin: 0 6px 0 0;
}

@mixin input-focus {
  border: 1px solid var(--blue-500);
  box-shadow: none;
  outline: 5px auto -webkit-focus-ring-color;
}

@mixin input-hover {
  border: 1px solid var(--neutral-500);
  box-shadow: none;
}

@mixin input-error {
  border: 1px solid var(--red-500) !important;
  box-shadow: none;
}

@mixin input-valid {
  border: 1px solid var(--main-500) !important;
  box-shadow: none;
}

@mixin input-readonly {
  background: var(--neutral-400);
  border: 1px solid var(--neutral-400);
  border-radius: 8px;
  box-shadow: none;
}

@mixin select-default {
  background-position-x: 98%;
  background-position-y: 54%;
  -webkit-appearance: none;
  background-image: url(/images/emundus/arrow.svg);
  background-size: 8px;
  background-repeat: no-repeat;
  height: 48px !important;
  padding: 0 32px 0 12px !important;
  font-family: $font-family-text;
}

@mixin multiple-select {
  background-position-x: 86%;
  background-position-y: 54%;
  -webkit-appearance: none;
  background-image: url(/images/emundus/arrow.svg);
  background-size: 8px;
  background-repeat: no-repeat;
  height: 48px !important;
  padding: 0 32px 0 12px;
}

@mixin select-button-default {
  height: 48px !important;
  background: var(--neutral-100);
  border-radius: 4px 0 0 4px !important;
  color: var(--neutral-800);
}

@mixin checkbox {
  height: 16px !important;
  width: 16px !important;
  background: var(--neutral-200);
  border-radius: 1px !important;
  margin-right: 16px;
  margin-top: 0;
  border: 1px solid var(--neutral-600);
  padding: 0 !important;
}

@mixin radio {
  height: 14px !important;
  width: 14px !important;
  background: var(--neutral-0);
  border-radius: 9px !important;
  appearance: auto;
  margin-top: 0 !important;
  border: 1px solid var(--neutral-600);
  padding: 0 !important;
  margin-right: 16px;
}

@mixin yes-no {
  padding: 12px;
  box-shadow: none;
  cursor: pointer;
}

@mixin calendar {
  .calendar {
    border-radius: 5px;
    border: solid 1px #e6e6e6;
    box-shadow: 5px 5px 11px #ebebeb, -5px -5px 11px var(--neutral-0);
    padding: 10px;
    width: auto;
    background: var(--neutral-0);

    table {
      border: unset;
      background: var(--neutral-0);

      thead {
        tr:first-child {
          td {
            padding-bottom: 6px;
          }

          td:first-child {
            display: none;
          }

          td.title {
            background: transparent;
            color: var(--neutral-900);
            font-size: 12px;
            position: absolute;
            top: 17px;
            right: 0;
            width: 100%;
            text-align: center;

            &:first-letter {
              text-transform: capitalize;
            }
          }

          td.button {
            display: none;
          }
        }

        tr.headrow {
          background: var(--neutral-0);

          td {
            padding-bottom: 6px;
          }

          td:nth-child(3) {
            opacity: 0;
          }

          td.nav {
            font-size: 18px;
            cursor: pointer;
            position: relative;
            z-index: 10;
          }
        }

        tr.daynames {
          background: var(--neutral-0);

          td {
            padding: 6px;
          }

          .day {
            border: unset;
          }

          td.hilite, td.active {
            background: transparent;
          }
        }
      }

      tbody {
        .rowhilite {
          td {
            background: transparent;
            color: var(--neutral-900);
          }
        }

        td {
          border: unset;
          text-align: center;
          padding: 6px
        }

        td.selected {
          border-radius: 5px;
          background: var(--neutral-800);
          color: var(--neutral-0);
        }

        td.hilite {
          background: var(--neutral-400);
          border-radius: 5px;
          color: var(--neutral-900) !important;
        }
      }

      tfoot {
        display: none;
      }
    }
  }
}

/*@mixin fabrik-elements {
  !* ERROR *!
  &.error {

    .fabrikElement input:not([type="radio"]),
    .fabrikElement textarea,
    .fabrikElement select {
      @include input-error;
    }
  }

  !* SUCCESS *!
  &.success input:not([name*="captcha"]), &.has-success input:not([name*="captcha"]) {
    @include input-valid;
    color: var(--neutral-800) !important;
  }

  .fabrikErrorMessage {
    @include body-14;
    color: var(--red-500);
    margin-top: 8px;

    &.help-inline {
      color: var(--red-500);
      padding: 0;

      i.icon-warning {
        display: none;
      }
    }
  }

  &.success .captcha_input input,
  &.has-success .captcha_input input {
    color: var(--neutral-800) !important;
  }

    !* DISPLAY *!
    &.plg-display .fabrikinput {
      height: auto !important;
      border: none !important;
      padding: 0 !important;
    }

    !* CALC *!
    &.plg-calc .controls {
      span:nth-child(1):not(.fabrikinput){
        display: none !important;
      }
      .fabrikinput {
        height: auto !important;
        padding: 2px !important;
        color: $neutral-900 !important;
      }
    }


  !* LABEL *!
  .fabrikLabel {
    @include body-14-medium;
    color: var(--neutral-800);
    margin-bottom: 0 !important;
    padding-top: 0 !important;

    !* ETOILE *!
    .icon-star.small {
      @include star;
    }
  }

  !* TEXTE D AIDE *!
  span.fabrikElementTip{
    @include body-14;
    color: var(--neutral-600);
    display: flex;
    margin-top: 12px;

    &:empty {
      margin-top: 0;
    }

    .icon-question-sign {
      display: none;
    }
  }


  .fabrikElement {
    width: 100%;

    !* INDICATIF *!
    .chzn-container-single a.chzn-single {
      @include input-default;
      padding: 3px 12px 0 12px;
    }

    !* CAPCHA *!

    .captcha_input {
      input {
        @include input-default;
        width: 100%;

        &:focus {
          @include input-focus;
        }

        &:hover {
          @include input-hover;
        }
      }
    }

    !* INPUT *!
    .fabrikinput:not(textarea):not([type='checkbox']) {
      @include input-default;
      background-color: var(--neutral-0);

      &:hover {
        @include input-hover;
      }

      &:focus {
        @include input-focus;
        color: var(--neutral-800) !important;
      }

      &.inputbox:focus {
        color: var(--neutral-800) !important;
      }

      &.readonly {
        @include input-readonly;
      }

      &:-internal-autofill-selected {
        @include input-default;
        @include body-16;
        background: transparent !important;
      }

      &[placeholder] {
        color: var(--neutral-00) !important;
        @include body-16;
      }

      &[value] {
        @include body-16;
        color: var(--neutral-800);
      }

      &.input-medium,
      &.input-large,
      &.input-xlarge,
      &.input-xxlarge {
        width: 100%;
      }

      &[type="file"] {
        padding-left: 0;

        &::-webkit-file-upload-button {
          border: none;
          margin-right: 20px;
          @include select-button-default;
        }
      }
    }

    !* TEXTAREA *!
    textarea {
      margin-top: 12px !important;
      resize: vertical;
      color: var(--neutral-800);
      border: 1px solid var(--neutral-400);
      border-radius: 8px;
      @include body-16;

      &.input-medium, &.input-small {
        width: 100%;
      }

      &:hover {
        @include input-hover;
      }

      &:focus {
        @include input-focus;
      }
    }

    !* LIMITE *!
    .label-info, .badge-info {
      background: var(--blue-500) !important;
    }

    !* TINYMCE *!
    .mce-container-body .mce-resizehandle{
      display: none;
    }

    .label, .badge {
      background: var(--neutral-600);
    }

    !* SELECT *!
    select {
      @include select-default;
      color: var(--neutral-800);

      option {
        @include body-16;
        color: var(--neutral-800);
      }
    }

    !* SELECTION MULTIPLE *!

    .chzn-container-multi.chzn-container {
      width: 100% !important;

      .chzn-choices {
        @include select-default;
        box-shadow: none;
        width: 100%;
        margin-top: 12px;
        padding-left: 8px;
        height: 60px !important;
        border-radius: 8px;

        li.search-choice {
          margin-top: 4px;
          border-radius: 8px;
          border: var(--light-blue-400);
          background: var(--light-blue-100);
          @include body-14;
          align-items: center;
          justify-content: space-between;
          padding-right: 6px;
          display: flex;

          span {
            margin: 0 !important;
            padding: 7px;
          }

          .search-choice-close{
            position: relative;
            top: 0;
            right: 0;
          }
        }

        li.search-field {
          input[type="text"] {
            margin-top: 6px;
            @include body-14;
            font-size: 13px !important;
          }
        }
      }

      .chzn-drop .chzn-results li {
        @include body-14;

        &.highlighted {
          background: var(--neutral-200);
          color: var(--neutral-900);
        }
      }
    }

    .fabrikSubElementContainer {
      margin-top: 6px;
      color: var(--neutral-800);

      !* YES/NO & RADIO GROUPES *!
      fieldset.btn-radio {
        display: flex;
        grid-gap: 16px;

        label.btn-default.btn.btn-success.active {
          @include yes-no;
          border: 1px solid var(--main-500);
          background: var(--main-500);
          border-radius: var(--em-coordinator-br) !important;
          width: 100% !important;
          max-width: 250px;
          display: flex;
          justify-content: center;

          &:hover {
            border: 1px solid var(--main-600);
            background: var(--main-600);
          }

          span {
            @include body-16-medium;
            margin-top: 0;
            color: var(--neutral-0);
          }
        }

        label.btn-default.btn.btn-danger.active {
          @include yes-no;
          border: 1px solid var(--red-500);
          background: var(--red-500);
          border-radius: var(--em-coordinator-br) !important;
          width: 100% !important;
          max-width: 250px;
          display: flex;
          justify-content: center;

          &:hover {
            border: 1px solid var(--red-600);
            background: var(--red-600);
          }

          span {
            @include body-16-medium;
            margin-top: 0;
            color: var(--neutral-0);
          }
        }

        label.btn-default.btn:not(.active) {
          @include yes-no;
          border: 1px solid var(--neutral-400);
          background: transparent;
          border-radius: var(--em-coordinator-br) !important;
          margin-left: -2px;
          z-index: 0;
          width: 100% !important;
          max-width: 250px;
          display: flex;
          justify-content: center;

          &:hover {
            border: 1px solid var(--neutral-300);
            background: var(--neutral-300);

            span, input {
              margin-left: 0 !important;
            }
          }

          span {
            @include body-16-medium;
            margin-top: 0 !important;
            color: var(--neutral-900);
          }
        }

         label.btn-default.btn:nth-child(1) {
           border-radius: var(--em-coordinator-br) !important;
         }

         label.btn-default.btn:nth-child(2) {
           border-radius: var(--em-coordinator-br) !important;
         }
      }



      !* BIRTHDAY *!
      select.inputbox {
        @include multiple-select;
        @include body-16;
        width: auto;
        margin-top: unset;
      }

      .fabrikinput.inputbox:nth-child(1) {
        margin-right: 8px;
      }

      .fabrikinput.inputbox:nth-child(2) {
        margin-right: 8px;
        margin-left: 8px;
      }

      .fabrikinput.inputbox:nth-child(3) {
        margin-left: 8px;
      }


      !* DATE *!
      .input-append {
        display: flex;
        flex-direction: row;

        input {
          border-radius: 8px 0 0 8px;
        }

        input[id$='cal'].inputbox, input.inputbox.timeField{
          color: var(--neutral-800) !important;
          margin-right: 1px !important;
        }

        button.calendarbutton,
        button.timeButton {
          border: 1px solid var(--neutral-400);
          margin-top: 6px;
          margin-left: -2px;
          width: 48px !important;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 48px !important;
          background: var(--neutral-100);
          border-radius: 0 8px 8px 0 !important;
          color: var(--neutral-00);
          z-index: 10;

          i.icon-clock {
            margin: 0;
          }

          i {
            color: var(--neutral-500);
          }

          &:hover {
            @include input-hover;
          }

          &:focus {
            @include input-focus;
          }
        }
      }
    }


    .fabrikMainError.alert.alert-error.fabrikError {
      border-color: var(--red-500);
      color: var(--red-500);
    }

    .fabrikMainError.alert.alert-error.fabrikError .close {
      color: var(--red-500) !important;
    }


    !* WYSIWYG *!
    .js-editor-tinymce {
      margin-top: 12px;
    }


    !* CHECKBOX - RADIO *!
    .fabrikSubElementContainer .row-fluid:first-child [class*="fabrikgrid_radio span12"]:first-child{
    margin-top: 0;
    }
    .row-fluid .fabrikgrid_radio,
    .row-fluid .fabrikgrid_checkbox,
    .row-fluid .plg-databasejoin.mode-checkbox {
      margin-top: 8px;
      min-height: auto;

      &.span2 {
        margin-right: auto;
      }

      label.checkbox {
        padding: 0;
        margin: 0;
        min-height: auto;

        input[type="checkbox"] {
          @include checkbox;
          margin-left: 0 !important;
        }
      }

      label.radio {
        padding: 0;
        margin: 0;
        min-height: auto;
        display: flex;
        align-items: center;

        input[type="radio"] {
          @include radio;
          margin-left: 0 !important;

          &:checked {
            appearance: auto;
            outline: none;
            height: 14px !important;
            width: 14px !important;
          }
        }
      }

      span {
        height: auto !important;
        color: var(--neutral-800);
        margin-top: 0 !important;
        padding: 0 !important;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    !* CALC *!

    span.fabrikElementReadOnly {
      @include body-16;
      padding: 15px 12px;
      border: none;

      &:focus, &:hover {
        border: none;
      }
    }
  }
}*/

