.dp-upcoming-calendar {
    float: left;
    margin-right: 6px;
    width: 42px;
    height: 42px;
    background-image: url('images/calendar-icon.gif')
}
.dp-upcoming-calendar-background {
    width: 32px;
    height: 10px;
    margin-top: 6px;
    margin-left: 5px;
}
.dp-upcoming-text-month {
    color: #FFFFFF;
    padding: 2px;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    position: relative;
    margin-top: -16px;
    margin-bottom: -4px;
}
.dp-upcoming-text-day {
    font-weight: bold;
    font-size: 1 .3em;
    width: 42px;
    text-align: center;
}
 
.dp-upcoming-header {
    background-color:#dddddd;
    color:#333333;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:5px;
    margin-top:5px;
    margin-bottom:0px;
}
 
.dp-upcoming-group {
    border-left:5px solid;
    padding-left: 5px;
    padding-top:0px;
    margin-top:0px;
    margin-bottom:0px;
}
 
.dp-upcoming-group p {
    margin:0px;
}

