#g-sidebar{
    background: transparent !important;
    margin: 0 !important;
}

#g-sidebar .moduletable{
    padding: 0 !important;
}

.mod_emundus_checklist{
    margin-left: 32px;
    box-shadow: 0px 1px 1px rgba(5, 47, 55, 0.07), 0px 2px 1px rgba(5, 47, 55, 0.06), 0px 1px 3px rgba(5, 47, 55, 0.1);
    border-radius: 16px !important;
    padding: 24px;
    background: #fff;
}

.mod_emundus_checklist___grid{
    display: grid;
    grid-template-columns: 32px 90%;
}

.mod_emundus_checklist___form_item a{
    border-bottom: unset !important;
    padding: unset !important;
}

.mod_emundus_checklist #mod_emundus_checklist___expand_icon{
    font-size: 24px !important;
}

.mod_emundus_checklist___step_count{
    margin-right: 12px;
    border-radius: 50px;
    background: #F0F6FD;
    color: #1C6EF2;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mod_emundus_checklist___border_item{
    height: 32px;
    border-left: 2px solid #F3F3F3;
    margin: 1px 0 1px 11px;
}

.mod_emundus_checklist .mod_emundus_checklist_need_ok .mod_emundus_checklist___border_item{
    height: 32px;
    border-left: 2px solid #406AFF;
    margin: 1px 0 1px 11px;
}

.mod_emundus_checklist .active .mod_emundus_checklist___step_count{
    background: #F0F6FD;
    color: #1C6EF2;
}
.mod_emundus_checklist .mod_emundus_checklist_need_missing:not(.active) .mod_emundus_checklist___step_count{
    background: #F3F3F3;
    color: #727272;
}

.mod_emundus_checklist .mod_emundus_checklist_need_ok:not(.active)  .mod_emundus_checklist___step_count{
    background: #406AFF;
    color: #FFF;
}

#mod_emundus_checklist___content{
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 300ms linear;
}
.mod_emundus_checklist___content_closed{
    max-height: 0 !important;
    /* margin-top: 0 !important; */
}
#mod_emundus_checklist___expand_icon{
    transition: transform 300ms linear;
}

.mod_emundus_checklist___attachment{
    margin-left: 36px;
    margin-top: 12px;
}

.mod_emundus_checklist___count{
    border-radius: 4px;
    background: #F3F3F3;
    padding: 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

